flows_12.9/flows.json
[{"id":"664a204e.7c02b","type":"tab","label":"main","disabled":false,"info":""},{"id":"fe942aa9.133408","type":"tab","label":"database","disabled":false,"info":""},{"id":"dca86c89.0fac","type":"tab","label":"update DB","disabled":true,"info":""},{"id":"9ad95a08.02c128","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"239ef929.3eb726","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.68","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"963cc0c6.5ad66","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"agv","tz":""},{"id":"61709687.381278","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"agv","tz":""},{"id":"3e832307.788ccc","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"agv","tz":""},{"id":"a58225f5.3dfcd8","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"agv","tz":""},{"id":"616bfdf.9b77e04","type":"ui_base","z":"9ad95a08.02c128","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"88adf613.e0b638","type":"ui_tab","z":"9ad95a08.02c128","name":"AGV","icon":"dashboard","disabled":false,"hidden":true},{"id":"34de3ec4.a2c2f2","type":"ui_tab","z":"9ad95a08.02c128","name":"Home Floor Plan","icon":"dashboard","disabled":false,"hidden":false},{"id":"b1e3c368.fb8c5","type":"ui_tab","z":"9ad95a08.02c128","name":"SVG","icon":"dashboard","disabled":false,"hidden":false},{"id":"249b2180.10391e","type":"ui_group","z":"9ad95a08.02c128","name":"AGV Management  System","tab":"12379bac.a64724","order":1,"disp":false,"width":"27","collapse":false},{"id":"dd9832e3.7fcf3","type":"ui_group","z":"9ad95a08.02c128","name":"Home Floor Plan","tab":"cb206eea.af528","order":1,"disp":true,"width":"15","collapse":false},{"id":"3a3c663.d31869a","type":"ui_group","z":"9ad95a08.02c128","name":"Floorplan test","tab":"65657b7a.1ad064","order":1,"disp":true,"width":"14","collapse":false},{"id":"af3c4983.516238","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3d572c4d.f84d44","type":"ui_group","z":"","name":"Default","tab":"af3c4983.516238","order":1,"disp":false,"width":"27","collapse":false},{"id":"720cf300.c2849c","type":"mqtt in","z":"9ad95a08.02c128","name":"","topic":"a","qos":"1","datatype":"auto","broker":"239ef929.3eb726","x":230,"y":300,"wires":[["4871d765.cd97c8"]]},{"id":"88f65ded.2ce04","type":"mqtt out","z":"9ad95a08.02c128","name":"","topic":"/test_1","qos":"1","retain":"false","broker":"239ef929.3eb726","x":430,"y":240,"wires":[]},{"id":"4871d765.cd97c8","type":"debug","z":"9ad95a08.02c128","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":300,"wires":[]},{"id":"543cc24c.13e4bc","type":"inject","z":"9ad95a08.02c128","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":240,"wires":[["88f65ded.2ce04"]]},{"id":"df6a7e0d.e9181","type":"mqtt out","z":"9ad95a08.02c128","name":"","topic":"/topic_2","qos":"1","retain":"false","broker":"239ef929.3eb726","x":440,"y":180,"wires":[]},{"id":"869be7cb.348628","type":"inject","z":"9ad95a08.02c128","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":180,"wires":[["df6a7e0d.e9181"]]},{"id":"b68c23b1.02b7","type":"mqtt in","z":"9ad95a08.02c128","name":"","topic":"b","qos":"1","datatype":"auto","broker":"239ef929.3eb726","x":230,"y":380,"wires":[["6725220d.2d89ac"]]},{"id":"6725220d.2d89ac","type":"debug","z":"9ad95a08.02c128","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":380,"wires":[]},{"id":"4808c3f5.49371c","type":"function","z":"664a204e.7c02b","name":"draw map","func":"const HEIGHT = global.get('height');\nconst WIDTH = global.get('width');\nconst grid = flow.get('grid');\nconst ORIGIN_X = -23 + grid;\nconst ORIGIN_Y = 40 + grid;\nlet charging_hub_position = global.get('chargingHub');\nlet agv_status = global.get('agv');\nlet commonFunction = global.get('commonFunction');\nlet POD_position = global.get('pod');\nlet Column_position = global.get('barrier'); \nlet Station_position = global.get('station');  \n\n/* draw floor's grid-----------------------------------------*/\nfor(let i = 0; i < WIDTH; i++ ){\n    for(let j = 0; j < HEIGHT; j++){\n        node.send(commonFunction.drawSquare(\"ID_square_\" + (Number(String(j) + String(i))).toString(), ORIGIN_X + grid*i, ORIGIN_Y + grid*j, grid, grid, \"none\", \"black\", 0.3));\n    }\n}\nnode.send(commonFunction.drawLine(\"ID_bound\", ORIGIN_X, ORIGIN_Y, ORIGIN_X + grid * WIDTH, ORIGIN_Y, \"#ff751a\", 5));\nnode.send(commonFunction.drawLine(\"ID_bound\", ORIGIN_X, ORIGIN_Y, ORIGIN_X, ORIGIN_Y + grid * HEIGHT, \"#ff751a\", 5));\nnode.send(commonFunction.drawLine(\"ID_bound\", ORIGIN_X + grid * WIDTH, ORIGIN_Y, ORIGIN_X + grid * WIDTH, ORIGIN_Y + grid * HEIGHT, \"#ff751a\", 5));\nnode.send(commonFunction.drawLine(\"ID_bound\", ORIGIN_X, ORIGIN_Y + grid * HEIGHT, ORIGIN_X + grid * WIDTH, ORIGIN_Y + grid * HEIGHT, \"#ff751a\", 5));\n\n/* Add Charging hub -------------------------------------------*/\nfor(let index = 0; index < charging_hub_position.length; index++){\n    node.send(commonFunction.drawChargingHub(\"ID_charging_hub_\" + charging_hub_position[index][0], ORIGIN_X + grid * charging_hub_position[index][1], ORIGIN_Y + grid * charging_hub_position[index][2], charging_hub_position[index][3]));\n}\n/* Add POD-----------------------------------------------------*/\nfor(index = 0; index < POD_position.length; index++){\n    node.send(commonFunction.drawPOD('ID_' + POD_position[index][0], ORIGIN_X + grid * POD_position[index][1], ORIGIN_Y + grid * POD_position[index][2]));\n}\n\n\n/* Add Station------------------------------------------------*/\nfor(let i = 0; i < Station_position.length; i++ ){\n    node.send(commonFunction.drawSquare(\"ID_Station_\" + Station_position[i][0], ORIGIN_X + grid*Station_position[i][1], ORIGIN_Y + grid*Station_position[i][2], grid, grid, \"#d9ce57\", \"red\", 1));\n}\n\n/* Add Column-------------------------------------------------*/\nfor(i = 0; i < Column_position.length; i++){\n    node.send(commonFunction.drawSquare(\"ID_Column_\" + Column_position[i][0], ORIGIN_X + grid*Column_position[i][1], ORIGIN_Y + grid*Column_position[i][2], grid, grid, \"#a8a6a5\", \"none\", 1));\n    node.send(commonFunction.drawLine(\"ID_Column_\" + Column_position[i][0], ORIGIN_X + grid*Column_position[i][1], ORIGIN_Y + grid*Column_position[i][2], ORIGIN_X + grid*Column_position[i][1] + grid, ORIGIN_Y + grid*Column_position[i][2] + grid, \"black\", 2));\n}\n\n\n// function addAGV(x, y, rotation, index){\n//     msg.payload = json.AGV;\n//     msg.payload[0].elementId = \"ID_\" + String(index);\n//     msg.payload[1].elementId = \"ID_\" + String(index);\n//     msg.payload[2].elementId = \"ID_\" + String(index);\n    \n//     msg.payload[0].elementAttributes.x = ORIGIN_X + x * grid;\n//     msg.payload[0].elementAttributes.y = ORIGIN_Y + y * grid;\n//     msg.payload[0].elementAttributes.width = grid;\n//     msg.payload[0].elementAttributes.height = grid;\n    \n//     msg.payload[1].elementAttributes.cx = ORIGIN_X + x * grid + Math.floor(grid / 2);\n//     msg.payload[1].elementAttributes.cy = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n//     msg.payload[1].elementAttributes.r = Math.floor(grid / 2);\n    \n//     msg.payload[2].elementAttributes.x1 = ORIGIN_X + x * grid + Math.floor(grid / 2);\n//     msg.payload[2].elementAttributes.y1 = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n    \n//     if( rotation === 0){\n//         msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2) ;\n//         msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid ;\n//     }\n//     else if( rotation === 90){\n//         msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2) + Math.floor(grid / 2);\n//         msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n//     }\n//     else if( rotation === 180){\n//         msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2);\n//         msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid + Math.floor(grid / 2) + Math.floor(grid / 2);\n//     }\n//     else if( rotation === 270){\n//         msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2) - Math.floor(grid / 2);\n//         msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n//     }\n//     node.send(msg);\n// }\n\n\nfor(let i = 0; i < agv_status.length; i++){\n    node.send(commonFunction.addAGV(\"ID_\" + agv_status[i][0], ORIGIN_X + grid*agv_status[i][1], ORIGIN_Y + grid*agv_status[i][2], agv_status[i][3]));\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":360,"wires":[["29c71e2a.4ef5a2"]]},{"id":"75739d19.bc4f24","type":"debug","z":"664a204e.7c02b","name":"floorplan","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1120,"y":260,"wires":[]},{"id":"29c71e2a.4ef5a2","type":"ui_svg_graphics","z":"664a204e.7c02b","group":"3d572c4d.f84d44","order":5,"width":"26","height":"16","svgString":"<html>\n\n<head>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js\"></script>\n  <style>\n    .featuredBtn.active {\n       background-color: white;\n       color: black;\n    }\n    .featuredBtn {\n       float: left;\n       color: white;\n       text-align: center;\n       font-weight: bold;\n       padding: 10px 90px;\n       text-decoration: none;\n       font-size: 18px;\n       margin: 0px 0px;\n       border: none;\n    }\n    .button1 {\n        background-color: #80bfff;\n    }\n      .button1:hover {\n        background-color: white;\n        color: black;\n    }\n    \n    .p-text-header\n    {\n    \tmargin:0;\n        padding:0;\n        font-size:15px;\n        fill:none;\n        color:white;\n        text-align: left;\n    } \n    .p-text-header-1\n    {\n    \tmargin:0;\n        padding:0;\n        font-size:15px;\n        fill:none;\n        color:black;\n        text-align: left;\n    } \n    .p-text-header-2\n    {\n    \tmargin:0;\n        padding:0;\n        font-size:15px;\n        fill:none;\n        color:white;\n        text-align: center;\n    } \n    .p-text-header-3\n    {\n    \tmargin:0;\n        padding:0;\n        font-size:20px;\n        fill:none;\n        color:white;\n        text-align: center;\n    } \n    .p-text-header-4\n    {\n    \tmargin:0;\n        padding:0;\n        font-size:15px;\n        fill:none;\n        color:black;\n        text-align: center;\n        font-weight: bold;\n    }\n    .button {\n        background-color: #4CAF50;\n        border: none;\n        color: #99ccff;\n        padding: 5px 160px;\n        text-align: left;\n        text-decoration: none;\n        display: inline-block;\n        font-size: 15px;\n        margin: 4px 2px;\n        cursor: pointer;\n        -webkit-transition-duration: 0.4s; \n        transition-duration: 0.4s;\n    }\n    div.scroll {\n      background-color: white;\n      width: 375px;\n      height: 480px;\n      overflow-y: auto;\n      overflow-x: hidden;\n    }\n    div.scroll_log {\n      background-color: white;\n      width: 300px;\n      height: 500px;\n      overflow-y: auto;\n      overflow-x: auto;\n      display: block;\n    }\n    div.scroll_process {\n      background-color: white;\n      width: 580px;\n      height: 130px;\n      overflow-y: auto;\n      overflow-x: auto;\n      display: block;\n    }\n    .button1 {\n        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);\n    }\n    .button2:hover {\n        background-color: #2eb82e;\n        color: black;\n        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);\n    }\n    .input{\n        width:520px;\n    }\n  </style>\n</head>\n\n<body>\n  <!--<svg version=\"1.3\" x=\"100\" y=\"100\" height=\"1000\" viewBox=\"170 -100 1200 1200\" width=\"1300\" overflow-y=\"hidden\" overflow-x=\"hidden\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:svg=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">-->\n  <svg version=\"1.3\" x=\"0\" y=\"0\" height=\"820\" width=\"1280\" style=\"overflow-y=hidden; overflow-x:hidden;\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:svg=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n    <rect x=\"5\" y=\"5\" width=\"1250\" height=\"800\" style=\"fill:#007a99; stroke: black; stroke-width:3px;\" />\n    <foreignObject x=\"190\" y=\"10\" width=\"300\" height=\"30\">\n      <text id=\"header\" class=\"p-text-header\" style=\"font-weight: bold; color: white; text-align: center; font-size: 25px;\"> AGV SYSTEM </text>\n    </foreignObject>\n    <foreignObject x=\"80\" y=\"50\" width=\"200\" height=\"30\">\n      <button ng-click=\"send({payload: 1001})\" type=\"button\" class=\"btn btn-success btn-sm\">Start AGV System</button>\n    </foreignObject>\n    <foreignObject x=\"350\" y=\"50\" width=\"200\" height=\"30\">\n      <button ng-click=\"send({payload: 1002})\" type=\"button\" class=\"btn btn-danger btn-sm\">Stop AGV System</button>\n    </foreignObject>\n    <rect x=\"550\" y=\"15\" width=\"375\" height=\"20\" style=\"fill:#3385ff; stroke: none;\" />\n    <foreignObject x=\"670\" y=\"15\" width=\"200\" height=\"20\">\n      <text class=\"p-text-header-2\"> AGV Controlling Pannel </text>\n    </foreignObject>\n    <svg width=\"375\" height=\"500\" overflow=\"auto\">\n      <rect x=\"550\" y=\"40\" width=\"375\" height=\"500\" style=\"fill:white; stroke: none;\" />\n    </svg>\n    <rect x=\"25\" y=\"558\" width=\"1218\" height=\"230\" style=\"fill:white; stroke: none;\" />\n    <rect x=\"25\" y=\"565\" width=\"1218\" height=\"40\" style=\"fill:#007a99; stroke: none;\" />\n    <foreignObject x=\"500\" y=\"570\" width=\"300\" height=\"100\">\n      <text class=\"p-text-header-3\"> Warehouse management system </text>\n    </foreignObject>\n    <rect x=\"550\" y=\"40\" width=\"375\" height=\"500\" style=\"fill:white; stroke: none;\" />\n    <foreignObject x=\"550\" y=\"40\" width=\"450\" height=\"500\">\n      <div class=\"scroll\">\n        <button type=\"button\" class=\"button button2\" data-toggle=\"collapse\" data-target=\"#AGV1\">AGV1</button>\n        <div id=\"AGV1\" class=\"collapse\">\n          <svg width=\"350\" id=\"svg-temp1\" height=\"320\" overflow=\"auto\">\n            <foreignObject x=\"10\" y=\"0\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Connection </text>\n            </foreignObject>\n            <foreignObject x=\"100\" y=\"30\" width=\"230\" height=\"30\">\n                <div>\n                    <input type=\"text\" class=\"form-control\" ng-model=\"AGV1_ip\" placeholder=\"AGV 1 IP Adress\" name=\"AGV1_ip\" style=\"height:30px; width:230px; \">\n                </div>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"30\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> IP Address </text>\n            </foreignObject>\n            <foreignObject x=\"100\" y=\"60\" width=\"230\" height=\"30\">\n                <div>\n                    <input type=\"text\" class=\"form-control\" ng-model=\"AGV1_port\" placeholder=\"AGV 1 IP PORT\" name=\"AGV1_port\" style=\"height:30px; width:230px; \">\n                </div>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"62\" width=\"50\" height=\"25\">\n              <text class=\"p-text-header-1\"> Port </text>\n            </foreignObject>\n            <foreignObject x=\"50\" y=\"100\" width=\"100\" height=\"30\">\n              <button type=\"button\" class=\"btn btn-success btn-sm\" ng-click=\"send({payload: {AGV1_start: {ip: AGV1_ip, port: AGV1_port}}})\">Start AGV1</button>\n            </foreignObject>\n            <foreignObject x=\"230\" y=\"100\" width=\"100\" height=\"30\">\n              <button type=\"button\" class=\"btn btn-danger btn-sm\" ng-click=\"send({payload: {AGV1_stop : 1}})\">Stop AGV1</button>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"130\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Information </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"160\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> Velocity: </text> \n              <text id=\"AGV1_v\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"180\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Battery: </text>\n              <text id=\"AGV1_batt\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"200\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Current POD: </text>\n              <text id=\"AGV1_pod\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"240\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Physics </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"260\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> X: </text>\n              <text id=\"AGV1_x\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"280\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Y: </text>\n              <text id=\"AGV1_y\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"300\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Orientation: </text>\n              <text id=\"AGV1_ori\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n          </svg>\n        </div>\n        \n        <br>\n        <button type=\"button\" class=\"button button2\" data-toggle=\"collapse\" data-target=\"#AGV2\">AGV2</button>\n        <div id=\"AGV2\" class=\"collapse\">\n          <svg width=\"350\" id=\"svg-temp1\" height=\"320\" overflow=\"auto\">\n            <foreignObject x=\"10\" y=\"0\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Connection </text>\n            </foreignObject>\n            <foreignObject x=\"100\" y=\"30\" width=\"230\" height=\"30\">\n                <div>\n                    <input type=\"text\" class=\"form-control\" ng-model=\"AGV2_ip\" placeholder=\"AGV 2 IP Adress\" name=\"AGV2_ip\" style=\"height:30px; width:230px; \">\n                </div>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"30\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> IP Address </text>\n            </foreignObject>\n            <foreignObject x=\"100\" y=\"60\" width=\"230\" height=\"30\">\n                <div>\n                    <input type=\"text\" class=\"form-control\" ng-model=\"AGV2_port\" placeholder=\"AGV 2 IP PORT\" name=\"AGV2_port\" style=\"height:30px; width:230px; \">\n                </div>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"62\" width=\"50\" height=\"25\">\n              <text class=\"p-text-header-1\"> Port </text>\n            </foreignObject>\n            <foreignObject x=\"50\" y=\"100\" width=\"100\" height=\"30\">\n              <button type=\"button\" class=\"btn btn-success btn-sm\" ng-click=\"send({payload: {AGV2_start: {ip: AGV2_ip, port: AGV2_port}}})\">Start AGV2</button>\n            </foreignObject>\n            <foreignObject x=\"230\" y=\"100\" width=\"100\" height=\"30\">\n              <button type=\"button\" class=\"btn btn-danger btn-sm\" ng-click=\"send({payload: {AGV2_stop : 1}})\">Stop AGV2</button>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"130\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Information </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"160\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> Velocity: </text> \n              <text id=\"AGV2_v\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"180\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Battery: </text>\n              <text id=\"AGV2_batt\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"200\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Current POD: </text>\n              <text id=\"AGV2_pod\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"240\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Physics </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"260\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> X: </text>\n              <text id=\"AGV2_x\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"280\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Y: </text>\n              <text id=\"AGV2_y\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"300\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Orientation: </text>\n              <text id=\"AGV2_ori\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n          </svg>\n        </div>\n        <br>\n        <button type=\"button\" class=\"button button2\" data-toggle=\"collapse\" data-target=\"#AGV3\">AGV3</button>\n        <div id=\"AGV3\" class=\"collapse\">\n          <svg width=\"350\" id=\"svg-temp1\" height=\"320\" overflow=\"auto\">\n            <foreignObject x=\"10\" y=\"0\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Connection </text>\n            </foreignObject>\n            <foreignObject x=\"100\" y=\"30\" width=\"230\" height=\"30\">\n                <div>\n                    <input type=\"text\" class=\"form-control\" ng-model=\"AGV3_ip\" placeholder=\"AGV 3 IP Adress\" name=\"AGV3_ip\" style=\"height:30px; width:230px; \">\n                </div>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"30\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> IP Address </text>\n            </foreignObject>\n            <foreignObject x=\"100\" y=\"60\" width=\"230\" height=\"30\">\n                <div>\n                    <input type=\"text\" class=\"form-control\" ng-model=\"AGV3_port\" placeholder=\"AGV 3 IP PORT\" name=\"AGV3_port\" style=\"height:30px; width:230px; \">\n                </div>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"62\" width=\"50\" height=\"25\">\n              <text class=\"p-text-header-1\"> Port </text>\n            </foreignObject>\n            <foreignObject x=\"50\" y=\"100\" width=\"100\" height=\"30\">\n              <button type=\"button\" class=\"btn btn-success btn-sm\" ng-click=\"send({payload: {AGV3_start: {ip: AGV3_ip, port: AGV3_port}}})\">Start AGV3</button>\n            </foreignObject>\n            <foreignObject x=\"230\" y=\"100\" width=\"100\" height=\"30\">\n              <button type=\"button\" class=\"btn btn-danger btn-sm\" ng-click=\"send({payload: {AGV3_stop : 1}})\">Stop AGV3</button>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"130\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Information </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"160\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> Velocity: </text> \n              <text id=\"AGV3_v\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"180\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Battery: </text>\n              <text id=\"AGV3_batt\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"200\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Current POD: </text>\n              <text id=\"AGV3_pod\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"240\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Physics </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"260\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> X: </text>\n              <text id=\"AGV3_x\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"280\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Y: </text>\n              <text id=\"AGV3_x\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"300\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Orientation: </text>\n              <text id=\"AGV3_ori\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n          </svg>\n        </div>\n      </div>\n    </foreignObject>\n    <rect x=\"940\" y=\"15\" width=\"300\" height=\"20\" style=\"fill:#3385ff; stroke: none;\" />\n    <rect x=\"940\" y=\"40\" width=\"300\" height=\"500\" style=\"fill:white; stroke: none;\" />\n    <svg width=\"300\" height=\"500\" overflow=\"auto\">\n      <rect x=\"940\" y=\"40\" width=\"300\" height=\"500\" style=\"fill:white; stroke: none;\" />\n    </svg>\n    <rect x=\"27\" y=\"90\" width=\"500\" height=\"450\" style=\"fill: white; stroke: none;\" />\n    <rect x=\"25\" y=\"605\" width=\"1218\" height=\"42\" style=\"fill: lightblue; stroke: none;\" />\n    <!--tool bar-->\n    <foreignObject x=\"11\" y=\"605\" width=\"600\" height=\"220\">\n      <div class=\"container\">\n        <!-- Nav tabs -->\n        <ul class=\"nav nav-tabs\" role=\"tablist\">\n          <li class=\"nav-item\">\n            <a class=\"nav-link active\" data-toggle=\"tab\" href=\"#tab1\">Search for POD</a>\n          </li>\n          <li class=\"nav-item\">\n            <a class=\"nav-link nav-link\" data-toggle=\"tab\" href=\"#tab2\">Search for AGV</a>\n          </li>\n          <li class=\"nav-item\">\n            <a class=\"nav-link\" data-toggle=\"tab\" href=\"#tab3\">Move POD</a>\n          </li>\n          <li class=\"nav-item\">\n            <a class=\"nav-link\" data-toggle=\"tab\" href=\"#tab4\">Rearrange PODs</a>\n          </li>\n        </ul>\n        <!-- Tab panes -->\n        <div class=\"tab-content\">\n          <div id=\"tab1\" class=\"container tab-pane active\"><br>\n            <form>\n              <div class=\"input-group input\">\n                <input type=\"text\" class=\"form-control\" ng-model=\"searchPODByID\" placeholder=\"Search POD. Please type out ID of that POD\" name=\"search\">\n                <div class=\"input-group-btn\">\n                  <button type=\"submit\" class=\"btn btn-primary\" ng-click=\"send({payload: {searchPODByID: searchPODByID}})\">Find</button>\n                </div>\n              </div>\n              <div class=\"input-group input\">\n                <input type=\"text\" class=\"form-control\" ng-model=\"searchPODByGoods\" placeholder=\"Search POD by name of goods on it\" name=\"search\">\n                <div class=\"input-group-btn\">\n                  <button type=\"submit\" class=\"btn btn-primary\" ng-click=\"send({payload: {searchPODByGoods: searchPODByGoods}})\">Find</button>\n                </div>\n              </div>\n            </form>\n          </div>\n          <div id=\"tab2\" class=\"container tab-pane fade\"><br>\n            <br>\n            <form>\n              <div class=\"input-group input\">\n                <input type=\"text\" class=\"form-control\" ng-model=\"searchAGV\" placeholder=\"Search AGV. Please type out ID of that AGV\" name=\"search\">\n                <div class=\"input-group-btn\">\n                  <button type=\"submit\" class=\"btn btn-primary\" ng-click=\"send({payload: {searchAGV: searchAGV}})\">Find</button>\n                </div>\n              </div>\n            </form>\n          </div>\n          <div id=\"tab3\" class=\"container tab-pane fade\"><br>\n            <!--<p>this place will have some functions for moving POD.</p>-->\n            <div class=\"input-group input\">\n              <input type=\"text\" class=\"form-control\" ng-model=\"movePOD_id\" placeholder=\"Please type out ID of that POD\" name=\"movePOD_id\">\n            </div>\n            <div class=\"input-group input\">\n              <input type=\"text\" class=\"form-control\" ng-model=\"movePOD_to\" placeholder=\"Move POD to: \" name=\"movePOD_to\">\n              <div class=\"input-group-btn\">\n                <button type=\"submit\" class=\"btn btn-primary submit\" ng-click=\"send({payload: {movePOD_id: movePOD_id, movePOD_to: movePOD_to}})\">Move</button>\n              </div>\n            </div>\n          </div>\n          <div id=\"tab4\" class=\"container tab-pane fade\">\n            <h5><span class=\"badge badge-secondary badge-danger\">Important: Please read the guideance to make sure what you are doing!</span></h5>\n            <!--<input ng-model=\"me.item.value\" ng-change=\"payload\" ng-click=\"send({payload})\" ng-trim=\"false\" aria-label=\"\" type=\"text\" style=\"z-index: 1;\" step=\"any\" class=\"ng-valid md-input ng-not-empty ng-dirty ng-valid-parse ng-touched\" id=\"input_0\" aria-invalid=\"false\">-->\n            <div class=\"btn-group\">\n              <!-- Nav tabs -->\n              <ul class=\"nav nav-tabs\" role=\"tablist\" style=\"height:42px; width:520px; background-color:#ffbb99; text-align: center; font-weight: bold;\">\n                <li class=\"nav-item\">\n                  <a class=\"nav-link\" style=\"width:260px;\" data-toggle=\"tab\" href=\"#immediatly\">Immediately</a>\n                </li>\n                <li class=\"nav-item\">\n                  <a class=\"nav-link\" style=\"width:260px;\" data-toggle=\"tab\" href=\"#schedule\">Make a plan</a>\n                </li>\n              </ul>\n            </div>\n            <div class=\"tab-content\">\n              <div id=\"immediatly\" class=\"tab-pane fade\">\n                <div class=\"input-group-btn\">\n                  <button type=\"submit\" style=\"width:260px;\" class=\"btn btn-primary submit\" ng-click=\"send({payload: {rearrange_now: 1}})\">Confirm</button>\n                </div>\n              </div>\n              <div id=\"schedule\" class=\"tab-pane fade\">\n                <div class=\"input-group input\" style=\"margin-left:0px;\">\n                  <input type=\"date\" name=\"bday\" max=\"3000-12-31\" ng-model=\"rearrange_day\" min=\"1000-01-01\" class=\"form-control\">\n                  <input type=\"time\" class=\"form-control\" ng-model=\"rearrange_time\">\n                  <button type=\"submit\" class=\"btn btn-primary\" ng-click=\"send({payload: {rearrange_schedule: start, rearrange_day: rearrange_day, rearrange_time: rearrange_time}})\">Confirm</button>\n                </div>\n              </div>\n            </div>\n          </div>\n        </div>\n      </div>\n    </foreignObject>\n    \n    <rect x=\"650\" y=\"604\" width=\"8\" height=\"185\" style=\"fill:gray; stroke: none;\"></rect>\n    <!--processing pannel-->\n    <foreignObject x=\"880\" y=\"610\" width=\"200\" height=\"30\">\n      <text class=\"p-text-header-2\" style=\"color:black; font-size:20px;\"> Processing pannel </text>\n    </foreignObject>\n    <foreignObject x=\"660\" y=\"650\" width=\"580\" height=\"150\">\n        <div class=\"scroll_process\">\n            <pre class=\"p-text-header-2\" id=\"process\" style=\"font-size: 16px; color: black; text-align:left; font-family:Arial;\"></pre>\n        </div>\n    </foreignObject>\n    \n    <!--log pannel-->\n    <foreignObject x=\"1080\" y=\"15\" width=\"200\" height=\"20\">\n      <text class=\"p-text-header-2\"> LOG </text>\n    </foreignObject>\n    <foreignObject x=\"940\" y=\"40\" width=\"350\" height=\"500\">\n        <div class=\"scroll_log\">\n            <pre class=\"p-text-header-2\" id=\"log\" style=\"font-size: 15px; color: black; text-align:left; min-height: 500px; height: auto;\"></pre>\n        </div>\n    </foreignObject>\n    \n  </svg>\n</body>\n\n</html>","clickableShapes":[],"smilAnimations":[],"bindings":[{"selector":"#log","bindSource":"payload.log","bindType":"text","attribute":""},{"selector":"#process","bindSource":"payload.process","bindType":"text","attribute":""},{"selector":"#AGV1_v","bindSource":"payload.AGV1_v","bindType":"text","attribute":""},{"selector":"#AGV1_batt","bindSource":"payload.AGV1_batt","bindType":"text","attribute":""},{"selector":"#AGV1_pod","bindSource":"payload.AGV1_pod","bindType":"text","attribute":""},{"selector":"#AGV1_x","bindSource":"payload.AGV1_x","bindType":"text","attribute":""},{"selector":"#AGV1_y","bindSource":"payload.AGV1_y","bindType":"text","attribute":""},{"selector":"#AGV1_ori","bindSource":"payload.AGV1_ori","bindType":"text","attribute":""},{"selector":"#AGV2_v","bindSource":"payload.AGV2_v","bindType":"text","attribute":""},{"selector":"#AGV2_batt","bindSource":"payload.AGV2_batt","bindType":"text","attribute":""},{"selector":"#AGV2_pod","bindSource":"payload.AGV2_pod","bindType":"text","attribute":""},{"selector":"#AGV2_x","bindSource":"payload.AGV2_x","bindType":"text","attribute":""},{"selector":"#AGV2_y","bindSource":"payload.AGV2_y","bindType":"text","attribute":""},{"selector":"#AGV2_ori","bindSource":"payload.AGV2_ori","bindType":"text","attribute":""}],"showCoordinates":false,"autoFormatAfterEdit":false,"showBrowserErrors":false,"outputField":"payload","editorUrl":"//drawsvg.org/drawsvg.html","directory":"D:\\flow\\vma\\","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"name":"","x":940,"y":360,"wires":[["75739d19.bc4f24","809fa9b8.d56a08"]]},{"id":"809fa9b8.d56a08","type":"link out","z":"664a204e.7c02b","name":"output controlling","links":["6bbd26b.bef69d8","2391522e.e2422e","4d758bc9.0d5c14","f6c42c41.7c8dd"],"x":1095,"y":360,"wires":[]},{"id":"4d758bc9.0d5c14","type":"link in","z":"664a204e.7c02b","name":"start","links":["809fa9b8.d56a08"],"x":75,"y":400,"wires":[["f2a53c7e.ac4c9"]]},{"id":"f2a53c7e.ac4c9","type":"function","z":"664a204e.7c02b","name":"start","func":"if(msg.payload == 1001 && flow.get('sys_sta') === 0) {\n    flow.set('sys_sta', 1);\n    msg.log = 'System start';\n    node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":400,"wires":[["4808c3f5.49371c","ad8e1ab3.d993d8"]]},{"id":"5d207f3c.02702","type":"function","z":"664a204e.7c02b","name":"stop","func":"if(msg.payload == 1002 && flow.get('sys_sta') == 1){\n    flow.set('sys_sta', 0);\n    node.send(msg);\n} \nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":440,"wires":[["6ef96d9c.dcd834","71a2d5d9.55ba1c"]]},{"id":"6ef96d9c.dcd834","type":"template","z":"664a204e.7c02b","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"\n    {\n        \"command\": \"remove_element\",\n        \"selector\": \"[id^=ID]\"\n    }","output":"json","x":660,"y":400,"wires":[["29c71e2a.4ef5a2","a9e50482.9cd7b8"]]},{"id":"6bbd26b.bef69d8","type":"link in","z":"664a204e.7c02b","name":"stop","links":["809fa9b8.d56a08"],"x":75,"y":440,"wires":[["5d207f3c.02702"]]},{"id":"9e0935ec.f97338","type":"switch","z":"664a204e.7c02b","name":"searchPODByID","property":"payload.searchPODByID","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":740,"wires":[["af68f08.ef24f1"]]},{"id":"aa9a9464.a5e498","type":"switch","z":"664a204e.7c02b","name":"searchPODByGoods","property":"payload.searchPODByGoods","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":820,"wires":[["d0cae0a.ebf292"]]},{"id":"2391522e.e2422e","type":"link in","z":"664a204e.7c02b","name":"","links":["809fa9b8.d56a08"],"x":75,"y":740,"wires":[["90b663a9.775f3"]]},{"id":"af68f08.ef24f1","type":"function","z":"664a204e.7c02b","name":"","func":"var PODid = msg.payload.searchPODByID; \nquery = `SELECT * FROM POD WHERE id='`+PODid+`';`; \nmsg.topic = query;\nmsg.log = 'Searching POD by ID';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":740,"wires":[["3065a55.c02135a","f24f71d9.eb053"]]},{"id":"3065a55.c02135a","type":"mysql","z":"664a204e.7c02b","mydb":"3e832307.788ccc","name":"","x":770,"y":820,"wires":[["87f3560d.b33e48","b3ae1244.fae6d"]]},{"id":"d0cae0a.ebf292","type":"function","z":"664a204e.7c02b","name":"","func":"var PODGoods = msg.payload.searchPODByGoods; \nquery = `SELECT * FROM POD WHERE goods='`+PODGoods+`';`; \nmsg.topic = query;\nmsg.log = 'Searching POD by product name';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":820,"wires":[["3065a55.c02135a","f24f71d9.eb053"]]},{"id":"14389c35.50a634","type":"template","z":"664a204e.7c02b","name":"global map template","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"Line\": {\n        \"command\": \"add_element\",\n        \"elementType\": \"line\",\n        \"elementId\": \"\",\n        \"elementAttributes\": {\n            \"x1\": \"\",\n            \"y1\": \"\",\n            \"x2\": \"\",\n            \"y2\": \"\"\n        },\n        \"elementStyleAttributes\": {\n            \"fill\": \"\",\n            \"stroke\": \"\",\n            \"stroke-width\": \"\"\n        }\n    },\n    \"Remove\": {\n        \"command\": \"remove_element\",\n        \"elementId\": \"\"\n    },\n    \"Round\": {\n        \"command\": \"add_element\",\n        \"elementType\": \"circle\",\n        \"elementId\": \"\",\n        \"elementAttributes\": {\n            \"cx\": \"\",\n            \"cy\": \"\",\n            \"r\": \"\"\n        },\n        \"elementStyleAttributes\": {\n            \"fill\": \"black\",\n            \"stroke\": \"black\",\n            \"stroke-width\": \"1px\"\n        }\n    },\n    \"Square\": {\n        \"command\": \"add_element\",\n        \"elementType\": \"rect\",\n        \"elementId\": \"\",\n        \"elementAttributes\": {\n            \"x\": \"\",\n            \"y\": \"\",\n            \"width\": \"\",\n            \"height\": \"\"\n        },\n        \"elementStyleAttributes\": {\n            \"fill\": \"\",\n            \"stroke\": \"\",\n            \"stroke-width\": \"\"\n        }\n    },\n    \"Charging_hub\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"gold\",\n                \"stroke\": \"gold\",\n                \"stroke-width\": \"5px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"green\",\n                \"stroke-width\": \"8px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"green\",\n                \"stroke-width\": \"8px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"5px\"\n            }\n        }\n    ],\n    \"POD\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"#ffcc66\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"3px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"1px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"1px\"\n            }\n        }\n    ],\n    \"Column\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"lightgray\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"1px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"1px\"\n            }\n        }\n    ],\n    \"AGV\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"circle\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"cx\": \"\",\n                \"cy\": \"\",\n                \"r\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"lightgreen\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"1px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"red\",\n                \"stroke-width\": \"3px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"3px\"\n            }\n        }\n    ],\n    \"Station\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"red\",\n                \"stroke-width\": \"5px\"\n            }\n        }\n    ],\n    \"DAS\": {\n        \"command\": \"add_element\",\n        \"elementType\": \"rect\",\n        \"elementId\": \"\",\n        \"elementAttributes\": {\n            \"x\": \"\",\n            \"y\": \"\",\n            \"width\": \"\",\n            \"height\": \"\"\n        },\n        \"elementStyleAttributes\": {\n            \"fill\": \"green\",\n            \"stroke\": \"green\",\n            \"stroke-width\": \"5px\"\n        }\n    },\n    \"SetAttribute\": {\n        \"command\": \"update_style\",\n        \"selector\": \"\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"\"\n    }\n}","output":"str","x":520,"y":180,"wires":[["3d761b2b.6f16b4"]]},{"id":"bc18954a.9d3f38","type":"inject","z":"664a204e.7c02b","name":"global map template","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":180,"y":180,"wires":[["14389c35.50a634"]]},{"id":"3d761b2b.6f16b4","type":"function","z":"664a204e.7c02b","name":"global map template","func":"let json = msg.payload;\nglobal.set('map_template', json);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":180,"wires":[[]]},{"id":"87f3560d.b33e48","type":"function","z":"664a204e.7c02b","name":"change POD color","func":"let commonFunction = global.get('commonFunction');\nfor(let i = 0; i < msg.payload.length; i++){\n    node.send(commonFunction.changeColor(msg.payload[i].id, \"red\"));   \n}\nreturn ;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":820,"wires":[["3b68b504.9fe1ca","381c1466.d7d42c"]]},{"id":"3b68b504.9fe1ca","type":"delay","z":"664a204e.7c02b","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":780,"wires":[["dbc1d317.f7a42"]]},{"id":"3fac4507.30444a","type":"mysql","z":"fe942aa9.133408","mydb":"a58225f5.3dfcd8","name":"","x":670,"y":180,"wires":[["42dc42b1.b5186c"]]},{"id":"e23b3dce.1d64","type":"inject","z":"fe942aa9.133408","name":"get data form database","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":190,"y":340,"wires":[["f89c884a.1ea058","134a81cb.5c406e","f72ec208.88ef6","47afdcac.07e224","2699b646.651dca","f9f72c3a.60ca2"]]},{"id":"f89c884a.1ea058","type":"function","z":"fe942aa9.133408","name":"load map size","func":"msg.topic = \"SELECT MAX(x), MAX(y) FROM `agv`.`map`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":180,"wires":[["3fac4507.30444a"]]},{"id":"42dc42b1.b5186c","type":"function","z":"fe942aa9.133408","name":"","func":"global.set('width', (msg.payload[0][\"MAX(x)\"] + 1));\nglobal.set('height', (msg.payload[0][\"MAX(y)\"] + 1));\nreturn;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":180,"wires":[[]]},{"id":"23f50934.4748e6","type":"link in","z":"fe942aa9.133408","name":"","links":["a9e50482.9cd7b8"],"x":295,"y":340,"wires":[["f89c884a.1ea058","134a81cb.5c406e","f72ec208.88ef6","47afdcac.07e224","2699b646.651dca","f9f72c3a.60ca2"]]},{"id":"d7b8f96d.4b4be8","type":"inject","z":"664a204e.7c02b","name":"set log history","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":260,"wires":[["354df49f.c106ec"]]},{"id":"ad8e1ab3.d993d8","type":"function","z":"664a204e.7c02b","name":"dispay log","func":"let message = msg.log;\nif(flow.get('sys_sta') == 1){\n    let time = (new Date()).toISOString().substr(5,14);\n    let log = flow.get('log');\n    msg.payload = new Object();\n    msg.payload.log = String(time) + ' ' + String(message) + `\\n` + log;\n    flow.set('log', msg.payload.log);\n    msg.topic = 'databind';\n    return msg;\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":320,"wires":[["29c71e2a.4ef5a2"]]},{"id":"354df49f.c106ec","type":"function","z":"664a204e.7c02b","name":"save log history","func":"flow.set('log', '');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":260,"wires":[[]]},{"id":"88ed3620.d43b88","type":"inject","z":"664a204e.7c02b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":320,"wires":[["ad8e1ab3.d993d8"]]},{"id":"6af0d7af.35a6e8","type":"comment","z":"664a204e.7c02b","name":"hard code log","info":"","x":170,"y":320,"wires":[]},{"id":"4563f34f.b763ac","type":"switch","z":"664a204e.7c02b","name":"searchAGV","property":"payload.searchAGV","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":660,"wires":[["8f91ab40.759f48"]]},{"id":"8f91ab40.759f48","type":"function","z":"664a204e.7c02b","name":"","func":"var AGVid = msg.payload.searchAGV; \nquery = `SELECT * FROM agv WHERE id='`+AGVid+`';`; \nmsg.topic = query;\nmsg.log = 'Searching AGV';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":660,"wires":[["82e3a690.a053d8","f24f71d9.eb053"]]},{"id":"82e3a690.a053d8","type":"mysql","z":"664a204e.7c02b","mydb":"3e832307.788ccc","name":"","x":770,"y":660,"wires":[["2d88ee42.c84122","211c7e77.8daef2","4ea33aaa.13bce4"]]},{"id":"2d88ee42.c84122","type":"function","z":"664a204e.7c02b","name":"change AGV color","func":"let commonFunction = global.get('commonFunction');\nfor(let i = 0; i < msg.payload.length; i++){\n    node.send(commonFunction.changeColor(msg.payload[i].id, \"red\"));   \n}\nreturn ;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":660,"wires":[["7da0a7a6.19d0e8","381c1466.d7d42c"]]},{"id":"7da0a7a6.19d0e8","type":"delay","z":"664a204e.7c02b","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":700,"wires":[["cfd0f8f5.a69b58"]]},{"id":"dbc1d317.f7a42","type":"function","z":"664a204e.7c02b","name":"reset color","func":"msg.payload.attributeValue = \"#ffcc66\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":780,"wires":[["381c1466.d7d42c"]]},{"id":"d0da3aed.a56078","type":"link in","z":"664a204e.7c02b","name":"","links":["381c1466.d7d42c","a62d665b.64c158","9e596113.3d496"],"x":715,"y":280,"wires":[["29c71e2a.4ef5a2"]]},{"id":"381c1466.d7d42c","type":"link out","z":"664a204e.7c02b","name":"","links":["d0da3aed.a56078"],"x":1215,"y":740,"wires":[]},{"id":"a9e50482.9cd7b8","type":"link out","z":"664a204e.7c02b","name":"start","links":["23f50934.4748e6"],"x":875,"y":400,"wires":[]},{"id":"b3ae1244.fae6d","type":"function","z":"664a204e.7c02b","name":"display searching result to processing pannel","func":"let result = msg.payload;\nlet process_msg = '\\t\\t\\t\\t\\tPOD Searching result\\n';\nprocess_msg += `\\tThis POD ID: `;\n\nfor(let i = 0; i< result.length; i++){\n   process_msg += String(result[i].id) + ' '; \n}\nprocess_msg += `\\n`;\n\nprocess_msg += `\\tThis POD's position is at node:`;\nfor(let i = 0; i< result.length; i++){\n   process_msg += String(result[i].node_id) + ' '; \n}\nprocess_msg += `\\n`;\n\nprocess_msg += `\\tThis POD contains: ` + String(result[0].goods) + `\\n`;\n\n\nprocess_msg += `\\tProduct infomations`;\nfor(let i = 0; i< result.length; i++){\n   process_msg += ': ' + String(result[i].goods_info); \n}\nprocess_msg += `\\n`;\nmsg.payload = new Object();\nmsg.payload.process = process_msg;\nmsg.topic =\"databind\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":860,"wires":[["381c1466.d7d42c"]]},{"id":"211c7e77.8daef2","type":"function","z":"664a204e.7c02b","name":"display searching result to processing pannel","func":"let result = msg.payload;\nlet process_msg = '\\t\\t\\t\\t\\t\\ AGV Searching result\\n';\nprocess_msg += `\\tThis AGV ID: `;\n\nfor(let i = 0; i< result.length; i++){\n   process_msg += String(result[i].id) + ' '; \n}\nprocess_msg += `\\n`;\n\nprocess_msg += `\\tThis AGV's position is at node: `;\nprocess_msg +=  String(result[0].node_id) + ' '; \nprocess_msg += `\\n`;\nprocess_msg += `\\tThis AGV's orientation is: ` + String(result[0].orientation) + `\\n`;\nprocess_msg += `\\tThis AGV IP address: ` + String(result[0].ip) + `\\n`;\nprocess_msg += `\\tThis AGV IP port: ` + String(result[0].port) + `\\n`;\nprocess_msg += `\\tThis AGV is carrying: ` + String(result[0].pod) + `\\n`;\nprocess_msg += `\\tThis AGV battery level is: ` + String(result[0].batt) + `%\\n`;\nprocess_msg += `\\tThis AGV status: ` + String(result[0].status) + `\\n`;\nmsg.payload = new Object();\nmsg.payload.process = process_msg;\nmsg.topic =\"databind\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":620,"wires":[["381c1466.d7d42c"]]},{"id":"49451db8.a52c84","type":"inject","z":"664a204e.7c02b","name":"set system status","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"sys_sta","payloadType":"flow","x":170,"y":220,"wires":[["d7756cb.4e8b09"]]},{"id":"d7756cb.4e8b09","type":"change","z":"664a204e.7c02b","name":"","rules":[{"t":"set","p":"sys_sta","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"grid","pt":"flow","to":"50","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":220,"wires":[[]]},{"id":"90b663a9.775f3","type":"function","z":"664a204e.7c02b","name":"","func":"if(flow.get('sys_sta') == 1){\n    return msg;\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":740,"wires":[["4563f34f.b763ac","9e0935ec.f97338","aa9a9464.a5e498","1c847ec0.a00f81"]]},{"id":"71a2d5d9.55ba1c","type":"function","z":"664a204e.7c02b","name":"clear log and process","func":"msg.payload = new Object();\nmsg.payload.log = '\\t';\nmsg.payload.process = '\\t';\nmsg.topic = 'databind';\nflow.set('log', '');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":440,"wires":[["29c71e2a.4ef5a2"]]},{"id":"6f03011c.c08cf","type":"link in","z":"664a204e.7c02b","name":"display log","links":["f24f71d9.eb053"],"x":495,"y":320,"wires":[["ad8e1ab3.d993d8"]]},{"id":"f24f71d9.eb053","type":"link out","z":"664a204e.7c02b","name":"","links":["6f03011c.c08cf"],"x":755,"y":780,"wires":[]},{"id":"a093eb89.7c70e8","type":"delay","z":"664a204e.7c02b","name":"delay","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":360,"wires":[["4808c3f5.49371c","ad8e1ab3.d993d8"]]},{"id":"afcc479.6f408b8","type":"function","z":"664a204e.7c02b","name":"check refesh","func":"if(msg.payload == \"change\" && flow.get('sys_sta') == 1)\n{\n    msg.log = 'Reflesh application';\n    node.send(msg);\n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":360,"wires":[["a093eb89.7c70e8"]]},{"id":"62504f91.1c1a5","type":"mysql","z":"dca86c89.0fac","d":true,"mydb":"61709687.381278","name":"","x":510,"y":400,"wires":[["8eab2470.78aa18","e1c45d7e.98ab9"]]},{"id":"66fab41d.451cbc","type":"function","z":"dca86c89.0fac","name":"","func":"msg.topic = \"SELECT `x`, `y` FROM `agv`.`POD`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":400,"wires":[["62504f91.1c1a5"]]},{"id":"d05261aa.20de7","type":"inject","z":"dca86c89.0fac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":400,"wires":[["66fab41d.451cbc"]]},{"id":"8eab2470.78aa18","type":"debug","z":"dca86c89.0fac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":340,"wires":[]},{"id":"e1c45d7e.98ab9","type":"function","z":"dca86c89.0fac","name":"","func":"let result = msg.payload;\nfor(let i = 0; i < result.length; i++)\n{\n    msg.topic = \"UPDATE `agv`.`map` SET `is_blocked`='1' WHERE x=\" + String(result[i].x) + \" AND y=\" +String(result[i].y) + \";\"; \n    node.send(msg);\n}\nreturn;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":400,"wires":[["b5e9054d.802ea8","1e7e29b1.8b2c76"]]},{"id":"63fdf819.c16f38","type":"inject","z":"dca86c89.0fac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":560,"wires":[["e845c2d5.1007a"]]},{"id":"e845c2d5.1007a","type":"function","z":"dca86c89.0fac","name":"","func":"let id = 0;\nfor(let i = 0; i < 9; i++)\n{\n    for(let j = 0; j < 10; j++)\n    {\n        msg.topic =  \"INSERT INTO agv.map (id, rfid_value, x, y, is_blocked) VALUES \" + \"(\" + String(id) + \",\" + String(id) + \",\" + String(j) +\",\" + String(i) + \",0)\";\n        id ++;\n        node.send(msg);\n    }\n}\nreturn;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":560,"wires":[["60b19da4.c08584","5ae49da3.5ee074"]]},{"id":"5ae49da3.5ee074","type":"mysql","z":"dca86c89.0fac","mydb":"61709687.381278","name":"","x":550,"y":560,"wires":[[]]},{"id":"60b19da4.c08584","type":"debug","z":"dca86c89.0fac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":620,"wires":[]},{"id":"73c39a93.b94ba4","type":"comment","z":"dca86c89.0fac","name":"create map database","info":"","x":260,"y":520,"wires":[]},{"id":"b5e9054d.802ea8","type":"debug","z":"dca86c89.0fac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":380,"wires":[]},{"id":"1e7e29b1.8b2c76","type":"mysql","z":"dca86c89.0fac","mydb":"61709687.381278","name":"","x":820,"y":420,"wires":[[]]},{"id":"db6beee2.1dc3b","type":"comment","z":"dca86c89.0fac","name":"set is_blocked","info":"","x":230,"y":360,"wires":[]},{"id":"35cee1e2.80b92e","type":"mysql","z":"dca86c89.0fac","mydb":"61709687.381278","name":"","x":490,"y":1020,"wires":[["dcb2e5fe.9eadf8","4ea668ed.f75be8"]]},{"id":"c12de05f.50022","type":"function","z":"dca86c89.0fac","name":"","func":"msg.topic = \"SELECT `x`, `y` FROM `agv`.`POD`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":1020,"wires":[["35cee1e2.80b92e"]]},{"id":"e2a2a42c.a11cf8","type":"inject","z":"dca86c89.0fac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1020,"wires":[["c12de05f.50022"]]},{"id":"dcb2e5fe.9eadf8","type":"debug","z":"dca86c89.0fac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":960,"wires":[]},{"id":"78f4d68e.501be8","type":"comment","z":"dca86c89.0fac","name":"set node-id for pod","info":"","x":210,"y":980,"wires":[]},{"id":"b5559022.728d4","type":"mysql","z":"dca86c89.0fac","mydb":"61709687.381278","name":"","x":1130,"y":1020,"wires":[[]]},{"id":"25b47fd1.050a8","type":"function","z":"dca86c89.0fac","name":"","func":"let pod = global.get('pod');\n// pod.push([msg.x, msg.y, msg.payload[0].id]);\n// global.set('pod', pod);\n\nmsg.topic = \"UPDATE `agv`.`POD` SET `node_id`=\" + msg.payload[0].id + \" WHERE x=\" + String(msg.x) + \" AND y=\" +String(msg.y) + \";\"; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":1020,"wires":[["3b2b8264.cb892e","b5559022.728d4"]]},{"id":"4ea668ed.f75be8","type":"function","z":"dca86c89.0fac","name":"","func":"let result = msg.payload;\nmsg = new Object();\nfor(let i = 0; i < result.length; i++)\n{\n    msg.topic = \"SELECT id FROM map WHERE x=\" + String(result[i].x) + \" AND y=\" +String(result[i].y) + \";\"; \n    msg.x = result[i].x;\n    msg.y = result[i].y;\n    node.send(msg);\n}\nglobal.set('pod', []);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1020,"wires":[["f644e37b.b811b"]]},{"id":"f644e37b.b811b","type":"mysql","z":"dca86c89.0fac","mydb":"61709687.381278","name":"","x":790,"y":1020,"wires":[["25b47fd1.050a8"]]},{"id":"3b2b8264.cb892e","type":"debug","z":"dca86c89.0fac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":900,"wires":[]},{"id":"cd56bddc.fa74e","type":"mysql","z":"fe942aa9.133408","mydb":"a58225f5.3dfcd8","name":"","x":670,"y":240,"wires":[["906de49d.530118"]]},{"id":"134a81cb.5c406e","type":"function","z":"fe942aa9.133408","name":"load pods","func":"msg.topic = \"SELECT id,node_id FROM `agv`.`POD`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":240,"wires":[["cd56bddc.fa74e"]]},{"id":"906de49d.530118","type":"function","z":"fe942aa9.133408","name":"","func":"let result = msg.payload;\nglobal.set('pod', []);\nfor(let i = 0; i< result.length; i++){\n    msg.id = result[i].id;\n    msg.topic = \"SELECT x,y from map WHERE id=\" + String(result[i].node_id) + \";\"; \n    node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":240,"wires":[["e522d2cc.26c98"]]},{"id":"e522d2cc.26c98","type":"mysql","z":"fe942aa9.133408","mydb":"a58225f5.3dfcd8","name":"","x":990,"y":240,"wires":[["2c89a4b4.60c74c"]]},{"id":"2c89a4b4.60c74c","type":"function","z":"fe942aa9.133408","name":"","func":"let pod = global.get('pod');\npod.push([msg.id, msg.payload[0].x, msg.payload[0].y]);\nglobal.set('pod', pod);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":240,"wires":[[]]},{"id":"dfe7102c.b81e","type":"mysql","z":"fe942aa9.133408","mydb":"a58225f5.3dfcd8","name":"","x":670,"y":300,"wires":[["5d94cceb.5c8054"]]},{"id":"f72ec208.88ef6","type":"function","z":"fe942aa9.133408","name":"load AGVs","func":"msg.topic = \"SELECT id,node_id,orientation FROM `agv`.`agv`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":300,"wires":[["dfe7102c.b81e"]]},{"id":"5d94cceb.5c8054","type":"function","z":"fe942aa9.133408","name":"","func":"let result = msg.payload;\nglobal.set('agv', []);\nfor(let i = 0; i< result.length; i++){\n    msg.id = result[i].id;\n    msg.orientation = result[i].orientation;\n    msg.topic = \"SELECT x,y from map WHERE id=\" + String(result[i].node_id) + \";\"; \n    node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":300,"wires":[["7e356da9.a03694"]]},{"id":"7e356da9.a03694","type":"mysql","z":"fe942aa9.133408","mydb":"a58225f5.3dfcd8","name":"","x":990,"y":300,"wires":[["6a174294.03ccec"]]},{"id":"6a174294.03ccec","type":"function","z":"fe942aa9.133408","name":"","func":"let agv = global.get('agv');\nagv.push([msg.id, msg.payload[0].x, msg.payload[0].y, msg.orientation]);\nglobal.set('agv', agv);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":300,"wires":[[]]},{"id":"96068504.b339d8","type":"function","z":"664a204e.7c02b","name":"common function","func":"let json = JSON.parse(global.get('map_template'));\nlet grid = flow.get('grid');\nlet commonFunction = new Object();\n\ncommonFunction.drawSquare = function drawSquare(id, x, y, height, width, fill, stroke, stroke_width){\n    let square = json.Square;\n    square.elementId = id;\n    square.elementAttributes.x = x;\n    square.elementAttributes.y = y;\n    square.elementAttributes.width = width;\n    square.elementAttributes.height = height;\n    square.elementStyleAttributes.fill = fill;\n    square.elementStyleAttributes.stroke = stroke;\n    square.elementStyleAttributes[\"stroke-width\"] = String(stroke_width) + \"px\";\n    msg.payload = square;\n    return msg;\n}\n\ncommonFunction.drawLine = function drawLine(id, x1, y1, x2 ,y2, stroke, stroke_width){\n    let line = json.Line;\n    line.elementId = String(id);\n    line.elementAttributes.x1 = x1;\n    line.elementAttributes.y1 = y1;\n    line.elementAttributes.x2 = x2;\n    line.elementAttributes.y2 = y2;\n    line.elementStyleAttributes.stroke = stroke;\n    line.elementStyleAttributes[\"stroke-width\"] = String(stroke_width) + \"px\";\n    msg.payload = line;\n    return msg;\n}\n\ncommonFunction.drawChargingHub = function drawChargingHub(id, x, y, orientation){\n    let chargingHub = json.Charging_hub;\n    chargingHub[0]. elementId = id;\n    chargingHub[1]. elementId = id;\n    chargingHub[2]. elementId = id;\n    chargingHub[3]. elementId = id;\n    \n    chargingHub[0].elementAttributes.x = x;\n    chargingHub[0].elementAttributes.y = y;\n    chargingHub[0].elementAttributes.width = grid;\n    chargingHub[0].elementAttributes.height = grid;\n    \n    chargingHub[1].elementAttributes.x1 = x + Math.floor(grid / 2);\n    chargingHub[1].elementAttributes.y1 = y + Math.floor(grid / 10);\n    chargingHub[1].elementAttributes.x2 = x + Math.floor(grid / 2);\n    chargingHub[1].elementAttributes.y2 = y + 9 * Math.floor(grid / 10);\n    \n    chargingHub[2].elementAttributes.x1 = x + Math.floor(grid / 10);\n    chargingHub[2].elementAttributes.y1 = y + Math.floor(grid / 2);\n    chargingHub[2].elementAttributes.x2 = x + 9 * Math.floor(grid / 10);\n    chargingHub[2].elementAttributes.y2 = y + Math.floor(grid / 2);\n    \n    if(orientation === 0){\n        chargingHub[3].elementAttributes.x1 = x;\n        chargingHub[3].elementAttributes.y1 = y;\n        chargingHub[3].elementAttributes.x2 = x + grid;\n        chargingHub[3].elementAttributes.y2 = y;\n    }\n    else if(orientation === 90){\n        chargingHub[3].elementAttributes.x1 = x + grid;\n        chargingHub[3].elementAttributes.y1 = y;\n        chargingHub[3].elementAttributes.x2 = x + grid;\n        chargingHub[3].elementAttributes.y2 = y + grid;\n    }\n    else if(orientation === 180){\n        chargingHub[3].elementAttributes.x1 = x;\n        chargingHub[3].elementAttributes.y1 = y + grid;\n        chargingHub[3].elementAttributes.x2 = x + grid;\n        chargingHub[3].elementAttributes.y2 = y + grid;\n    }\n    else if(orientation === 270){\n        chargingHub[3].elementAttributes.x1 = x;\n        chargingHub[3].elementAttributes.y1 = y;\n        chargingHub[3].elementAttributes.x2 = x;\n        chargingHub[3].elementAttributes.y2 = y + grid;\n    }\n    msg.payload = chargingHub;\n    return msg;\n    \n}\n\ncommonFunction.drawPOD = function drawPOD(id, x, y){\n    let POD = json.POD;\n    POD[0].elementId = id;\n    POD[1].elementId = id;\n    POD[2].elementId = id;\n    \n    POD[0].elementAttributes.x = x;\n    POD[0].elementAttributes.y = y;\n    \n    POD[0].elementAttributes.width = grid;\n    POD[0].elementAttributes.height = grid;\n    \n    POD[1].elementAttributes.x1 = x;\n    POD[1].elementAttributes.y1 = y;\n    POD[1].elementAttributes.x2 = x + grid;\n    POD[1].elementAttributes.y2 = y + grid;\n    \n    POD[2].elementAttributes.x1 = x + grid;\n    POD[2].elementAttributes.y1 = y;\n    POD[2].elementAttributes.x2 = x;\n    POD[2].elementAttributes.y2 = y + grid;\n    msg.payload = POD;\n    return msg;\n}\n\ncommonFunction.changeColor = function changeColor(id, color){\n    let change = json.SetAttribute;\n    change.selector = \"#ID_\" + String(id);\n    change.attributeValue = color;\n    msg.payload = change;\n    return msg;\n}\n\ncommonFunction.addAGV = function addAGV(id, x, y, orientation){\n    let AGV = json.AGV;\n    AGV[0].elementId = id;\n    AGV[1].elementId = id;\n    AGV[2].elementId = id;\n    \n    AGV[1].elementAttributes.x = x;\n    AGV[1].elementAttributes.y = y;\n    AGV[1].elementAttributes.width = grid;\n    AGV[1].elementAttributes.height = grid;\n    \n    AGV[0].elementAttributes.cx = x + Math.floor(grid / 2);\n    AGV[0].elementAttributes.cy = y + Math.floor(grid / 2);\n    AGV[0].elementAttributes.r = Math.floor(grid / 2);\n    \n    AGV[2].elementAttributes.x1 =x + Math.floor(grid / 2);\n    AGV[2].elementAttributes.y1 = y + Math.floor(grid / 2);\n    \n    if( orientation === 0){\n        AGV[2].elementAttributes.x2 = x + Math.floor(grid / 2) ;\n        AGV[2].elementAttributes.y2 = y ;\n    }\n    else if( orientation === 90){\n        AGV[2].elementAttributes.x2 = x + Math.floor(grid / 2) + Math.floor(grid / 2);\n        AGV[2].elementAttributes.y2 = y + Math.floor(grid / 2);\n    }\n    else if( orientation === 180){\n        AGV[2].elementAttributes.x2 = x + Math.floor(grid / 2);\n        AGV[2].elementAttributes.y2 = y + Math.floor(grid / 2) + Math.floor(grid / 2);\n    }\n    else if( orientation === 270){\n        AGV[2].elementAttributes.x2 = x + Math.floor(grid / 2) - Math.floor(grid / 2);\n        AGV[2].elementAttributes.y2 = y + Math.floor(grid / 2);\n    }\n    msg.payload = AGV;\n    return msg;\n}\n\nglobal.set('commonFunction', commonFunction)\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":140,"wires":[[]]},{"id":"2b4a55af.8c8dca","type":"inject","z":"664a204e.7c02b","name":"Common Functions","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":170,"y":140,"wires":[["96068504.b339d8"]]},{"id":"39424908.e44bc6","type":"mysql","z":"fe942aa9.133408","mydb":"a58225f5.3dfcd8","name":"","x":670,"y":360,"wires":[["5f1aae44.8eee5"]]},{"id":"47afdcac.07e224","type":"function","z":"fe942aa9.133408","name":"load charging hub","func":"msg.topic = \"SELECT id,node_id,orientation FROM `agv`.`charger`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":360,"wires":[["39424908.e44bc6"]]},{"id":"5f1aae44.8eee5","type":"function","z":"fe942aa9.133408","name":"","func":"let result = msg.payload;\nglobal.set('chargingHub', []);\nfor(let i = 0; i< result.length; i++){\n    msg.id = result[i].id;\n    msg.orientation = result[i].orientation;\n    msg.topic = \"SELECT x,y from map WHERE id=\" + String(result[i].node_id) + \";\"; \n    node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":360,"wires":[["d5754f9b.aaed2"]]},{"id":"d5754f9b.aaed2","type":"mysql","z":"fe942aa9.133408","mydb":"a58225f5.3dfcd8","name":"","x":990,"y":360,"wires":[["9e60ce28.80751"]]},{"id":"9e60ce28.80751","type":"function","z":"fe942aa9.133408","name":"","func":"let chargingHub = global.get('chargingHub');\nchargingHub.push([msg.id, msg.payload[0].x, msg.payload[0].y, msg.orientation]);\nglobal.set('chargingHub', chargingHub);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":360,"wires":[[]]},{"id":"9a3ca1a2.b7ced","type":"mysql","z":"fe942aa9.133408","mydb":"a58225f5.3dfcd8","name":"","x":670,"y":420,"wires":[["a00d8e39.b1817"]]},{"id":"2699b646.651dca","type":"function","z":"fe942aa9.133408","name":"load stations","func":"msg.topic = \"SELECT id,node_id FROM `agv`.`station`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":420,"wires":[["9a3ca1a2.b7ced"]]},{"id":"a00d8e39.b1817","type":"function","z":"fe942aa9.133408","name":"","func":"let result = msg.payload;\nglobal.set('station', []);\nfor(let i = 0; i< result.length; i++){\n    msg.id = result[i].id;\n    msg.topic = \"SELECT x,y from map WHERE id=\" + String(result[i].node_id) + \";\"; \n    node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":420,"wires":[["17939122.f840df"]]},{"id":"17939122.f840df","type":"mysql","z":"fe942aa9.133408","mydb":"a58225f5.3dfcd8","name":"","x":990,"y":420,"wires":[["22d8ef2b.6a7f"]]},{"id":"22d8ef2b.6a7f","type":"function","z":"fe942aa9.133408","name":"","func":"let station = global.get('station');\nstation.push([msg.id, msg.payload[0].x, msg.payload[0].y]);\nglobal.set('station', station);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":420,"wires":[[]]},{"id":"c602d1e6.cd67b","type":"mysql","z":"fe942aa9.133408","mydb":"a58225f5.3dfcd8","name":"","x":670,"y":480,"wires":[["c249468.96c85b8"]]},{"id":"f9f72c3a.60ca2","type":"function","z":"fe942aa9.133408","name":"load column","func":"msg.topic = \"SELECT id,node_id FROM `agv`.`barrier`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":480,"wires":[["c602d1e6.cd67b"]]},{"id":"c249468.96c85b8","type":"function","z":"fe942aa9.133408","name":"","func":"let result = msg.payload;\nglobal.set('barrier', []);\nfor(let i = 0; i< result.length; i++){\n    msg.id = result[i].id;\n    msg.topic = \"SELECT x,y from map WHERE id=\" + String(result[i].node_id) + \";\"; \n    node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":480,"wires":[["60a96b2b.94a9c4"]]},{"id":"60a96b2b.94a9c4","type":"mysql","z":"fe942aa9.133408","mydb":"a58225f5.3dfcd8","name":"","x":990,"y":480,"wires":[["d5c2ff72.c8a9c"]]},{"id":"d5c2ff72.c8a9c","type":"function","z":"fe942aa9.133408","name":"","func":"let barrier = global.get('barrier');\nbarrier.push([msg.id, msg.payload[0].x, msg.payload[0].y]);\nglobal.set('barrier', barrier);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":480,"wires":[[]]},{"id":"cfd0f8f5.a69b58","type":"function","z":"664a204e.7c02b","name":"reset color","func":"msg.payload.attributeValue = \"lightgreen\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":700,"wires":[["381c1466.d7d42c"]]},{"id":"4ea33aaa.13bce4","type":"debug","z":"664a204e.7c02b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":540,"wires":[]},{"id":"96522a16.a5d668","type":"ui_ui_control","z":"664a204e.7c02b","name":"check refresh","events":"all","x":140,"y":360,"wires":[["afcc479.6f408b8"]]},{"id":"398208e1.ebc568","type":"mysql","z":"dca86c89.0fac","mydb":"61709687.381278","name":"","x":530,"y":140,"wires":[["d9df3db2.3c064"]]},{"id":"372b8ee0.9055a2","type":"function","z":"dca86c89.0fac","name":"","func":"msg.topic = \"SELECT node_id FROM agv; \";\nmsg.topic += \"SELECT node_id FROM barrier; \";\nmsg.topic += \"SELECT node_id FROM charger; \";\nmsg.topic += \"SELECT node_id FROM POD; \";\nmsg.topic += \"SELECT node_id FROM station; \"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":140,"wires":[["398208e1.ebc568"]]},{"id":"3f5a4a64.a83bb6","type":"inject","z":"dca86c89.0fac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":140,"wires":[["372b8ee0.9055a2"]]},{"id":"6b9b0fa.16addf","type":"comment","z":"dca86c89.0fac","name":"set is_blocked final","info":"","x":270,"y":100,"wires":[]},{"id":"d9df3db2.3c064","type":"function","z":"dca86c89.0fac","name":"","func":"let result = msg.payload;\n// let blocked_list = [];\nfor(let i = 0; i < result.length; i++){\n    for(let j = 0; j < result[i].length; j++){\n        // blocked_list.push(Number(result[i][j].node_id));\n        msg.topic = \"UPDATE `agv`.`map` SET `is_blocked`='1' WHERE id=\" + result[i][j].node_id + \";\"; \n        node.send(msg);\n    }\n}\nreturn;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":140,"wires":[["1e77c645.1365aa"]]},{"id":"1e77c645.1365aa","type":"mysql","z":"dca86c89.0fac","mydb":"61709687.381278","name":"","x":830,"y":140,"wires":[[]]},{"id":"1c847ec0.a00f81","type":"switch","z":"664a204e.7c02b","name":"movePOD","property":"payload.movePOD_id","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":940,"wires":[["885d78f8.4dcdd8"]]},{"id":"885d78f8.4dcdd8","type":"function","z":"664a204e.7c02b","name":"","func":"var PODId = msg.payload.movePOD_id; \nquery = `SELECT node_id FROM POD WHERE id='`+ PODId +`';`; \nmsg.topic = query;\nmsg.log = 'Moving POD ' + PODId + ' to node ' + msg.payload.movePOD_to + ' ';\nmsg.PODId = PODId;\nmsg.dest = msg.payload.movePOD_to;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":940,"wires":[["4e173ef2.1fa07","f24f71d9.eb053","2025b8a7.fd4088"]]},{"id":"4e173ef2.1fa07","type":"mysql","z":"664a204e.7c02b","mydb":"3e832307.788ccc","name":"","x":770,"y":940,"wires":[["31da0c72.cfd5f4"]]},{"id":"31da0c72.cfd5f4","type":"function","z":"664a204e.7c02b","name":"","func":"let POD_location = msg.payload[0].node_id;\nfunction fillString(length, string){\n    let result = \"\";\n    for(let i = 0; i < length - string.length; i++){\n        result += '0';\n    }\n    result += string;\n    return result;\n}\n\n\nmsg.payload = fillString(5, POD_location) + fillString(5, msg.dest);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":940,"wires":[["afc25c81.3348"]]},{"id":"afc25c81.3348","type":"mqtt out","z":"664a204e.7c02b","name":"send request to server","topic":"/movePOD","qos":"1","retain":"false","broker":"239ef929.3eb726","x":1200,"y":940,"wires":[]},{"id":"5dbf8b08.2c1414","type":"mqtt in","z":"664a204e.7c02b","name":"","topic":"/plan","qos":"0","datatype":"auto","broker":"239ef929.3eb726","x":190,"y":1040,"wires":[["ec11421f.b3641"]]},{"id":"ec11421f.b3641","type":"function","z":"664a204e.7c02b","name":"","func":"let planMsg = msg.payload;\nlet route = [];\nfor(let i = 0; i < planMsg.length / 5; i++){\n    let planElement = Number(planMsg.substr(i * 5, 5));\n    route.push(planElement);\n}\nflow.set('route', route);\nmsg.payload = route;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1040,"wires":[["2025b8a7.fd4088"]]},{"id":"2025b8a7.fd4088","type":"function","z":"664a204e.7c02b","name":"change POD color","func":"let commonFunction = global.get('commonFunction');\nlet route = msg.payload;\nfor(let i = 0; i < msg.payload.length; i++){\n    node.send(commonFunction.changeColor(\"square_\" + msg.payload[i], \"lightblue\"));   \n}\nnode.send(commonFunction.changeColor(msg.PODId, \"red\"));  \nnode.send(commonFunction.changeColor(\"square_\" + msg.payload[route.length - 1], \"green\"));  \nreturn ;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":1040,"wires":[["9e596113.3d496","430451cc.72e8b"]]},{"id":"9e596113.3d496","type":"link out","z":"664a204e.7c02b","name":"","links":["d0da3aed.a56078"],"x":815,"y":1040,"wires":[]},{"id":"430451cc.72e8b","type":"debug","z":"664a204e.7c02b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":1100,"wires":[]}]