flows12.8.json
[{"id":"d5b3e5c2.453d88","type":"function","z":"2d5b8a7.0a20176","name":"","func":"let json = msg.payload;\nconst HEIGHT = 9;\nconst WIDTH = 10;\nconst grid = 50;\nconst ORIGIN_X = -25 + grid;\nconst ORIGIN_Y = 37 + grid;\nlet charging_hub_position = [[8,0], [9,1]];\nlet POD_position = [[1,1], [1,2], [1,3], [1,5], [1,6], [1,7],\n                    [2,1], [2,2], [2,3], [2,5], [2,6], [2,7],\n                    [4,1], [4,2], [4,3], [4,5], [4,6], [4,7],\n                    [5,1], [5,2], [5,3], [5,5], [5,6], [5,7]];\nlet Column_position = [[0,0], [9,0],\n                        [0,8], [9,8]];  \nlet Station_position = [[8,7], [8,4]];  \n\n/* draw floor's grid-----------------------------------------*/\nmsg.payload = json.Square;\nfor(var i = 0; i < WIDTH; i++ ){\n    msg.payload.elementAttributes.width = grid;\n    msg.payload.elementAttributes.height = grid;\n    msg.payload.elementAttributes.x =ORIGIN_X + grid*i;\n    for(var j = 0; j < HEIGHT; j++){\n        msg.payload.elementAttributes.y = ORIGIN_Y + grid*j;\n        msg.payload.elementId = \"square_\" + String(i) + String(j);\n        node.send(msg);\n    }\n}\nmsg.payload = json.Line;\nmsg.payload.elementId = \"bound\";\nmsg.payload.elementAttributes.x1 = ORIGIN_X + 0;\nmsg.payload.elementAttributes.y1 = ORIGIN_Y + 0;\nmsg.payload.elementAttributes.x2 = ORIGIN_X + grid * WIDTH;\nmsg.payload.elementAttributes.y2 = ORIGIN_Y + 0;\nmsg.payload.elementStyleAttributes.stroke = \"#ff751a\";\nnode.send(msg);\n\nmsg.payload = json.Line;\nmsg.payload.elementId = \"bound\";\nmsg.payload.elementAttributes.x1 = ORIGIN_X + 0;\nmsg.payload.elementAttributes.y1 = ORIGIN_Y + 0;\nmsg.payload.elementAttributes.x2 = ORIGIN_X + 0;\nmsg.payload.elementAttributes.y2 = ORIGIN_Y + grid * HEIGHT;\nmsg.payload.elementStyleAttributes.stroke = \"#ff751a\";\nnode.send(msg);\n\nmsg.payload = json.Line;\nmsg.payload.elementId = \"bound\";\nmsg.payload.elementAttributes.x1 = ORIGIN_X + grid * WIDTH;\nmsg.payload.elementAttributes.y1 = ORIGIN_Y + 0;\nmsg.payload.elementAttributes.x2 = ORIGIN_X + grid * WIDTH;\nmsg.payload.elementAttributes.y2 = ORIGIN_Y + grid * HEIGHT;\nmsg.payload.elementStyleAttributes.stroke = \"#ff751a\";\nnode.send(msg);\n\nmsg.payload = json.Line;\nmsg.payload.elementId = \"bound\";\nmsg.payload.elementAttributes.x1 = ORIGIN_X + 0;\nmsg.payload.elementAttributes.y1 = ORIGIN_Y + grid * HEIGHT;\nmsg.payload.elementAttributes.x2 = ORIGIN_X + grid * WIDTH;\nmsg.payload.elementAttributes.y2 = ORIGIN_Y + grid * HEIGHT;\nmsg.payload.elementStyleAttributes.stroke = \"#ff751a\";\nnode.send(msg);\n\n/* Add Charging hub -------------------------------------------*/\nmsg.payload = json.Charging_hub;\nfor(var index = 0; index < charging_hub_position.length; index++){\n    msg.payload[0].elementId = \"charging_hub_\" + String(index);\n    msg.payload[1].elementId = \"charging_hub_\" + String(index);\n    msg.payload[2].elementId = \"charging_hub_\" + String(index);\n    \n    msg.payload[0].elementAttributes.x = ORIGIN_X + grid * charging_hub_position[index][0];\n    msg.payload[0].elementAttributes.y = ORIGIN_Y + grid * charging_hub_position[index][1];\n    msg.payload[0].elementAttributes.width = grid;\n    msg.payload[0].elementAttributes.height = grid;\n    \n    msg.payload[1].elementAttributes.x1 = ORIGIN_X + grid * charging_hub_position[index][0] + Math.floor(grid / 2);\n    msg.payload[1].elementAttributes.y1 = ORIGIN_Y + grid * charging_hub_position[index][1] + Math.floor(grid / 10);\n    msg.payload[1].elementAttributes.x2 = ORIGIN_X + grid * charging_hub_position[index][0] + Math.floor(grid / 2);\n    msg.payload[1].elementAttributes.y2 = ORIGIN_Y + grid * charging_hub_position[index][1] + 9 * Math.floor(grid / 10);\n    \n    msg.payload[2].elementAttributes.x1 = ORIGIN_X + grid * charging_hub_position[index][0] + Math.floor(grid / 10);\n    msg.payload[2].elementAttributes.y1 = ORIGIN_Y + grid * charging_hub_position[index][1] + Math.floor(grid / 2);\n    msg.payload[2].elementAttributes.x2 = ORIGIN_X + grid * charging_hub_position[index][0] + 9 * Math.floor(grid / 10);\n    msg.payload[2].elementAttributes.y2 = ORIGIN_Y + grid * charging_hub_position[index][1] + Math.floor(grid / 2);\n    \n    node.send(msg);\n}\n\n/* Add POD-----------------------------------------------------*/\nmsg.payload = json.POD;\nfor(index = 0; index < POD_position.length; index++){\n    msg.payload[0].elementId = \"POD_\" + String(index);\n    msg.payload[1].elementId = \"POD_\" + String(index);\n    msg.payload[2].elementId = \"POD_\" + String(index);\n    msg.payload[0].elementAttributes.x = ORIGIN_X + grid * POD_position[index][0];\n    msg.payload[0].elementAttributes.y = ORIGIN_Y + grid * POD_position[index][1];\n    \n    msg.payload[0].elementAttributes.width = grid;\n    msg.payload[0].elementAttributes.height = grid;\n    \n    msg.payload[1].elementAttributes.x1 = ORIGIN_X + grid * POD_position[index][0];\n    msg.payload[1].elementAttributes.y1 = ORIGIN_Y + grid * POD_position[index][1];\n    msg.payload[1].elementAttributes.x2 = ORIGIN_X + grid * POD_position[index][0] + grid;\n    msg.payload[1].elementAttributes.y2 = ORIGIN_Y + grid * POD_position[index][1] + grid;\n    \n    msg.payload[2].elementAttributes.x1 = ORIGIN_X + grid * POD_position[index][0] + grid;\n    msg.payload[2].elementAttributes.y1 = ORIGIN_Y + grid * POD_position[index][1] ;\n    msg.payload[2].elementAttributes.x2 = ORIGIN_X + grid * POD_position[index][0] ;\n    msg.payload[2].elementAttributes.y2 = ORIGIN_Y + grid * POD_position[index][1] +grid;\n    \n    node.send(msg);\n}\n\n/* Add Station------------------------------------------------*/\nfor(index = 0; index < Station_position.length; index++){\n    msg.payload = json.DAS;\n    msg.payload.elementId = \"Station_\" + String(index);\n    msg.payload.elementAttributes.x = ORIGIN_X + grid * Station_position[index][0] + grid;\n    msg.payload.elementAttributes.y = ORIGIN_Y + grid * Station_position[index][1];\n    msg.payload.elementAttributes.width = grid;\n    msg.payload.elementAttributes.height = grid;\n    node.send(msg);\n    \n    msg.payload = json.DAS;\n    msg.payload.elementId = \"Station_\" + String(index);\n    msg.payload.elementAttributes.x = ORIGIN_X + grid * Station_position[index][0];\n    msg.payload.elementAttributes.y = ORIGIN_Y + grid * Station_position[index][1] + grid;\n    msg.payload.elementAttributes.width = grid;\n    msg.payload.elementAttributes.height = grid;\n    node.send(msg);\n    \n    msg.payload = json.Round;\n    msg.payload.elementId = \"Station_\" + String(index);\n    msg.payload.elementAttributes.cx = ORIGIN_X + grid * Station_position[index][0] + Math.floor(grid / 2);\n    msg.payload.elementAttributes.cy = ORIGIN_Y + grid * Station_position[index][1] + Math.floor(grid / 2);\n    msg.payload.elementAttributes.r = Math.floor(grid / 3);\n    node.send(msg);\n    \n    msg.payload = json.Station;\n    msg.payload[0].elementId = \"Station_\" + String(index);\n    \n    msg.payload[0].elementAttributes.x = ORIGIN_X + grid * Station_position[index][0];\n    msg.payload[0].elementAttributes.y = ORIGIN_Y + grid * Station_position[index][1];\n    msg.payload[0].elementAttributes.width = grid * 2;\n    msg.payload[0].elementAttributes.height = grid * 2;\n    node.send(msg);\n}\n\n/* Add Column-------------------------------------------------*/\nmsg.payload = json.Column;\nfor(index = 0; index < Column_position.length; index++){\n    msg.payload[0].elementId = \"Column_\" + String(index);\n    msg.payload[1].elementId = \"Column_\" + String(index);\n    msg.payload[0].elementAttributes.x = ORIGIN_X + grid * Column_position[index][0];\n    msg.payload[0].elementAttributes.y = ORIGIN_Y + grid * Column_position[index][1];\n    \n    msg.payload[0].elementAttributes.width = grid;\n    msg.payload[0].elementAttributes.height = grid;\n    \n    msg.payload[1].elementAttributes.x1 = ORIGIN_X + grid * Column_position[index][0] + grid;\n    msg.payload[1].elementAttributes.y1 = ORIGIN_Y + grid * Column_position[index][1] ;\n    msg.payload[1].elementAttributes.x2 = ORIGIN_X + grid * Column_position[index][0] ;\n    msg.payload[1].elementAttributes.y2 = ORIGIN_Y + grid * Column_position[index][1] +grid;\n    \n    node.send(msg);\n}\n\nvar x,y, rotation;\nfunction addAGV(x, y, rotation, index){\n    msg.payload = json.AGV;\n    msg.payload[0].elementId = \"AGV_\" + String(index);\n    msg.payload[1].elementId = \"AGV_\" + String(index);\n    msg.payload[2].elementId = \"AGV_\" + String(index);\n    \n    msg.payload[0].elementAttributes.x = ORIGIN_X + x * grid;\n    msg.payload[0].elementAttributes.y = ORIGIN_Y + y * grid;\n    msg.payload[0].elementAttributes.width = grid;\n    msg.payload[0].elementAttributes.height = grid;\n    \n    msg.payload[1].elementAttributes.cx = ORIGIN_X + x * grid + Math.floor(grid / 2);\n    msg.payload[1].elementAttributes.cy = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n    msg.payload[1].elementAttributes.r = Math.floor(grid / 2);\n    \n    msg.payload[2].elementAttributes.x1 = ORIGIN_X + x * grid + Math.floor(grid / 2);\n    msg.payload[2].elementAttributes.y1 = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n    \n    if( rotation === 0){\n        msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2) ;\n        msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid ;\n    }\n    else if( rotation === 90){\n        msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2) + Math.floor(grid / 2);\n        msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n    }\n    else if( rotation === 180){\n        msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2);\n        msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid + Math.floor(grid / 2) + Math.floor(grid / 2);\n    }\n    else if( rotation === 270){\n        msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2) - Math.floor(grid / 2);\n        msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n    }\n    node.send(msg);\n}\n\nfunction moveAGV(x, y, rotation, index){\n    msg.payload = json.Remove;\n    msg.payload.elementId = \"AGV_\" + String(index);\n    node.send(msg);\n    addAGV(x, y, rotation, index);\n}\naddAGV(6, 5, 0, 1);\naddAGV(7, 2, 90, 2);\naddAGV(5, 4, 270, 4);\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":280,"wires":[["78fd0930.c658c8"]]},{"id":"35513667.18b3da","type":"debug","z":"2d5b8a7.0a20176","name":"floorplan","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":240,"wires":[]},{"id":"78fd0930.c658c8","type":"ui_svg_graphics","z":"2d5b8a7.0a20176","group":"e77b5533.8e4758","order":5,"width":"20","height":"20","svgString":"\n<html>\n<head>\n      <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n      <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css\">\n      <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>\n      <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js\"></script>\n      <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js\"></script>\n    <style>\n        .featuredBtn.active {\n           background-color: white;\n           color: black;\n        }\n        .featuredBtn {\n           float: left;\n           color: white;\n           text-align: center;\n           font-weight: bold;\n           padding: 10px 90px;\n           text-decoration: none;\n           font-size: 18px;\n           margin: 0px 0px;\n           border: none;\n        }\n        .button1 {\n            background-color: #80bfff;\n        }\n          .button1:hover {\n            background-color: white;\n            color: black;\n        }\n        \n       .p-text-header\n        {\n        \tmargin:0;\n            padding:0;\n            font-size:15px;\n            fill:none;\n            color:white;\n            text-align: left;\n        } \n        .p-text-header-1\n        {\n        \tmargin:0;\n            padding:0;\n            font-size:15px;\n            fill:none;\n            color:black;\n            text-align: left;\n        } \n        .p-text-header-2\n        {\n        \tmargin:0;\n            padding:0;\n            font-size:15px;\n            fill:none;\n            color:white;\n            text-align: center;\n        } \n        .p-text-header-3\n        {\n        \tmargin:0;\n            padding:0;\n            font-size:20px;\n            fill:none;\n            color:white;\n            text-align: center;\n        } \n        .p-text-header-4\n        {\n        \tmargin:0;\n            padding:0;\n            font-size:15px;\n            fill:none;\n            color:black;\n            text-align: center;\n            font-weight: bold;\n        }\n        .button {\n            background-color: #4CAF50;\n            border: none;\n            color: #99ccff;\n            padding: 5px 160px;\n            text-align: left;\n            text-decoration: none;\n            display: inline-block;\n            font-size: 15px;\n            margin: 4px 2px;\n            cursor: pointer;\n            -webkit-transition-duration: 0.4s; \n            transition-duration: 0.4s;\n        }\n        div.scroll {\n          background-color: white;\n          width: 375px;\n          height: 480px;\n          overflow-y: auto;\n          overflow-x: hidden;\n        }\n        .button1 {\n            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);\n        }\n        .button2:hover {\n            background-color: #2eb82e;\n            color: black;\n            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);\n        }\n        .input{\n            width: 520px;\n        }\n    </style>\n</head>\n<body>\n<svg x=\"100\" y=\"100\" height=\"1000\" viewBox=\"170 -100 1200 1200\" width=\"1300\" overflow-y=\"hidden\" overflow-x=\"hidden\"  xmlns=\"http://www.w3.org/2000/svg\" xmlns:svg=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n    <rect x=\"5\" y=\"5\" width=\"1250\" height=\"800\" style=\"fill:#002699; stroke: black; stroke-width:3px;\"/>\n    <foreignObject x=\"20\" y=\"15\" width=\"100\" height=\"30\">\n        <text class=\"p-text-header\"> Map data file </text>\n    </foreignObject>\n    <foreignObject x=\"130\" y=\"15\" width=\"300\" height=\"30\">\n        <form action=\"/load-map\" method=\"POST\" enctype=\"multipart/form-data\" target=\"dummyframe\">\n            <input/>\n            <input type=\"submit\" value=\"Choose\"  name= {{msg.payload}}/>\n        </form>\n    </foreignObject>\n    <foreignObject x=\"80\" y=\"50\" width=\"200\" height=\"30\">\n        <button ng-click=\"send({payload: 1001})\" type=\"button\" class=\"btn btn-success btn-sm\">Start AGV System</button>\n    </foreignObject>\n    <foreignObject x=\"350\" y=\"50\" width=\"200\" height=\"30\">\n        <button ng-click=\"send({payload: 1002})\" type=\"button\" class=\"btn btn-danger btn-sm\">Stop AGV System</button>\n        <!--<button ng-click=\"send({payload: 1002})\">Stop AGV System</button>-->\n    </foreignObject>\n    <rect x=\"550\" y=\"15\" width=\"375\" height=\"20\" style=\"fill:#3385ff; stroke: none;\"/>\n    <foreignObject x=\"670\" y=\"15\" width=\"200\" height=\"20\">\n        <text class=\"p-text-header-2\"> AGV Controlling Pannel </text>\n    </foreignObject>\n    \n    <svg width=\"375\" height=\"500\" overflow=\"auto\">\n      <rect x=\"550\" y=\"40\" width=\"375\" height=\"500\" style=\"fill:white; stroke: none;\"/>\n    </svg>\n    \n    <rect x=\"25\" y=\"558\" width=\"1218\" height=\"230\" style=\"fill:white; stroke: none;\"/>\n    <rect x=\"25\" y=\"565\" width=\"1218\" height=\"40\" style=\"fill:#002699; stroke: none;\"/>\n    <foreignObject x=\"500\" y=\"570\" width=\"300\" height=\"100\">\n        <text class=\"p-text-header-3\"> Warehouse management system </text>\n    </foreignObject>\n    \n    <rect x=\"550\" y=\"40\" width=\"375\" height=\"500\" style=\"fill:white; stroke: none;\"/>\n    <foreignObject x=\"550\" y=\"40\" width=\"450\" height= \"500\"> \n        <div class=\"scroll\">\n\n            <button type=\"button\" class=\"button button2\" data-toggle=\"collapse\" data-target=\"#AGV1\">AGV1</button>\n            <div id=\"AGV1\" class=\"collapse\">\n                <svg width=\"350\" id=\"svg-temp1\" height=\"350\" overflow=\"auto\">\n                    <foreignObject x=\"10\" y=\"0\" width=\"120\" height=\"25\">\n                        <text class=\"p-text-header-4\"> Connection </text>\n                    </foreignObject>\n                    <rect x=\"130\" y=\"30\" width=\"200\" height=\"20\" style=\"fill: white; stroke: black; stroke-width:1px;\"/>\n                    <rect x=\"130\" y=\"60\" width=\"200\" height=\"20\" style=\"fill: white; stroke: black; stroke-width:1px;\"/>\n                    <foreignObject x=\"10\" y=\"30\" width=\"80\" height=\"25\">\n                        <text class=\"p-text-header-1\"> IP Address </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"60\" width=\"50\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Port </text>\n                    </foreignObject>\n                    <foreignObject x=\"20\" y=\"100\" width=\"150\" height=\"100\">\n                        <button ng-click=\"send({payload: 2010})\">Start AGV1</button>\n                    </foreignObject>\n                    <foreignObject x=\"210\" y=\"100\" width=\"150\" height=\"100\">\n                        <button ng-click=\"send({payload: 2011})\">Stop AGV1</button>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"130\" width=\"120\" height=\"25\">\n                        <text class=\"p-text-header-4\"> Information </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"160\" width=\"80\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Velocity: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"180\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Acceleration: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"200\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Battery: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"220\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Current POD: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"260\" width=\"120\" height=\"25\">\n                        <text class=\"p-text-header-4\"> Physics </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"280\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> X: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"300\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Y: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"320\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Orientation: </text>\n                    </foreignObject>\n                </svg>\n            </div>\n            \n            <br>\n            \n            <button type=\"button\" class=\"button button2\" data-toggle=\"collapse\" data-target=\"#AGV2\">AGV2</button>\n            <div id=\"AGV2\" class=\"collapse\">\n                <svg width=\"350\" id=\"svg-temp1\" height=\"350\" overflow=\"auto\">\n                    <foreignObject x=\"10\" y=\"0\" width=\"120\" height=\"25\">\n                        <text class=\"p-text-header-4\"> Connection </text>\n                    </foreignObject>\n                    <rect x=\"130\" y=\"30\" width=\"200\" height=\"20\" style=\"fill: white; stroke: black; stroke-width:1px;\"/>\n                    <rect x=\"130\" y=\"60\" width=\"200\" height=\"20\" style=\"fill: white; stroke: black; stroke-width:1px;\"/>\n                    <foreignObject x=\"10\" y=\"30\" width=\"80\" height=\"25\">\n                        <text class=\"p-text-header-1\"> IP Address </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"60\" width=\"50\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Port </text>\n                    </foreignObject>\n                    <foreignObject x=\"20\" y=\"100\" width=\"150\" height=\"100\">\n                        <button ng-click=\"send({payload: 2010})\">Start AGV1</button>\n                    </foreignObject>\n                    <foreignObject x=\"210\" y=\"100\" width=\"150\" height=\"100\">\n                        <button ng-click=\"send({payload: 2011})\">Stop AGV1</button>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"130\" width=\"120\" height=\"25\">\n                        <text class=\"p-text-header-4\"> Information </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"160\" width=\"80\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Velocity: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"180\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Acceleration: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"200\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Battery: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"220\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Current POD: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"260\" width=\"120\" height=\"25\">\n                        <text class=\"p-text-header-4\"> Physics </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"280\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> X: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"300\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Y: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"320\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Orientation: </text>\n                    </foreignObject>\n                </svg>\n            </div>\n            \n            <br>\n        \n            <button type=\"button\" class=\"button button2\" data-toggle=\"collapse\" data-target=\"#AGV3\">AGV3</button>\n            <div id=\"AGV3\" class=\"collapse\">\n                <svg width=\"350\" id=\"svg-temp1\" height=\"350\" overflow=\"auto\">\n                    <foreignObject x=\"10\" y=\"0\" width=\"120\" height=\"25\">\n                        <text class=\"p-text-header-4\"> Connection </text>\n                    </foreignObject>\n                    <rect x=\"130\" y=\"30\" width=\"200\" height=\"20\" style=\"fill: white; stroke: black; stroke-width:1px;\"/>\n                    <rect x=\"130\" y=\"60\" width=\"200\" height=\"20\" style=\"fill: white; stroke: black; stroke-width:1px;\"/>\n                    <foreignObject x=\"10\" y=\"30\" width=\"80\" height=\"25\">\n                        <text class=\"p-text-header-1\"> IP Address </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"60\" width=\"50\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Port </text>\n                    </foreignObject>\n                    <foreignObject x=\"20\" y=\"100\" width=\"150\" height=\"100\">\n                        <button ng-click=\"send({payload: 2010})\">Start AGV1</button>\n                    </foreignObject>\n                    <foreignObject x=\"210\" y=\"100\" width=\"150\" height=\"100\">\n                        <button ng-click=\"send({payload: 2011})\">Stop AGV1</button>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"130\" width=\"120\" height=\"25\">\n                        <text class=\"p-text-header-4\"> Information </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"160\" width=\"80\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Velocity: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"180\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Acceleration: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"200\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Battery: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"220\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Current POD: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"260\" width=\"120\" height=\"25\">\n                        <text class=\"p-text-header-4\"> Physics </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"280\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> X: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"300\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Y: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"320\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Orientation: </text>\n                    </foreignObject>\n                </svg>\n            </div>\n        </div>\n    </foreignObject>\n    \n    <rect x=\"940\" y=\"15\" width=\"300\" height=\"20\" style=\"fill:#3385ff; stroke: none;\"/>\n    <foreignObject x=\"1080\" y=\"15\" width=\"200\" height=\"20\">\n        <text class=\"p-text-header-2\"> LOG </text>\n    </foreignObject>\n    <rect x=\"940\" y=\"40\" width=\"300\" height=\"500\" style=\"fill:white; stroke: none;\"/>\n    \n    <svg width=\"300\" height=\"500\" overflow=\"auto\">\n      <rect x=\"940\" y=\"40\" width=\"300\" height=\"500\" style=\"fill:white; stroke: none;\"/>\n    </svg>\n\n    <rect x=\"27\" y=\"90\" width=\"500\" height=\"450\" style=\"fill: white; stroke: none;\"/>\n    <rect x=\"25\" y=\"605\" width=\"1218\" height=\"42\" style=\"fill: lightblue; stroke: none;\"/>\n    <!--tool bar-->\n    <foreignObject x=\"-20\" y=\"605\" width=\"1200\" height=\"300\">\n      <!--<script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>-->\n      <!--<div class=\"row\">-->\n      <!--  <div class=\"featuredBtn\">-->\n      <!--    <button type=\"button\" class=\"button1 featuredBtn active\" id=\"btnOne\">Search for POD</button>-->\n      <!--    <button type=\"button\" class=\"button1 featuredBtn\" id=\"btnOne\">Search for AGV</button>-->\n      <!--    <button type=\"button\" class=\"button1 featuredBtn\" id=\"btnTwo\">Move POD</button>-->\n      <!--    <button type=\"button\" class=\"button1 featuredBtn\" id=\"btnThree\">Rearrange PODs</button>-->\n      <!--  </div>-->\n      <!--</div>-->\n      <div class=\"container\">\n      <!-- Nav tabs -->\n      <ul class=\"nav nav-tabs\" role=\"tablist\">\n        <li class=\"nav-item\">\n          <a class=\"nav-link active\" data-toggle=\"tab\" href=\"#tab1\">Search for POD</a>\n        </li>\n        <li class=\"nav-item\">\n          <a class=\"nav-link nav-link\" data-toggle=\"tab\" href=\"#tab2\">Search for AGV</a>\n        </li>\n        <li class=\"nav-item\">\n          <a class=\"nav-link\" data-toggle=\"tab\" href=\"#tab3\">Move POD</a>\n        </li>\n        <li class=\"nav-item\">\n          <a class=\"nav-link\" data-toggle=\"tab\" href=\"#tab4\">Rearrange PODs</a>\n        </li>\n      </ul>\n    \n      <!-- Tab panes -->\n        <div class=\"tab-content\">\n            <div id=\"tab1\" class=\"container tab-pane active\"><br>\n              <form>\n                <div class=\"input-group input\">\n                  <input type=\"text\" class=\"form-control\" placeholder=\"Search POD. Please type out ID of that POD\" name=\"search\">\n                  <div class=\"input-group-btn\">\n                    <button type=\"submit\" class=\"btn btn-primary\" ng-click=\"send({payload: 5000})\">Find</button>\n                  </div>\n                </div>\n                \n                <div class=\"input-group input\">\n                  <input type=\"text\" class=\"form-control\" placeholder=\"Search POD by name of goods on it\" name=\"search\">\n                  <div class=\"input-group-btn\">\n                    <button type=\"submit\" class=\"btn btn-primary\" ng-click=\"send({payload: 5001})\">Find</button>\n                  </div>\n                </div>\n                \n              </form>\n            </div>\n            \n            <div id=\"tab2\" class=\"container tab-pane fade\"><br>\n              <form>\n                <div class=\"input-group input\">\n                  <input type=\"text\" class=\"form-control\" placeholder=\"Search AGV. Please type out ID of that AGV\" name=\"search\">\n                  <div class=\"input-group-btn\">\n                    <button type=\"submit\" class=\"btn btn-primary\" ng-click=\"send({payload: 5002})\">Find</button>\n                  </div>\n                </div>\n              </form>\n            </div>\n            <div id=\"tab3\" class=\"container tab-pane fade\"><br>\n              <p>this place will have some functions for moving POD.</p>\n            </div>\n            <div id=\"tab4\" class=\"container tab-pane fade\"><br>\n              <p>this place will have some functions for rearranging PODs.</p>\n              <input ng-model=\"me.item.value\" ng-change=\"payload\" ng-click=\"send({payload})\" ng-trim=\"false\" aria-label=\"\" type=\"text\" style=\"z-index: 1;\" step=\"any\" class=\"ng-valid md-input ng-not-empty ng-dirty ng-valid-parse ng-touched\" id=\"input_0\" aria-invalid=\"false\">\n            </div>\n        </div>\n      </div>\n    </foreignObject>\n    \n</svg>\n\n</body>\n</html>","clickableShapes":[],"smilAnimations":[],"bindings":[],"showCoordinates":false,"autoFormatAfterEdit":false,"showBrowserErrors":false,"outputField":"payload","editorUrl":"//drawsvg.org/drawsvg.html","directory":"D:\\flow\\vma\\","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"name":"","x":740,"y":280,"wires":[["35513667.18b3da","eb1ab74d.8242e8","2d2600de.545ea"]]},{"id":"eb1ab74d.8242e8","type":"link out","z":"2d5b8a7.0a20176","name":"","links":["ad49887d.afb608","ab711269.a19c1"],"x":875,"y":280,"wires":[]},{"id":"ad49887d.afb608","type":"link in","z":"2d5b8a7.0a20176","name":"","links":["eb1ab74d.8242e8"],"x":55,"y":320,"wires":[["845309d.24141f8"]]},{"id":"845309d.24141f8","type":"function","z":"2d5b8a7.0a20176","name":"","func":"if(msg.payload == 1001) node.send(msg);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":320,"wires":[["8f264654.c63218"]]},{"id":"8f264654.c63218","type":"template","z":"2d5b8a7.0a20176","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"Line\": {\n        \"command\": \"add_element\",\n        \"elementType\": \"line\",\n        \"elementId\": \"\",\n        \"elementAttributes\": {\n            \"x1\": \"\",\n            \"y1\": \"\",\n            \"x2\": \"\",\n            \"y2\": \"\"\n        },\n        \"elementStyleAttributes\": {\n            \"fill\": \"none\",\n            \"stroke\": \"gold\",\n            \"stroke-width\": \"5px\"\n        }\n    },\n    \"Remove\": {\n        \"command\": \"remove_element\",\n        \"elementId\": \"\"\n    },\n    \"Round\": {\n        \"command\": \"add_element\",\n        \"elementType\": \"circle\",\n        \"elementId\": \"\",\n        \"elementAttributes\": {\n            \"cx\": \"\",\n            \"cy\": \"\",\n            \"r\": \"\"\n        },\n        \"elementStyleAttributes\": {\n            \"fill\": \"black\",\n            \"stroke\": \"black\",\n            \"stroke-width\": \"1px\"\n        }\n    },\n    \"Square\": {\n        \"command\": \"add_element\",\n        \"elementType\": \"rect\",\n        \"elementId\": \"\",\n        \"elementAttributes\": {\n            \"x\": \"\",\n            \"y\": \"\",\n            \"width\": \"\",\n            \"height\": \"\"\n        },\n        \"elementStyleAttributes\": {\n            \"fill\": \"none\",\n            \"stroke\": \"black\",\n            \"stroke-width\": \"0.1px\"\n        }\n    },\n    \"Charging_hub\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"gold\",\n                \"stroke\": \"gold\",\n                \"stroke-width\": \"5px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"green\",\n                \"stroke-width\": \"8px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"green\",\n                \"stroke-width\": \"8px\"\n            }\n        }\n    ],\n    \"POD\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"#ffcc66\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"1px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"1px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"1px\"\n            }\n        }\n    ],\n    \"Column\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"lightgray\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"1px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"1px\"\n            }\n        }\n    ],\n    \"AGV\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"cornflowerblue\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"1px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"circle\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"cx\": \"\",\n                \"cy\": \"\",\n                \"r\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"lightgreen\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"1px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"2px\"\n            }\n        }\n    ],\n    \"Station\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"red\",\n                \"stroke-width\": \"5px\"\n            }\n        }\n    ],\n    \"DAS\": {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"green\",\n                \"stroke\": \"green\",\n                \"stroke-width\": \"5px\"\n            }\n        }\n}","output":"str","x":320,"y":320,"wires":[["45b4eb86.6a08c4"]]},{"id":"45b4eb86.6a08c4","type":"json","z":"2d5b8a7.0a20176","name":"","property":"payload","action":"","pretty":false,"x":470,"y":320,"wires":[["d5b3e5c2.453d88"]]},{"id":"7f20856b.e57b3c","type":"function","z":"2d5b8a7.0a20176","name":"","func":"if(msg.payload == 1002) node.send(msg);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":360,"wires":[["486d5ee6.a9ed5"]]},{"id":"486d5ee6.a9ed5","type":"template","z":"2d5b8a7.0a20176","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"command\": \"add_element\",\n    \"elementType\": \"rect\",\n    \"elementId\": \"clear\",\n    \"elementAttributes\": {\n        \"x\": \"\",\n        \"y\": \"\",\n        \"width\": \"\",\n        \"height\": \"\"\n    },\n    \"elementStyleAttributes\": {\n        \"fill\": \"white\",\n        \"stroke\": \"none\"\n    }\n}\n    \n","output":"str","x":320,"y":360,"wires":[["d7ba85c2.16d168"]]},{"id":"d7ba85c2.16d168","type":"json","z":"2d5b8a7.0a20176","name":"","property":"payload","action":"","pretty":false,"x":470,"y":360,"wires":[["e897f128.d019a"]]},{"id":"ab711269.a19c1","type":"link in","z":"2d5b8a7.0a20176","name":"","links":["eb1ab74d.8242e8"],"x":55,"y":360,"wires":[["7f20856b.e57b3c"]]},{"id":"e897f128.d019a","type":"function","z":"2d5b8a7.0a20176","name":"","func":"let json = msg.payload;\nconst HEIGHT = 18;\nconst WIDTH = 20;\nconst grid = 25;\nconst ORIGIN_X = 0 + grid;\nconst ORIGIN_Y = 62 + grid;\njson.elementAttributes.x = \"20\";\njson.elementAttributes.y = \"85\";\njson.elementAttributes.height = \"455\";\njson.elementAttributes.width = \"508\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":360,"wires":[["78fd0930.c658c8"]]},{"id":"2d2600de.545ea","type":"debug","z":"2d5b8a7.0a20176","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":320,"wires":[]},{"id":"c1004009.a2a61","type":"inject","z":"2d5b8a7.0a20176","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Line\":{\"command\":\"add_element\",\"elementType\":\"line\",\"elementId\":\"\",\"elementAttributes\":{\"x1\":\"\",\"y1\":\"\",\"x2\":\"\",\"y2\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"gold\",\"stroke-width\":\"5px\"}},\"Remove\":{\"command\":\"remove_element\",\"elementId\":\"\"},\"Round\":{\"command\":\"add_element\",\"elementType\":\"circle\",\"elementId\":\"\",\"elementAttributes\":{\"cx\":\"\",\"cy\":\"\",\"r\":\"\"},\"elementStyleAttributes\":{\"fill\":\"black\",\"stroke\":\"black\",\"stroke-width\":\"1px\"}},\"Square\":{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"black\",\"stroke-width\":\"0.1px\"}},\"Charging_hub\":[{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"gold\",\"stroke\":\"gold\",\"stroke-width\":\"5px\"}},{\"command\":\"add_element\",\"elementType\":\"line\",\"elementId\":\"\",\"elementAttributes\":{\"x1\":\"\",\"y1\":\"\",\"x2\":\"\",\"y2\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"green\",\"stroke-width\":\"8px\"}},{\"command\":\"add_element\",\"elementType\":\"line\",\"elementId\":\"\",\"elementAttributes\":{\"x1\":\"\",\"y1\":\"\",\"x2\":\"\",\"y2\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"green\",\"stroke-width\":\"8px\"}}],\"POD\":[{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"lightgreen\",\"stroke\":\"blue\",\"stroke-width\":\"1px\"}},{\"command\":\"add_element\",\"elementType\":\"line\",\"elementId\":\"\",\"elementAttributes\":{\"x1\":\"\",\"y1\":\"\",\"x2\":\"\",\"y2\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"blue\",\"stroke-width\":\"1px\"}},{\"command\":\"add_element\",\"elementType\":\"line\",\"elementId\":\"\",\"elementAttributes\":{\"x1\":\"\",\"y1\":\"\",\"x2\":\"\",\"y2\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"blue\",\"stroke-width\":\"1px\"}}],\"Column\":[{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"lightgray\",\"stroke\":\"black\",\"stroke-width\":\"1px\"}},{\"command\":\"add_element\",\"elementType\":\"line\",\"elementId\":\"\",\"elementAttributes\":{\"x1\":\"\",\"y1\":\"\",\"x2\":\"\",\"y2\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"black\",\"stroke-width\":\"1px\"}}],\"AGV\":[{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"cornflowerblue\",\"stroke\":\"blue\",\"stroke-width\":\"1px\"}},{\"command\":\"add_element\",\"elementType\":\"circle\",\"elementId\":\"\",\"elementAttributes\":{\"cx\":\"\",\"cy\":\"\",\"r\":\"\"},\"elementStyleAttributes\":{\"fill\":\"lightgreen\",\"stroke\":\"black\",\"stroke-width\":\"1px\"}},{\"command\":\"add_element\",\"elementType\":\"line\",\"elementId\":\"\",\"elementAttributes\":{\"x1\":\"\",\"y1\":\"\",\"x2\":\"\",\"y2\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"black\",\"stroke-width\":\"2px\"}}],\"Station\":[{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"white\",\"stroke\":\"red\",\"stroke-width\":\"2px\"}}],\"DAS_vertical\":[{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"green\",\"stroke\":\"green\",\"stroke-width\":\"5px\"}}],\"DAS_horizontal\":[{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"green\",\"stroke\":\"green\",\"stroke-width\":\"5px\"}}]}","payloadType":"json","x":110,"y":280,"wires":[["d5b3e5c2.453d88"]]},{"id":"e77b5533.8e4758","type":"ui_group","z":"","name":"AGV Management  System","tab":"d3c5d227.ffb2f","order":1,"disp":true,"width":"20","collapse":false},{"id":"d3c5d227.ffb2f","type":"ui_tab","z":"","name":"AGV","icon":"dashboard","disabled":false,"hidden":false}]