flows21_12.json
[{"id":"77f7877.e2cfb78","type":"tab","label":"AGV - 20.12","disabled":false,"info":""},{"id":"1cf48f7a.cd9721","type":"ui_template","z":"77f7877.e2cfb78","group":"58791834.427e78","name":"CSS Style","order":6,"width":0,"height":0,"format":"<style>\n    .md-button {\n        background-color: #097479;\n        background-image: -webkit-linear-gradient(283deg, rgba(255, 255, 255, 0.1) 50%, transparent 55%),-webkit-linear-gradient(top, rgba(255, 255, 255, 0.15), transparent);\n        border-radius: 8px;\n        box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 2px 0 0 #333797,0 4px 0 1px rgba(0, 0, 0, 0.4),0 4px 4px 1px rgba(0, 0, 0, 0.5);\n        color: white !important;\n        height: 90%;\n        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);\n        text-decoration: none !important;\n        -webkit-transition: all .2s linear;\n        width: 100%;\n    }\n\n    .md-button:active {\n        background-color: #0c8e94;\n        top: 2px;\n        box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 0 0 0 #333797,0 0 0 1px rgba(0, 0, 0, 0.4),0 0px 8px 1px rgba(0, 0, 0, 0.5);\n    }\n\n    .md-button:hover {\n        background-color: #0c8e94;\n        poisiton: relative;\n        top: -1px;\n        box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 2px 0 0 #333797,0 5px 0 1px rgba(0, 0, 0, 0.4),0 5px 8px 1px rgba(0, 0, 0, 0.5);\n    }\n\n    .md-button:active {\n        background-color: #0c8e94;\n        top: 2px;\n        box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 0 0 0 #333797,0 0 0 1px rgba(0, 0, 0, 0.4),0 0px 8px 1px rgba(0, 0, 0, 0.5);\n    }\n    \n    \n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":150,"y":840,"wires":[[]]},{"id":"99d44312.3c82b","type":"ui_template","z":"77f7877.e2cfb78","group":"58791834.427e78","name":"Start","order":1,"width":3,"height":1,"format":"<md-button ng-click=\"send({payload: 'start'})\">\n    Start <span class=\"material-icons\">play_arrow</span>\n</md-button>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":640,"wires":[["60db46e.e48bfb8"]]},{"id":"60db46e.e48bfb8","type":"debug","z":"77f7877.e2cfb78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":640,"wires":[]},{"id":"d31d8a31.35e838","type":"ui_template","z":"77f7877.e2cfb78","group":"58791834.427e78","name":"Stop","order":2,"width":3,"height":1,"format":"<md-button ng-click=\"send({payload: 'stop'})\">\n    Stop <span class=\"material-icons\">power_settings_new</span>\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":680,"wires":[["5d7474f9.3ac13c"]]},{"id":"5d7474f9.3ac13c","type":"debug","z":"77f7877.e2cfb78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":680,"wires":[]},{"id":"de7729d1.f63248","type":"ui_template","z":"77f7877.e2cfb78","group":"fc260c0b.664ca","name":"SYSTEM OVERVIEW","order":3,"width":3,"height":1,"format":"<md-button ng-click=\"send({payload: 'SYSTEM_OVERVIEW'})\" style=\"border-radius: 0px; font-size: 10px; box-shadow: none;\">\n    SYSTEM OVERVIEW\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":180,"y":140,"wires":[["573739ab.55d358"]]},{"id":"b535719a.3180e","type":"ui_template","z":"77f7877.e2cfb78","group":"fc260c0b.664ca","name":"AGV SEARCHING","order":4,"width":3,"height":1,"format":"<md-button ng-click=\"send({payload: 'AGV_SEARCHING'})\" style=\"border-radius: 0px; font-size: 10px; box-shadow: none;\">\n    AGV SEARCHING\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":170,"y":180,"wires":[["8addc0d2.a9348"]]},{"id":"e5f8f6f3.11b278","type":"ui_template","z":"77f7877.e2cfb78","group":"fc260c0b.664ca","name":"POD SEARCHING","order":5,"width":3,"height":1,"format":"<md-button ng-click=\"send({payload: 'POD_SEARCHING'})\" style=\"border-radius: 0px; font-size: 10px; box-shadow: none;\">\n    POD SEARCHING\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":170,"y":220,"wires":[[]]},{"id":"7be1b256.dc590c","type":"ui_template","z":"77f7877.e2cfb78","group":"fc260c0b.664ca","name":"POD MOVING","order":6,"width":3,"height":1,"format":"<md-button ng-click=\"send({payload: 'POD_MOVING'})\" style=\"border-radius: 0px; font-size: 10px; box-shadow: none;\">\n    POD MOVING\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":160,"y":260,"wires":[[]]},{"id":"d5a65897.a8ffe8","type":"ui_template","z":"77f7877.e2cfb78","group":"fc260c0b.664ca","name":"PODs REARRANGING","order":7,"width":3,"height":1,"format":"<md-button ng-click=\"send({payload: 'PODs_REARRANGING'})\" style=\"border-radius: 0px; font-size: 10px; box-shadow: none;\">\n    PODs REARRANGING\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":190,"y":300,"wires":[[]]},{"id":"17efb340.7ec4ed","type":"ui_svg_graphics","z":"77f7877.e2cfb78","group":"fc260c0b.664ca","order":1,"width":0,"height":0,"svgString":"<svg version=\"1.0\" xmlns=\"http://www.w3.org/2000/svg\"\n width=\"80.000000pt\" height=\"50.000000pt\" \n preserveAspectRatio=\"xMidYMid meet\">\n<g transform=\"translate(20.00000,70.000000) scale(0.03500000,-0.03500000)\"\nfill=\"#ffffff\" stroke=\"none\">\n<path d=\"M1089 1851 l-29 -29 0 -316 0 -316 -392 0 c-422 0 -423 0 -462 -53\n-20 -27 -21 -42 -24 -333 l-3 -304 101 0 100 0 0 99 0 98 82 54 c107 70 108\n72 108 130 l0 49 305 0 305 0 0 -215 0 -215 35 0 c32 0 35 2 35 30 l0 30 343\n2 342 3 0 30 0 30 -277 3 -278 2 0 131 c0 128 0 130 -26 154 -19 18 -38 25\n-65 25 l-39 0 0 444 0 444 -31 26 c-43 36 -91 35 -130 -3z\"/>\n<path d=\"M1553 1560 c-12 -5 -30 -21 -40 -36 -16 -25 -18 -60 -21 -364 -2\n-184 0 -354 3 -378 3 -23 17 -55 30 -70 23 -27 24 -27 175 -30 103 -2 162 0\n182 9 59 24 58 19 58 432 0 240 -4 385 -10 398 -22 40 -61 49 -212 48 -79 0\n-153 -4 -165 -9z\"/>\n<path d=\"M119 423 c-59 -36 -76 -119 -39 -181 39 -64 20 -63 760 -60 l670 3\n27 27 c51 51 41 187 -16 218 -13 6 -251 10 -698 10 -609 -1 -681 -2 -704 -17z\"/>\n<path d=\"M1251 112 c-7 -14 -7 -24 2 -36 10 -14 29 -16 127 -14 l115 3 0 30 0\n30 -117 3 c-106 2 -118 1 -127 -16z\"/>\n</g>\n</svg>\n","clickableShapes":[],"javascriptHandlers":[],"smilAnimations":[],"bindings":[],"showCoordinates":false,"autoFormatAfterEdit":false,"showBrowserErrors":false,"showBrowserEvents":false,"enableJsDebugging":false,"sendMsgWhenLoaded":false,"outputField":"payload","editorUrl":"//drawsvg.org/drawsvg.html","directory":"","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"name":"AGV Icon","x":140,"y":60,"wires":[[]]},{"id":"a99dc5d0.13c758","type":"ui_template","z":"77f7877.e2cfb78","group":"fc260c0b.664ca","name":"Spacer1","order":2,"width":3,"height":1,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":140,"y":100,"wires":[[]]},{"id":"f58189a0.b40af8","type":"ui_template","z":"77f7877.e2cfb78","group":"fc260c0b.664ca","name":"Copy Right","order":9,"width":3,"height":2,"format":"<p style=\"font-size: 15px; text-align:center;\">@LamTran</p>\n<p style=\"font-size: 10px; text-align:center;\">All rights reserved</p>\n<p style=\"font-size: 10px; text-align:center;\">2020</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":150,"y":380,"wires":[[]]},{"id":"7ac1f669.a25668","type":"ui_template","z":"77f7877.e2cfb78","group":"fc260c0b.664ca","name":"Spacer2","order":8,"width":3,"height":4,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":140,"y":340,"wires":[[]]},{"id":"f116eee5.2c4af","type":"ui_template","z":"77f7877.e2cfb78","group":"58791834.427e78","name":"Account","order":5,"width":2,"height":1,"format":"<span class=\"material-icons\" style=\"font-size: 30px; text-align:center; cursor: pointer;\" ng-click=\"send({payload: 'account'})\">\naccount_circle\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":140,"y":800,"wires":[["fc5abed8.8f1c5"]]},{"id":"2cc68827.8ccb58","type":"ui_template","z":"77f7877.e2cfb78","group":"58791834.427e78","name":"Spacer1","order":3,"width":16,"height":1,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":140,"y":720,"wires":[[]]},{"id":"edbaa92d.ae00d8","type":"ui_template","z":"77f7877.e2cfb78","group":"58791834.427e78","name":"Date time","order":4,"width":4,"height":1,"format":"\n<div id=\"time\" style=\"font-size:15px; margin-top:8px; margin-left: 10px;\"></div>\n\n\n<script>\n    function updateClock() {\n    var now = new Date(), // current date\n        months = ['January', 'February', '...']; // you get the idea\n        time = now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds(), // again, you get the idea\n\n        // a cleaner way than string concatenation\n        date = [now.getDate(), \n                now.getMonth() + 1,\n                now.getFullYear()].join(':');\n\n    // set the content of the element with the ID time to the formatted string\n    document.getElementById('time').innerHTML = [date, time].join(' / ');\n\n    // call this function again in 1000ms\n    setTimeout(updateClock, 1000);\n}\nupdateClock(); // initial call\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":140,"y":760,"wires":[["25f00f2c.5698a"]]},{"id":"fc5abed8.8f1c5","type":"debug","z":"77f7877.e2cfb78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":800,"wires":[]},{"id":"25f00f2c.5698a","type":"debug","z":"77f7877.e2cfb78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":760,"wires":[]},{"id":"2bf254dd.b9fa1c","type":"ui_svg_graphics","z":"77f7877.e2cfb78","group":"e0f60492.6850d8","order":1,"width":15,"height":13,"svgString":"<svg x=\"0\" y=\"0\" height=\"100\" viewBox=\"0 0 100 100\" width=\"100\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:svg=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"></svg>","clickableShapes":[{"targetId":"[id^=ID]","action":"click","payload":"","payloadType":"str","topic":"clicked"}],"javascriptHandlers":[],"smilAnimations":[],"bindings":[{"selector":"#log","bindSource":"payload.log","bindType":"text","attribute":""},{"selector":"#process","bindSource":"payload.process","bindType":"text","attribute":""},{"selector":"#AGV1_v","bindSource":"payload.AGV1_v","bindType":"text","attribute":""},{"selector":"#AGV1_batt","bindSource":"payload.AGV1_batt","bindType":"text","attribute":""},{"selector":"#AGV1_pod","bindSource":"payload.AGV1_pod","bindType":"text","attribute":""},{"selector":"#AGV1_x","bindSource":"payload.AGV1_x","bindType":"text","attribute":""},{"selector":"#AGV1_y","bindSource":"payload.AGV1_y","bindType":"text","attribute":""},{"selector":"#AGV1_ori","bindSource":"payload.AGV1_ori","bindType":"text","attribute":""},{"selector":"#AGV2_v","bindSource":"payload.AGV2_v","bindType":"text","attribute":""},{"selector":"#AGV2_batt","bindSource":"payload.AGV2_batt","bindType":"text","attribute":""},{"selector":"#AGV2_pod","bindSource":"payload.AGV2_pod","bindType":"text","attribute":""},{"selector":"#AGV2_x","bindSource":"payload.AGV2_x","bindType":"text","attribute":""},{"selector":"#AGV2_y","bindSource":"payload.AGV2_y","bindType":"text","attribute":""},{"selector":"#AGV2_ori","bindSource":"payload.AGV2_ori","bindType":"text","attribute":""}],"showCoordinates":false,"autoFormatAfterEdit":false,"showBrowserErrors":false,"showBrowserEvents":false,"enableJsDebugging":false,"sendMsgWhenLoaded":false,"outputField":"payload","editorUrl":"//drawsvg.org/drawsvg.html","directory":"D:\\flow\\vma\\","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"name":"SIM Dashboard","x":820,"y":420,"wires":[[]]},{"id":"683dc15f.4798a","type":"ui_gauge","z":"77f7877.e2cfb78","name":"","group":"a8c7d9a3.586368","order":1,"width":3,"height":2,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":540,"wires":[]},{"id":"1bb41709.ffb4e9","type":"ui_table","z":"77f7877.e2cfb78","group":"2e0d4d2d.123722","name":"","order":1,"width":13,"height":6,"columns":[],"outputs":0,"cts":false,"x":810,"y":480,"wires":[]},{"id":"2dbe382a.15b428","type":"ui_gauge","z":"77f7877.e2cfb78","name":"","group":"a8c7d9a3.586368","order":2,"width":3,"height":2,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":580,"wires":[]},{"id":"1eba22b8.7f163d","type":"ui_gauge","z":"77f7877.e2cfb78","name":"","group":"a8c7d9a3.586368","order":3,"width":3,"height":2,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":620,"wires":[]},{"id":"7fb923e3.f26ecc","type":"ui_gauge","z":"77f7877.e2cfb78","name":"","group":"a8c7d9a3.586368","order":4,"width":3,"height":2,"gtype":"donut","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":660,"wires":[]},{"id":"caf557fb.08cfd8","type":"ui_chart","z":"77f7877.e2cfb78","name":"","group":"a8c7d9a3.586368","order":8,"width":13,"height":4,"label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":790,"y":720,"wires":[[]]},{"id":"57b5e711.50a288","type":"inject","z":"77f7877.e2cfb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"a","payload":"12","payloadType":"num","x":570,"y":680,"wires":[["caf557fb.08cfd8"]]},{"id":"3cb5539d.a5390c","type":"inject","z":"77f7877.e2cfb78","name":"","props":[{"p":"payload"},{"p":"label","v":"b","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"13","payloadType":"num","x":570,"y":720,"wires":[["caf557fb.08cfd8"]]},{"id":"7f0795df.9d0adc","type":"inject","z":"77f7877.e2cfb78","name":"","props":[{"p":"payload"},{"p":"label","v":"c","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":570,"y":780,"wires":[["caf557fb.08cfd8"]]},{"id":"766e69ca.0f0768","type":"inject","z":"77f7877.e2cfb78","name":"","props":[{"p":"payload"},{"p":"label","v":"v","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":570,"y":820,"wires":[["caf557fb.08cfd8"]]},{"id":"f79d3324.23072","type":"ui_ui_control","z":"77f7877.e2cfb78","name":"","events":"all","x":580,"y":140,"wires":[[]]},{"id":"573739ab.55d358","type":"template","z":"77f7877.e2cfb78","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"group\": {\n    \"hide\": [\n      \"AGV20_12_AS\"\n    ],\n    \"show\": [\n      \"AGV20_12_SO_SIM_Dashboard\",\n      \"AGV20_12_SO_Log\",\n      \"AGV20_12_SO_Chart\"\n    ],\n    \"focus\": false\n  }\n}","output":"json","x":400,"y":140,"wires":[["f79d3324.23072","7c4e4d47.587cd4"]]},{"id":"7c4e4d47.587cd4","type":"debug","z":"77f7877.e2cfb78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":80,"wires":[]},{"id":"48bcc3fe.39291c","type":"ui_template","z":"77f7877.e2cfb78","group":"b9099129.e3a02","name":"AGV CAM","order":1,"width":9,"height":9,"format":"\n<!--<video width=\"100%\" height=\"100%\" controls src=\"movie.ogg\">-->\n<!--  Your browser does not support the video tag.-->\n<!--</video>-->\n<iframe width=\"100%\" height=\"100%\" src=\"https://www.youtube.com/embed/Ox05Bks2Q3s\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":170,"y":1160,"wires":[[]]},{"id":"8addc0d2.a9348","type":"template","z":"77f7877.e2cfb78","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"group\": {\n    \"hide\": [\n        \"AGV20_12_SO_SIM_Dashboard\",\n        \"AGV20_12_SO_Log\",\n        \"AGV20_12_SO_Chart\"\n    ],\n    \"show\": [\n        \"AGV20_12_AS\"      \n    ],\n    \"focus\": false\n  }\n}","output":"json","x":400,"y":180,"wires":[["f79d3324.23072"]]},{"id":"17e74d5e.16a0b3","type":"ui_dropdown","z":"77f7877.e2cfb78","name":"","label":"","tooltip":"Select an AGV","place":"Select an AGV","group":"b9099129.e3a02","order":11,"width":"9","height":"1","passthru":true,"multiple":false,"options":[{"label":"agv1","value":"agv1","type":"str"}],"payload":"","topic":"","x":340,"y":1240,"wires":[[]]},{"id":"7ea7a9ee.bd59c8","type":"inject","z":"77f7877.e2cfb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":150,"y":1240,"wires":[["17e74d5e.16a0b3"]]},{"id":"9efa58b8.ce06e8","type":"inject","z":"77f7877.e2cfb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":80,"wires":[["573739ab.55d358"]]},{"id":"58791834.427e78","type":"ui_group","name":"Manager","tab":"cdc2e52a.7920c8","order":2,"disp":false,"width":"28","collapse":false},{"id":"fc260c0b.664ca","type":"ui_group","name":"NavBar","tab":"cdc2e52a.7920c8","order":1,"disp":false,"width":"3","collapse":false},{"id":"e0f60492.6850d8","type":"ui_group","name":"SO_SIM_Dashboard","tab":"cdc2e52a.7920c8","order":4,"disp":false,"width":"15","collapse":false},{"id":"a8c7d9a3.586368","type":"ui_group","name":"SO_Chart","tab":"cdc2e52a.7920c8","order":6,"disp":false,"width":"13","collapse":false},{"id":"2e0d4d2d.123722","type":"ui_group","name":"SO_Log","tab":"cdc2e52a.7920c8","order":5,"disp":false,"width":"13","collapse":false},{"id":"b9099129.e3a02","type":"ui_group","name":"AS","tab":"cdc2e52a.7920c8","order":7,"disp":false,"width":"28","collapse":false},{"id":"cdc2e52a.7920c8","type":"ui_tab","name":"AGV20_12","icon":"dashboard","order":2,"disabled":false,"hidden":false}]