flows16.1.2021.json
[{"id":"77f7877.e2cfb78","type":"tab","label":"AGV - 20.12","disabled":false,"info":""},{"id":"3a995584.ab3d9a","type":"tab","label":"Get Data from database","disabled":false,"info":""},{"id":"4c37ea4.c7cd314","type":"tab","label":"Display system overview map","disabled":false,"info":""},{"id":"244c6901.e4ea56","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"131b47d9.b692e8","type":"group","z":"3a995584.ab3d9a","name":"Database","style":{"stroke":"#ffC000","stroke-opacity":"0.77","label":true,"fill":"#ffC000","fill-opacity":"0.32"},"nodes":["25e965fd.0f69fa","ce345651.a299a8","44dfa3e9.94b0fc","3cb89d54.0f61f2","1a4531f8.c5e48e","a35c1448.f88658","3bfeb906.068ac6","b3307949.62bb58","2cfdfaac.c6f6f6","4a53b186.b32b7","40abf381.91f52c","b49f317b.fbaff","7081929a.2bf4cc","a56219d8.d37068","81a506fe.6ac608","8c429322.ad132","1c188815.7505d8","75e6858.c324e7c","5d22d5de.f9600c","8a09aa72.4d2bc8","d8fb32cf.8c764","fd4b703d.85a77","a3abfa19.d44738","9aa00e2.ba24df","8fefdd8f.bb592","f0752039.dd654","89f657ce.0bfdf8","30911560.5fe95a","fd83d77d.7b5cd8"],"x":14,"y":-1},{"id":"4925c1b4.36c01","type":"group","z":"4c37ea4.c7cd314","name":"Display Map","style":{"fill":"#ffcf3f","fill-opacity":"0.52","label":true},"nodes":["3d0c4e7b.5a0822","7c5bfb1a.c1ed04","4a1429ae.a0f7a8","9c3ed8f0.6deb28","66e7b1e0.72cf8","a9df8085.81cec","4d7772eb.a816dc","d5bfcdb.c48123","fb9d1291.679c6","e91df890.d864c8","1fafcd2a.e0d9f3"],"x":134,"y":39},{"id":"8c429322.ad132","type":"group","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"","style":{"fill":"#ff3f3f","fill-opacity":"0.27","label":true},"nodes":["1be82182.0ca97e","d2b66545.f820d8","9b1a4e84.be7"],"x":54,"y":599},{"id":"58791834.427e78","type":"ui_group","name":"Manager","tab":"cdc2e52a.7920c8","order":2,"disp":false,"width":"28","collapse":false},{"id":"fc260c0b.664ca","type":"ui_group","name":"NavBar","tab":"cdc2e52a.7920c8","order":1,"disp":false,"width":"3","collapse":false},{"id":"e0f60492.6850d8","type":"ui_group","name":"SO_SIM_Dashboard","tab":"cdc2e52a.7920c8","order":3,"disp":false,"width":"15","collapse":false},{"id":"a8c7d9a3.586368","type":"ui_group","name":"SO_Chart","tab":"cdc2e52a.7920c8","order":5,"disp":false,"width":"13","collapse":false},{"id":"2e0d4d2d.123722","type":"ui_group","name":"SO_Log","tab":"cdc2e52a.7920c8","order":4,"disp":false,"width":"13","collapse":false},{"id":"b9099129.e3a02","type":"ui_group","name":"AS_AGV","tab":"cdc2e52a.7920c8","order":6,"disp":false,"width":"9","collapse":false},{"id":"24f07f77.93bb3","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"agv","tz":"","charset":""},{"id":"b6e2dbef.bfb018","type":"ui_group","name":"AS_AGV_ROTATION","tab":"cdc2e52a.7920c8","order":8,"disp":false,"width":"5","collapse":false},{"id":"7fd55f12.2eabf","type":"ui_group","name":"AS_AGV_SETTING","tab":"cdc2e52a.7920c8","order":7,"disp":false,"width":19,"collapse":false},{"id":"cdc2e52a.7920c8","type":"ui_tab","name":"AGV20_12","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a77bc788.df6f78","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b29e788e.10ac18","type":"mqtt-broker","name":"","broker":"192.168.1.68","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8eafac17.55813","type":"ui_spacer","name":"spacer","group":"a8c7d9a3.586368","order":5,"width":1,"height":1},{"id":"c04f7107.e2429","type":"ui_spacer","name":"spacer","group":"a8c7d9a3.586368","order":6,"width":1,"height":1},{"id":"e907d14f.e54e6","type":"ui_spacer","name":"spacer","group":"a8c7d9a3.586368","order":7,"width":1,"height":1},{"id":"94fd997b.d55db8","type":"ui_spacer","name":"spacer","group":"b9099129.e3a02","order":4,"width":1,"height":1},{"id":"51e2f858.df3a68","type":"ui_spacer","name":"spacer","group":"b9099129.e3a02","order":6,"width":1,"height":1},{"id":"44f9183.9cd4de8","type":"ui_spacer","name":"spacer","group":"7fd55f12.2eabf","order":2,"width":1,"height":1},{"id":"28142efc.4ac7b2","type":"ui_spacer","name":"spacer","group":"7fd55f12.2eabf","order":4,"width":1,"height":1},{"id":"4a8f04ce.5ecc1c","type":"ui_spacer","name":"spacer","group":"7fd55f12.2eabf","order":6,"width":1,"height":1},{"id":"96f821e9.2f7ce","type":"ui_spacer","name":"spacer","group":"7fd55f12.2eabf","order":8,"width":1,"height":1},{"id":"b89a56ca.21a188","type":"ui_spacer","name":"spacer","group":"7fd55f12.2eabf","order":9,"width":1,"height":1},{"id":"256c8216.f857ce","type":"ui_spacer","name":"spacer","group":"7fd55f12.2eabf","order":13,"width":1,"height":1},{"id":"fd1a7ec1.dcaf5","type":"ui_spacer","name":"spacer","group":"7fd55f12.2eabf","order":15,"width":2,"height":1},{"id":"46dead3e.099d24","type":"ui_spacer","name":"spacer","group":"7fd55f12.2eabf","order":17,"width":4,"height":1},{"id":"70752b10.710534","type":"ui_group","name":"AS_AGV_LOG","tab":"cdc2e52a.7920c8","order":9,"disp":false,"width":"14","collapse":false},{"id":"51199fe1.21b2a","type":"ui_group","name":"AS_AGV_REALTIME_INFO","tab":"cdc2e52a.7920c8","order":10,"disp":false,"width":"19","collapse":false},{"id":"58b86165.9d8d3","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"agv","tz":""},{"id":"5aa96ce1.38d674","type":"ui_group","name":"AGV Management  System","tab":"","order":1,"disp":false,"width":"27","collapse":false},{"id":"9d42abf8.d28c38","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"agv","tz":""},{"id":"76aa67f4.4775c8","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"agv","tz":""},{"id":"c8b76f58.8c8b3","type":"ui_group","name":"Home Floor Plan","tab":"","order":1,"disp":true,"width":"15","collapse":false},{"id":"6ac30a25.9ffc34","type":"ui_group","name":"Floorplan test","tab":"","order":1,"disp":true,"width":"14","collapse":false},{"id":"dd11be25.03d7b","type":"ui_tab","name":"AGV","icon":"dashboard","disabled":false,"hidden":false},{"id":"b8a94c90.7c4f5","type":"ui_tab","name":"Home Floor Plan","icon":"dashboard","disabled":false,"hidden":false},{"id":"97c32.d91b93ce","type":"ui_tab","name":"SVG","icon":"dashboard","disabled":false,"hidden":false},{"id":"5a9e7538.2c2fbc","type":"ui_group","name":"Boundingbox test","tab":"80f0e178.bbf4a","order":2,"disp":true,"width":"12","collapse":false},{"id":"80f0e178.bbf4a","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"925439b0.2863c8","type":"ui_group","name":"svg-panning-test","tab":"5c613937.fe7368","order":4,"disp":true,"width":"3","collapse":false},{"id":"5c613937.fe7368","type":"ui_tab","name":"Home","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"1cf48f7a.cd9721","type":"ui_template","z":"77f7877.e2cfb78","group":"58791834.427e78","name":"CSS Style","order":6,"width":0,"height":0,"format":"<style>\n    .md-button {\n        background-color: #097479;\n        background-image: -webkit-linear-gradient(283deg, rgba(255, 255, 255, 0.1) 50%, transparent 55%),-webkit-linear-gradient(top, rgba(255, 255, 255, 0.15), transparent);\n        border-radius: 8px;\n        box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 2px 0 0 #333797,0 4px 0 1px rgba(0, 0, 0, 0.4),0 4px 4px 1px rgba(0, 0, 0, 0.5);\n        color: white !important;\n        height: 90%;\n        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);\n        text-decoration: none !important;\n        -webkit-transition: all .2s linear;\n        width: 100%;\n    }\n\n    .md-button:active {\n        background-color: #0c8e94;\n        top: 2px;\n        box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 0 0 0 #333797,0 0 0 1px rgba(0, 0, 0, 0.4),0 0px 8px 1px rgba(0, 0, 0, 0.5);\n    }\n\n    .md-button:hover {\n        background-color: #0c8e94;\n        poisiton: relative;\n        top: -1px;\n        box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 2px 0 0 #333797,0 5px 0 1px rgba(0, 0, 0, 0.4),0 5px 8px 1px rgba(0, 0, 0, 0.5);\n    }\n\n    .md-button:active {\n        background-color: #0c8e94;\n        top: 2px;\n        box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 0 0 0 #333797,0 0 0 1px rgba(0, 0, 0, 0.4),0 0px 8px 1px rgba(0, 0, 0, 0.5);\n    }\n    .img {\n        display: block;\n        margin-left: auto;\n        margin-right: auto \n    }\n        \n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":170,"y":1320,"wires":[[]]},{"id":"99d44312.3c82b","type":"ui_template","z":"77f7877.e2cfb78","group":"58791834.427e78","name":"Start","order":1,"width":3,"height":1,"format":"<md-button id=\"startSystem\" ng-click=\"send({payload: 'start'})\">\n    Start <span class=\"material-icons\">play_arrow</span>\n</md-button>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":150,"y":1040,"wires":[["515c73c1.7c526c"]]},{"id":"d31d8a31.35e838","type":"ui_template","z":"77f7877.e2cfb78","group":"58791834.427e78","name":"Stop","order":2,"width":3,"height":1,"format":"<md-button id=\"stopSystem\" ng-click=\"send({payload: 'stop'})\">\n    Stop <span class=\"material-icons\">power_settings_new</span>\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":150,"y":1080,"wires":[["d7a41129.cb36d"]]},{"id":"de7729d1.f63248","type":"ui_template","z":"77f7877.e2cfb78","group":"fc260c0b.664ca","name":"SYSTEM OVERVIEW","order":3,"width":3,"height":1,"format":"<md-button ng-click=\"send({payload: 'SYSTEM_OVERVIEW'})\" style=\"border-radius: 0px; font-size: 10px; box-shadow: none;\">\n    SYSTEM OVERVIEW\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":200,"y":340,"wires":[["573739ab.55d358"]]},{"id":"b535719a.3180e","type":"ui_template","z":"77f7877.e2cfb78","group":"fc260c0b.664ca","name":"AGV SEARCHING","order":4,"width":3,"height":1,"format":"<md-button ng-click=\"send({payload: 'AGV_SEARCHING'})\" style=\"border-radius: 0px; font-size: 10px; box-shadow: none;\">\n    AGV SEARCHING\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":190,"y":380,"wires":[["8addc0d2.a9348"]]},{"id":"e5f8f6f3.11b278","type":"ui_template","z":"77f7877.e2cfb78","group":"fc260c0b.664ca","name":"POD SEARCHING","order":5,"width":3,"height":1,"format":"<md-button ng-click=\"send({payload: 'POD_SEARCHING'})\" style=\"border-radius: 0px; font-size: 10px; box-shadow: none;\">\n    POD SEARCHING\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":190,"y":420,"wires":[[]]},{"id":"7be1b256.dc590c","type":"ui_template","z":"77f7877.e2cfb78","group":"fc260c0b.664ca","name":"POD MOVING","order":6,"width":3,"height":1,"format":"<md-button ng-click=\"send({payload: 'POD_MOVING'})\" style=\"border-radius: 0px; font-size: 10px; box-shadow: none;\">\n    POD MOVING\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":180,"y":460,"wires":[[]]},{"id":"d5a65897.a8ffe8","type":"ui_template","z":"77f7877.e2cfb78","group":"fc260c0b.664ca","name":"PODs REARRANGING","order":7,"width":3,"height":1,"format":"<md-button ng-click=\"send({payload: 'PODs_REARRANGING'})\" style=\"border-radius: 0px; font-size: 10px; box-shadow: none;\">\n    PODs REARRANGING\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":210,"y":500,"wires":[[]]},{"id":"17efb340.7ec4ed","type":"ui_svg_graphics","z":"77f7877.e2cfb78","group":"fc260c0b.664ca","order":1,"width":0,"height":0,"svgString":"<svg version=\"1.0\" xmlns=\"http://www.w3.org/2000/svg\"\n width=\"80.000000pt\" height=\"50.000000pt\" \n preserveAspectRatio=\"xMidYMid meet\">\n<g transform=\"translate(20.00000,70.000000) scale(0.03500000,-0.03500000)\"\nfill=\"#ffffff\" stroke=\"none\">\n<path d=\"M1089 1851 l-29 -29 0 -316 0 -316 -392 0 c-422 0 -423 0 -462 -53\n-20 -27 -21 -42 -24 -333 l-3 -304 101 0 100 0 0 99 0 98 82 54 c107 70 108\n72 108 130 l0 49 305 0 305 0 0 -215 0 -215 35 0 c32 0 35 2 35 30 l0 30 343\n2 342 3 0 30 0 30 -277 3 -278 2 0 131 c0 128 0 130 -26 154 -19 18 -38 25\n-65 25 l-39 0 0 444 0 444 -31 26 c-43 36 -91 35 -130 -3z\"/>\n<path d=\"M1553 1560 c-12 -5 -30 -21 -40 -36 -16 -25 -18 -60 -21 -364 -2\n-184 0 -354 3 -378 3 -23 17 -55 30 -70 23 -27 24 -27 175 -30 103 -2 162 0\n182 9 59 24 58 19 58 432 0 240 -4 385 -10 398 -22 40 -61 49 -212 48 -79 0\n-153 -4 -165 -9z\"/>\n<path d=\"M119 423 c-59 -36 -76 -119 -39 -181 39 -64 20 -63 760 -60 l670 3\n27 27 c51 51 41 187 -16 218 -13 6 -251 10 -698 10 -609 -1 -681 -2 -704 -17z\"/>\n<path d=\"M1251 112 c-7 -14 -7 -24 2 -36 10 -14 29 -16 127 -14 l115 3 0 30 0\n30 -117 3 c-106 2 -118 1 -127 -16z\"/>\n</g>\n</svg>\n","clickableShapes":[],"javascriptHandlers":[],"smilAnimations":[],"bindings":[],"showCoordinates":false,"autoFormatAfterEdit":false,"showBrowserErrors":false,"showBrowserEvents":false,"enableJsDebugging":false,"sendMsgWhenLoaded":false,"outputField":"payload","editorUrl":"//drawsvg.org/drawsvg.html","directory":"","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"name":"AGV Icon","x":160,"y":260,"wires":[["c297a946.ba82e8"]]},{"id":"a99dc5d0.13c758","type":"ui_template","z":"77f7877.e2cfb78","group":"fc260c0b.664ca","name":"Spacer1","order":2,"width":3,"height":1,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":160,"y":300,"wires":[[]]},{"id":"f58189a0.b40af8","type":"ui_template","z":"77f7877.e2cfb78","group":"fc260c0b.664ca","name":"Copy Right","order":9,"width":3,"height":2,"format":"<p style=\"font-size: 15px; text-align:center;\">@LamTran</p>\n<p style=\"font-size: 10px; text-align:center;\">All rights reserved</p>\n<p style=\"font-size: 10px; text-align:center;\">2020</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":170,"y":580,"wires":[[]]},{"id":"7ac1f669.a25668","type":"ui_template","z":"77f7877.e2cfb78","group":"fc260c0b.664ca","name":"Spacer2","order":8,"width":3,"height":4,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":160,"y":540,"wires":[[]]},{"id":"f116eee5.2c4af","type":"ui_template","z":"77f7877.e2cfb78","group":"58791834.427e78","name":"Account","order":5,"width":2,"height":1,"format":"<span class=\"material-icons\" style=\"font-size: 30px; text-align:center; cursor: pointer;\" ng-click=\"send({payload: 'account'})\">\naccount_circle\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":160,"y":1280,"wires":[["fc5abed8.8f1c5"]]},{"id":"2cc68827.8ccb58","type":"ui_template","z":"77f7877.e2cfb78","group":"58791834.427e78","name":"Spacer1","order":3,"width":16,"height":1,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":160,"y":1200,"wires":[[]]},{"id":"edbaa92d.ae00d8","type":"ui_template","z":"77f7877.e2cfb78","group":"58791834.427e78","name":"Date time","order":4,"width":4,"height":1,"format":"\n<div id=\"time\" style=\"font-size:15px; margin-top:8px; margin-left: 10px;\"></div>\n\n\n<script>\n    function updateClock() {\n    var now = new Date(), // current date\n        months = ['January', 'February', '...']; // you get the idea\n        time = now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds(), // again, you get the idea\n\n        // a cleaner way than string concatenation\n        date = [now.getDate(), \n                now.getMonth() + 1,\n                now.getFullYear()].join(':');\n\n    // set the content of the element with the ID time to the formatted string\n    document.getElementById('time').innerHTML = [date, time].join(' / ');\n\n    // call this function again in 1000ms\n    setTimeout(updateClock, 1000);\n}\nupdateClock(); // initial call\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":160,"y":1240,"wires":[[]]},{"id":"fc5abed8.8f1c5","type":"debug","z":"77f7877.e2cfb78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":1280,"wires":[]},{"id":"2bf254dd.b9fa1c","type":"ui_svg_graphics","z":"77f7877.e2cfb78","group":"e0f60492.6850d8","order":1,"width":15,"height":13,"svgString":"<svg x=\"0\" y=\"0\" height=\"680\" width=\"790\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:svg=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n    \n</svg>","clickableShapes":[{"targetId":"[id^=map]","action":"click","payload":"[id^=map]","payloadType":"str","topic":"[id^=map]"}],"javascriptHandlers":[],"smilAnimations":[],"bindings":[{"selector":"#log","bindSource":"payload.log","bindType":"text","attribute":""},{"selector":"#process","bindSource":"payload.process","bindType":"text","attribute":""},{"selector":"#AGV1_v","bindSource":"payload.AGV1_v","bindType":"text","attribute":""},{"selector":"#AGV1_batt","bindSource":"payload.AGV1_batt","bindType":"text","attribute":""},{"selector":"#AGV1_pod","bindSource":"payload.AGV1_pod","bindType":"text","attribute":""},{"selector":"#AGV1_x","bindSource":"payload.AGV1_x","bindType":"text","attribute":""},{"selector":"#AGV1_y","bindSource":"payload.AGV1_y","bindType":"text","attribute":""},{"selector":"#AGV1_ori","bindSource":"payload.AGV1_ori","bindType":"text","attribute":""},{"selector":"#AGV2_v","bindSource":"payload.AGV2_v","bindType":"text","attribute":""},{"selector":"#AGV2_batt","bindSource":"payload.AGV2_batt","bindType":"text","attribute":""},{"selector":"#AGV2_pod","bindSource":"payload.AGV2_pod","bindType":"text","attribute":""},{"selector":"#AGV2_x","bindSource":"payload.AGV2_x","bindType":"text","attribute":""},{"selector":"#AGV2_y","bindSource":"payload.AGV2_y","bindType":"text","attribute":""},{"selector":"#AGV2_ori","bindSource":"payload.AGV2_ori","bindType":"text","attribute":""}],"showCoordinates":false,"autoFormatAfterEdit":false,"showBrowserErrors":false,"showBrowserEvents":false,"enableJsDebugging":false,"sendMsgWhenLoaded":false,"outputField":"payload","editorUrl":"//drawsvg.org/drawsvg.html","directory":"D:\\flow\\vma\\","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"name":"SIM Dashboard","x":1180,"y":380,"wires":[["1f9d283f.ee3218","36fb62c7.c1830e"]]},{"id":"683dc15f.4798a","type":"ui_gauge","z":"77f7877.e2cfb78","name":"System load","group":"a8c7d9a3.586368","order":1,"width":3,"height":3,"gtype":"gage","title":"System load","label":"%","format":"{{msg.systemLoad}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"80","x":1310,"y":2860,"wires":[]},{"id":"2dbe382a.15b428","type":"ui_gauge","z":"77f7877.e2cfb78","name":"Storage","group":"a8c7d9a3.586368","order":2,"width":3,"height":3,"gtype":"gage","title":"Storage","label":"%","format":"{{msg.storage}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"80","x":1300,"y":2920,"wires":[]},{"id":"1eba22b8.7f163d","type":"ui_gauge","z":"77f7877.e2cfb78","name":"Picking per hour","group":"a8c7d9a3.586368","order":3,"width":3,"height":3,"gtype":"gage","title":"Picking per hour","label":"perHour","format":"{{msg.pick}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"5000","seg2":"8000","x":1320,"y":2980,"wires":[]},{"id":"caf557fb.08cfd8","type":"ui_chart","z":"77f7877.e2cfb78","name":"AGV Battery","group":"a8c7d9a3.586368","order":8,"width":13,"height":4,"label":"AGV Battery","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1310,"y":3120,"wires":[[]]},{"id":"f79d3324.23072","type":"ui_ui_control","z":"77f7877.e2cfb78","name":"","events":"all","x":600,"y":340,"wires":[[]]},{"id":"573739ab.55d358","type":"template","z":"77f7877.e2cfb78","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"group\": {\n    \"hide\": [\n      \"AGV20_12_AS_AGV\",\n      \"AGV20_12_AS_AGV_ROTATION\",\n      \"AGV20_12_AS_AGV_SETTING\",\n      \"AGV20_12_AS_AGV_LOG\",\n      \"AGV20_12_AS_AGV_REALTIME_INFO\"\n    ],\n    \"show\": [\n      \"AGV20_12_SO_SIM_Dashboard\",\n      \"AGV20_12_SO_Log\",\n      \"AGV20_12_SO_Chart\"\n    ],\n    \"focus\": false\n  }\n}","output":"json","x":420,"y":340,"wires":[["f79d3324.23072","7c4e4d47.587cd4"]]},{"id":"7c4e4d47.587cd4","type":"debug","z":"77f7877.e2cfb78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":280,"wires":[]},{"id":"48bcc3fe.39291c","type":"ui_template","z":"77f7877.e2cfb78","group":"b9099129.e3a02","name":"AGV CAM","order":2,"width":9,"height":10,"format":"<!DOCTYPE html>\n<html>\n<body>\n\n<h2>AGV Live view</h2>\n\n<iframe src=\"http://192.168.1.26/\" height=\"100%\" width=\"100%\" title=\"Iframe Example\"></iframe>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":190,"y":1500,"wires":[[]]},{"id":"8addc0d2.a9348","type":"template","z":"77f7877.e2cfb78","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"group\": {\n    \"hide\": [\n        \"AGV20_12_SO_SIM_Dashboard\",\n        \"AGV20_12_SO_Log\",\n        \"AGV20_12_SO_Chart\"\n    ],\n    \"show\": [\n        \"AGV20_12_AS_AGV\",\n        \"AGV20_12_AS_AGV_ROTATION\",\n        \"AGV20_12_AS_AGV_SETTING\",\n        \"AGV20_12_AS_AGV_LOG\",\n        \"AGV20_12_AS_AGV_REALTIME_INFO\"  \n    ],\n    \"focus\": false\n  }\n}","output":"json","x":420,"y":380,"wires":[["f79d3324.23072"]]},{"id":"17e74d5e.16a0b3","type":"ui_dropdown","z":"77f7877.e2cfb78","name":"","label":"","tooltip":"Select an AGV","place":"Select an AGV","group":"b9099129.e3a02","order":1,"width":9,"height":1,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"","x":860,"y":1580,"wires":[["3afd78ee.c9b168"]]},{"id":"9efa58b8.ce06e8","type":"inject","z":"77f7877.e2cfb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":280,"wires":[["573739ab.55d358"]]},{"id":"c297a946.ba82e8","type":"debug","z":"77f7877.e2cfb78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":240,"wires":[]},{"id":"2396aa36.dc4ad6","type":"function","z":"77f7877.e2cfb78","name":"Update dropbox","func":"let agvInfo = global.get('database.agvInfo');\nlet agvList = [];\nfor(let i in agvInfo) {\n    let currentAgv = 'AGV ' + agvInfo[i].id;\n    agvList.push({[currentAgv]: agvInfo[i].id});\n}\nmsg = {};\nlet systemRunningStatus = global.get('systemInfo.runningStatus');\nif(systemRunningStatus) msg.options = agvList;\nelse msg.options = [];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1580,"wires":[["17e74d5e.16a0b3"]]},{"id":"2baae54b.db202a","type":"ui_gauge","z":"77f7877.e2cfb78","name":"AGV Battery","group":"b9099129.e3a02","order":3,"width":4,"height":2,"gtype":"gage","title":"AGV Battery","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#cf0707","#e6e600","#34a215"],"seg1":"30","seg2":"60","x":930,"y":1760,"wires":[]},{"id":"5e3ce74.f1b9418","type":"ui_gauge","z":"77f7877.e2cfb78","name":"AGV Speed","group":"b9099129.e3a02","order":5,"width":4,"height":2,"gtype":"gage","title":"AGV Speed","label":"cm/s","format":"{{value}}","min":0,"max":"100","colors":["#c4c700","#039628","#ca3838"],"seg1":"30","seg2":"70","x":930,"y":1800,"wires":[]},{"id":"b656a7ea.2bf7f8","type":"inject","z":"77f7877.e2cfb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":140,"wires":[["19197e6c.525f92"]]},{"id":"19197e6c.525f92","type":"change","z":"77f7877.e2cfb78","name":"Inition environment variables","rules":[{"t":"set","p":"agvSearching","pt":"global","to":"{}","tot":"json"},{"t":"set","p":"systemInfo","pt":"global","to":"{}","tot":"json"},{"t":"set","p":"systemInfo.runningStatus","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"database","pt":"global","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":140,"wires":[[]]},{"id":"3afd78ee.c9b168","type":"function","z":"77f7877.e2cfb78","name":"Set selected AGV","func":"let agvId                       = msg.payload;\nif(Array.isArray(agvId)) return;\nlet agvSearching                = global.get('agvSearching');\n\nagvSearching.selectedAgv        = {};\nagvSearching.selectedAgv.agvId  = agvId;\nmsg                             = {};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":1580,"wires":[["f7b25e05.eff43"]]},{"id":"79f6a36f.fd87ac","type":"function","z":"77f7877.e2cfb78","name":"Update battery gauge","func":"let selectedAgv     = global.get('agvSearching.selectedAgv.agvId');\n// if user not yet selected agv \nif(!selectedAgv) {\n    msg.payload = 0;\n    return msg;\n}\nlet agvInfo         = global.get('database.agvInfo');\nlet agvBattLevel    = agvInfo[selectedAgv].batt;\nmsg.payload         = agvBattLevel;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1760,"wires":[["2baae54b.db202a"]]},{"id":"1bcae640.5f566a","type":"link in","z":"77f7877.e2cfb78","name":"Update gauge chart","links":["f7b25e05.eff43"],"x":190,"y":1720,"wires":[["79f6a36f.fd87ac","3ed0031f.9535ac","3fed11cb.a9bcae"]],"l":true},{"id":"f7b25e05.eff43","type":"link out","z":"77f7877.e2cfb78","name":"To update chart","links":["1bcae640.5f566a"],"x":1300,"y":1580,"wires":[],"l":true},{"id":"cb746d87.33ed7","type":"inject","z":"77f7877.e2cfb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":1780,"wires":[["79f6a36f.fd87ac","3ed0031f.9535ac","bb5b5c74.4d4b8","3fed11cb.a9bcae"]]},{"id":"3ed0031f.9535ac","type":"function","z":"77f7877.e2cfb78","name":"Update speed gauge","func":"let selectedAgv     = global.get('agvSearching.selectedAgv.agvId');\n// if user not yet selected agv \nif(!selectedAgv) {\n    msg.payload = 0;\n    return msg;\n}\nlet agvInfo         = global.get('database.agvInfo');\nlet agvBattLevel    = agvInfo[selectedAgv].speed;\nmsg.payload         = agvBattLevel;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1800,"wires":[["5e3ce74.f1b9418"]]},{"id":"bb5b5c74.4d4b8","type":"trigger","z":"77f7877.e2cfb78","name":"Update delay","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"-1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":210,"y":1840,"wires":[["73c29508.649e9c"]]},{"id":"73c29508.649e9c","type":"function","z":"77f7877.e2cfb78","name":"Update speed and batt","func":"let selectedAgv     = global.get('agvSearching.selectedAgv.agvId');\n// if user not yet selected agv \nif(!selectedAgv) return;\nlet query = \"SELECT batt,speed,orientation FROM agv WHERE id='\" + selectedAgv + \"';\"\nmsg.topic = query;\nmsg.agvId = selectedAgv;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1840,"wires":[["c27fb9e2.1634b8"]]},{"id":"c27fb9e2.1634b8","type":"mysql","z":"77f7877.e2cfb78","mydb":"24f07f77.93bb3","name":"","x":710,"y":1840,"wires":[["5cfd09a4.97fe08"]]},{"id":"5cfd09a4.97fe08","type":"function","z":"77f7877.e2cfb78","name":"Update chart","func":"let updateResult    = msg.payload[0];\nlet agvId           = msg.agvId;\nlet agvInfo         = global.get('database.agvInfo');\n\nagvInfo[agvId].batt         = updateResult.batt;\nagvInfo[agvId].speed        = updateResult.speed;\nagvInfo[agvId].orientation  = updateResult.orientation;\n\nlet msg2 = {};\nmsg2.payload    = updateResult.speed;\nmsg3            = {};\nmsg3.payload    = updateResult.orientation;\nmsg.payload     = updateResult.batt;\n\nreturn([msg, msg2, msg3]);","outputs":3,"noerr":0,"initialize":"","finalize":"","x":930,"y":1840,"wires":[["2baae54b.db202a"],["5e3ce74.f1b9418"],["1f0a0b37.90c515"]]},{"id":"f66dcbab.6dbfb8","type":"inject","z":"77f7877.e2cfb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":420,"y":1540,"wires":[["2396aa36.dc4ad6"]]},{"id":"1f0a0b37.90c515","type":"ui_gauge","z":"77f7877.e2cfb78","name":"AGV Rotation","group":"b6e2dbef.bfb018","order":1,"width":"5","height":"5","gtype":"compass","title":"AGV Rotation","label":"degree","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":940,"y":1880,"wires":[]},{"id":"3fed11cb.a9bcae","type":"function","z":"77f7877.e2cfb78","name":"Update rotation gauge","func":"let selectedAgv     = global.get('agvSearching.selectedAgv.agvId');\n// if user not yet selected agv \nif(!selectedAgv) {\n    msg.payload = 0;\n    return msg;\n}\nlet agvInfo         = global.get('database.agvInfo');\nlet agvOrientation  = agvInfo[selectedAgv].orientation;\nmsg.payload         = agvOrientation;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1880,"wires":[["1f0a0b37.90c515"]]},{"id":"81d9fb34.d80aa8","type":"ui_slider","z":"77f7877.e2cfb78","name":"","label":"Max Speed","tooltip":"","group":"7fd55f12.2eabf","order":1,"width":8,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":10,"step":1,"x":450,"y":2040,"wires":[[]]},{"id":"e7e025e3.7b9cf8","type":"ui_switch","z":"77f7877.e2cfb78","name":"","label":"LED","tooltip":"","group":"7fd55f12.2eabf","order":16,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"highlight","oncolor":"#ffcc66","offvalue":"false","offvalueType":"bool","officon":"highlight","offcolor":"gray","x":230,"y":2160,"wires":[[]]},{"id":"b7920449.f76c28","type":"ui_switch","z":"77f7877.e2cfb78","name":"","label":"Human sensor","tooltip":"","group":"7fd55f12.2eabf","order":11,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"wifi_tethering","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"portable_wifi_off","offcolor":"red","x":260,"y":2120,"wires":[[]]},{"id":"ca53a880.199088","type":"ui_switch","z":"77f7877.e2cfb78","name":"","label":"Safety sensor","tooltip":"","group":"7fd55f12.2eabf","order":14,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"do_not_disturb_on","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"do_not_disturb_off","offcolor":"red","x":260,"y":2080,"wires":[[]]},{"id":"52b5651a.3608cc","type":"ui_switch","z":"77f7877.e2cfb78","name":"","label":"Power","tooltip":"","group":"7fd55f12.2eabf","order":12,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"power_settings_new","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"power_settings_new","offcolor":"red","x":230,"y":2040,"wires":[[]]},{"id":"2b61bd73.ce5042","type":"ui_switch","z":"77f7877.e2cfb78","name":"","label":"Camera","tooltip":"","group":"7fd55f12.2eabf","order":10,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"videocam","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"videocam_off","offcolor":"gray","x":240,"y":2200,"wires":[[]]},{"id":"7cf3b0c5.20546","type":"ui_button","z":"77f7877.e2cfb78","name":"","group":"7fd55f12.2eabf","order":7,"width":2,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"#ff8566","icon":"refresh","payload":"reset","payloadType":"str","topic":"","x":230,"y":2360,"wires":[[]]},{"id":"e8f492a5.677a3","type":"ui_button","z":"77f7877.e2cfb78","name":"","group":"7fd55f12.2eabf","order":5,"width":2,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"#ff8000","icon":"pause","payload":"stop","payloadType":"str","topic":"","x":230,"y":2320,"wires":[[]]},{"id":"9ccd3de0.8584","type":"ui_button","z":"77f7877.e2cfb78","name":"","group":"7fd55f12.2eabf","order":3,"width":3,"height":1,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"#00b377","icon":"play_arrow","payload":"start","payloadType":"str","topic":"","x":230,"y":2280,"wires":[[]]},{"id":"72bd1d9d.1df304","type":"ui_table","z":"77f7877.e2cfb78","group":"70752b10.710534","name":"AGV Log Table","order":0,"width":"14","height":"5","columns":[{"field":"col_agvId","title":"AGV ID","width":"20%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"col_time","title":"TimeStamp","width":"30%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"col_data","title":"Log data","width":"50%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":860,"y":2200,"wires":[]},{"id":"b18d60b8.d034c","type":"inject","z":"77f7877.e2cfb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"col_agvId\":\"AGV01\",\"col_time\":\"11:23:12 / 30:12:2020\",\"col_data\":\"Dummy\"},{\"col_agvId\":\"AGV02\",\"col_time\":\"11:23:12 / 30:12:2020\",\"col_data\":\"Dummy\"},{\"col_agvId\":\"AGV02\",\"col_time\":\"11:23:12 / 30:12:2020\",\"col_data\":\"Dummy\"},{\"col_agvId\":\"AGV02\",\"col_time\":\"11:23:12 / 30:12:2020\",\"col_data\":\"Dummy\"}]","payloadType":"json","x":570,"y":2200,"wires":[["72bd1d9d.1df304"]]},{"id":"92ceb296.4b6b3","type":"ui_svg_graphics","z":"77f7877.e2cfb78","group":"51199fe1.21b2a","order":1,"width":"19","height":"6","svgString":"\n<svg version=\"1.0\" xmlns=\"http://www.w3.org/2000/svg\"\n width=\"254.000000pt\" height=\"198.000000pt\" viewBox=\"0 0 254.000000 198.000000\"\n preserveAspectRatio=\"xMidYMid meet\">\n\n<g transform=\"translate(0.000000,198.000000) scale(0.100000,-0.100000)\"\nfill=\"#eeeeee\" stroke=\"none\">\n<path d=\"M1960 1640 c0 -5 -8 -10 -18 -10 -13 0 -24 -16 -39 -57 -17 -49 -24\n-59 -47 -61 -26 -3 -26 -4 -25 -85 1 -64 3 -74 9 -47 6 24 8 8 7 -55 -2 -86\n-1 -90 21 -93 13 -2 22 2 22 10 0 11 2 10 9 0 5 -8 17 -12 27 -10 16 3 19 12\n18 58 -1 30 1 48 3 38 5 -20 119 -32 258 -26 l90 3 -2 -37 c-1 -34 1 -38 22\n-38 13 0 26 6 28 13 4 10 6 10 6 0 1 -7 10 -13 21 -13 18 0 20 7 21 93 1 68 4\n83 9 57 6 -25 7 -13 6 45 -1 75 -2 80 -24 83 -23 4 -47 45 -36 63 3 5 1 9 -4\n9 -6 0 -8 9 -5 19 3 11 0 28 -6 38 -6 10 -11 12 -11 6 0 -8 -13 -13 -31 -13\n-17 0 -28 4 -24 10 4 6 -5 10 -19 10 -14 0 -26 -4 -26 -10 0 -5 -15 -10 -34\n-10 -19 0 -38 5 -41 10 -3 6 -46 10 -96 10 -53 0 -89 -4 -89 -10z m293 -37 c3\n-5 -57 -8 -133 -8 -76 0 -136 3 -133 8 2 4 62 7 133 7 71 0 131 -3 133 -7z\nm-108 -43 c0 -18 -6 -26 -23 -28 -24 -4 -38 18 -28 44 3 9 15 14 28 12 17 -2\n23 -10 23 -28z m-25 -50 c133 0 149 2 154 18 4 13 4 13 3 -3 -2 -19 -10 -20\n-157 -20 -148 0 -155 1 -156 20 -1 15 0 16 3 3 4 -16 20 -18 153 -18z m-194\n-24 c15 -8 32 -12 37 -9 5 3 8 0 5 -8 -2 -8 -17 -15 -31 -17 -22 -3 -27 1 -27\n17 0 31 -50 30 -51 -1 0 -13 -3 -17 -6 -10 -15 39 23 53 73 28z m461 -16 c1\n-22 1 -22 -4 -2 -6 30 -53 32 -53 1 0 -16 -5 -20 -27 -17 -32 4 -41 23 -12 25\n12 1 27 7 33 13 6 6 22 10 36 8 19 -2 25 -9 27 -28z m-359 -62 c-6 -18 -28\n-21 -28 -4 0 9 7 16 16 16 9 0 14 -5 12 -12z m210 1 c-2 -6 -8 -10 -13 -10 -5\n0 -11 4 -13 10 -2 6 4 11 13 11 9 0 15 -5 13 -11z m-341 -71 c-3 -8 -6 -5 -6\n6 -1 11 2 17 5 13 3 -3 4 -12 1 -19z m450 0 c-3 -8 -6 -5 -6 6 -1 11 2 17 5\n13 3 -3 4 -12 1 -19z\"/>\n<path d=\"M2100 1561 c0 -15 6 -21 21 -21 25 0 22 33 -4 38 -12 2 -17 -3 -17\n-17z m30 -1 c0 -5 -4 -10 -10 -10 -5 0 -10 5 -10 10 0 6 5 10 10 10 6 0 10 -4\n10 -10z\"/>\n<path d=\"M833 1583 c-70 -4 -73 -5 -73 -29 0 -19 7 -28 32 -36 29 -10 22 -13\n-103 -34 -160 -28 -149 -27 -149 -9 0 8 -9 15 -20 15 -12 0 -20 -7 -20 -17 0\n-10 -16 -29 -35 -43 -21 -16 -30 -29 -24 -35 5 -5 9 -20 9 -32 0 -27 48 -81\n59 -67 3 5 18 17 33 27 21 13 33 15 53 7 14 -5 25 -14 25 -20 0 -5 12 -11 28\n-11 16 -1 20 -3 10 -6 -20 -5 -23 -18 -8 -28 6 -3 10 -1 10 4 0 6 5 11 12 11\n9 0 9 -3 0 -12 -7 -7 -12 -19 -12 -27 0 -14 1 -14 10 -1 7 11 10 11 10 2 0\n-21 33 -9 52 18 44 64 41 62 53 27 7 -20 8 -37 2 -44 -6 -9 -6 -13 2 -13 6 0\n11 6 11 13 0 7 3 8 8 2 11 -16 34 -17 43 -3 7 10 9 10 9 -2 0 -8 7 -2 15 14 8\n15 15 34 15 42 0 20 19 27 37 12 9 -7 26 -12 37 -11 15 1 16 0 4 -3 -19 -6\n-21 -18 -8 -49 6 -13 9 -15 9 -5 1 9 4 11 9 5 4 -6 21 -12 38 -13 28 -2 31 1\n31 28 0 18 -6 31 -16 34 -9 3 -7 4 5 3 11 -1 28 4 37 12 15 12 17 11 17 -11 0\n-31 10 -41 27 -27 9 9 13 8 13 0 0 -6 -4 -11 -10 -11 -5 0 -10 -6 -10 -13 0\n-9 12 -14 33 -14 21 0 34 5 34 14 0 7 -4 13 -9 13 -4 0 -8 5 -8 11 0 8 4 9 13\n0 17 -14 27 -4 27 27 0 35 21 23 45 -24 17 -34 25 -40 51 -41 31 0 36 9 21 35\n-5 7 -3 12 3 12 6 0 8 5 5 10 -3 6 -1 10 5 10 7 0 9 -8 5 -21 -5 -15 -4 -19 4\n-15 6 4 11 13 11 21 0 7 7 16 16 19 23 9 24 8 24 -13 0 -11 5 -23 11 -27 8 -4\n9 0 4 15 -4 13 -2 21 5 21 6 0 8 -4 5 -10 -3 -5 -1 -10 6 -10 10 0 10 -3 1\n-12 -47 -47 47 -46 133 2 95 53 92 48 92 155 0 80 -2 95 -16 96 -9 1 -65 1\n-126 1 -92 -1 -105 1 -77 10 24 8 32 17 32 34 l0 24 -277 -2 c-153 -1 -311 -4\n-350 -5z m787 -98 c0 -11 -12 -15 -50 -15 -38 0 -50 4 -50 15 0 11 12 15 50\n15 38 0 50 -4 50 -15z m-1140 -160 c0 -5 -5 -3 -10 5 -5 8 -10 20 -10 25 0 6\n5 3 10 -5 5 -8 10 -19 10 -25z m40 5 c0 -5 -7 -7 -15 -4 -8 4 -15 8 -15 10 0\n2 7 4 15 4 8 0 15 -4 15 -10z m1108 -4 c-7 -8 -17 -12 -22 -9 -4 3 -2 9 5 14\n22 13 31 11 17 -5z m-34 -15 c7 -11 -22 -23 -35 -15 -5 3 -9 0 -9 -6 0 -6 -4\n-8 -10 -5 -5 3 -10 -1 -10 -10 0 -9 -4 -13 -10 -10 -5 3 -10 1 -10 -5 0 -6 -4\n-8 -10 -5 -5 3 -10 1 -10 -5 0 -7 -6 -5 -15 4 -19 19 -20 32 0 16 12 -10 15\n-7 21 14 3 15 15 27 27 29 40 8 66 7 71 -2z m-744 -10 c0 -6 -4 -12 -10 -16\n-5 -3 -8 -11 -6 -18 1 -7 1 -9 -1 -5 -2 4 -12 5 -21 2 -15 -5 -16 -4 -1 8 9 7\n14 19 12 26 -3 6 2 12 11 12 9 0 16 -4 16 -9z m306 -7 c-3 -9 -6 -23 -6 -31 0\n-22 -6 -14 -14 20 -5 21 -3 27 10 27 11 0 14 -5 10 -16z m302 5 c-2 -6 -8 -10\n-13 -10 -5 0 -11 4 -13 10 -2 6 4 11 13 11 9 0 15 -5 13 -11z m-751 -6 c-4 -3\n1 -12 11 -20 15 -13 15 -14 0 -9 -9 3 -19 2 -21 -2 -2 -4 -3 -2 -1 4 1 6 -3\n17 -9 23 -8 8 -6 11 8 11 10 0 15 -3 12 -7z m33 -3 c0 -5 -2 -10 -4 -10 -3 0\n-8 5 -11 10 -3 6 -1 10 4 10 6 0 11 -4 11 -10z m70 6 c0 -3 -4 -8 -10 -11 -5\n-3 -10 -1 -10 4 0 6 5 11 10 11 6 0 10 -2 10 -4z m70 -3 c-1 -18 -18 -35 -24\n-24 -4 6 -2 11 4 11 6 0 8 5 5 10 -3 6 -1 10 4 10 6 0 11 -3 11 -7z m240 3 c0\n-3 -4 -8 -10 -11 -5 -3 -10 -1 -10 4 0 6 5 11 10 11 6 0 10 -2 10 -4z m70 -6\nc0 -5 -2 -10 -4 -10 -3 0 -8 5 -11 10 -3 6 -1 10 4 10 6 0 11 -4 11 -10z m80\n6 c0 -3 -4 -8 -10 -11 -5 -3 -10 -1 -10 4 0 6 5 11 10 11 6 0 10 -2 10 -4z\nm33 -7 c-6 -6 -10 -17 -9 -23 2 -6 1 -8 -1 -4 -2 4 -12 5 -21 2 -15 -5 -15 -4\n0 9 10 8 15 17 11 20 -3 4 2 7 12 7 14 0 16 -3 8 -11z m187 1 c0 -5 -2 -10 -4\n-10 -3 0 -8 5 -11 10 -3 6 -1 10 4 10 6 0 11 -4 11 -10z m-460 -22 c0 -5 -4\n-7 -9 -4 -5 4 -12 0 -15 -6 -5 -11 -7 -11 -12 0 -3 6 -10 10 -15 6 -5 -3 -9\n-1 -9 4 0 5 14 9 30 9 17 0 30 -4 30 -9z\"/>\n<path d=\"M521 1292 c-1 -7 23 -24 52 -37 57 -27 77 -31 77 -14 0 6 -7 9 -15 5\n-8 -3 -15 -1 -15 5 0 6 -4 7 -10 4 -5 -3 -10 -1 -10 5 0 6 -4 8 -10 5 -5 -3\n-10 -2 -10 4 0 6 -7 7 -17 4 -12 -5 -14 -3 -8 7 6 10 4 12 -8 7 -9 -3 -18 -1\n-21 6 -3 9 -5 8 -5 -1z\"/>\n<path d=\"M735 1240 c-3 -5 -1 -10 4 -10 6 0 11 5 11 10 0 6 -2 10 -4 10 -3 0\n-8 -4 -11 -10z\"/>\n<path d=\"M885 1240 c-3 -5 -1 -10 4 -10 6 0 11 5 11 10 0 6 -2 10 -4 10 -3 0\n-8 -4 -11 -10z\"/>\n<path d=\"M935 1240 c-3 -5 -1 -10 4 -10 6 0 11 5 11 10 0 6 -2 10 -4 10 -3 0\n-8 -4 -11 -10z\"/>\n<path d=\"M1060 1238 c0 -4 9 -8 20 -8 11 0 20 4 20 8 0 4 -9 8 -20 8 -11 0\n-20 -4 -20 -8z\"/>\n<path d=\"M1210 1240 c0 -5 5 -10 11 -10 5 0 7 5 4 10 -3 6 -8 10 -11 10 -2 0\n-4 -4 -4 -10z\"/>\n<path d=\"M1360 1240 c0 -5 5 -10 11 -10 5 0 7 5 4 10 -3 6 -8 10 -11 10 -2 0\n-4 -4 -4 -10z\"/>\n<path d=\"M1886 1192 c-3 -5 15 -84 41 -176 l46 -166 214 0 c181 0 213 2 213\n15 0 12 -32 15 -202 17 l-203 3 -41 149 c-41 145 -55 178 -68 158z\"/>\n<path d=\"M670 1050 l-42 -50 -94 0 -94 0 0 -60 c0 -57 1 -60 25 -60 24 0 24 0\n21 -90 l-2 -90 106 0 c69 0 110 -4 118 -12 7 -7 12 -31 12 -54 0 -34 4 -44 21\n-49 11 -4 18 -9 16 -12 -3 -2 -14 0 -26 6 -15 8 -21 23 -23 59 l-3 47 -107 2\n-108 2 -2 -37 c-1 -20 0 -54 1 -74 2 -35 0 -38 -23 -38 -25 0 -26 -2 -26 -60\nl0 -60 599 0 599 0 7 37 c3 20 3 79 0 130 l-7 93 108 0 109 -1 105 -146 c97\n-135 130 -172 130 -144 0 6 -45 73 -100 150 -55 77 -100 146 -100 155 0 14\n-18 16 -126 16 l-127 0 7 110 c4 60 4 125 0 145 l-6 35 -485 0 -484 0 27 35\n26 35 269 0 c232 0 269 2 269 15 0 13 -37 15 -274 15 l-274 0 -42 -50z m900\n-90 c0 -18 -7 -20 -75 -20 -68 0 -75 2 -75 20 0 18 7 20 75 20 68 0 75 -2 75\n-20z m55 -120 l1 -135 -3 133 c-3 108 -6 132 -18 132 -12 0 -15 -21 -15 -122\nl0 -123 -57 0 -58 0 -5 85 c-5 84 -5 85 -32 88 l-28 3 -2 -93 -2 -93 -3 92 -4\n92 -32 4 c-18 2 -2 5 34 5 72 2 79 -3 79 -56 0 -26 2 -27 50 -24 l50 4 0 67\nc0 72 5 84 30 79 13 -3 15 -25 15 -138z m-645 115 c0 -6 -197 -105 -207 -104\n-6 0 194 106 205 108 1 1 2 -1 2 -4z m73 -12 c-13 -2 -33 -2 -45 0 -13 2 -3 4\n22 4 25 0 35 -2 23 -4z m85 -10 c-10 -2 -28 -2 -40 0 -13 2 -5 4 17 4 22 1 32\n-1 23 -4z m85 -10 c-13 -2 -33 -2 -45 0 -13 2 -3 4 22 4 25 0 35 -2 23 -4z\nm90 -10 c-13 -2 -33 -2 -45 0 -13 2 -3 4 22 4 25 0 35 -2 23 -4z m-700 -50\nc-7 -2 -19 -2 -25 0 -7 3 -2 5 12 5 14 0 19 -2 13 -5z m536 -8 c80 -41 43\n-165 -49 -165 -33 0 -80 53 -80 90 0 22 9 41 29 61 33 32 58 36 100 14z m-406\n-17 c-19 -9 -23 -19 -23 -54 0 -24 -3 -45 -7 -47 -5 -3 -6 16 -5 41 4 45 22\n73 46 71 6 0 1 -5 -11 -11z m120 -5 l-33 -4 0 -111 0 -110 78 2 c42 2 83 2 90\n1 21 -2 3 -21 -19 -21 -11 0 -18 -4 -14 -9 3 -5 1 -12 -5 -16 -5 -3 -10 0 -10\n8 0 20 -23 27 -78 26 -46 -2 -46 -2 -12 -9 30 -6 31 -8 9 -9 -15 0 -40 6 -55\n14 -20 10 -23 15 -11 15 15 0 17 12 17 108 0 60 3 112 7 115 3 4 20 6 37 5\nl31 -1 -32 -4z m127 -93 c0 -5 -7 -10 -15 -10 -8 0 -15 5 -15 10 0 6 7 10 15\n10 8 0 15 -4 15 -10z m63 -81 c-17 -17 -37 -1 -22 17 8 10 15 12 23 4 7 -7 7\n-13 -1 -21z m385 -137 c27 3 27 4 30 86 l3 82 59 0 60 0 0 -120 c0 -99 3 -120\n15 -120 12 0 15 22 18 115 l3 115 -1 -117 c0 -111 -1 -118 -20 -118 -18 0 -20\n8 -23 73 -3 66 -5 72 -25 73 -12 0 -34 2 -49 3 -25 1 -28 -2 -28 -29 0 -46\n-16 -55 -89 -53 -42 1 -52 3 -28 5 l37 4 2 87 2 87 3 -88 4 -88 27 3z m-300\n106 c11 -13 21 -27 21 -33 -1 -20 -33 -45 -58 -44 -25 1 -24 2 4 8 25 5 30 11\n30 35 0 36 -27 56 -52 40 -12 -8 -17 -23 -16 -45 1 -23 -1 -28 -8 -18 -13 21\n-11 40 8 61 22 24 45 23 71 -4z m-258 -108 c52 -27 91 -49 85 -49 -5 0 -53 22\n-105 49 -52 27 -90 49 -85 49 6 0 53 -22 105 -49z m-267 33 c-7 -2 -19 -2 -25\n0 -7 3 -2 5 12 5 14 0 19 -2 13 -5z m662 -53 c-27 -5 -66 -8 -85 -8 -32 1 -31\n2 10 8 25 4 63 7 85 7 38 0 37 0 -10 -7z m-142 -17 c-13 -2 -33 -2 -45 0 -13\n2 -3 4 22 4 25 0 35 -2 23 -4z m-90 -10 c-13 -2 -33 -2 -45 0 -13 2 -3 4 22 4\n25 0 35 -2 23 -4z m527 -13 c0 -18 -7 -20 -75 -20 -68 0 -75 2 -75 20 0 18 7\n20 75 20 68 0 75 -2 75 -20z\"/>\n<path d=\"M1055 835 c-16 -15 -25 -36 -25 -55 0 -38 39 -80 74 -80 39 0 79 41\n79 80 0 24 -7 40 -27 57 -35 30 -71 29 -101 -2z\"/>\n<path d=\"M665 370 c-3 -5 36 -67 87 -137 l93 -128 318 -3 c278 -2 317 0 317\n13 0 13 -40 15 -309 15 l-309 0 -89 125 c-48 68 -91 125 -95 125 -4 0 -10 -4\n-13 -10z\"/>\n</g>\n</svg>\n","clickableShapes":[],"javascriptHandlers":[],"smilAnimations":[],"bindings":[],"showCoordinates":false,"autoFormatAfterEdit":false,"showBrowserErrors":false,"showBrowserEvents":false,"enableJsDebugging":false,"sendMsgWhenLoaded":false,"outputField":"payload","editorUrl":"//drawsvg.org/drawsvg.html","directory":"","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"name":"","x":630,"y":2340,"wires":[[]]},{"id":"25e965fd.0f69fa","type":"inject","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":130,"y":240,"wires":[["ce345651.a299a8","3cb89d54.0f61f2","b3307949.62bb58","4a53b186.b32b7","b49f317b.fbaff","7081929a.2bf4cc","5d22d5de.f9600c","fd4b703d.85a77","f0752039.dd654"]]},{"id":"ce345651.a299a8","type":"function","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"Get map data","func":"let query       = 'SELECT * FROM map';\nmsg.topic       = query;\nmsg.queryType   = 'MAP'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":100,"wires":[["44dfa3e9.94b0fc"]]},{"id":"44dfa3e9.94b0fc","type":"mysql","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","mydb":"24f07f77.93bb3","name":"","x":610,"y":200,"wires":[["a35c1448.f88658"]]},{"id":"3cb89d54.0f61f2","type":"function","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"Get AGV data","func":"let query       = \"SELECT * FROM agv\";\nmsg.topic       = query;\nmsg.queryType   = 'AGV';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":140,"wires":[["44dfa3e9.94b0fc"]]},{"id":"1a4531f8.c5e48e","type":"function","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"Set agvInfo","func":"let result  = msg.payload;\n\nlet allData = global.get('database');\nif(!allData) allData = {};\n\nlet agvInfo = {};\nfor(let i in result) {\n    agvInfo[result[i].id] = result[i];\n}\nglobal.set('database.agvInfo', agvInfo);\n\nmsg = {};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":80,"wires":[["75e6858.c324e7c"]]},{"id":"a35c1448.f88658","type":"switch","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"Query type","property":"queryType","propertyType":"msg","rules":[{"t":"eq","v":"MAP","vt":"str"},{"t":"eq","v":"AGV","vt":"str"},{"t":"eq","v":"POD","vt":"str"},{"t":"eq","v":"CHARGER","vt":"str"},{"t":"eq","v":"STATION","vt":"str"},{"t":"eq","v":"BARRIER","vt":"str"},{"t":"eq","v":"MAP_SIZE","vt":"str"},{"t":"eq","v":"WAITING_ZONE","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":750,"y":200,"wires":[["3bfeb906.068ac6"],["1a4531f8.c5e48e"],["2cfdfaac.c6f6f6"],["40abf381.91f52c"],["8a09aa72.4d2bc8"],["a56219d8.d37068"],["d8fb32cf.8c764"],["89f657ce.0bfdf8"]]},{"id":"3bfeb906.068ac6","type":"function","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"Set map info","func":"let result  = msg.payload;\n\nlet allData = global.get('database');\nif(!allData) allData = {};\n\nlet mapInfo = {};\nfor(let i in result) {\n    mapInfo[result[i].id] = result[i];\n}\nglobal.set('database.mapInfo', mapInfo);\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":990,"y":40,"wires":[]},{"id":"b3307949.62bb58","type":"function","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"Get POD data","func":"let query       = \"SELECT * FROM pod\";\nmsg.topic       = query;\nmsg.queryType   = 'POD';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":180,"wires":[["44dfa3e9.94b0fc"]]},{"id":"2cfdfaac.c6f6f6","type":"function","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"Set podInfo","func":"let result  = msg.payload;\n\nlet allData = global.get('database');\nif(!allData) allData = {};\n\nlet podInfo = {};\nfor(let i in result) {\n    podInfo[result[i].id] = result[i];\n}\nglobal.set('database.podInfo', podInfo);\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":990,"y":120,"wires":[]},{"id":"4a53b186.b32b7","type":"function","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"Get Charger data","func":"let query       = \"SELECT * FROM charger\";\nmsg.topic       = query;\nmsg.queryType   = 'CHARGER';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":220,"wires":[["44dfa3e9.94b0fc"]]},{"id":"40abf381.91f52c","type":"function","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"Set chargerInfo","func":"let result  = msg.payload;\n\nlet allData = global.get('database');\nif(!allData) allData = {};\n\nlet chargerInfo = {};\nfor(let i in result) {\n    chargerInfo[result[i].id] = result[i];\n}\nglobal.set('database.chargerInfo', chargerInfo);\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1000,"y":160,"wires":[]},{"id":"b49f317b.fbaff","type":"function","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"Get Station data","func":"let query       = \"SELECT * FROM station\";\nmsg.topic       = query;\nmsg.queryType   = 'STATION';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":260,"wires":[["44dfa3e9.94b0fc"]]},{"id":"7081929a.2bf4cc","type":"function","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"Get obstacle data","func":"let query       = \"SELECT * FROM barrier\";\nmsg.topic       = query;\nmsg.queryType   = 'BARRIER';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":300,"wires":[["44dfa3e9.94b0fc"]]},{"id":"a56219d8.d37068","type":"function","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"Set barrierInfo","func":"let result  = msg.payload;\n\nlet allData = global.get('database');\nif(!allData) allData = {};\n\nlet barrierInfo = {};\nfor(let i in result) {\n    barrierInfo[result[i].id] = result[i];\n}\nglobal.set('database.barrierInfo', barrierInfo);\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1000,"y":240,"wires":[]},{"id":"1be82182.0ca97e","type":"catch","z":"3a995584.ab3d9a","g":"8c429322.ad132","name":"Database e","scope":["44dfa3e9.94b0fc"],"uncaught":false,"x":150,"y":640,"wires":[["d2b66545.f820d8"]]},{"id":"d2b66545.f820d8","type":"delay","z":"3a995584.ab3d9a","g":"8c429322.ad132","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":640,"wires":[["9b1a4e84.be7"]]},{"id":"81a506fe.6ac608","type":"link in","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"Database in","links":["9b1a4e84.be7"],"x":130,"y":240,"wires":[["ce345651.a299a8","3cb89d54.0f61f2","b3307949.62bb58","4a53b186.b32b7","b49f317b.fbaff","7081929a.2bf4cc","5d22d5de.f9600c","f0752039.dd654"]],"l":true},{"id":"9b1a4e84.be7","type":"link out","z":"3a995584.ab3d9a","g":"8c429322.ad132","name":"Reconnect to database","links":["81a506fe.6ac608"],"x":690,"y":640,"wires":[],"l":true},{"id":"1c188815.7505d8","type":"change","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"Query done","rules":[{"t":"set","p":"systemInfo.queryComplete","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":80,"wires":[["8fefdd8f.bb592","fd83d77d.7b5cd8"]]},{"id":"75e6858.c324e7c","type":"delay","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":80,"wires":[["1c188815.7505d8"]]},{"id":"3d0c4e7b.5a0822","type":"link in","z":"4c37ea4.c7cd314","g":"4925c1b4.36c01","name":"Display Map","links":["78550bd3.32cdc4"],"x":370,"y":120,"wires":[["7c5bfb1a.c1ed04"]],"l":true},{"id":"5d22d5de.f9600c","type":"function","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"Get map size data","func":"let query       = \"SELECT MAX(x), MAX(y) FROM map\";\nmsg.topic       = query;\nmsg.queryType   = 'MAP_SIZE';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":340,"wires":[["44dfa3e9.94b0fc"]]},{"id":"8a09aa72.4d2bc8","type":"function","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"Set stationInfo","func":"let result  = msg.payload;\n\nlet allData = global.get('database');\nif(!allData) allData = {};\n\nlet stationInfo = {};\nfor(let i in result) {\n    stationInfo[result[i].id] = result[i];\n}\nglobal.set('database.stationInfo', stationInfo);\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1000,"y":200,"wires":[]},{"id":"d8fb32cf.8c764","type":"function","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"Set map size","func":"let result  = msg.payload[0];\n\nlet mapSize = {};\nmapSize.x   = result[\"MAX(x)\"] + 1;\nmapSize.y   = result[\"MAX(y)\"] + 1;\n\nglobal.set('database.mapSize', mapSize);\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":990,"y":280,"wires":[]},{"id":"fd4b703d.85a77","type":"template","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"global map template","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"Line\": {\n        \"command\": \"add_element\",\n        \"elementType\": \"line\",\n        \"elementId\": \"\",\n        \"elementAttributes\": {\n            \"x1\": \"\",\n            \"y1\": \"\",\n            \"x2\": \"\",\n            \"y2\": \"\"\n        },\n        \"elementStyleAttributes\": {\n            \"fill\": \"\",\n            \"stroke\": \"\",\n            \"stroke-width\": \"\"\n        }\n    },\n    \"Remove\": {\n        \"command\": \"remove_element\",\n        \"elementId\": \"\"\n    },\n    \"Round\": {\n        \"command\": \"add_element\",\n        \"elementType\": \"circle\",\n        \"elementId\": \"\",\n        \"elementAttributes\": {\n            \"cx\": \"\",\n            \"cy\": \"\",\n            \"r\": \"\"\n        },\n        \"elementStyleAttributes\": {\n            \"fill\": \"black\",\n            \"stroke\": \"black\",\n            \"stroke-width\": \"1px\"\n        }\n    },\n    \"Square\": {\n        \"command\": \"add_element\",\n        \"elementType\": \"rect\",\n        \"elementId\": \"\",\n        \"elementAttributes\": {\n            \"x\": \"\",\n            \"y\": \"\",\n            \"width\": \"\",\n            \"height\": \"\"\n        },\n        \"elementStyleAttributes\": {\n            \"fill\": \"\",\n            \"stroke\": \"\",\n            \"stroke-width\": \"\"\n        }\n    },\n    \"ClearMap\": {\n        \"command\": \"remove_element\",\n        \"selector\": \"[id^=map]\"\n    },\n    \"ForeignObject\": {\n       \"command\": \"add_element\", \n       \"elementType\": \"foreignObject\",\n       \"elementId\": \"\", \n       \"elementAttributes\": {\n          \"x\": \"\",\n          \"y\": \"\",\n          \"height\": \"\",\n          \"width\": \"\"\n       },\n       \"textContent\": \"\"\n    },\n    \"SetAttribute\": {\n        \"command\": \"update_style\",\n        \"selector\": \"\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"\"\n    }\n}","output":"str","x":420,"y":420,"wires":[["a3abfa19.d44738"]]},{"id":"a3abfa19.d44738","type":"function","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"global map template","func":"let json = JSON.parse(msg.payload);\nglobal.set('mapTemplate', json);\nmsg = {};\nmsg.payload = json\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":420,"wires":[["9aa00e2.ba24df"]]},{"id":"7c5bfb1a.c1ed04","type":"function","z":"4c37ea4.c7cd314","g":"4925c1b4.36c01","name":"Draw map","func":"const mapDashboardHeight    = 680;\nconst mapDashboardWidth     = 800;\nconst BLOCKED_CLOOR         = '#ffffcc'\nconst GRID_COLOR            = '#b3b3b3'\n\nlet commonFunction  = global.get('commonFunction');\nlet svgTemplate     = global.get('map_template');\nlet gridSize        = 0;\nlet data            = global.get('database');\nlet mapSize         = data.mapSize;\nlet floorGrid       = data.mapInfo;\n\n// SVG draw command\nlet drawCommand     = [];\ndrawCommand.push(global.get('mapTemplate.ClearMap'));\n\n\n// Determine fit width or height\n// Fit width\nif (mapDashboardWidth/mapSize.x < mapDashboardHeight/mapSize.y) {\n    gridSize = Math.floor(mapDashboardWidth/mapSize.x);\n}\n// Fit height\nelse {\n    gridSize = Math.floor(mapDashboardHeight/mapSize.y);\n}\n\n// Draw grid floor\nfor(let gridUnit in floorGrid) {\n    let id              = `map_floor_${gridUnit}`;\n    let x               = floorGrid[gridUnit].x * gridSize;\n    let y               = floorGrid[gridUnit].y * gridSize;\n    let height          = gridSize;\n    let width           = gridSize;\n    let fill            = 'none';\n    if(floorGrid[gridUnit].is_active === 1) {\n        fill            = GRID_COLOR;\n    }\n    if(floorGrid[gridUnit].is_blocked === 1) {\n        fill            = BLOCKED_CLOOR;\n    }\n    let stroke          = 'gray';\n    let stroke_width    = '1px';\n    let newGridFlow = commonFunction.drawSquare(id, x, y, height, width, fill, stroke, stroke_width);\n    drawCommand.push(newGridFlow);\n}\n\n// Display POD\nlet podList = data.podInfo;\nfor(let eachPod in podList) {\n    let podId       = `map_pod_${eachPod}`;\n    let podNodeId   = podList[eachPod].node_id;\n    \n    if(!podNodeId) continue;\n    \n    let podX        = floorGrid[podNodeId].x * gridSize;\n    let podY        = floorGrid[podNodeId].y * gridSize;\n    let podColor    = '#0066ff';\n    let newPod      = commonFunction.addPod(podId, podX, podY, gridSize, gridSize, podColor, gridSize);\n    drawCommand.push(newPod);\n}\n\n// Display station\nlet stationList = data.stationInfo;\nfor(let eachStation in stationList) {\n    let stationId       = `map_station_${eachStation}`;\n    let stationNodeId   = stationList[eachStation].node_id;\n    \n    if(!stationNodeId) continue;\n    \n    let stationX        = floorGrid[stationNodeId].x * gridSize;\n    let stationY        = floorGrid[stationNodeId].y * gridSize;\n    let stationColor    = '#595959';\n    let newStation      = commonFunction.addStation(stationId, stationX, stationY, gridSize, gridSize, stationColor, gridSize);\n    drawCommand.push(newStation);\n}\n\n// Display waitingZone\nlet waitingZoneList = data.waitingZoneInfo;\nfor(let eachWaitingZone in waitingZoneList) {\n    let waitingZoneId       = `map_waitingZone_${eachWaitingZone}`;\n    let waitingZoneNodeId   = waitingZoneList[eachWaitingZone].node_id;\n    \n    if(!waitingZoneNodeId) continue;\n    \n    let waitingZoneX        = floorGrid[waitingZoneNodeId].x * gridSize;\n    let waitingZoneY        = floorGrid[waitingZoneNodeId].y * gridSize;\n    let waitingZoneColor    = '#737373';\n    let newWaitingZone      = commonFunction.addWaitingZone(waitingZoneId, waitingZoneX, waitingZoneY, gridSize, gridSize, waitingZoneColor, gridSize);\n    drawCommand.push(newWaitingZone);\n}\n\n// Display barriers\nlet barrierList = data.barrierInfo;\nfor(let eachBarrier in barrierList) {\n    let barrierId       = `map_barrier_${eachBarrier}`;\n    let barrierNodeId   = barrierList[eachBarrier].node_id;\n    if(barrierNodeId === undefined) continue;\n    \n    let barrierX        = floorGrid[barrierNodeId].x * gridSize;\n    let barrierY        = floorGrid[barrierNodeId].y * gridSize;\n    let barrierColor    = '#737373';\n    let newBarrier      = commonFunction.addBarrier(barrierId, barrierX, barrierY, gridSize, gridSize, barrierColor, gridSize);\n    drawCommand.push(newBarrier);\n}\n\n// Display AGVs\nlet agvList = data.agvInfo;\nfor(let eachAgv in agvList) {\n    let agvId       = `map_agv_${eachAgv}`;\n    let agvNodeId   = agvList[eachAgv].node_id;\n    if(agvNodeId === undefined) continue;\n    \n    let agvX        = floorGrid[agvNodeId].x * gridSize;\n    let agvY        = floorGrid[agvNodeId].y * gridSize;\n    let agvOrient   = agvList[eachAgv].orientation;\n    let agvColor    = '#737373';\n    let newAgv      = commonFunction.addAgv(agvId, agvX, agvY, gridSize, gridSize,agvOrient, agvColor, gridSize);\n    drawCommand.push(newAgv);\n}\n\n// Display charger\nlet chargerList = data.chargerInfo;\nfor(let eachCharger in chargerList) {\n    let chargerId       = `map_charger_${eachCharger}`;\n    let chargerNodeId   = chargerList[eachCharger].node_id;\n    if(chargerNodeId === undefined) continue;\n    \n    let chargerX        = floorGrid[chargerNodeId].x * gridSize;\n    let chargerY        = floorGrid[chargerNodeId].y * gridSize;\n    let chargerColor    = '#408000';\n    let newCharger      = commonFunction.addCharger(chargerId, chargerX, chargerY, gridSize, gridSize, chargerColor, gridSize);\n    drawCommand.push(newCharger);\n}\n\n\n\n\n\n// addCharger(id, xPos, yPos, width, height, color, grid)\nmsg.payload = drawCommand;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":120,"wires":[["9c3ed8f0.6deb28","66e7b1e0.72cf8"]]},{"id":"4a1429ae.a0f7a8","type":"inject","z":"4c37ea4.c7cd314","g":"4925c1b4.36c01","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":80,"wires":[["7c5bfb1a.c1ed04"]]},{"id":"9c3ed8f0.6deb28","type":"debug","z":"4c37ea4.c7cd314","g":"4925c1b4.36c01","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":80,"wires":[]},{"id":"9aa00e2.ba24df","type":"function","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"common function","func":"let json            = JSON.parse(JSON.stringify(global.get('mapTemplate')));\nlet commonFunction  = {};\n\ncommonFunction.drawSquare = function drawSquare(id, x, y, height, width, fill, stroke, stroke_width){\n    let square = JSON.parse(JSON.stringify(json.Square));\n    square.elementId = id;\n    square.elementAttributes.x = x;\n    square.elementAttributes.y = y;\n    square.elementAttributes.width = width;\n    square.elementAttributes.height = height;\n    square.elementStyleAttributes.fill = fill;\n    square.elementStyleAttributes.stroke = stroke;\n    square.elementStyleAttributes[\"stroke-width\"] = String(stroke_width) + \"px\";\n    return square;\n}\n\ncommonFunction.drawLine = function drawLine(id, x1, y1, x2 ,y2, stroke, stroke_width){\n    let line = JSON.parse(JSON.stringify(json.Line));\n    line.elementId = String(id);\n    line.elementAttributes.x1 = x1;\n    line.elementAttributes.y1 = y1;\n    line.elementAttributes.x2 = x2;\n    line.elementAttributes.y2 = y2;\n    line.elementStyleAttributes.stroke = stroke;\n    line.elementStyleAttributes[\"stroke-width\"] = String(stroke_width) + \"px\";\n    return line;\n}\n\ncommonFunction.addForeignObject = function addForeignObject(id, x, y, width, height, newObject){\n    // let foreignObject = `<foreignObject x=\"${x}\" y=\"${y}\" height=\"${height}\" width=\"${width}\">${newObject}</foreignObject>`\n    let foreignObjectTemplate                       = JSON.parse(JSON.stringify(json.ForeignObject));\n    foreignObjectTemplate.elementId                 = String(id);\n    foreignObjectTemplate.elementAttributes.x       = x;\n    foreignObjectTemplate.elementAttributes.y       = y;\n    foreignObjectTemplate.elementAttributes.height  = height;\n    foreignObjectTemplate.elementAttributes.width   = width;\n    foreignObjectTemplate.textContent               = newObject;\n    return foreignObjectTemplate;\n}\n\ncommonFunction.changeColor = function changeColor(id, color) {\n    let change = JSON.parse(JSON.stringify(json.SetAttribute));\n    change.selector = \"#ID_\" + String(id);\n    change.attributeValue = color;\n    return change;\n}\n\ncommonFunction.addPod = function addPod(id, xPos, yPos, width, height, color, grid) {\n    let scaleX = width / grid;\n    let scaleY = height / grid;\n    // Dummy data\n    // TODO: Find the equation to calculator scale coefficiants\n    scaleX = 0.045;\n    scaleY = -0.045;\n    \n    // let podTemplate = `<svg version=\"1.0\" width=\"100%\" height=\"100%\"> <g transform=\"translate(${xPos},${yPos}) scale(${scaleX},${scaleY})\" fill=\"${color}\" stroke=\"none\"> <path d=\"M320 1275 l0 -155 188 2 187 3 0 150 0 150 -57 3 -58 3 0 -56 c0 -55 -6 -65 -28 -43 -9 9 -16 8 -30 -5 -17 -16 -21 -16 -32 -2 -9 11 -17 12 -31 4 -18 -9 -19 -6 -19 46 l0 55 -60 0 -60 0 0 -155z\"/> <path d=\"M749 1305 c-1 -69 -1 -134 -1 -145 0 -11 0 -24 1 -30 2 -16 368 -13 373 3 4 9 3 169 -2 290 0 4 -26 7 -57 5 l-58 -3 1 -52 c1 -54 -3 -62 -24 -41 -9 9 -16 8 -30 -5 -17 -15 -19 -15 -35 0 -13 13 -19 15 -29 5 -21 -21 -25 -14 -24 41 l1 52 -57 3 -58 3 -1 -126z\"/> <path d=\"M304 1046 c-3 -7 -4 -42 -2 -77 l3 -64 630 0 630 0 0 65 c1 36 -1 71 -3 78 -6 19 -1250 18 -1258 -2z m544 -69 l3 -27 -188 2 c-180 3 -188 4 -188 23 0 26 47 33 230 31 l140 -1 3 -28z m542 3 l0 -30 -185 0 -185 0 0 23 c0 13 2 26 4 28 2 2 86 5 185 7 l181 2 0 -30z\"/> <path d=\"M320 685 l0 -155 188 2 187 3 0 150 0 150 -57 3 -58 3 0 -56 c0 -55 -6 -65 -28 -43 -9 9 -16 8 -30 -5 -17 -16 -21 -16 -32 -2 -9 11 -17 12 -31 4 -18 -9 -19 -6 -19 46 l0 55 -60 0 -60 0 0 -155z\"/> <path d=\"M750 830 c-1 -5 -1 -71 -1 -145 0 -74 0 -139 1 -145 0 -16 370 -13 370 3 0 7 1 72 3 145 2 72 0 137 -3 143 -4 6 -30 9 -61 7 l-53 -3 0 -52 c1 -54 -3 -62 -24 -41 -9 9 -16 8 -30 -5 -17 -15 -19 -15 -35 0 -13 13 -19 15 -29 5 -21 -21 -25 -13 -24 41 l1 52 -57 3 c-36 2 -58 -1 -58 -8z\"/> <path d=\"M1177 833 c-4 -3 -7 -73 -7 -155 l0 -148 190 0 191 0 -3 153 -3 152 -57 3 -58 3 0 -56 c0 -51 -10 -69 -25 -44 -5 7 -14 4 -26 -7 -18 -16 -20 -16 -38 0 -12 11 -21 14 -26 7 -15 -25 -25 -7 -25 44 l0 55 -53 0 c-30 0 -57 -3 -60 -7z\"/> <path d=\"M304 456 c-3 -7 -4 -42 -2 -77 l3 -64 628 -3 c345 -1 627 1 628 5 4 28 5 130 1 141 -7 19 -1250 18 -1258 -2z m544 -69 l3 -27 -188 2 c-201 3 -190 0 -184 49 1 7 59 9 184 7 l182 -3 3 -28z m542 2 l0 -29 -185 0 -185 0 0 24 c0 32 9 34 208 34 l162 0 0 -29z\"/> </g> </svg>`\n    let podTemplate = `<svg version=\"1.0\" width=\"100%\" height=\"100%\"> <g transform=\"translate(${-5},${grid}) scale(${scaleX},${scaleY})\" fill=\"${color}\" stroke=\"none\"> <path d=\"M320 1275 l0 -155 188 2 187 3 0 150 0 150 -57 3 -58 3 0 -56 c0 -55 -6 -65 -28 -43 -9 9 -16 8 -30 -5 -17 -16 -21 -16 -32 -2 -9 11 -17 12 -31 4 -18 -9 -19 -6 -19 46 l0 55 -60 0 -60 0 0 -155z\"/> <path d=\"M749 1305 c-1 -69 -1 -134 -1 -145 0 -11 0 -24 1 -30 2 -16 368 -13 373 3 4 9 3 169 -2 290 0 4 -26 7 -57 5 l-58 -3 1 -52 c1 -54 -3 -62 -24 -41 -9 9 -16 8 -30 -5 -17 -15 -19 -15 -35 0 -13 13 -19 15 -29 5 -21 -21 -25 -14 -24 41 l1 52 -57 3 -58 3 -1 -126z\"/> <path d=\"M304 1046 c-3 -7 -4 -42 -2 -77 l3 -64 630 0 630 0 0 65 c1 36 -1 71 -3 78 -6 19 -1250 18 -1258 -2z m544 -69 l3 -27 -188 2 c-180 3 -188 4 -188 23 0 26 47 33 230 31 l140 -1 3 -28z m542 3 l0 -30 -185 0 -185 0 0 23 c0 13 2 26 4 28 2 2 86 5 185 7 l181 2 0 -30z\"/> <path d=\"M320 685 l0 -155 188 2 187 3 0 150 0 150 -57 3 -58 3 0 -56 c0 -55 -6 -65 -28 -43 -9 9 -16 8 -30 -5 -17 -16 -21 -16 -32 -2 -9 11 -17 12 -31 4 -18 -9 -19 -6 -19 46 l0 55 -60 0 -60 0 0 -155z\"/> <path d=\"M750 830 c-1 -5 -1 -71 -1 -145 0 -74 0 -139 1 -145 0 -16 370 -13 370 3 0 7 1 72 3 145 2 72 0 137 -3 143 -4 6 -30 9 -61 7 l-53 -3 0 -52 c1 -54 -3 -62 -24 -41 -9 9 -16 8 -30 -5 -17 -15 -19 -15 -35 0 -13 13 -19 15 -29 5 -21 -21 -25 -13 -24 41 l1 52 -57 3 c-36 2 -58 -1 -58 -8z\"/> <path d=\"M1177 833 c-4 -3 -7 -73 -7 -155 l0 -148 190 0 191 0 -3 153 -3 152 -57 3 -58 3 0 -56 c0 -51 -10 -69 -25 -44 -5 7 -14 4 -26 -7 -18 -16 -20 -16 -38 0 -12 11 -21 14 -26 7 -15 -25 -25 -7 -25 44 l0 55 -53 0 c-30 0 -57 -3 -60 -7z\"/> <path d=\"M304 456 c-3 -7 -4 -42 -2 -77 l3 -64 628 -3 c345 -1 627 1 628 5 4 28 5 130 1 141 -7 19 -1250 18 -1258 -2z m544 -69 l3 -27 -188 2 c-201 3 -190 0 -184 49 1 7 59 9 184 7 l182 -3 3 -28z m542 2 l0 -29 -185 0 -185 0 0 24 c0 32 9 34 208 34 l162 0 0 -29z\"/> </g> </svg>`\n    let newPod = commonFunction.addForeignObject(id, xPos, yPos, width, height, podTemplate);\n    return newPod;\n}\n\ncommonFunction.addStation = function addStation(id, xPos, yPos, width, height, color, grid) {\n    let scaleX = width / grid;\n    let scaleY = height / grid;\n    // Dummy data\n    // TODO: Find the equation to calculator scale coefficiants\n    scaleX = 0.045;\n    scaleY = -0.045;\n    \n    let stationTemplate = `<svg version=\"1.0\" width=\"100%\" height=\"100%\"> <g transform=\"translate(${-20},${grid + 10}) scale(${scaleX},${scaleY})\" fill=\"${color}\" stroke=\"none\"> <path d=\"M730 1608 c-5 -13 -8 -146 -7 -296 2 -230 4 -274 17 -282 23 -15 703 -13 718 2 17 17 17 569 0 586 -8 8 -49 12 -120 12 l-108 0 0 -110 c0 -60 -3 -110 -7 -110 -4 0 -20 12 -35 27 l-28 27 -32 -32 -32 -32 -33 32 -33 32 -28 -27 c-15 -15 -31 -27 -35 -27 -4 0 -7 50 -7 110 l0 110 -110 0 c-105 0 -111 -1 -120 -22z\"/> <path d=\"M1767 1424 c-4 -4 -7 -25 -7 -46 l0 -38 -80 0 -80 0 0 -55 0 -55 170 0 c111 0 170 4 170 10 0 9 -35 49 -150 173 -9 10 -19 14 -23 11z\"/> <path d=\"M579 965 c-1 0 -2 -15 -4 -32 l-3 -33 63 0 63 0 -3 33 c-2 32 -2 32 -59 32 -31 0 -56 0 -57 0z\"/> <path d=\"M730 933 l0 -33 100 0 100 0 0 30 c0 17 -3 30 -7 31 -5 0 -50 1 -101 2 l-92 2 0 -32z\"/> <path d=\"M964 961 c-2 -2 -4 -17 -4 -33 l0 -28 103 0 103 0 -1 32 -2 33 -97 0 c-54 0 -100 -2 -102 -4z\"/> <path d=\"M1200 933 l0 -33 101 0 100 0 -3 33 -3 32 -97 0 -98 0 0 -32z\"/> <path d=\"M1439 965 c0 0 -2 -15 -3 -32 l-4 -33 102 0 102 0 -1 33 0 32 -97 0 c-54 1 -98 1 -99 0z\"/> <path d=\"M1676 963 c-3 -4 -6 -19 -6 -35 l0 -28 100 0 100 0 0 33 0 34 -94 1 c-51 0 -96 -2 -100 -5z\"/> <path d=\"M1909 966 c0 -1 -1 -16 -2 -34 l-2 -32 58 0 57 0 0 33 0 34 -55 0 c-30 0 -55 -1 -56 -1z\"/> <path d=\"M762 864 c-32 -22 -30 -69 4 -91 24 -15 29 -15 53 -2 36 20 41 71 9 93 -28 20 -38 20 -66 0z\"/> <path d=\"M962 864 c-43 -30 -16 -104 39 -104 43 0 65 73 31 103 -23 21 -41 21 -70 1z\"/> <path d=\"M1160 860 c-26 -26 -25 -55 1 -81 26 -26 57 -21 82 12 16 23 17 30 7 50 -24 44 -58 51 -90 19z\"/> <path d=\"M1360 860 c-11 -11 -20 -29 -20 -40 0 -11 9 -29 20 -40 11 -11 29 -20 40 -20 11 0 29 9 40 20 11 11 20 29 20 40 0 11 -9 29 -20 40 -11 11 -29 20 -40 20 -11 0 -29 -9 -40 -20z\"/> <path d=\"M1569 867 c-28 -21 -31 -52 -8 -80 11 -15 29 -27 40 -27 25 0 59 35 59 60 0 25 -34 60 -57 60 -10 0 -25 -6 -34 -13z\"/> <path d=\"M1772 864 c-32 -22 -30 -69 4 -91 24 -15 29 -15 53 -2 36 20 41 71 9 93 -28 20 -38 20 -66 0z\"/> <path d=\"M576 708 l1 -32 58 -1 58 0 2 33 1 32 -60 0 -61 0 1 -32z\"/> <path d=\"M730 708 l0 -33 98 0 97 0 3 33 3 32 -100 0 -101 0 0 -32z\"/> <path d=\"M962 708 l3 -33 99 0 99 0 2 33 1 32 -103 0 -104 0 3 -32z\"/> <path d=\"M1200 707 l0 -34 98 3 97 3 3 30 3 31 -100 0 -101 0 0 -33z\"/> <path d=\"M1436 708 l1 -33 98 1 99 2 1 31 1 31 -100 0 -101 0 1 -32z\"/> <path d=\"M1670 706 l0 -34 100 1 100 0 0 34 0 33 -100 0 -100 0 0 -34z\"/> <path d=\"M1905 709 c2 -31 3 -32 59 -34 l56 -2 0 34 0 33 -59 0 -59 0 3 -31z\"/> </g> </svg>`;\n    // let stationTemplate = `<svg version=\"1.0\" width=\"100%\" height=\"100%\"> <g transform=\"translate(${-5},${grid}) scale(${scaleX},${scaleY})\" fill=\"${color}\" stroke=\"none\"> <path d=\"M320 1275 l0 -155 188 2 187 3 0 150 0 150 -57 3 -58 3 0 -56 c0 -55 -6 -65 -28 -43 -9 9 -16 8 -30 -5 -17 -16 -21 -16 -32 -2 -9 11 -17 12 -31 4 -18 -9 -19 -6 -19 46 l0 55 -60 0 -60 0 0 -155z\"/> <path d=\"M749 1305 c-1 -69 -1 -134 -1 -145 0 -11 0 -24 1 -30 2 -16 368 -13 373 3 4 9 3 169 -2 290 0 4 -26 7 -57 5 l-58 -3 1 -52 c1 -54 -3 -62 -24 -41 -9 9 -16 8 -30 -5 -17 -15 -19 -15 -35 0 -13 13 -19 15 -29 5 -21 -21 -25 -14 -24 41 l1 52 -57 3 -58 3 -1 -126z\"/> <path d=\"M304 1046 c-3 -7 -4 -42 -2 -77 l3 -64 630 0 630 0 0 65 c1 36 -1 71 -3 78 -6 19 -1250 18 -1258 -2z m544 -69 l3 -27 -188 2 c-180 3 -188 4 -188 23 0 26 47 33 230 31 l140 -1 3 -28z m542 3 l0 -30 -185 0 -185 0 0 23 c0 13 2 26 4 28 2 2 86 5 185 7 l181 2 0 -30z\"/> <path d=\"M320 685 l0 -155 188 2 187 3 0 150 0 150 -57 3 -58 3 0 -56 c0 -55 -6 -65 -28 -43 -9 9 -16 8 -30 -5 -17 -16 -21 -16 -32 -2 -9 11 -17 12 -31 4 -18 -9 -19 -6 -19 46 l0 55 -60 0 -60 0 0 -155z\"/> <path d=\"M750 830 c-1 -5 -1 -71 -1 -145 0 -74 0 -139 1 -145 0 -16 370 -13 370 3 0 7 1 72 3 145 2 72 0 137 -3 143 -4 6 -30 9 -61 7 l-53 -3 0 -52 c1 -54 -3 -62 -24 -41 -9 9 -16 8 -30 -5 -17 -15 -19 -15 -35 0 -13 13 -19 15 -29 5 -21 -21 -25 -13 -24 41 l1 52 -57 3 c-36 2 -58 -1 -58 -8z\"/> <path d=\"M1177 833 c-4 -3 -7 -73 -7 -155 l0 -148 190 0 191 0 -3 153 -3 152 -57 3 -58 3 0 -56 c0 -51 -10 -69 -25 -44 -5 7 -14 4 -26 -7 -18 -16 -20 -16 -38 0 -12 11 -21 14 -26 7 -15 -25 -25 -7 -25 44 l0 55 -53 0 c-30 0 -57 -3 -60 -7z\"/> <path d=\"M304 456 c-3 -7 -4 -42 -2 -77 l3 -64 628 -3 c345 -1 627 1 628 5 4 28 5 130 1 141 -7 19 -1250 18 -1258 -2z m544 -69 l3 -27 -188 2 c-201 3 -190 0 -184 49 1 7 59 9 184 7 l182 -3 3 -28z m542 2 l0 -29 -185 0 -185 0 0 24 c0 32 9 34 208 34 l162 0 0 -29z\"/> </g> </svg>`\n    let newStation = commonFunction.addForeignObject(id, xPos, yPos, width, height, stationTemplate);\n    return newStation;\n}\n\ncommonFunction.addWaitingZone = function addWaitingZone(id, xPos, yPos, width, height, color, grid) {\n    let scaleX = width / grid;\n    let scaleY = height / grid;\n    // Dummy data\n    // TODO: Find the equation to calculator scale coefficiants\n    scaleX = 0.03;\n    scaleY = -0.03;\n    \n    let waitingZoneTemplate = `<svg version=\"1.0\" width=\"100%\" height=\"100%\"> <g transform=\"translate(${3},${grid - 2}) scale(${scaleX},${scaleY})\" fill=\"${color}\" stroke=\"none\"> <path d=\"M350 1763 c0 -5 0 -271 0 -593 0 -322 0 -591 0 -597 0 -10 54 -13 238 -13 130 0 375 -3 545 -7 246 -5 307 -9 307 -20 0 -10 -29 -13 -133 -13 -117 0 -136 -2 -150 -18 -22 -24 -21 -65 1 -85 17 -15 58 -17 388 -17 426 1 415 -1 557 94 l87 59 -2 181 -3 181 -94 51 c-53 30 -118 57 -150 63 -31 6 -62 15 -69 19 -10 7 -13 81 -13 344 0 184 -3 345 -6 356 l-5 22 -749 0 c-412 0 -749 -3 -749 -7z m620 -183 l0 -100 60 0 60 0 0 100 c0 60 4 100 10 100 6 0 10 -40 10 -100 l0 -100 60 0 60 0 0 100 0 100 270 0 270 0 0 -285 c0 -157 -3 -285 -6 -285 -3 0 -70 41 -148 90 -88 55 -154 90 -170 90 -15 0 -38 -11 -51 -25 -44 -43 -34 -65 65 -157 50 -45 90 -85 90 -89 0 -17 -121 -29 -304 -29 -191 0 -205 -1 -230 -21 -15 -12 -26 -30 -26 -44 0 -14 11 -32 26 -44 25 -20 40 -21 215 -21 163 0 188 -2 183 -15 -5 -13 -41 -15 -234 -15 -251 0 -260 -2 -260 -59 0 -57 13 -60 275 -63 180 -2 239 -6 243 -15 3 -10 -43 -13 -205 -13 -168 0 -213 -3 -229 -15 -16 -12 -68 -14 -296 -15 l-278 0 0 515 0 515 270 0 270 0 0 -100z\"/> <path d=\"M544 948 l-67 -83 36 -3 36 -3 3 -77 3 -77 58 -3 57 -3 0 81 0 80 35 0 c19 0 35 2 35 5 0 4 -29 42 -64 86 l-65 80 -67 -83z\"/> </g> </svg>`;\n    let newWatingZone = commonFunction.addForeignObject(id, xPos, yPos, width, height, waitingZoneTemplate);\n    return newWatingZone;\n}\n\ncommonFunction.addBarrier = function addBarrier(id, xPos, yPos, width, height, color, grid) {\n    let scaleX = width / grid;\n    let scaleY = height / grid;\n    // Dummy data\n    // TODO: Find the equation to calculator scale coefficiants\n    scaleX = 0.03;\n    scaleY = -0.03;\n    \n    let barrierTemplate = `<svg version=\"1.0\" width=\"100%\" height=\"100%\"> <g transform=\"translate(${5},${grid - 7}) scale(${scaleX},${scaleY})\" fill=\"${color}\" stroke=\"none\"> <path d=\"M305 1884 c-92 -48 -123 -147 -74 -234 40 -71 147 -102 219 -65 35 18 76 70 85 108 l7 27 458 0 458 0 7 -30 c8 -37 48 -86 86 -105 15 -8 49 -15 75 -15 94 0 164 70 164 164 0 58 -19 97 -67 133 l-36 28 -676 3 c-599 2 -679 0 -706 -14z\"/> <path d=\"M590 1000 l0 -621 88 3 87 3 0 615 0 615 -87 3 -88 3 0 -621z\"/> <path d=\"M915 1608 c-3 -7 -4 -285 -3 -618 l3 -605 85 0 85 0 0 615 0 615 -83 3 c-60 2 -84 -1 -87 -10z\"/> <path d=\"M1235 1608 c-3 -7 -4 -285 -3 -618 l3 -605 88 -3 87 -3 0 621 0 620 -85 0 c-59 0 -87 -4 -90 -12z\"/> <path d=\"M370 190 l0 -90 630 0 631 0 -3 88 -3 87 -627 3 -628 2 0 -90z\"/> </g> </svg>`;\n    let newBarrier = commonFunction.addForeignObject(id, xPos, yPos, width, height, barrierTemplate);\n    return newBarrier;\n}\n\ncommonFunction.addAgv = function addAgv(id, xPos, yPos, width, height, orientation, color, grid) {\n    let scaleX = width / grid;\n    let scaleY = height / grid;\n    // Dummy data\n    // TODO: Find the equation to calculator scale coefficiants\n    scaleX = 0.04;\n    scaleY = -0.04;\n    \n    let agv0Tempalate = `<svg version=\"1.0\" width=100%\" height=\"100%\"> <g transform=\"translate(${-10},${grid + 8}) scale(${scaleX},${scaleY})\" fill=\"${color}\" stroke=\"none\"> <path d=\"M472 1741 c-9 -5 -12 -25 -10 -62 l3 -54 145 0 145 0 3 48 c5 74 -1 77 -147 77 -69 0 -132 -4 -139 -9z\"/> <path d=\"M1176 1728 c-3 -13 -6 -78 -6 -145 0 -116 1 -123 20 -123 19 0 20 7 20 123 0 122 -6 167 -20 167 -4 0 -10 -10 -14 -22z\"/> <path d=\"M1631 1736 c-7 -8 -11 -36 -9 -63 l3 -48 133 -5 c74 -3 140 -1 148 3 21 12 19 113 -2 121 -9 3 -71 6 -139 6 -94 0 -125 -3 -134 -14z\"/> <path d=\"M817 1664 c-11 -11 -8 -292 3 -299 6 -3 10 -30 10 -60 0 -30 -4 -57 -10 -60 -6 -4 -10 -57 -10 -125 0 -68 4 -121 10 -125 6 -3 10 -33 10 -65 0 -32 -4 -62 -10 -65 -6 -4 -10 -55 -10 -121 0 -68 4 -114 10 -115 6 -1 19 -3 30 -4 11 -1 33 -3 49 -4 23 -1 30 -6 33 -23 3 -22 7 -23 93 -23 86 0 90 1 93 23 3 20 8 22 73 22 67 0 69 -1 69 -25 l0 -26 93 3 c87 3 92 4 95 26 3 19 9 22 47 22 76 0 75 -2 75 125 0 65 -4 116 -10 120 -5 3 -10 33 -10 65 0 32 5 62 10 65 6 4 10 57 10 125 0 68 -4 121 -10 125 -13 8 -13 108 0 121 7 7 10 66 8 155 l-3 144 -115 0 -115 0 -3 -27 c-3 -25 -7 -28 -43 -28 l-39 0 0 -71 c0 -44 4 -68 10 -64 6 4 10 -18 10 -59 0 -60 2 -66 20 -66 29 0 76 -26 84 -45 3 -9 15 -59 26 -112 l20 -95 -21 -96 c-15 -71 -27 -104 -45 -122 -24 -24 -28 -25 -164 -25 -136 0 -140 1 -164 25 -17 18 -30 52 -45 122 l-21 97 20 97 c25 120 47 153 103 154 26 0 27 1 27 59 0 33 5 63 10 66 6 3 10 35 10 71 l0 64 -39 0 c-36 0 -40 3 -43 28 l-3 27 -111 3 c-60 1 -113 -1 -117 -4z m143 -158 c0 -16 -7 -27 -20 -31 -25 -8 -50 10 -50 36 0 15 7 19 35 19 30 0 35 -3 35 -24z m530 11 c0 -7 -6 -22 -14 -33 -12 -15 -18 -17 -33 -8 -10 6 -19 21 -21 33 -3 18 1 21 32 21 23 0 36 -5 36 -13z m-400 -727 c0 -6 -28 -10 -65 -10 -37 0 -65 4 -65 10 0 6 28 10 65 10 37 0 65 -4 65 -10z m330 0 c0 -6 -28 -10 -65 -10 -37 0 -65 4 -65 10 0 6 28 10 65 10 37 0 65 -4 65 -10z m-330 -30 c0 -6 -29 -10 -66 -10 -41 0 -63 4 -59 10 3 6 33 10 66 10 33 0 59 -4 59 -10z m325 0 c4 -6 -18 -10 -59 -10 -37 0 -66 4 -66 10 0 6 26 10 59 10 33 0 63 -4 66 -10z m-325 -40 c0 -6 -26 -10 -59 -10 -33 0 -63 5 -66 10 -4 6 18 10 59 10 37 0 66 -4 66 -10z m325 0 c-3 -5 -33 -10 -66 -10 -33 0 -59 4 -59 10 0 6 29 10 66 10 41 0 63 -4 59 -10z\"/> <path d=\"M464 1546 c-3 -7 -4 -35 -2 -62 l3 -49 145 0 145 0 3 39 c2 22 1 50 -2 63 -6 23 -8 23 -147 23 -109 0 -141 -3 -145 -14z\"/> <path d=\"M1624 1547 c-3 -8 -4 -36 -2 -63 l3 -49 145 0 145 0 0 60 0 60 -143 3 c-115 2 -143 0 -148 -11z\"/> <path d=\"M1140 1392 c0 -27 2 -51 4 -53 3 -2 25 -3 50 -1 l46 4 0 49 0 49 -50 0 -50 0 0 -48z\"/> <path d=\"M464 1357 c-3 -8 -4 -36 -2 -63 l3 -49 145 0 145 0 0 60 0 60 -143 3 c-115 2 -143 0 -148 -11z\"/> <path d=\"M1624 1357 c-3 -8 -4 -36 -2 -63 l3 -49 145 0 145 0 0 60 0 60 -143 3 c-115 2 -143 0 -148 -11z\"/> <path d=\"M1063 1310 c-22 -9 -29 -26 -54 -143 -11 -50 -10 -72 5 -153 10 -52 25 -101 33 -109 20 -21 265 -22 285 -1 8 8 23 53 33 101 17 84 17 92 1 181 -25 132 -21 129 -163 131 -65 1 -128 -2 -140 -7z m166 -135 c31 -15 54 -65 44 -93 -3 -9 -15 -27 -26 -39 -40 -45 -118 -23 -140 39 -10 27 13 77 42 93 33 18 46 18 80 0z\"/> <path d=\"M1222 1105 c0 -16 2 -22 5 -12 2 9 2 23 0 30 -3 6 -5 -1 -5 -18z\"/> <path d=\"M464 1167 c-3 -8 -4 -36 -2 -63 l3 -49 142 -3 142 -3 6 24 c4 13 5 41 3 63 l-3 39 -143 3 c-115 2 -143 0 -148 -11z\"/> <path d=\"M1627 1174 c-10 -10 -9 -96 1 -112 7 -9 43 -12 148 -10 l139 3 0 60 0 60 -141 3 c-77 1 -143 -1 -147 -4z\"/> <path d=\"M479 988 c-16 -6 -19 -17 -19 -62 0 -40 4 -55 16 -60 30 -12 259 -7 272 6 16 16 16 107 0 113 -23 8 -249 10 -269 3z\"/> <path d=\"M1632 988 c-7 -7 -12 -33 -12 -58 0 -25 5 -51 12 -58 13 -13 242 -18 272 -6 20 8 23 103 4 122 -17 17 -259 17 -276 0z\"/> <path d=\"M473 803 c-17 -6 -17 -105 -1 -121 15 -15 241 -17 269 -2 15 8 19 21 19 58 0 27 -5 53 -12 60 -12 12 -248 17 -275 5z\"/> <path d=\"M1631 796 c-7 -8 -11 -35 -9 -63 l3 -48 145 0 145 0 0 60 0 60 -136 3 c-109 2 -138 0 -148 -12z\"/> <path d=\"M464 606 c-3 -7 -4 -35 -2 -62 l3 -49 145 0 145 0 3 48 c5 75 0 77 -155 77 -104 0 -135 -3 -139 -14z\"/> <path d=\"M1624 607 c-3 -8 -4 -36 -2 -63 l3 -49 145 0 145 0 0 60 0 60 -143 3 c-115 2 -143 0 -148 -11z\"/> </g> </svg>`\n    let agv90Template = `<svg version=\"1.0\" width=100%\" height=\"100%\"> <g transform=\"translate(${-8},${grid + 8}) scale(${scaleX},${scaleY})\" fill=\"${color}\" stroke=\"none\"> <path d=\"M495 1877 c-3 -7 -4 -74 -3 -148 l3 -134 51 -3 c35 -2 54 2 63 11 8 10 11 56 9 148 l-3 134 -58 3 c-41 2 -59 -1 -62 -11z\"/> <path d=\"M682 1878 c-15 -15 -17 -241 -2 -269 8 -15 21 -19 58 -19 27 0 53 5 60 12 13 13 18 242 6 272 -8 20 -103 23 -122 4z\"/> <path d=\"M866 1874 c-3 -9 -6 -71 -6 -139 0 -142 3 -148 77 -143 l48 3 5 125 c7 165 5 170 -64 170 -40 0 -55 -4 -60 -16z\"/> <path d=\"M1057 1884 c-4 -4 -7 -69 -7 -145 0 -137 0 -139 23 -145 13 -3 41 -4 63 -2 l39 3 0 145 0 145 -55 3 c-31 2 -59 0 -63 -4z\"/> <path d=\"M1245 1877 c-3 -7 -4 -74 -3 -148 l3 -134 60 0 60 0 0 145 0 145 -58 3 c-41 2 -59 -1 -62 -11z\"/> <path d=\"M1435 1877 c-3 -7 -4 -74 -3 -148 l3 -134 39 -3 c22 -2 50 -1 63 3 l24 6 -3 142 -3 142 -58 3 c-41 2 -59 -1 -62 -11z\"/> <path d=\"M1624 1877 c-2 -7 -3 -74 -2 -148 l3 -134 48 -3 c74 -5 77 1 77 143 0 68 -3 130 -6 139 -8 21 -112 23 -120 3z\"/> <path d=\"M629 1530 c-1 -5 -3 -19 -4 -30 -1 -11 -3 -33 -4 -49 -1 -23 -6 -30 -23 -33 -22 -3 -23 -7 -23 -93 0 -86 1 -90 23 -93 20 -3 22 -8 22 -73 0 -67 -1 -69 -25 -69 l-26 0 3 -92 c3 -88 4 -93 26 -96 19 -3 22 -9 22 -47 0 -76 -2 -75 125 -75 65 0 116 4 120 10 3 6 33 10 65 10 32 0 62 -4 65 -10 4 -6 57 -10 125 -10 68 0 121 4 125 10 8 13 108 13 121 0 7 -7 66 -10 155 -8 l144 3 0 115 0 115 -27 3 c-25 3 -28 7 -28 43 l0 39 -71 0 c-44 0 -68 -4 -64 -10 4 -6 -18 -10 -59 -10 -60 0 -66 -2 -66 -20 0 -29 -26 -76 -45 -84 -9 -3 -59 -15 -112 -26 l-95 -20 -96 21 c-71 15 -104 27 -122 45 -24 24 -25 28 -25 164 0 136 1 140 25 164 18 17 52 30 122 45 l97 21 97 -20 c120 -25 153 -47 154 -102 0 -27 1 -28 59 -28 33 0 63 -4 66 -10 3 -5 35 -10 71 -10 l64 0 0 39 c0 36 3 40 28 43 l27 3 0 115 0 115 -144 3 c-89 2 -148 -1 -155 -8 -13 -13 -113 -13 -121 0 -4 6 -57 10 -125 10 -68 0 -121 -4 -125 -10 -3 -5 -33 -10 -65 -10 -32 0 -62 5 -65 10 -4 6 -55 10 -121 10 -68 0 -114 -4 -115 -10z m901 -105 c0 -30 -3 -35 -24 -35 -16 0 -27 7 -31 20 -8 25 10 50 36 50 15 0 19 -7 19 -35z m-800 -100 c0 -37 -4 -65 -10 -65 -11 0 -14 113 -3 123 12 13 13 7 13 -58z m40 -6 c0 -33 -4 -59 -10 -59 -6 0 -10 29 -10 66 0 41 4 63 10 59 6 -3 10 -33 10 -66z m30 6 c0 -37 -4 -65 -10 -65 -6 0 -10 28 -10 65 0 37 4 65 10 65 6 0 10 -28 10 -65z m-70 -331 c0 -41 -4 -63 -10 -59 -5 3 -10 33 -10 66 0 33 4 59 10 59 6 0 10 -29 10 -66z m40 7 c0 -33 -4 -63 -10 -66 -6 -4 -10 18 -10 59 0 37 4 66 10 66 6 0 10 -26 10 -59z m30 -6 c0 -37 -4 -65 -10 -65 -6 0 -10 28 -10 65 0 37 4 65 10 65 6 0 10 -28 10 -65z m730 -100 c0 -37 -9 -42 -41 -25 -32 18 -16 60 23 60 14 0 18 -8 18 -35z\"/> <path d=\"M987 1331 c-44 -10 -83 -24 -88 -32 -5 -8 -9 -71 -9 -141 0 -95 3 -130 14 -140 8 -8 53 -23 101 -33 84 -17 92 -17 181 -1 134 26 129 19 129 175 0 85 -4 134 -12 142 -15 15 -158 48 -203 48 -19 -1 -70 -9 -113 -18z m147 -95 c69 -29 70 -123 0 -152 -18 -8 -41 -11 -51 -7 -91 32 -82 145 15 172 1 1 17 -5 36 -13z\"/> <path d=\"M1093 1123 c9 -2 23 -2 30 0 6 3 -1 5 -18 5 -16 0 -22 -2 -12 -5z\"/> <path d=\"M1339 1206 c-2 -3 -3 -25 -1 -50 l4 -46 49 0 49 0 0 50 0 50 -48 0 c-27 0 -51 -2 -53 -4z\"/> <path d=\"M1460 1160 c0 -21 2 -21 139 -18 132 3 164 8 147 26 -4 4 -70 8 -147 10 -137 3 -139 3 -139 -18z\"/> <path d=\"M495 717 c-3 -7 -4 -74 -3 -148 l3 -134 60 0 60 0 0 145 0 145 -58 3 c-41 2 -59 -1 -62 -11z\"/> <path d=\"M684 717 c-2 -7 -3 -74 -2 -148 l3 -134 60 0 60 0 3 134 c2 90 -1 138 -9 147 -15 18 -108 19 -115 1z\"/> <path d=\"M872 718 c-13 -13 -18 -242 -6 -272 8 -20 103 -23 122 -4 17 17 17 259 0 276 -7 7 -33 12 -58 12 -25 0 -51 -5 -58 -12z\"/> <path d=\"M1062 722 c-9 -6 -12 -43 -10 -148 l3 -139 60 0 60 0 0 145 0 145 -50 3 c-27 1 -56 -2 -63 -6z\"/> <path d=\"M1245 717 c-3 -7 -4 -74 -3 -148 l3 -134 60 0 60 0 0 145 0 145 -58 3 c-41 2 -59 -1 -62 -11z\"/> <path d=\"M1435 717 c-3 -7 -4 -74 -3 -148 l3 -134 60 0 60 0 0 145 0 145 -58 3 c-41 2 -59 -1 -62 -11z\"/> <path d=\"M1626 722 c-8 -13 -9 -269 -1 -281 3 -6 30 -11 60 -11 39 0 54 4 59 16 12 30 7 259 -6 272 -14 14 -104 17 -112 4z\"/> </g> </svg>`\n    let agv180Template = `<svg version=\"1.0\" width=100%\" height=\"100%\"> <g transform=\"translate(${-9},${grid + 13}) scale(${scaleX},${scaleY})\" fill=\"${color}\" stroke=\"none\"> <path d=\"M434 1857 c-3 -8 -4 -36 -2 -63 l3 -49 145 0 145 0 0 60 0 60 -143 3 c-115 2 -143 0 -148 -11z\"/> <path d=\"M1597 1864 c-13 -13 -7 -101 7 -113 9 -8 57 -11 147 -9 l134 3 0 60 0 60 -141 3 c-77 1 -143 -1 -147 -4z\"/> <path d=\"M907 1783 c-4 -3 -7 -15 -7 -25 0 -15 -8 -18 -44 -18 -77 0 -76 2 -76 -125 0 -65 4 -116 10 -120 6 -3 10 -33 10 -65 0 -32 -4 -62 -10 -65 -6 -4 -10 -57 -10 -125 0 -68 4 -121 10 -125 13 -8 13 -108 0 -121 -7 -7 -10 -66 -8 -155 l3 -144 115 0 115 0 3 28 c3 24 7 27 43 27 l39 0 0 71 c0 44 -4 68 -10 64 -6 -4 -10 18 -10 59 0 60 -2 66 -20 66 -29 0 -76 26 -84 45 -3 9 -15 59 -26 112 l-20 95 21 96 c15 71 27 104 45 122 24 24 28 25 164 25 136 0 140 -1 164 -25 17 -18 30 -52 45 -122 l21 -97 -20 -97 c-25 -120 -47 -153 -102 -154 -27 0 -28 -1 -28 -59 0 -33 -4 -63 -10 -66 -5 -3 -10 -35 -10 -71 l0 -64 39 0 c36 0 40 -3 43 -27 l3 -28 115 0 115 0 3 144 c2 89 -1 148 -8 155 -13 13 -13 113 0 121 6 4 10 57 10 125 0 68 -4 121 -10 125 -5 3 -10 33 -10 65 0 32 5 62 10 65 6 4 10 55 10 121 0 68 -4 114 -10 115 -5 1 -19 3 -30 4 -11 1 -33 3 -49 4 -23 1 -30 6 -33 24 -3 21 -7 22 -93 22 -86 0 -90 -1 -93 -22 -3 -21 -8 -23 -73 -23 -67 0 -69 1 -69 25 0 25 -1 25 -88 25 -49 0 -92 -3 -95 -7z m153 -143 c0 -6 -29 -10 -66 -10 -41 0 -63 4 -59 10 3 6 33 10 66 10 33 0 59 -4 59 -10z m325 0 c4 -6 -18 -10 -59 -10 -37 0 -66 4 -66 10 0 6 26 10 59 10 33 0 63 -4 66 -10z m-325 -40 c0 -6 -26 -10 -59 -10 -33 0 -63 5 -66 10 -4 6 18 10 59 10 37 0 66 -4 66 -10z m325 0 c-3 -5 -33 -10 -66 -10 -33 0 -59 4 -59 10 0 6 29 10 66 10 41 0 63 -4 59 -10z m-325 -30 c0 -6 -28 -10 -65 -10 -37 0 -65 4 -65 10 0 6 28 10 65 10 37 0 65 -4 65 -10z m330 0 c0 -6 -28 -10 -65 -10 -37 0 -65 4 -65 10 0 6 28 10 65 10 37 0 65 -4 65 -10z m-472 -692 c7 -7 12 -20 12 -30 0 -14 -8 -18 -35 -18 -37 0 -42 9 -25 41 12 22 30 25 48 7z m530 0 c7 -7 12 -20 12 -30 0 -14 -8 -18 -35 -18 -30 0 -35 3 -35 24 0 33 35 47 58 24z\"/> <path d=\"M1608 1679 c-21 -12 -25 -98 -6 -117 13 -13 242 -18 272 -6 20 8 23 103 4 122 -15 15 -245 16 -270 1z\"/> <path d=\"M434 1667 c-3 -8 -4 -36 -2 -63 l3 -49 134 -3 c92 -2 138 1 148 9 9 9 13 28 11 63 l-3 51 -143 3 c-115 2 -143 0 -148 -11z\"/> <path d=\"M443 1493 c-17 -6 -17 -105 -1 -121 8 -8 53 -12 138 -12 85 0 130 4 138 12 16 16 16 100 0 116 -12 12 -248 17 -275 5z\"/> <path d=\"M1601 1486 c-7 -8 -11 -36 -9 -63 l3 -48 125 -5 c165 -7 170 -5 170 64 0 40 -4 55 -16 60 -9 3 -71 6 -139 6 -94 0 -125 -3 -134 -14z\"/> <path d=\"M1018 1456 c-8 -8 -23 -53 -33 -101 -17 -84 -17 -92 -1 -181 26 -134 19 -129 176 -129 156 0 149 -5 175 121 17 83 17 90 0 181 -9 52 -24 100 -32 108 -20 21 -265 22 -285 1z m199 -138 c30 -34 34 -55 19 -92 -29 -69 -123 -69 -152 0 -24 57 15 114 76 114 25 0 43 -7 57 -22z\"/> <path d=\"M1122 1255 c0 -16 2 -22 5 -12 2 9 2 23 0 30 -3 6 -5 -1 -5 -18z\"/> <path d=\"M434 1296 c-3 -7 -4 -35 -2 -62 l3 -49 145 0 145 0 3 39 c2 22 1 50 -2 63 -6 23 -8 23 -147 23 -109 0 -141 -3 -145 -14z\"/> <path d=\"M1595 1287 c-4 -13 -5 -41 -3 -63 l3 -39 145 0 145 0 0 60 0 60 -142 3 -142 3 -6 -24z\"/> <path d=\"M434 1107 c-3 -8 -4 -36 -2 -63 l3 -49 145 0 145 0 0 60 0 60 -143 3 c-115 2 -143 0 -148 -11z\"/> <path d=\"M1594 1107 c-3 -8 -4 -36 -2 -63 l3 -49 145 0 145 0 0 60 0 60 -143 3 c-115 2 -143 0 -148 -11z\"/> <path d=\"M1153 1022 l-43 -3 0 -50 0 -49 50 0 50 0 0 49 c0 28 -3 51 -7 53 -5 2 -27 2 -50 0z\"/> <path d=\"M434 917 c-3 -8 -4 -36 -2 -63 l3 -49 145 0 145 0 0 60 0 60 -143 3 c-115 2 -143 0 -148 -11z\"/> <path d=\"M1597 924 c-10 -10 -9 -96 1 -112 7 -9 43 -12 148 -10 l139 3 0 60 0 60 -141 3 c-77 1 -143 -1 -147 -4z\"/> <path d=\"M1142 761 c2 -77 6 -143 11 -147 17 -17 22 15 25 147 3 137 3 139 -18 139 -21 0 -21 -2 -18 -139z\"/> <path d=\"M444 737 c-21 -12 -19 -113 2 -121 9 -3 71 -6 139 -6 142 0 148 3 143 77 l-3 48 -133 5 c-74 3 -140 1 -148 -3z\"/> <path d=\"M1597 734 c-12 -12 -8 -99 5 -112 14 -14 255 -17 276 -3 9 5 12 25 10 62 l-3 54 -141 3 c-77 1 -143 -1 -147 -4z\"/> </g> </svg>`\n    let agv270Template = `<svg version=\"1.0\" width=100%\" height=\"100%\"> <g transform=\"translate(${-10},${grid + 12}) scale(${scaleX},${scaleY})\" fill=\"${color}\" stroke=\"none\"> <path d=\"M616 1904 c-3 -9 -6 -71 -6 -139 0 -142 3 -148 77 -143 l48 3 5 133 c3 74 1 140 -3 148 -12 21 -113 19 -121 -2z\"/> <path d=\"M805 1907 c-3 -7 -4 -74 -3 -148 l3 -134 60 0 60 0 0 145 0 145 -58 3 c-41 2 -59 -1 -62 -11z\"/> <path d=\"M995 1907 c-3 -7 -4 -74 -3 -148 l3 -134 60 0 60 0 0 145 0 145 -58 3 c-41 2 -59 -1 -62 -11z\"/> <path d=\"M1185 1907 c-3 -7 -4 -74 -3 -148 l3 -134 39 -3 c22 -2 50 -1 63 3 l24 6 -3 142 -3 142 -58 3 c-41 2 -59 -1 -62 -11z\"/> <path d=\"M1372 1908 c-8 -8 -12 -53 -12 -138 0 -85 4 -130 12 -138 16 -16 100 -16 116 0 13 13 18 242 6 272 -8 20 -103 23 -122 4z\"/> <path d=\"M1557 1914 c-4 -4 -7 -67 -7 -139 0 -153 3 -158 77 -153 l48 3 0 145 0 145 -55 3 c-31 2 -59 0 -63 -4z\"/> <path d=\"M1745 1907 c-3 -7 -4 -74 -3 -148 l3 -134 60 0 60 0 0 145 0 145 -58 3 c-41 2 -59 -1 -62 -11z\"/> <path d=\"M694 1557 c-2 -7 -3 -60 -2 -118 l3 -104 28 -3 c24 -3 27 -7 27 -43 l0 -39 71 0 c44 0 68 4 64 10 -4 6 18 10 59 10 60 0 66 2 66 20 0 29 26 76 45 84 9 3 59 15 112 26 l95 20 96 -21 c71 -15 104 -27 122 -45 24 -24 25 -28 25 -164 0 -136 -1 -140 -25 -164 -18 -17 -52 -30 -122 -45 l-97 -21 -97 20 c-120 25 -153 47 -154 103 0 26 -1 27 -59 27 -33 0 -63 5 -66 10 -3 6 -35 10 -71 10 l-64 0 0 -39 c0 -36 -3 -40 -27 -43 l-28 -3 0 -115 0 -115 144 -3 c89 -2 148 1 155 8 13 13 113 13 121 0 4 -6 57 -10 125 -10 68 0 121 4 125 10 3 6 33 10 65 10 32 0 62 -4 65 -10 4 -6 55 -10 121 -10 68 0 114 4 115 10 1 6 3 19 4 30 1 11 3 33 4 49 1 23 6 30 24 33 21 3 22 7 22 93 0 86 -1 90 -22 93 -21 3 -23 8 -23 73 0 67 1 69 25 69 l26 0 -3 93 c-3 87 -4 92 -25 95 -20 3 -23 9 -23 47 0 76 2 75 -125 75 -65 0 -116 -4 -120 -10 -3 -5 -33 -10 -65 -10 -32 0 -62 5 -65 10 -4 6 -57 10 -125 10 -68 0 -121 -4 -125 -10 -3 -5 -30 -10 -60 -10 -30 0 -57 5 -60 10 -10 16 -294 13 -301 -3z m182 -81 c15 -12 17 -18 8 -33 -6 -10 -21 -19 -33 -21 -18 -3 -21 1 -21 32 0 39 13 46 46 22z m704 -121 c0 -37 -4 -65 -10 -65 -6 0 -10 28 -10 65 0 37 4 65 10 65 6 0 10 -28 10 -65z m30 0 c0 -37 -4 -65 -10 -65 -11 0 -14 113 -3 123 12 13 13 7 13 -58z m40 -6 c0 -33 -4 -59 -10 -59 -6 0 -10 29 -10 66 0 41 4 63 10 59 6 -3 10 -33 10 -66z m-70 -324 c0 -37 -4 -65 -10 -65 -6 0 -10 28 -10 65 0 37 4 65 10 65 6 0 10 -28 10 -65z m30 -1 c0 -41 -4 -63 -10 -59 -5 3 -10 33 -10 66 0 33 4 59 10 59 6 0 10 -29 10 -66z m40 7 c0 -33 -4 -63 -10 -66 -6 -4 -10 18 -10 59 0 37 4 66 10 66 6 0 10 -26 10 -59z m-765 -91 c8 -25 -10 -50 -36 -50 -15 0 -19 7 -19 35 0 30 3 35 24 35 16 0 27 -7 31 -20z\"/> <path d=\"M1147 1361 c-43 -10 -83 -23 -90 -30 -8 -8 -12 -54 -12 -142 0 -154 -5 -148 121 -174 83 -17 90 -17 181 0 52 9 100 24 108 32 12 11 15 43 15 141 0 70 -4 133 -9 140 -10 16 -151 52 -201 51 -19 -1 -70 -9 -113 -18z m171 -114 c44 -41 22 -118 -41 -140 -10 -4 -33 -1 -51 7 -68 28 -69 122 -2 152 36 15 62 10 94 -19z\"/> <path d=\"M1243 1223 c9 -2 23 -2 30 0 6 3 -1 5 -18 5 -16 0 -22 -2 -12 -5z\"/> <path d=\"M920 1190 l0 -50 48 0 c27 0 51 2 53 4 2 3 3 25 1 50 l-4 46 -49 0 -49 0 0 -50z\"/> <path d=\"M628 1203 c-10 -2 -18 -8 -18 -13 0 -14 44 -20 168 -20 115 0 122 1 122 20 0 19 -6 20 -127 19 -71 -1 -136 -3 -145 -6z\"/> <path d=\"M622 748 c-14 -14 -17 -254 -3 -276 5 -9 25 -12 62 -10 l54 3 0 145 0 145 -50 3 c-30 2 -55 -2 -63 -10z\"/> <path d=\"M812 752 c-9 -6 -12 -43 -10 -148 l3 -139 60 0 60 0 0 145 0 145 -50 3 c-27 1 -56 -2 -63 -6z\"/> <path d=\"M995 747 c-3 -7 -4 -74 -3 -148 l3 -134 60 0 60 0 0 145 0 145 -58 3 c-41 2 -59 -1 -62 -11z\"/> <path d=\"M1184 747 c-2 -7 -3 -74 -2 -148 l3 -134 60 0 60 0 3 139 c2 105 -1 141 -10 148 -21 13 -108 10 -114 -5z\"/> <path d=\"M1376 752 c-8 -13 -10 -268 -2 -281 11 -18 113 -14 120 5 12 30 7 259 -6 272 -13 13 -104 17 -112 4z\"/> <path d=\"M1562 748 c-13 -13 -18 -242 -6 -272 8 -20 103 -23 122 -4 15 15 17 241 2 269 -8 15 -21 19 -58 19 -27 0 -53 -5 -60 -12z\"/> <path d=\"M1751 747 c-8 -10 -11 -56 -9 -148 l3 -134 60 0 60 0 0 145 0 145 -51 3 c-35 2 -54 -2 -63 -11z\"/> </g> </svg>`\n    let agvTemplate = ``;\n    switch(orientation) {\n      case 0:\n        agvTemplate = agv0Tempalate;\n        break;\n      case 90:\n        agvTemplate = agv90Template;\n        break;\n      case 180:\n        agvTemplate = agv180Template;\n        break;\n      case 270:\n        agvTemplate = agv270Template;\n        break;\n      default:\n        agvTemplate = agv0Tempalate;\n    }\n    let newAgv = commonFunction.addForeignObject(id, xPos, yPos, width, height, agvTemplate);\n    return newAgv;\n}\n\ncommonFunction.updateAgv = function addAgv(id,node, orientation, color, grid, currentCommand) {\n    let agvData = global.get('database.agvInfo');\n    let mapData = global.get('database.mapInfo');\n    \n    let xPos = mapData[node].x * grid;\n    agvData[id].node_id = node;\n    \n    let yPos = mapData[node].y * grid;\n\n    agvData[id].orientation = orientation; \n    global.set('database.agvInfo', agvData);\n    // Dummy data\n    // TODO: Find the equation to calculator scale coefficiants\n    scaleX = 0.04;\n    scaleY = -0.04;\n    \n    let agv0Tempalate = `<svg version=\"1.0\" width=100%\" height=\"100%\"> <g transform=\"translate(${-10},${grid + 8}) scale(${scaleX},${scaleY})\" fill=\"${color}\" stroke=\"none\"> <path d=\"M472 1741 c-9 -5 -12 -25 -10 -62 l3 -54 145 0 145 0 3 48 c5 74 -1 77 -147 77 -69 0 -132 -4 -139 -9z\"/> <path d=\"M1176 1728 c-3 -13 -6 -78 -6 -145 0 -116 1 -123 20 -123 19 0 20 7 20 123 0 122 -6 167 -20 167 -4 0 -10 -10 -14 -22z\"/> <path d=\"M1631 1736 c-7 -8 -11 -36 -9 -63 l3 -48 133 -5 c74 -3 140 -1 148 3 21 12 19 113 -2 121 -9 3 -71 6 -139 6 -94 0 -125 -3 -134 -14z\"/> <path d=\"M817 1664 c-11 -11 -8 -292 3 -299 6 -3 10 -30 10 -60 0 -30 -4 -57 -10 -60 -6 -4 -10 -57 -10 -125 0 -68 4 -121 10 -125 6 -3 10 -33 10 -65 0 -32 -4 -62 -10 -65 -6 -4 -10 -55 -10 -121 0 -68 4 -114 10 -115 6 -1 19 -3 30 -4 11 -1 33 -3 49 -4 23 -1 30 -6 33 -23 3 -22 7 -23 93 -23 86 0 90 1 93 23 3 20 8 22 73 22 67 0 69 -1 69 -25 l0 -26 93 3 c87 3 92 4 95 26 3 19 9 22 47 22 76 0 75 -2 75 125 0 65 -4 116 -10 120 -5 3 -10 33 -10 65 0 32 5 62 10 65 6 4 10 57 10 125 0 68 -4 121 -10 125 -13 8 -13 108 0 121 7 7 10 66 8 155 l-3 144 -115 0 -115 0 -3 -27 c-3 -25 -7 -28 -43 -28 l-39 0 0 -71 c0 -44 4 -68 10 -64 6 4 10 -18 10 -59 0 -60 2 -66 20 -66 29 0 76 -26 84 -45 3 -9 15 -59 26 -112 l20 -95 -21 -96 c-15 -71 -27 -104 -45 -122 -24 -24 -28 -25 -164 -25 -136 0 -140 1 -164 25 -17 18 -30 52 -45 122 l-21 97 20 97 c25 120 47 153 103 154 26 0 27 1 27 59 0 33 5 63 10 66 6 3 10 35 10 71 l0 64 -39 0 c-36 0 -40 3 -43 28 l-3 27 -111 3 c-60 1 -113 -1 -117 -4z m143 -158 c0 -16 -7 -27 -20 -31 -25 -8 -50 10 -50 36 0 15 7 19 35 19 30 0 35 -3 35 -24z m530 11 c0 -7 -6 -22 -14 -33 -12 -15 -18 -17 -33 -8 -10 6 -19 21 -21 33 -3 18 1 21 32 21 23 0 36 -5 36 -13z m-400 -727 c0 -6 -28 -10 -65 -10 -37 0 -65 4 -65 10 0 6 28 10 65 10 37 0 65 -4 65 -10z m330 0 c0 -6 -28 -10 -65 -10 -37 0 -65 4 -65 10 0 6 28 10 65 10 37 0 65 -4 65 -10z m-330 -30 c0 -6 -29 -10 -66 -10 -41 0 -63 4 -59 10 3 6 33 10 66 10 33 0 59 -4 59 -10z m325 0 c4 -6 -18 -10 -59 -10 -37 0 -66 4 -66 10 0 6 26 10 59 10 33 0 63 -4 66 -10z m-325 -40 c0 -6 -26 -10 -59 -10 -33 0 -63 5 -66 10 -4 6 18 10 59 10 37 0 66 -4 66 -10z m325 0 c-3 -5 -33 -10 -66 -10 -33 0 -59 4 -59 10 0 6 29 10 66 10 41 0 63 -4 59 -10z\"/> <path d=\"M464 1546 c-3 -7 -4 -35 -2 -62 l3 -49 145 0 145 0 3 39 c2 22 1 50 -2 63 -6 23 -8 23 -147 23 -109 0 -141 -3 -145 -14z\"/> <path d=\"M1624 1547 c-3 -8 -4 -36 -2 -63 l3 -49 145 0 145 0 0 60 0 60 -143 3 c-115 2 -143 0 -148 -11z\"/> <path d=\"M1140 1392 c0 -27 2 -51 4 -53 3 -2 25 -3 50 -1 l46 4 0 49 0 49 -50 0 -50 0 0 -48z\"/> <path d=\"M464 1357 c-3 -8 -4 -36 -2 -63 l3 -49 145 0 145 0 0 60 0 60 -143 3 c-115 2 -143 0 -148 -11z\"/> <path d=\"M1624 1357 c-3 -8 -4 -36 -2 -63 l3 -49 145 0 145 0 0 60 0 60 -143 3 c-115 2 -143 0 -148 -11z\"/> <path d=\"M1063 1310 c-22 -9 -29 -26 -54 -143 -11 -50 -10 -72 5 -153 10 -52 25 -101 33 -109 20 -21 265 -22 285 -1 8 8 23 53 33 101 17 84 17 92 1 181 -25 132 -21 129 -163 131 -65 1 -128 -2 -140 -7z m166 -135 c31 -15 54 -65 44 -93 -3 -9 -15 -27 -26 -39 -40 -45 -118 -23 -140 39 -10 27 13 77 42 93 33 18 46 18 80 0z\"/> <path d=\"M1222 1105 c0 -16 2 -22 5 -12 2 9 2 23 0 30 -3 6 -5 -1 -5 -18z\"/> <path d=\"M464 1167 c-3 -8 -4 -36 -2 -63 l3 -49 142 -3 142 -3 6 24 c4 13 5 41 3 63 l-3 39 -143 3 c-115 2 -143 0 -148 -11z\"/> <path d=\"M1627 1174 c-10 -10 -9 -96 1 -112 7 -9 43 -12 148 -10 l139 3 0 60 0 60 -141 3 c-77 1 -143 -1 -147 -4z\"/> <path d=\"M479 988 c-16 -6 -19 -17 -19 -62 0 -40 4 -55 16 -60 30 -12 259 -7 272 6 16 16 16 107 0 113 -23 8 -249 10 -269 3z\"/> <path d=\"M1632 988 c-7 -7 -12 -33 -12 -58 0 -25 5 -51 12 -58 13 -13 242 -18 272 -6 20 8 23 103 4 122 -17 17 -259 17 -276 0z\"/> <path d=\"M473 803 c-17 -6 -17 -105 -1 -121 15 -15 241 -17 269 -2 15 8 19 21 19 58 0 27 -5 53 -12 60 -12 12 -248 17 -275 5z\"/> <path d=\"M1631 796 c-7 -8 -11 -35 -9 -63 l3 -48 145 0 145 0 0 60 0 60 -136 3 c-109 2 -138 0 -148 -12z\"/> <path d=\"M464 606 c-3 -7 -4 -35 -2 -62 l3 -49 145 0 145 0 3 48 c5 75 0 77 -155 77 -104 0 -135 -3 -139 -14z\"/> <path d=\"M1624 607 c-3 -8 -4 -36 -2 -63 l3 -49 145 0 145 0 0 60 0 60 -143 3 c-115 2 -143 0 -148 -11z\"/> </g> </svg>`\n    let agv90Template = `<svg version=\"1.0\" width=100%\" height=\"100%\"> <g transform=\"translate(${-8},${grid + 8}) scale(${scaleX},${scaleY})\" fill=\"${color}\" stroke=\"none\"> <path d=\"M495 1877 c-3 -7 -4 -74 -3 -148 l3 -134 51 -3 c35 -2 54 2 63 11 8 10 11 56 9 148 l-3 134 -58 3 c-41 2 -59 -1 -62 -11z\"/> <path d=\"M682 1878 c-15 -15 -17 -241 -2 -269 8 -15 21 -19 58 -19 27 0 53 5 60 12 13 13 18 242 6 272 -8 20 -103 23 -122 4z\"/> <path d=\"M866 1874 c-3 -9 -6 -71 -6 -139 0 -142 3 -148 77 -143 l48 3 5 125 c7 165 5 170 -64 170 -40 0 -55 -4 -60 -16z\"/> <path d=\"M1057 1884 c-4 -4 -7 -69 -7 -145 0 -137 0 -139 23 -145 13 -3 41 -4 63 -2 l39 3 0 145 0 145 -55 3 c-31 2 -59 0 -63 -4z\"/> <path d=\"M1245 1877 c-3 -7 -4 -74 -3 -148 l3 -134 60 0 60 0 0 145 0 145 -58 3 c-41 2 -59 -1 -62 -11z\"/> <path d=\"M1435 1877 c-3 -7 -4 -74 -3 -148 l3 -134 39 -3 c22 -2 50 -1 63 3 l24 6 -3 142 -3 142 -58 3 c-41 2 -59 -1 -62 -11z\"/> <path d=\"M1624 1877 c-2 -7 -3 -74 -2 -148 l3 -134 48 -3 c74 -5 77 1 77 143 0 68 -3 130 -6 139 -8 21 -112 23 -120 3z\"/> <path d=\"M629 1530 c-1 -5 -3 -19 -4 -30 -1 -11 -3 -33 -4 -49 -1 -23 -6 -30 -23 -33 -22 -3 -23 -7 -23 -93 0 -86 1 -90 23 -93 20 -3 22 -8 22 -73 0 -67 -1 -69 -25 -69 l-26 0 3 -92 c3 -88 4 -93 26 -96 19 -3 22 -9 22 -47 0 -76 -2 -75 125 -75 65 0 116 4 120 10 3 6 33 10 65 10 32 0 62 -4 65 -10 4 -6 57 -10 125 -10 68 0 121 4 125 10 8 13 108 13 121 0 7 -7 66 -10 155 -8 l144 3 0 115 0 115 -27 3 c-25 3 -28 7 -28 43 l0 39 -71 0 c-44 0 -68 -4 -64 -10 4 -6 -18 -10 -59 -10 -60 0 -66 -2 -66 -20 0 -29 -26 -76 -45 -84 -9 -3 -59 -15 -112 -26 l-95 -20 -96 21 c-71 15 -104 27 -122 45 -24 24 -25 28 -25 164 0 136 1 140 25 164 18 17 52 30 122 45 l97 21 97 -20 c120 -25 153 -47 154 -102 0 -27 1 -28 59 -28 33 0 63 -4 66 -10 3 -5 35 -10 71 -10 l64 0 0 39 c0 36 3 40 28 43 l27 3 0 115 0 115 -144 3 c-89 2 -148 -1 -155 -8 -13 -13 -113 -13 -121 0 -4 6 -57 10 -125 10 -68 0 -121 -4 -125 -10 -3 -5 -33 -10 -65 -10 -32 0 -62 5 -65 10 -4 6 -55 10 -121 10 -68 0 -114 -4 -115 -10z m901 -105 c0 -30 -3 -35 -24 -35 -16 0 -27 7 -31 20 -8 25 10 50 36 50 15 0 19 -7 19 -35z m-800 -100 c0 -37 -4 -65 -10 -65 -11 0 -14 113 -3 123 12 13 13 7 13 -58z m40 -6 c0 -33 -4 -59 -10 -59 -6 0 -10 29 -10 66 0 41 4 63 10 59 6 -3 10 -33 10 -66z m30 6 c0 -37 -4 -65 -10 -65 -6 0 -10 28 -10 65 0 37 4 65 10 65 6 0 10 -28 10 -65z m-70 -331 c0 -41 -4 -63 -10 -59 -5 3 -10 33 -10 66 0 33 4 59 10 59 6 0 10 -29 10 -66z m40 7 c0 -33 -4 -63 -10 -66 -6 -4 -10 18 -10 59 0 37 4 66 10 66 6 0 10 -26 10 -59z m30 -6 c0 -37 -4 -65 -10 -65 -6 0 -10 28 -10 65 0 37 4 65 10 65 6 0 10 -28 10 -65z m730 -100 c0 -37 -9 -42 -41 -25 -32 18 -16 60 23 60 14 0 18 -8 18 -35z\"/> <path d=\"M987 1331 c-44 -10 -83 -24 -88 -32 -5 -8 -9 -71 -9 -141 0 -95 3 -130 14 -140 8 -8 53 -23 101 -33 84 -17 92 -17 181 -1 134 26 129 19 129 175 0 85 -4 134 -12 142 -15 15 -158 48 -203 48 -19 -1 -70 -9 -113 -18z m147 -95 c69 -29 70 -123 0 -152 -18 -8 -41 -11 -51 -7 -91 32 -82 145 15 172 1 1 17 -5 36 -13z\"/> <path d=\"M1093 1123 c9 -2 23 -2 30 0 6 3 -1 5 -18 5 -16 0 -22 -2 -12 -5z\"/> <path d=\"M1339 1206 c-2 -3 -3 -25 -1 -50 l4 -46 49 0 49 0 0 50 0 50 -48 0 c-27 0 -51 -2 -53 -4z\"/> <path d=\"M1460 1160 c0 -21 2 -21 139 -18 132 3 164 8 147 26 -4 4 -70 8 -147 10 -137 3 -139 3 -139 -18z\"/> <path d=\"M495 717 c-3 -7 -4 -74 -3 -148 l3 -134 60 0 60 0 0 145 0 145 -58 3 c-41 2 -59 -1 -62 -11z\"/> <path d=\"M684 717 c-2 -7 -3 -74 -2 -148 l3 -134 60 0 60 0 3 134 c2 90 -1 138 -9 147 -15 18 -108 19 -115 1z\"/> <path d=\"M872 718 c-13 -13 -18 -242 -6 -272 8 -20 103 -23 122 -4 17 17 17 259 0 276 -7 7 -33 12 -58 12 -25 0 -51 -5 -58 -12z\"/> <path d=\"M1062 722 c-9 -6 -12 -43 -10 -148 l3 -139 60 0 60 0 0 145 0 145 -50 3 c-27 1 -56 -2 -63 -6z\"/> <path d=\"M1245 717 c-3 -7 -4 -74 -3 -148 l3 -134 60 0 60 0 0 145 0 145 -58 3 c-41 2 -59 -1 -62 -11z\"/> <path d=\"M1435 717 c-3 -7 -4 -74 -3 -148 l3 -134 60 0 60 0 0 145 0 145 -58 3 c-41 2 -59 -1 -62 -11z\"/> <path d=\"M1626 722 c-8 -13 -9 -269 -1 -281 3 -6 30 -11 60 -11 39 0 54 4 59 16 12 30 7 259 -6 272 -14 14 -104 17 -112 4z\"/> </g> </svg>`\n    let agv180Template = `<svg version=\"1.0\" width=100%\" height=\"100%\"> <g transform=\"translate(${-9},${grid + 13}) scale(${scaleX},${scaleY})\" fill=\"${color}\" stroke=\"none\"> <path d=\"M434 1857 c-3 -8 -4 -36 -2 -63 l3 -49 145 0 145 0 0 60 0 60 -143 3 c-115 2 -143 0 -148 -11z\"/> <path d=\"M1597 1864 c-13 -13 -7 -101 7 -113 9 -8 57 -11 147 -9 l134 3 0 60 0 60 -141 3 c-77 1 -143 -1 -147 -4z\"/> <path d=\"M907 1783 c-4 -3 -7 -15 -7 -25 0 -15 -8 -18 -44 -18 -77 0 -76 2 -76 -125 0 -65 4 -116 10 -120 6 -3 10 -33 10 -65 0 -32 -4 -62 -10 -65 -6 -4 -10 -57 -10 -125 0 -68 4 -121 10 -125 13 -8 13 -108 0 -121 -7 -7 -10 -66 -8 -155 l3 -144 115 0 115 0 3 28 c3 24 7 27 43 27 l39 0 0 71 c0 44 -4 68 -10 64 -6 -4 -10 18 -10 59 0 60 -2 66 -20 66 -29 0 -76 26 -84 45 -3 9 -15 59 -26 112 l-20 95 21 96 c15 71 27 104 45 122 24 24 28 25 164 25 136 0 140 -1 164 -25 17 -18 30 -52 45 -122 l21 -97 -20 -97 c-25 -120 -47 -153 -102 -154 -27 0 -28 -1 -28 -59 0 -33 -4 -63 -10 -66 -5 -3 -10 -35 -10 -71 l0 -64 39 0 c36 0 40 -3 43 -27 l3 -28 115 0 115 0 3 144 c2 89 -1 148 -8 155 -13 13 -13 113 0 121 6 4 10 57 10 125 0 68 -4 121 -10 125 -5 3 -10 33 -10 65 0 32 5 62 10 65 6 4 10 55 10 121 0 68 -4 114 -10 115 -5 1 -19 3 -30 4 -11 1 -33 3 -49 4 -23 1 -30 6 -33 24 -3 21 -7 22 -93 22 -86 0 -90 -1 -93 -22 -3 -21 -8 -23 -73 -23 -67 0 -69 1 -69 25 0 25 -1 25 -88 25 -49 0 -92 -3 -95 -7z m153 -143 c0 -6 -29 -10 -66 -10 -41 0 -63 4 -59 10 3 6 33 10 66 10 33 0 59 -4 59 -10z m325 0 c4 -6 -18 -10 -59 -10 -37 0 -66 4 -66 10 0 6 26 10 59 10 33 0 63 -4 66 -10z m-325 -40 c0 -6 -26 -10 -59 -10 -33 0 -63 5 -66 10 -4 6 18 10 59 10 37 0 66 -4 66 -10z m325 0 c-3 -5 -33 -10 -66 -10 -33 0 -59 4 -59 10 0 6 29 10 66 10 41 0 63 -4 59 -10z m-325 -30 c0 -6 -28 -10 -65 -10 -37 0 -65 4 -65 10 0 6 28 10 65 10 37 0 65 -4 65 -10z m330 0 c0 -6 -28 -10 -65 -10 -37 0 -65 4 -65 10 0 6 28 10 65 10 37 0 65 -4 65 -10z m-472 -692 c7 -7 12 -20 12 -30 0 -14 -8 -18 -35 -18 -37 0 -42 9 -25 41 12 22 30 25 48 7z m530 0 c7 -7 12 -20 12 -30 0 -14 -8 -18 -35 -18 -30 0 -35 3 -35 24 0 33 35 47 58 24z\"/> <path d=\"M1608 1679 c-21 -12 -25 -98 -6 -117 13 -13 242 -18 272 -6 20 8 23 103 4 122 -15 15 -245 16 -270 1z\"/> <path d=\"M434 1667 c-3 -8 -4 -36 -2 -63 l3 -49 134 -3 c92 -2 138 1 148 9 9 9 13 28 11 63 l-3 51 -143 3 c-115 2 -143 0 -148 -11z\"/> <path d=\"M443 1493 c-17 -6 -17 -105 -1 -121 8 -8 53 -12 138 -12 85 0 130 4 138 12 16 16 16 100 0 116 -12 12 -248 17 -275 5z\"/> <path d=\"M1601 1486 c-7 -8 -11 -36 -9 -63 l3 -48 125 -5 c165 -7 170 -5 170 64 0 40 -4 55 -16 60 -9 3 -71 6 -139 6 -94 0 -125 -3 -134 -14z\"/> <path d=\"M1018 1456 c-8 -8 -23 -53 -33 -101 -17 -84 -17 -92 -1 -181 26 -134 19 -129 176 -129 156 0 149 -5 175 121 17 83 17 90 0 181 -9 52 -24 100 -32 108 -20 21 -265 22 -285 1z m199 -138 c30 -34 34 -55 19 -92 -29 -69 -123 -69 -152 0 -24 57 15 114 76 114 25 0 43 -7 57 -22z\"/> <path d=\"M1122 1255 c0 -16 2 -22 5 -12 2 9 2 23 0 30 -3 6 -5 -1 -5 -18z\"/> <path d=\"M434 1296 c-3 -7 -4 -35 -2 -62 l3 -49 145 0 145 0 3 39 c2 22 1 50 -2 63 -6 23 -8 23 -147 23 -109 0 -141 -3 -145 -14z\"/> <path d=\"M1595 1287 c-4 -13 -5 -41 -3 -63 l3 -39 145 0 145 0 0 60 0 60 -142 3 -142 3 -6 -24z\"/> <path d=\"M434 1107 c-3 -8 -4 -36 -2 -63 l3 -49 145 0 145 0 0 60 0 60 -143 3 c-115 2 -143 0 -148 -11z\"/> <path d=\"M1594 1107 c-3 -8 -4 -36 -2 -63 l3 -49 145 0 145 0 0 60 0 60 -143 3 c-115 2 -143 0 -148 -11z\"/> <path d=\"M1153 1022 l-43 -3 0 -50 0 -49 50 0 50 0 0 49 c0 28 -3 51 -7 53 -5 2 -27 2 -50 0z\"/> <path d=\"M434 917 c-3 -8 -4 -36 -2 -63 l3 -49 145 0 145 0 0 60 0 60 -143 3 c-115 2 -143 0 -148 -11z\"/> <path d=\"M1597 924 c-10 -10 -9 -96 1 -112 7 -9 43 -12 148 -10 l139 3 0 60 0 60 -141 3 c-77 1 -143 -1 -147 -4z\"/> <path d=\"M1142 761 c2 -77 6 -143 11 -147 17 -17 22 15 25 147 3 137 3 139 -18 139 -21 0 -21 -2 -18 -139z\"/> <path d=\"M444 737 c-21 -12 -19 -113 2 -121 9 -3 71 -6 139 -6 142 0 148 3 143 77 l-3 48 -133 5 c-74 3 -140 1 -148 -3z\"/> <path d=\"M1597 734 c-12 -12 -8 -99 5 -112 14 -14 255 -17 276 -3 9 5 12 25 10 62 l-3 54 -141 3 c-77 1 -143 -1 -147 -4z\"/> </g> </svg>`\n    let agv270Template = `<svg version=\"1.0\" width=100%\" height=\"100%\"> <g transform=\"translate(${-10},${grid + 12}) scale(${scaleX},${scaleY})\" fill=\"${color}\" stroke=\"none\"> <path d=\"M616 1904 c-3 -9 -6 -71 -6 -139 0 -142 3 -148 77 -143 l48 3 5 133 c3 74 1 140 -3 148 -12 21 -113 19 -121 -2z\"/> <path d=\"M805 1907 c-3 -7 -4 -74 -3 -148 l3 -134 60 0 60 0 0 145 0 145 -58 3 c-41 2 -59 -1 -62 -11z\"/> <path d=\"M995 1907 c-3 -7 -4 -74 -3 -148 l3 -134 60 0 60 0 0 145 0 145 -58 3 c-41 2 -59 -1 -62 -11z\"/> <path d=\"M1185 1907 c-3 -7 -4 -74 -3 -148 l3 -134 39 -3 c22 -2 50 -1 63 3 l24 6 -3 142 -3 142 -58 3 c-41 2 -59 -1 -62 -11z\"/> <path d=\"M1372 1908 c-8 -8 -12 -53 -12 -138 0 -85 4 -130 12 -138 16 -16 100 -16 116 0 13 13 18 242 6 272 -8 20 -103 23 -122 4z\"/> <path d=\"M1557 1914 c-4 -4 -7 -67 -7 -139 0 -153 3 -158 77 -153 l48 3 0 145 0 145 -55 3 c-31 2 -59 0 -63 -4z\"/> <path d=\"M1745 1907 c-3 -7 -4 -74 -3 -148 l3 -134 60 0 60 0 0 145 0 145 -58 3 c-41 2 -59 -1 -62 -11z\"/> <path d=\"M694 1557 c-2 -7 -3 -60 -2 -118 l3 -104 28 -3 c24 -3 27 -7 27 -43 l0 -39 71 0 c44 0 68 4 64 10 -4 6 18 10 59 10 60 0 66 2 66 20 0 29 26 76 45 84 9 3 59 15 112 26 l95 20 96 -21 c71 -15 104 -27 122 -45 24 -24 25 -28 25 -164 0 -136 -1 -140 -25 -164 -18 -17 -52 -30 -122 -45 l-97 -21 -97 20 c-120 25 -153 47 -154 103 0 26 -1 27 -59 27 -33 0 -63 5 -66 10 -3 6 -35 10 -71 10 l-64 0 0 -39 c0 -36 -3 -40 -27 -43 l-28 -3 0 -115 0 -115 144 -3 c89 -2 148 1 155 8 13 13 113 13 121 0 4 -6 57 -10 125 -10 68 0 121 4 125 10 3 6 33 10 65 10 32 0 62 -4 65 -10 4 -6 55 -10 121 -10 68 0 114 4 115 10 1 6 3 19 4 30 1 11 3 33 4 49 1 23 6 30 24 33 21 3 22 7 22 93 0 86 -1 90 -22 93 -21 3 -23 8 -23 73 0 67 1 69 25 69 l26 0 -3 93 c-3 87 -4 92 -25 95 -20 3 -23 9 -23 47 0 76 2 75 -125 75 -65 0 -116 -4 -120 -10 -3 -5 -33 -10 -65 -10 -32 0 -62 5 -65 10 -4 6 -57 10 -125 10 -68 0 -121 -4 -125 -10 -3 -5 -30 -10 -60 -10 -30 0 -57 5 -60 10 -10 16 -294 13 -301 -3z m182 -81 c15 -12 17 -18 8 -33 -6 -10 -21 -19 -33 -21 -18 -3 -21 1 -21 32 0 39 13 46 46 22z m704 -121 c0 -37 -4 -65 -10 -65 -6 0 -10 28 -10 65 0 37 4 65 10 65 6 0 10 -28 10 -65z m30 0 c0 -37 -4 -65 -10 -65 -11 0 -14 113 -3 123 12 13 13 7 13 -58z m40 -6 c0 -33 -4 -59 -10 -59 -6 0 -10 29 -10 66 0 41 4 63 10 59 6 -3 10 -33 10 -66z m-70 -324 c0 -37 -4 -65 -10 -65 -6 0 -10 28 -10 65 0 37 4 65 10 65 6 0 10 -28 10 -65z m30 -1 c0 -41 -4 -63 -10 -59 -5 3 -10 33 -10 66 0 33 4 59 10 59 6 0 10 -29 10 -66z m40 7 c0 -33 -4 -63 -10 -66 -6 -4 -10 18 -10 59 0 37 4 66 10 66 6 0 10 -26 10 -59z m-765 -91 c8 -25 -10 -50 -36 -50 -15 0 -19 7 -19 35 0 30 3 35 24 35 16 0 27 -7 31 -20z\"/> <path d=\"M1147 1361 c-43 -10 -83 -23 -90 -30 -8 -8 -12 -54 -12 -142 0 -154 -5 -148 121 -174 83 -17 90 -17 181 0 52 9 100 24 108 32 12 11 15 43 15 141 0 70 -4 133 -9 140 -10 16 -151 52 -201 51 -19 -1 -70 -9 -113 -18z m171 -114 c44 -41 22 -118 -41 -140 -10 -4 -33 -1 -51 7 -68 28 -69 122 -2 152 36 15 62 10 94 -19z\"/> <path d=\"M1243 1223 c9 -2 23 -2 30 0 6 3 -1 5 -18 5 -16 0 -22 -2 -12 -5z\"/> <path d=\"M920 1190 l0 -50 48 0 c27 0 51 2 53 4 2 3 3 25 1 50 l-4 46 -49 0 -49 0 0 -50z\"/> <path d=\"M628 1203 c-10 -2 -18 -8 -18 -13 0 -14 44 -20 168 -20 115 0 122 1 122 20 0 19 -6 20 -127 19 -71 -1 -136 -3 -145 -6z\"/> <path d=\"M622 748 c-14 -14 -17 -254 -3 -276 5 -9 25 -12 62 -10 l54 3 0 145 0 145 -50 3 c-30 2 -55 -2 -63 -10z\"/> <path d=\"M812 752 c-9 -6 -12 -43 -10 -148 l3 -139 60 0 60 0 0 145 0 145 -50 3 c-27 1 -56 -2 -63 -6z\"/> <path d=\"M995 747 c-3 -7 -4 -74 -3 -148 l3 -134 60 0 60 0 0 145 0 145 -58 3 c-41 2 -59 -1 -62 -11z\"/> <path d=\"M1184 747 c-2 -7 -3 -74 -2 -148 l3 -134 60 0 60 0 3 139 c2 105 -1 141 -10 148 -21 13 -108 10 -114 -5z\"/> <path d=\"M1376 752 c-8 -13 -10 -268 -2 -281 11 -18 113 -14 120 5 12 30 7 259 -6 272 -13 13 -104 17 -112 4z\"/> <path d=\"M1562 748 c-13 -13 -18 -242 -6 -272 8 -20 103 -23 122 -4 15 15 17 241 2 269 -8 15 -21 19 -58 19 -27 0 -53 -5 -60 -12z\"/> <path d=\"M1751 747 c-8 -10 -11 -56 -9 -148 l3 -134 60 0 60 0 0 145 0 145 -51 3 c-35 2 -54 -2 -63 -11z\"/> </g> </svg>`\n    let agvTemplate = ``;\n    switch(orientation) {\n      case 0:\n        agvTemplate = agv0Tempalate;\n        break;\n      case 90:\n        agvTemplate = agv90Template;\n        break;\n      case 180:\n        agvTemplate = agv180Template;\n        break;\n      case 270:\n        agvTemplate = agv270Template;\n        break;\n      default:\n        agvTemplate = agv0Tempalate;\n    }\n    let updateAgv = [];\n    let clearAgv = {\n        \"command\": \"remove_element\",\n        \"elementId\": `map_agv_${id}`\n    }\n    currentCommand.push(clearAgv);\n    currentCommand.push(commonFunction.addForeignObject(`map_agv_${id}`, xPos, yPos, grid, grid, agvTemplate));\n    return currentCommand;\n}\n\ncommonFunction.addCharger = function addCharger(id, xPos, yPos, width, height, color, grid) {\n    let scaleX = width / grid;\n    let scaleY = height / grid;\n    // Dummy data\n    // TODO: Find the equation to calculator scale coefficiants\n    scaleX = 0.012;\n    scaleY = -0.012;\n    \n    let chargerTemplate = `<svg version=\"1.0\" width=100%\" height=\"100%\"> <g transform=\"translate(${10},${grid - 6}) scale(${scaleX},${scaleY})\" fill=\"${color}\" stroke=\"none\"> <path d=\"M993 4879 c-71 -27 -155 -106 -190 -177 l-28 -57 -3 -2213 -2 -2212 1265 0 1265 0 0 1439 0 1440 38 -6 c97 -14 198 -89 244 -182 l23 -46 5 -1000 c5 -992 5 -1000 26 -1057 56 -146 188 -266 334 -304 85 -22 214 -15 292 15 119 46 231 157 280 279 l23 57 5 978 5 978 58 24 c118 47 196 124 238 232 20 51 23 81 27 251 l4 192 -81 0 -81 0 0 184 c0 170 -1 185 -21 210 -27 35 -86 36 -117 3 -21 -22 -22 -32 -22 -210 l0 -187 -85 0 -85 0 0 169 c0 174 -8 224 -40 241 -30 16 -76 12 -101 -9 -23 -19 -24 -23 -27 -210 l-3 -191 -75 0 -75 0 3 -202 c3 -196 4 -205 30 -261 36 -77 116 -160 191 -197 33 -16 69 -30 79 -30 18 0 18 -29 16 -967 l-3 -968 -24 -48 c-31 -62 -97 -128 -158 -157 -69 -34 -187 -34 -260 -1 -62 27 -135 102 -166 169 l-22 47 -5 1000 c-5 929 -6 1003 -23 1045 -69 173 -218 292 -395 316 l-52 7 0 666 c0 583 -2 674 -16 721 -31 103 -114 193 -211 230 -53 20 -76 20 -1041 19 -965 0 -988 0 -1039 -20z m1957 -1615 c0 -1252 -1 -1289 -20 -1387 -65 -326 -337 -612 -665 -699 -110 -29 -325 -31 -440 -4 -162 38 -311 122 -435 246 -121 121 -193 243 -244 415 -20 69 -20 88 -23 1393 l-3 1322 915 0 915 0 0 -1286z\"/> <path d=\"M2233 3918 c-61 -65 -796 -992 -800 -1010 -3 -10 2 -29 11 -43 l16 -25 231 0 c181 0 230 -3 226 -12 -2 -7 -48 -165 -102 -351 -93 -323 -96 -339 -81 -362 11 -17 26 -25 46 -25 27 0 66 45 440 512 363 452 411 515 408 542 -5 51 -28 56 -265 56 -117 0 -213 4 -213 8 0 5 43 157 95 338 52 181 95 339 95 351 0 23 -34 53 -60 53 -9 0 -30 -15 -47 -32z\"/> </g> </svg>`\n    let newCharger = commonFunction.addForeignObject(id, xPos, yPos, width, height, chargerTemplate);\n    return newCharger;\n}\n\nglobal.set('commonFunction', commonFunction)\nreturn;","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1010,"y":420,"wires":[]},{"id":"66e7b1e0.72cf8","type":"link out","z":"4c37ea4.c7cd314","g":"4925c1b4.36c01","name":"To SVG Map dashboard","links":["cd408382.ebbed"],"x":810,"y":120,"wires":[],"l":true},{"id":"1f9d283f.ee3218","type":"link out","z":"77f7877.e2cfb78","name":"","links":["a3585fe8.dd73"],"x":1295,"y":380,"wires":[]},{"id":"cd408382.ebbed","type":"link in","z":"77f7877.e2cfb78","name":"SVG In","links":["66e7b1e0.72cf8","e3b8bd95.4a885"],"x":1030,"y":380,"wires":[["2bf254dd.b9fa1c","7fd6961.7055368"]],"l":true},{"id":"7fd6961.7055368","type":"debug","z":"77f7877.e2cfb78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1160,"y":440,"wires":[]},{"id":"8fefdd8f.bb592","type":"link out","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"Query done","links":["68262405.99145c"],"x":1450,"y":80,"wires":[],"l":true},{"id":"78550bd3.32cdc4","type":"link out","z":"77f7877.e2cfb78","name":"Start","links":["3d0c4e7b.5a0822","68262405.99145c","c5845475.3fe288"],"x":550,"y":1040,"wires":[],"l":true},{"id":"f0752039.dd654","type":"function","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"Get waiting zone data","func":"let query       = \"SELECT * FROM waiting_zone\";\nmsg.topic       = query;\nmsg.queryType   = 'WAITING_ZONE';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":380,"wires":[["44dfa3e9.94b0fc"]]},{"id":"89f657ce.0bfdf8","type":"function","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"Set waitingZoneInfo","func":"let result  = msg.payload;\n\nlet allData = global.get('database');\nif(!allData) allData = {};\n\nlet waitingZoneInfo = {};\nfor(let i in result) {\n    waitingZoneInfo[result[i].id] = result[i];\n}\nglobal.set('database.waitingZoneInfo', waitingZoneInfo);\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1020,"y":320,"wires":[]},{"id":"d7a41129.cb36d","type":"function","z":"77f7877.e2cfb78","name":"Set system off","func":"let systemRunningStatus = global.get('systemInfo.runningStatus');\nif(!systemRunningStatus) return;\nglobal.set('systemInfo.runningStatus', false)\nmsg.payload = global.get('mapTemplate.ClearMap');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":1080,"wires":[["e3b8bd95.4a885"]]},{"id":"e3b8bd95.4a885","type":"link out","z":"77f7877.e2cfb78","name":"Stop","links":["cd408382.ebbed","68262405.99145c","c5845475.3fe288","d511c4eb.1bb208"],"x":550,"y":1080,"wires":[],"l":true},{"id":"515c73c1.7c526c","type":"function","z":"77f7877.e2cfb78","name":"Set system on","func":"let systemRunningStatus = global.get('systemInfo.runningStatus');\nif(systemRunningStatus) return;\nglobal.set('systemInfo.runningStatus', true);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":1040,"wires":[["78550bd3.32cdc4"]]},{"id":"a9df8085.81cec","type":"ui_ui_control","z":"4c37ea4.c7cd314","g":"4925c1b4.36c01","name":"","events":"all","x":220,"y":220,"wires":[["4d7772eb.a816dc"]]},{"id":"4d7772eb.a816dc","type":"trigger","z":"4c37ea4.c7cd314","g":"4925c1b4.36c01","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"300","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":380,"y":220,"wires":[["d5bfcdb.c48123"]]},{"id":"d5bfcdb.c48123","type":"function","z":"4c37ea4.c7cd314","g":"4925c1b4.36c01","name":"Check system on","func":"let systemRunningStatus = global.get('systemInfo.runningStatus');\nif(!systemRunningStatus) return;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":160,"wires":[["7c5bfb1a.c1ed04"]]},{"id":"36fb62c7.c1830e","type":"debug","z":"77f7877.e2cfb78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1370,"y":320,"wires":[]},{"id":"fb9d1291.679c6","type":"inject","z":"4c37ea4.c7cd314","g":"4925c1b4.36c01","name":"","props":[{"p":"agvId","v":"1","vt":"str"},{"p":"node","v":"12","vt":"num"},{"p":"orientation","v":"90","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":410,"y":320,"wires":[["e91df890.d864c8"]]},{"id":"e91df890.d864c8","type":"function","z":"4c37ea4.c7cd314","g":"4925c1b4.36c01","name":"","func":"let updateAgvCommand = [];\nlet commonFunction = global.get('commonFunction')\nupdateAgvCommand = commonFunction.updateAgv(msg.agvId, msg.node, msg.orientation, 'red', 75, updateAgvCommand);\nmsg.payload = updateAgvCommand\nreturn msg;\n\n// (id,node, orientation, color, grid, currentCommand)","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":320,"wires":[["66e7b1e0.72cf8","1fafcd2a.e0d9f3"]]},{"id":"1fafcd2a.e0d9f3","type":"debug","z":"4c37ea4.c7cd314","g":"4925c1b4.36c01","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":300,"wires":[]},{"id":"a3585fe8.dd73","type":"link in","z":"4c37ea4.c7cd314","name":"Handle User Clicked","links":["1f9d283f.ee3218"],"x":220,"y":500,"wires":[["b26fbc6b.866c4"]],"l":true},{"id":"b26fbc6b.866c4","type":"function","z":"4c37ea4.c7cd314","name":"Clicked Object","func":"let userClickedEvent = msg;\nlet objectClickedOn = userClickedEvent.elementId.split('_')[1];\nlet objectId = Number(userClickedEvent.elementId.split('_')[2]);\nmsg = {};\nmsg.objectId = objectId;\nmsg.objectClickedOn = objectClickedOn;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":500,"wires":[["c1da78fe.417b08","739bf5ef.ee495c"]]},{"id":"9cb56b04.140448","type":"ui_template","z":"77f7877.e2cfb78","group":"2e0d4d2d.123722","name":"System Overview","order":1,"width":"13","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1530,"y":900,"wires":[[]]},{"id":"772d101b.25081","type":"template","z":"77f7877.e2cfb78","name":"","field":"template","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<body>\n</body>\n</html>\n","output":"str","x":1300,"y":900,"wires":[["9cb56b04.140448"]]},{"id":"939d0147.e6cd9","type":"inject","z":"77f7877.e2cfb78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1110,"y":900,"wires":[["772d101b.25081"]]},{"id":"c1da78fe.417b08","type":"switch","z":"4c37ea4.c7cd314","name":"","property":"objectClickedOn","propertyType":"msg","rules":[{"t":"eq","v":"floor","vt":"str"},{"t":"eq","v":"agv","vt":"str"},{"t":"eq","v":"pod","vt":"str"},{"t":"eq","v":"station","vt":"str"},{"t":"eq","v":"waitingZone","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":640,"y":500,"wires":[["fbafff82.4cd5f"],["e1f31289.06387"],["f118d110.9238c"],["f118d110.9238c"],["f118d110.9238c"],["a7695697.dfba48","f118d110.9238c"]]},{"id":"a7695697.dfba48","type":"debug","z":"4c37ea4.c7cd314","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":620,"wires":[]},{"id":"fccccd4b.68a58","type":"link in","z":"77f7877.e2cfb78","name":"System Overview","links":["3b52146e.4eaebc"],"x":1280,"y":860,"wires":[["9cb56b04.140448","fefdf4dd.5fb6f8"]],"l":true},{"id":"d5b0c1f.bf06f4","type":"function","z":"77f7877.e2cfb78","name":"Update system load","func":"let systemRunningStatus = global.get('systemInfo.runningStatus');\nmsg = {};\nif(!systemRunningStatus) {\n    msg.systemLoad = 0;\n    return msg;\n}\n\nlet agvsInfo            = global.get('database.agvInfo');\nlet numberAgv           = Object.keys(agvsInfo).length;\nlet numberActiveAgv     = 0;\n\nfor(let agv in agvsInfo) {\n    if(agvsInfo[agv].status === 1) numberActiveAgv++;    \n}\nmsg.systemLoad = ((numberActiveAgv / numberAgv) * 100).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":2860,"wires":[["683dc15f.4798a"]]},{"id":"30911560.5fe95a","type":"link in","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"Update Database","links":["668ab295.aed77c","4eef44b1.bc3c7c"],"x":120,"y":160,"wires":[["b3307949.62bb58","3cb89d54.0f61f2"]],"l":true},{"id":"9f274500.8d7b68","type":"trigger","z":"3a995584.ab3d9a","name":"Update SystemOverview delay","op1":"START","op2":"0","op1type":"str","op2type":"str","duration":"-10","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":350,"y":800,"wires":[["fff69f12.9b51d"]]},{"id":"e99c454e.26d328","type":"inject","z":"3a995584.ab3d9a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":800,"wires":[["9f274500.8d7b68"]]},{"id":"fff69f12.9b51d","type":"function","z":"3a995584.ab3d9a","name":"Check system status","func":"let systemRunningStatus = global.get('systemInfo.runningStatus');\nif(!systemRunningStatus) return;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":800,"wires":[["4eef44b1.bc3c7c"]]},{"id":"4eef44b1.bc3c7c","type":"link out","z":"3a995584.ab3d9a","name":"Refresh System Overview","links":["30911560.5fe95a"],"x":870,"y":800,"wires":[],"l":true},{"id":"68262405.99145c","type":"link in","z":"77f7877.e2cfb78","name":"Update system overview charts","links":["78550bd3.32cdc4","8fefdd8f.bb592","e3b8bd95.4a885"],"x":750,"y":2940,"wires":[["d5b0c1f.bf06f4","da2ffb1b.9f5788","3244f93c.3cfb26","f1dd8096.eb4bb"]],"l":true},{"id":"da2ffb1b.9f5788","type":"function","z":"77f7877.e2cfb78","name":"Update storage","func":"let systemRunningStatus = global.get('systemInfo.runningStatus');\nmsg = {};\nif(!systemRunningStatus) {\n    msg.storage = 0;\n    return msg;\n}\n\nlet podsInfo            = global.get('database.podInfo');\nlet numberPod           = Object.keys(podsInfo).length;\nlet loadPercentage      = 0;\n\nfor(let pod in podsInfo) {\n    loadPercentage += podsInfo[pod].load;   \n}\n\nmsg.storage = (loadPercentage / numberPod).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":2920,"wires":[["2dbe382a.15b428"]]},{"id":"3244f93c.3cfb26","type":"debug","z":"77f7877.e2cfb78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":2980,"wires":[]},{"id":"fd83d77d.7b5cd8","type":"debug","z":"3a995584.ab3d9a","g":"131b47d9.b692e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1430,"y":120,"wires":[]},{"id":"87e03797.113e38","type":"inject","z":"77f7877.e2cfb78","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":770,"y":2880,"wires":[["d5b0c1f.bf06f4","da2ffb1b.9f5788","f1dd8096.eb4bb"]]},{"id":"f1dd8096.eb4bb","type":"function","z":"77f7877.e2cfb78","name":"Update system load","func":"let agvsInfo            = global.get('database.agvInfo');\nif(!agvsInfo) return;\n\nlet systemRunningStatus = global.get('systemInfo.runningStatus');\nif(!systemRunningStatus) {\n    for(let agv in agvsInfo) {\n        msg = {};\n        msg.topic = `AGV ${agv}`;\n        msg.label = `AGV ${agv}`;\n        msg.payload = 0;\n        node.send(msg)\n    }\n    return;\n}\n\nfor(let agv in agvsInfo) {\n    msg = {};\n    msg.topic = `AGV ${agv}`;\n    msg.label = `AGV ${agv}`;\n    msg.payload = agvsInfo[agv].batt ;\n    node.send(msg)\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":3120,"wires":[["caf557fb.08cfd8"]]},{"id":"a659721f.37964","type":"ui_gauge","z":"77f7877.e2cfb78","name":"Stowing per hour","group":"a8c7d9a3.586368","order":3,"width":3,"height":3,"gtype":"gage","title":"Stowing per hour","label":"perHour","format":"{{msg.stow}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"5000","seg2":"8000","x":1330,"y":3040,"wires":[]},{"id":"f118d110.9238c","type":"template","z":"4c37ea4.c7cd314","name":"","field":"template","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<title>Floor</title>\n<body>\n<img class=\"img\" src=\"/img/floor.png\" alt=\"floor\" width=\"20% !important\" height=\"50% !important\">\n\n<!-- Navbar (sit on top) -->\n<p>{{objectClickedOn}}</p>\n<br>\n<p>{{objectId}}</p>\n\n</body>\n</html>\n","output":"str","x":840,"y":520,"wires":[["3b52146e.4eaebc"]]},{"id":"3b52146e.4eaebc","type":"link out","z":"4c37ea4.c7cd314","name":"To system overview","links":["fccccd4b.68a58"],"x":1250,"y":460,"wires":[],"l":true},{"id":"fefdf4dd.5fb6f8","type":"debug","z":"77f7877.e2cfb78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1490,"y":860,"wires":[]},{"id":"c5845475.3fe288","type":"link in","z":"77f7877.e2cfb78","name":"Update AGV dropbox","links":["78550bd3.32cdc4","e3b8bd95.4a885"],"x":400,"y":1580,"wires":[["2396aa36.dc4ad6"]],"l":true},{"id":"182e61ad.37b5be","type":"template","z":"4c37ea4.c7cd314","name":"Floor grid template","field":"template","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<title>Floor</title>\n<body>\n<img class=\"img\" src=\"/img/floor.png\" alt=\"floor\" width=\"20% !important\" height=\"50% !important\">\n<h2 style=\"text-align:center; color:lightblue !important;\">Floor Grid</h2>\n<h4 style=\"text-align:center;\">Floor Grid ID: {{objectId}}</h4>\n<h4 style=\"text-align:center;\">Floor Grid x: {{xPos}}</h4>\n<h4 style=\"text-align:center;\">Floor Grid y: {{yPos}}</h4>\n<h4 style=\"text-align:center;\">Floor Grid blocked: {{isBlocked}}</h4>\n</body>\n</html>\n","output":"str","x":1030,"y":420,"wires":[["3b52146e.4eaebc"]]},{"id":"fbafff82.4cd5f","type":"function","z":"4c37ea4.c7cd314","name":"Get floor grid data","func":"let floorData   = global.get(`database.mapInfo['${msg.objectId}']`);\nmsg             = {};\nmsg.objectId    = floorData.id;\nmsg.xPos        = floorData.x;\nmsg.yPos        = floorData.y;\nmsg.isBlocked   = floorData.is_blocked;\nmsg.isActive    = floorData.is_active;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":420,"wires":[["182e61ad.37b5be","80224623.8c6308"]]},{"id":"739bf5ef.ee495c","type":"debug","z":"4c37ea4.c7cd314","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":600,"wires":[]},{"id":"80224623.8c6308","type":"debug","z":"4c37ea4.c7cd314","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":380,"wires":[]},{"id":"d511c4eb.1bb208","type":"link in","z":"77f7877.e2cfb78","name":"Update systemoverview","links":["e3b8bd95.4a885"],"x":1120,"y":940,"wires":[["772d101b.25081"]],"l":true},{"id":"72a6cf7c.f5585","type":"template","z":"4c37ea4.c7cd314","name":"AGV template","field":"template","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<title>Floor</title>\n<body>\n<img class=\"img\" src=\"/img/agv.jpg\" alt=\"floor\" width=\"20% !important\" height=\"50% !important\">\n<h2 style=\"text-align:center; color:lightblue !important;\">AGV</h2>\n\n<h4 style=\"text-align:center;\">AGV ID: {{objectId}}</h4>\n<h4 style=\"text-align:center;\">AGV IP address: {{ip}}:{{port}}</h4>\n<h4 style=\"text-align:center;\">AGV Orientation {{orientation}}</h4>\n<h4 style=\"text-align:center;\">AGV Current POD ID: {{currentPod}}</h4>\n<h4 style=\"text-align:center;\">AGV Battery: {{battery}}</h4>\n<h4 style=\"text-align:center;\">AGV Running Status: {{runningStatus}}</h4>\n<h4 style=\"text-align:center;\">AGV Node ID: {{nodeId}}</h4>\n<h4 style=\"text-align:center;\">AGV Available: {{isAvailable}}</h4>\n<h4 style=\"text-align:center;\">AGV Speed: {{speed}}</h4>\n</body>\n</html>\n","output":"str","x":1040,"y":480,"wires":[["3b52146e.4eaebc"]]},{"id":"e1f31289.06387","type":"function","z":"4c37ea4.c7cd314","name":"Get AGV data","func":"let agvData         = global.get(`database.agvInfo['${msg.objectId}']`);\nmsg                 = {};\nmsg.objectId        = agvData.id;\nmsg.ip              = agvData.ip;\nmsg.port            = agvData.port;\nmsg.orientation     = agvData.orientation;\nmsg.currentPod      = agvData.current_POD;\nmsg.battery         = agvData.batt;\nmsg.runningStatus   = agvData.status;\nmsg.nodeId          = agvData.node_id;\nmsg.isAvailable     = agvData.isAvailable;\nmsg.speed           = agvData.speed;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":480,"wires":[["72a6cf7c.f5585"]]},{"id":"f4ff614c.6b113","type":"inject","z":"244c6901.e4ea56","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":400,"wires":[["11b5391c.5d4637"]]},{"id":"11b5391c.5d4637","type":"mqtt out","z":"244c6901.e4ea56","name":"","topic":"test","qos":"","retain":"","broker":"b29e788e.10ac18","x":490,"y":400,"wires":[]},{"id":"3b7885bd.29e60a","type":"mqtt in","z":"244c6901.e4ea56","name":"","topic":"agv_1_ server","qos":"2","datatype":"auto","broker":"b29e788e.10ac18","x":250,"y":440,"wires":[["d431850.101fe78"]]},{"id":"d431850.101fe78","type":"debug","z":"244c6901.e4ea56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":520,"wires":[]},{"id":"1c49c055.c843b","type":"mqtt in","z":"244c6901.e4ea56","name":"","topic":"agv_2_ server","qos":"2","datatype":"auto","broker":"b29e788e.10ac18","x":250,"y":500,"wires":[["d431850.101fe78"]]},{"id":"f476b9cb.045be8","type":"mqtt in","z":"244c6901.e4ea56","name":"","topic":"agv_3_ server","qos":"2","datatype":"auto","broker":"b29e788e.10ac18","x":250,"y":560,"wires":[["d431850.101fe78"]]},{"id":"cf0cda4e.98a308","type":"mqtt in","z":"244c6901.e4ea56","name":"","topic":"agv_4_ server","qos":"2","datatype":"auto","broker":"b29e788e.10ac18","x":250,"y":620,"wires":[["d431850.101fe78"]]},{"id":"8609997b.61c548","type":"mqtt in","z":"244c6901.e4ea56","name":"","topic":"agv_5_ server","qos":"2","datatype":"auto","broker":"b29e788e.10ac18","x":250,"y":680,"wires":[["d431850.101fe78"]]},{"id":"a27841d7.57d44","type":"inject","z":"244c6901.e4ea56","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":280,"wires":[["73132caf.52b8f4"]]},{"id":"73132caf.52b8f4","type":"mqtt out","z":"244c6901.e4ea56","name":"","topic":"agv_2_worker","qos":"","retain":"","broker":"b29e788e.10ac18","x":480,"y":280,"wires":[]},{"id":"f5fb9449.2b2798","type":"inject","z":"244c6901.e4ea56","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":220,"wires":[["c8f5515.c2ce1b"]]},{"id":"c8f5515.c2ce1b","type":"mqtt out","z":"244c6901.e4ea56","name":"","topic":"agv_1_worker","qos":"","retain":"","broker":"b29e788e.10ac18","x":480,"y":220,"wires":[]},{"id":"5922d141.53b67","type":"inject","z":"244c6901.e4ea56","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":340,"wires":[["9b5d939e.451c8"]]},{"id":"9b5d939e.451c8","type":"mqtt out","z":"244c6901.e4ea56","name":"","topic":"agv_3_worker","qos":"","retain":"","broker":"b29e788e.10ac18","x":480,"y":340,"wires":[]},{"id":"4e717118.ce344","type":"inject","z":"244c6901.e4ea56","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6_48","payloadType":"str","x":150,"y":780,"wires":[["2aaa09ff.e259e6"]]},{"id":"2aaa09ff.e259e6","type":"mqtt out","z":"244c6901.e4ea56","name":"","topic":"dashboardPodCarryingRequest","qos":"","retain":"","broker":"b29e788e.10ac18","x":500,"y":780,"wires":[]},{"id":"a0753fd3.48c9b","type":"inject","z":"244c6901.e4ea56","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12_2","payloadType":"str","x":150,"y":880,"wires":[["2aaa09ff.e259e6"]]}]