flows_16.8/flows.json
[{"id":"1aa2c4b9.bfa2db","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"3f9f3fac.7b7b4","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"264b0cf6.a717d4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d92a9e16.11028","type":"tab","label":"MySQL Test","disabled":true,"info":"This is a flow to demonstarte the MySQL node in Node-Red.\nWe measure the temperature of the Raspberry Pi's CPU and log it int the database."},{"id":"8e03bd31.66ce7","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e311f0d4.9e022","type":"ui_tab","z":"","name":"teat","icon":"test","disabled":false,"hidden":false},{"id":"6e833a30.6de804","type":"ui_group","z":"","name":"Default","tab":"e311f0d4.9e022","order":1,"disp":true,"width":"15","collapse":false},{"id":"8ebb1f0d.bcc97","type":"ui_group","z":"","name":"Pogoda","tab":"4f96cb5c.265db4","order":2,"disp":true,"width":"6"},{"id":"4f96cb5c.265db4","type":"ui_tab","z":"","name":"test","icon":"dashboard","order":1},{"id":"2192556a.caf9fa","type":"ui_group","z":"","name":"AGV Management  System","tab":"cbd09294.e2f47","order":1,"disp":true,"width":"20","collapse":false},{"id":"cbd09294.e2f47","type":"ui_tab","z":"","name":"AGV","icon":"dashboard","disabled":false,"hidden":false},{"id":"1770bb0e.9660f5","type":"MySQLdatabase","z":"","name":"","host":"192.168.1.46","port":"3306","db":"agv","tz":""},{"id":"112340bf.596adf","type":"Stackhero-MySQL-Server","z":"","name":"","host":"192.168.1.46","port":"3306","tls":false,"database":"AGV"},{"id":"31ca4ee7.ddbee2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b334c861.e30d18","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"Node-RED-test","tz":""},{"id":"b75da539.ec5d88","type":"ui_svg_graphics","z":"1aa2c4b9.bfa2db","group":"6e833a30.6de804","order":0,"width":"15","height":"10","svgString":"<p>Hot: <input type=\"text\" ng-model=\"myHot\"></p>\n<p>Cold: <input type=\"text\" ng-model=\"myCold\"></p>\n<md-button ng-click=\"send({payload: {hot: myHot, cold: myCold}})\">\n    Send values\n</md-button>\n<md-button ng-click=\"send({payload: {adf}})\">\n    Send values\n</md-button>","clickableShapes":[],"smilAnimations":[],"bindings":[],"showCoordinates":false,"autoFormatAfterEdit":false,"showBrowserErrors":false,"outputField":"payload","editorUrl":"//drawsvg.org/drawsvg.html","directory":"","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"name":"","x":480,"y":300,"wires":[["f8a3ff5.33d8c"]]},{"id":"f8a3ff5.33d8c","type":"debug","z":"1aa2c4b9.bfa2db","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":300,"wires":[]},{"id":"dded14e5.aacba8","type":"uibuilder","z":"1aa2c4b9.bfa2db","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":460,"y":380,"wires":[["f8a3ff5.33d8c"],["f8a3ff5.33d8c"]]},{"id":"7a486177.5162e","type":"ui_template","z":"1aa2c4b9.bfa2db","group":"8ebb1f0d.bcc97","name":"","order":0,"width":0,"height":0,"format":"<button class=\"inner\" id=\"mBtn1\" ng-click=\"send({archive: '10'})\">button1</button>\n<button class=\"inner\" id=\"mBtn2\" ng-click=\"send({cookies: 1})\">button2</button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":400,"y":540,"wires":[["33a1240d.cb887c"]]},{"id":"33a1240d.cb887c","type":"join","z":"1aa2c4b9.bfa2db","name":"","mode":"custom","build":"merged","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","x":610,"y":540,"wires":[["3f3164ee.70d96c"]]},{"id":"3f3164ee.70d96c","type":"debug","z":"1aa2c4b9.bfa2db","name":"","active":true,"console":"false","complete":"false","x":820,"y":540,"wires":[]},{"id":"87301ae7.786bc8","type":"function","z":"3f9f3fac.7b7b4","name":"","func":"let json = JSON.parse(global.get('map_template'));\nconst HEIGHT = global.get('height');\nconst WIDTH = global.get('width');\nconst grid = 50;\nconst ORIGIN_X = -25 + grid;\nconst ORIGIN_Y = 37 + grid;\nlet charging_hub_position = [[8,0], [9,1]];\n\nlet POD_position = global.get('POD_position');\n\nlet Column_position = [[0,0], [9,0],\n                        [0,8], [9,8]];  \nlet Station_position = [[8,7], [8,4]];  \n\n/* draw floor's grid-----------------------------------------*/\nmsg.payload = json.Square;\nfor(var i = 0; i < WIDTH; i++ ){\n    msg.payload.elementAttributes.width = grid;\n    msg.payload.elementAttributes.height = grid;\n    msg.payload.elementAttributes.x =ORIGIN_X + grid*i;\n    for(var j = 0; j < HEIGHT; j++){\n        msg.payload.elementAttributes.y = ORIGIN_Y + grid*j;\n        msg.payload.elementId = \"square_\" + String(i) + String(j);\n        node.send(msg);\n    }\n}\nmsg.payload = json.Line;\nmsg.payload.elementId = \"bound\";\nmsg.payload.elementAttributes.x1 = ORIGIN_X + 0;\nmsg.payload.elementAttributes.y1 = ORIGIN_Y + 0;\nmsg.payload.elementAttributes.x2 = ORIGIN_X + grid * WIDTH;\nmsg.payload.elementAttributes.y2 = ORIGIN_Y + 0;\nmsg.payload.elementStyleAttributes.stroke = \"#ff751a\";\nnode.send(msg);\n\nmsg.payload = json.Line;\nmsg.payload.elementId = \"bound\";\nmsg.payload.elementAttributes.x1 = ORIGIN_X + 0;\nmsg.payload.elementAttributes.y1 = ORIGIN_Y + 0;\nmsg.payload.elementAttributes.x2 = ORIGIN_X + 0;\nmsg.payload.elementAttributes.y2 = ORIGIN_Y + grid * HEIGHT;\nmsg.payload.elementStyleAttributes.stroke = \"#ff751a\";\nnode.send(msg);\n\nmsg.payload = json.Line;\nmsg.payload.elementId = \"bound\";\nmsg.payload.elementAttributes.x1 = ORIGIN_X + grid * WIDTH;\nmsg.payload.elementAttributes.y1 = ORIGIN_Y + 0;\nmsg.payload.elementAttributes.x2 = ORIGIN_X + grid * WIDTH;\nmsg.payload.elementAttributes.y2 = ORIGIN_Y + grid * HEIGHT;\nmsg.payload.elementStyleAttributes.stroke = \"#ff751a\";\nnode.send(msg);\n\nmsg.payload = json.Line;\nmsg.payload.elementId = \"bound\";\nmsg.payload.elementAttributes.x1 = ORIGIN_X + 0;\nmsg.payload.elementAttributes.y1 = ORIGIN_Y + grid * HEIGHT;\nmsg.payload.elementAttributes.x2 = ORIGIN_X + grid * WIDTH;\nmsg.payload.elementAttributes.y2 = ORIGIN_Y + grid * HEIGHT;\nmsg.payload.elementStyleAttributes.stroke = \"#ff751a\";\nnode.send(msg);\n\n/* Add Charging hub -------------------------------------------*/\nmsg.payload = json.Charging_hub;\nfor(var index = 0; index < charging_hub_position.length; index++){\n    msg.payload[0].elementId = \"charging_hub_\" + String(index);\n    msg.payload[1].elementId = \"charging_hub_\" + String(index);\n    msg.payload[2].elementId = \"charging_hub_\" + String(index);\n    \n    msg.payload[0].elementAttributes.x = ORIGIN_X + grid * charging_hub_position[index][0];\n    msg.payload[0].elementAttributes.y = ORIGIN_Y + grid * charging_hub_position[index][1];\n    msg.payload[0].elementAttributes.width = grid;\n    msg.payload[0].elementAttributes.height = grid;\n    \n    msg.payload[1].elementAttributes.x1 = ORIGIN_X + grid * charging_hub_position[index][0] + Math.floor(grid / 2);\n    msg.payload[1].elementAttributes.y1 = ORIGIN_Y + grid * charging_hub_position[index][1] + Math.floor(grid / 10);\n    msg.payload[1].elementAttributes.x2 = ORIGIN_X + grid * charging_hub_position[index][0] + Math.floor(grid / 2);\n    msg.payload[1].elementAttributes.y2 = ORIGIN_Y + grid * charging_hub_position[index][1] + 9 * Math.floor(grid / 10);\n    \n    msg.payload[2].elementAttributes.x1 = ORIGIN_X + grid * charging_hub_position[index][0] + Math.floor(grid / 10);\n    msg.payload[2].elementAttributes.y1 = ORIGIN_Y + grid * charging_hub_position[index][1] + Math.floor(grid / 2);\n    msg.payload[2].elementAttributes.x2 = ORIGIN_X + grid * charging_hub_position[index][0] + 9 * Math.floor(grid / 10);\n    msg.payload[2].elementAttributes.y2 = ORIGIN_Y + grid * charging_hub_position[index][1] + Math.floor(grid / 2);\n    \n    node.send(msg);\n}\n\n/* Add POD-----------------------------------------------------*/\nmsg.payload = json.POD;\nfor(index = 0; index < POD_position.length; index++){\n    msg.payload[0].elementId =  POD_position[index][2];\n    msg.payload[1].elementId =  POD_position[index][2];\n    msg.payload[2].elementId =  POD_position[index][2];\n    msg.payload[0].elementAttributes.x = ORIGIN_X + grid * POD_position[index][0];\n    msg.payload[0].elementAttributes.y = ORIGIN_Y + grid * POD_position[index][1];\n    \n    msg.payload[0].elementAttributes.width = grid;\n    msg.payload[0].elementAttributes.height = grid;\n    \n    msg.payload[1].elementAttributes.x1 = ORIGIN_X + grid * POD_position[index][0];\n    msg.payload[1].elementAttributes.y1 = ORIGIN_Y + grid * POD_position[index][1];\n    msg.payload[1].elementAttributes.x2 = ORIGIN_X + grid * POD_position[index][0] + grid;\n    msg.payload[1].elementAttributes.y2 = ORIGIN_Y + grid * POD_position[index][1] + grid;\n    \n    msg.payload[2].elementAttributes.x1 = ORIGIN_X + grid * POD_position[index][0] + grid;\n    msg.payload[2].elementAttributes.y1 = ORIGIN_Y + grid * POD_position[index][1] ;\n    msg.payload[2].elementAttributes.x2 = ORIGIN_X + grid * POD_position[index][0] ;\n    msg.payload[2].elementAttributes.y2 = ORIGIN_Y + grid * POD_position[index][1] +grid;\n    \n    node.send(msg);\n}\n\n/* Add Station------------------------------------------------*/\nfor(index = 0; index < Station_position.length; index++){\n    msg.payload = json.DAS;\n    msg.payload.elementId = \"Station_\" + String(index);\n    msg.payload.elementAttributes.x = ORIGIN_X + grid * Station_position[index][0] + grid;\n    msg.payload.elementAttributes.y = ORIGIN_Y + grid * Station_position[index][1];\n    msg.payload.elementAttributes.width = grid;\n    msg.payload.elementAttributes.height = grid;\n    node.send(msg);\n    \n    msg.payload = json.DAS;\n    msg.payload.elementId = \"Station_\" + String(index);\n    msg.payload.elementAttributes.x = ORIGIN_X + grid * Station_position[index][0];\n    msg.payload.elementAttributes.y = ORIGIN_Y + grid * Station_position[index][1] + grid;\n    msg.payload.elementAttributes.width = grid;\n    msg.payload.elementAttributes.height = grid;\n    node.send(msg);\n    \n    msg.payload = json.Round;\n    msg.payload.elementId = \"Station_\" + String(index);\n    msg.payload.elementAttributes.cx = ORIGIN_X + grid * Station_position[index][0] + Math.floor(grid / 2);\n    msg.payload.elementAttributes.cy = ORIGIN_Y + grid * Station_position[index][1] + Math.floor(grid / 2);\n    msg.payload.elementAttributes.r = Math.floor(grid / 3);\n    node.send(msg);\n    \n    msg.payload = json.Station;\n    msg.payload[0].elementId = \"Station_\" + String(index);\n    \n    msg.payload[0].elementAttributes.x = ORIGIN_X + grid * Station_position[index][0];\n    msg.payload[0].elementAttributes.y = ORIGIN_Y + grid * Station_position[index][1];\n    msg.payload[0].elementAttributes.width = grid * 2;\n    msg.payload[0].elementAttributes.height = grid * 2;\n    node.send(msg);\n}\n\n/* Add Column-------------------------------------------------*/\nmsg.payload = json.Column;\nfor(index = 0; index < Column_position.length; index++){\n    msg.payload[0].elementId = \"Column_\" + String(index);\n    msg.payload[1].elementId = \"Column_\" + String(index);\n    msg.payload[0].elementAttributes.x = ORIGIN_X + grid * Column_position[index][0];\n    msg.payload[0].elementAttributes.y = ORIGIN_Y + grid * Column_position[index][1];\n    \n    msg.payload[0].elementAttributes.width = grid;\n    msg.payload[0].elementAttributes.height = grid;\n    \n    msg.payload[1].elementAttributes.x1 = ORIGIN_X + grid * Column_position[index][0] + grid;\n    msg.payload[1].elementAttributes.y1 = ORIGIN_Y + grid * Column_position[index][1] ;\n    msg.payload[1].elementAttributes.x2 = ORIGIN_X + grid * Column_position[index][0] ;\n    msg.payload[1].elementAttributes.y2 = ORIGIN_Y + grid * Column_position[index][1] +grid;\n    \n    node.send(msg);\n}\n\nvar x,y, rotation;\nfunction addAGV(x, y, rotation, index){\n    msg.payload = json.AGV;\n    msg.payload[0].elementId = \"AGV_\" + String(index);\n    msg.payload[1].elementId = \"AGV_\" + String(index);\n    msg.payload[2].elementId = \"AGV_\" + String(index);\n    \n    msg.payload[0].elementAttributes.x = ORIGIN_X + x * grid;\n    msg.payload[0].elementAttributes.y = ORIGIN_Y + y * grid;\n    msg.payload[0].elementAttributes.width = grid;\n    msg.payload[0].elementAttributes.height = grid;\n    \n    msg.payload[1].elementAttributes.cx = ORIGIN_X + x * grid + Math.floor(grid / 2);\n    msg.payload[1].elementAttributes.cy = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n    msg.payload[1].elementAttributes.r = Math.floor(grid / 2);\n    \n    msg.payload[2].elementAttributes.x1 = ORIGIN_X + x * grid + Math.floor(grid / 2);\n    msg.payload[2].elementAttributes.y1 = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n    \n    if( rotation === 0){\n        msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2) ;\n        msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid ;\n    }\n    else if( rotation === 90){\n        msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2) + Math.floor(grid / 2);\n        msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n    }\n    else if( rotation === 180){\n        msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2);\n        msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid + Math.floor(grid / 2) + Math.floor(grid / 2);\n    }\n    else if( rotation === 270){\n        msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2) - Math.floor(grid / 2);\n        msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n    }\n    node.send(msg);\n}\n\nfunction moveAGV(x, y, rotation, index){\n    msg.payload = json.Remove;\n    msg.payload.elementId = \"AGV_\" + String(index);\n    node.send(msg);\n    addAGV(x, y, rotation, index);\n}\naddAGV(6, 5, 0, 1);\naddAGV(7, 2, 90, 2);\naddAGV(5, 4, 270, 4);\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":520,"wires":[["faf10b94.890928"]]},{"id":"b780f41e.a79948","type":"debug","z":"3f9f3fac.7b7b4","name":"floorplan","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1040,"y":480,"wires":[]},{"id":"faf10b94.890928","type":"ui_svg_graphics","z":"3f9f3fac.7b7b4","group":"2192556a.caf9fa","order":5,"width":"20","height":"20","svgString":"\n<html>\n<head>\n      <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n      <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css\">\n      <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>\n      <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js\"></script>\n      <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js\"></script>\n    <style>\n        .featuredBtn.active {\n           background-color: white;\n           color: black;\n        }\n        .featuredBtn {\n           float: left;\n           color: white;\n           text-align: center;\n           font-weight: bold;\n           padding: 10px 90px;\n           text-decoration: none;\n           font-size: 18px;\n           margin: 0px 0px;\n           border: none;\n        }\n        .button1 {\n            background-color: #80bfff;\n        }\n          .button1:hover {\n            background-color: white;\n            color: black;\n        }\n        \n       .p-text-header\n        {\n        \tmargin:0;\n            padding:0;\n            font-size:15px;\n            fill:none;\n            color:white;\n            text-align: left;\n        } \n        .p-text-header-1\n        {\n        \tmargin:0;\n            padding:0;\n            font-size:15px;\n            fill:none;\n            color:black;\n            text-align: left;\n        } \n        .p-text-header-2\n        {\n        \tmargin:0;\n            padding:0;\n            font-size:15px;\n            fill:none;\n            color:white;\n            text-align: center;\n        } \n        .p-text-header-3\n        {\n        \tmargin:0;\n            padding:0;\n            font-size:20px;\n            fill:none;\n            color:white;\n            text-align: center;\n        } \n        .p-text-header-4\n        {\n        \tmargin:0;\n            padding:0;\n            font-size:15px;\n            fill:none;\n            color:black;\n            text-align: center;\n            font-weight: bold;\n        }\n        .button {\n            background-color: #4CAF50;\n            border: none;\n            color: #99ccff;\n            padding: 5px 160px;\n            text-align: left;\n            text-decoration: none;\n            display: inline-block;\n            font-size: 15px;\n            margin: 4px 2px;\n            cursor: pointer;\n            -webkit-transition-duration: 0.4s; \n            transition-duration: 0.4s;\n        }\n        div.scroll {\n          background-color: white;\n          width: 375px;\n          height: 480px;\n          overflow-y: auto;\n          overflow-x: hidden;\n        }\n        .button1 {\n            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);\n        }\n        .button2:hover {\n            background-color: #2eb82e;\n            color: black;\n            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);\n        }\n        .input{\n            width: 520px;\n        }\n    </style>\n</head>\n<body>\n<svg x=\"100\" y=\"100\" height=\"1000\" viewBox=\"170 -100 1200 1200\" width=\"1300\" overflow-y=\"hidden\" overflow-x=\"hidden\"  xmlns=\"http://www.w3.org/2000/svg\" xmlns:svg=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n    <rect x=\"5\" y=\"5\" width=\"1250\" height=\"800\" style=\"fill:#002699; stroke: black; stroke-width:3px;\"/>\n    <foreignObject x=\"20\" y=\"15\" width=\"100\" height=\"30\">\n        <text class=\"p-text-header\"> Map data file </text>\n    </foreignObject>\n    <foreignObject x=\"130\" y=\"15\" width=\"300\" height=\"30\">\n        <form action=\"/load-map\" method=\"POST\" enctype=\"multipart/form-data\" target=\"dummyframe\">\n            <input/>\n            <input type=\"submit\" value=\"Choose\"  name= {{msg.payload}}/>\n        </form>\n    </foreignObject>\n    <foreignObject x=\"80\" y=\"50\" width=\"200\" height=\"30\">\n        <button ng-click=\"send({payload: 1001})\" type=\"button\" class=\"btn btn-success btn-sm\">Start AGV System</button>\n    </foreignObject>\n    <foreignObject x=\"350\" y=\"50\" width=\"200\" height=\"30\">\n        <button ng-click=\"send({payload: 1002})\" type=\"button\" class=\"btn btn-danger btn-sm\">Stop AGV System</button>\n        <!--<button ng-click=\"send({payload: 1002})\">Stop AGV System</button>-->\n    </foreignObject>\n    <rect x=\"550\" y=\"15\" width=\"375\" height=\"20\" style=\"fill:#3385ff; stroke: none;\"/>\n    <foreignObject x=\"670\" y=\"15\" width=\"200\" height=\"20\">\n        <text class=\"p-text-header-2\"> AGV Controlling Pannel </text>\n    </foreignObject>\n    \n    <svg width=\"375\" height=\"500\" overflow=\"auto\">\n      <rect x=\"550\" y=\"40\" width=\"375\" height=\"500\" style=\"fill:white; stroke: none;\"/>\n    </svg>\n    \n    <rect x=\"25\" y=\"558\" width=\"1218\" height=\"230\" style=\"fill:white; stroke: none;\"/>\n    <rect x=\"25\" y=\"565\" width=\"1218\" height=\"40\" style=\"fill:#002699; stroke: none;\"/>\n    <foreignObject x=\"500\" y=\"570\" width=\"300\" height=\"100\">\n        <text class=\"p-text-header-3\"> Warehouse management system </text>\n    </foreignObject>\n    \n    <rect x=\"550\" y=\"40\" width=\"375\" height=\"500\" style=\"fill:white; stroke: none;\"/>\n    <foreignObject x=\"550\" y=\"40\" width=\"450\" height= \"500\"> \n        <div class=\"scroll\">\n\n            <button type=\"button\" class=\"button button2\" data-toggle=\"collapse\" data-target=\"#AGV1\">AGV1</button>\n            <div id=\"AGV1\" class=\"collapse\">\n                <svg width=\"350\" id=\"svg-temp1\" height=\"350\" overflow=\"auto\">\n                    <foreignObject x=\"10\" y=\"0\" width=\"120\" height=\"25\">\n                        <text class=\"p-text-header-4\"> Connection </text>\n                    </foreignObject>\n                    <rect x=\"130\" y=\"30\" width=\"200\" height=\"20\" style=\"fill: white; stroke: black; stroke-width:1px;\"/>\n                    <rect x=\"130\" y=\"60\" width=\"200\" height=\"20\" style=\"fill: white; stroke: black; stroke-width:1px;\"/>\n                    <foreignObject x=\"10\" y=\"30\" width=\"80\" height=\"25\">\n                        <text class=\"p-text-header-1\"> IP Address </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"60\" width=\"50\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Port </text>\n                    </foreignObject>\n                    <foreignObject x=\"20\" y=\"100\" width=\"150\" height=\"100\">\n                        <button ng-click=\"send({payload: 2010})\">Start AGV1</button>\n                    </foreignObject>\n                    <foreignObject x=\"210\" y=\"100\" width=\"150\" height=\"100\">\n                        <button ng-click=\"send({payload: 2011})\">Stop AGV1</button>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"130\" width=\"120\" height=\"25\">\n                        <text class=\"p-text-header-4\"> Information </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"160\" width=\"80\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Velocity: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"180\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Acceleration: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"200\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Battery: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"220\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Current POD: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"260\" width=\"120\" height=\"25\">\n                        <text class=\"p-text-header-4\"> Physics </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"280\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> X: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"300\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Y: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"320\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Orientation: </text>\n                    </foreignObject>\n                </svg>\n            </div>\n            \n            <br>\n            \n            <button type=\"button\" class=\"button button2\" data-toggle=\"collapse\" data-target=\"#AGV2\">AGV2</button>\n            <div id=\"AGV2\" class=\"collapse\">\n                <svg width=\"350\" id=\"svg-temp1\" height=\"350\" overflow=\"auto\">\n                    <foreignObject x=\"10\" y=\"0\" width=\"120\" height=\"25\">\n                        <text class=\"p-text-header-4\"> Connection </text>\n                    </foreignObject>\n                    <rect x=\"130\" y=\"30\" width=\"200\" height=\"20\" style=\"fill: white; stroke: black; stroke-width:1px;\"/>\n                    <rect x=\"130\" y=\"60\" width=\"200\" height=\"20\" style=\"fill: white; stroke: black; stroke-width:1px;\"/>\n                    <foreignObject x=\"10\" y=\"30\" width=\"80\" height=\"25\">\n                        <text class=\"p-text-header-1\"> IP Address </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"60\" width=\"50\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Port </text>\n                    </foreignObject>\n                    <foreignObject x=\"20\" y=\"100\" width=\"150\" height=\"100\">\n                        <button ng-click=\"send({payload: 2010})\">Start AGV1</button>\n                    </foreignObject>\n                    <foreignObject x=\"210\" y=\"100\" width=\"150\" height=\"100\">\n                        <button ng-click=\"send({payload: 2011})\">Stop AGV1</button>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"130\" width=\"120\" height=\"25\">\n                        <text class=\"p-text-header-4\"> Information </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"160\" width=\"80\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Velocity: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"180\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Acceleration: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"200\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Battery: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"220\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Current POD: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"260\" width=\"120\" height=\"25\">\n                        <text class=\"p-text-header-4\"> Physics </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"280\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> X: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"300\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Y: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"320\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Orientation: </text>\n                    </foreignObject>\n                </svg>\n            </div>\n            \n            <br>\n        \n            <button type=\"button\" class=\"button button2\" data-toggle=\"collapse\" data-target=\"#AGV3\">AGV3</button>\n            <div id=\"AGV3\" class=\"collapse\">\n                <svg width=\"350\" id=\"svg-temp1\" height=\"350\" overflow=\"auto\">\n                    <foreignObject x=\"10\" y=\"0\" width=\"120\" height=\"25\">\n                        <text class=\"p-text-header-4\"> Connection </text>\n                    </foreignObject>\n                    <rect x=\"130\" y=\"30\" width=\"200\" height=\"20\" style=\"fill: white; stroke: black; stroke-width:1px;\"/>\n                    <rect x=\"130\" y=\"60\" width=\"200\" height=\"20\" style=\"fill: white; stroke: black; stroke-width:1px;\"/>\n                    <foreignObject x=\"10\" y=\"30\" width=\"80\" height=\"25\">\n                        <text class=\"p-text-header-1\"> IP Address </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"60\" width=\"50\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Port </text>\n                    </foreignObject>\n                    <foreignObject x=\"20\" y=\"100\" width=\"150\" height=\"100\">\n                        <button ng-click=\"send({payload: 2010})\">Start AGV1</button>\n                    </foreignObject>\n                    <foreignObject x=\"210\" y=\"100\" width=\"150\" height=\"100\">\n                        <button ng-click=\"send({payload: 2011})\">Stop AGV1</button>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"130\" width=\"120\" height=\"25\">\n                        <text class=\"p-text-header-4\"> Information </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"160\" width=\"80\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Velocity: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"180\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Acceleration: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"200\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Battery: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"220\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Current POD: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"260\" width=\"120\" height=\"25\">\n                        <text class=\"p-text-header-4\"> Physics </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"280\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> X: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"300\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Y: </text>\n                    </foreignObject>\n                    <foreignObject x=\"10\" y=\"320\" width=\"150\" height=\"25\">\n                        <text class=\"p-text-header-1\"> Orientation: </text>\n                    </foreignObject>\n                </svg>\n            </div>\n        </div>\n    </foreignObject>\n    \n    <rect x=\"940\" y=\"15\" width=\"300\" height=\"20\" style=\"fill:#3385ff; stroke: none;\"/>\n    <foreignObject x=\"1080\" y=\"15\" width=\"200\" height=\"20\">\n        <text class=\"p-text-header-2\"> LOG </text>\n    </foreignObject>\n    <rect x=\"940\" y=\"40\" width=\"300\" height=\"500\" style=\"fill:white; stroke: none;\"/>\n    \n    <svg width=\"300\" height=\"500\" overflow=\"auto\">\n      <rect x=\"940\" y=\"40\" width=\"300\" height=\"500\" style=\"fill:white; stroke: none;\"/>\n    </svg>\n\n    <rect x=\"27\" y=\"90\" width=\"500\" height=\"450\" style=\"fill: white; stroke: none;\"/>\n    <rect x=\"25\" y=\"605\" width=\"1218\" height=\"42\" style=\"fill: lightblue; stroke: none;\"/>\n    <!--tool bar-->\n    <foreignObject x=\"-20\" y=\"605\" width=\"1200\" height=\"300\">\n      <!--<script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>-->\n      <!--<div class=\"row\">-->\n      <!--  <div class=\"featuredBtn\">-->\n      <!--    <button type=\"button\" class=\"button1 featuredBtn active\" id=\"btnOne\">Search for POD</button>-->\n      <!--    <button type=\"button\" class=\"button1 featuredBtn\" id=\"btnOne\">Search for AGV</button>-->\n      <!--    <button type=\"button\" class=\"button1 featuredBtn\" id=\"btnTwo\">Move POD</button>-->\n      <!--    <button type=\"button\" class=\"button1 featuredBtn\" id=\"btnThree\">Rearrange PODs</button>-->\n      <!--  </div>-->\n      <!--</div>-->\n      <div class=\"container\">\n      <!-- Nav tabs -->\n      <ul class=\"nav nav-tabs\" role=\"tablist\">\n        <li class=\"nav-item\">\n          <a class=\"nav-link active\" data-toggle=\"tab\" href=\"#tab1\">Search for POD</a>\n        </li>\n        <li class=\"nav-item\">\n          <a class=\"nav-link nav-link\" data-toggle=\"tab\" href=\"#tab2\">Search for AGV</a>\n        </li>\n        <li class=\"nav-item\">\n          <a class=\"nav-link\" data-toggle=\"tab\" href=\"#tab3\">Move POD</a>\n        </li>\n        <li class=\"nav-item\">\n          <a class=\"nav-link\" data-toggle=\"tab\" href=\"#tab4\">Rearrange PODs</a>\n        </li>\n      </ul>\n    \n      <!-- Tab panes -->\n        <div class=\"tab-content\">\n            <div id=\"tab1\" class=\"container tab-pane active\"><br>\n              <form>\n                <div class=\"input-group input\">\n                  <input type=\"text\" class=\"form-control\" ng-model=\"searchPODByID\" placeholder=\"Search POD. Please type out ID of that POD\" name=\"search\">\n                  <div class=\"input-group-btn\">\n                    <button type=\"submit\" class=\"btn btn-primary\" ng-click=\"send({payload: {searchPODByID: searchPODByID}})\">Find</button>\n                  </div>\n                </div>\n                \n                <div class=\"input-group input\">\n                  <input type=\"text\" class=\"form-control\" ng-model=\"searchPODByGoods\" placeholder=\"Search POD by name of goods on it\" name=\"search\">\n                  <div class=\"input-group-btn\">\n                    <button type=\"submit\" class=\"btn btn-primary\" ng-click=\"send({payload: {searchPODByGoods: searchPODByGoods}})\">Find</button>\n                  </div>\n                </div>\n                \n              </form>\n            </div>\n            \n            <div id=\"tab2\" class=\"container tab-pane fade\"><br>\n            <br>\n              <form>\n                <div class=\"input-group input\">\n                  <input type=\"text\" class=\"form-control\" ng-model=\"searchAGV\" placeholder=\"Search AGV. Please type out ID of that AGV\" name=\"search\">\n                  <div class=\"input-group-btn\">\n                    <button type=\"submit\" class=\"btn btn-primary\" ng-click=\"send({payload: {searchAGV: searchAGV}})\">Find</button>\n                  </div>\n                </div>\n              </form>\n            </div>\n            \n            <div id=\"tab3\" class=\"container tab-pane fade\"><br>\n              <p>this place will have some functions for moving POD.</p>\n            </div>\n            <div id=\"tab4\" class=\"container tab-pane fade\"><br>\n              <p>this place will have some functions for rearranging PODs.</p>\n              <input ng-model=\"me.item.value\" ng-change=\"payload\" ng-click=\"send({payload})\" ng-trim=\"false\" aria-label=\"\" type=\"text\" style=\"z-index: 1;\" step=\"any\" class=\"ng-valid md-input ng-not-empty ng-dirty ng-valid-parse ng-touched\" id=\"input_0\" aria-invalid=\"false\">\n            </div>\n        </div>\n      </div>\n    </foreignObject>\n    \n</svg>\n\n</body>\n</html>","clickableShapes":[],"smilAnimations":[],"bindings":[],"showCoordinates":false,"autoFormatAfterEdit":false,"showBrowserErrors":false,"outputField":"payload","editorUrl":"//drawsvg.org/drawsvg.html","directory":"D:\\flow\\vma\\","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"name":"","x":860,"y":520,"wires":[["b780f41e.a79948","fd92cb61.c89208","b0e0ce5d.2945e"]]},{"id":"fd92cb61.c89208","type":"link out","z":"3f9f3fac.7b7b4","name":"output controlling","links":["1b86115a.44462f","cefceb93.6f54e8","fc7c5ebe.eff67","8c56b92f.c0df48"],"x":995,"y":520,"wires":[]},{"id":"cefceb93.6f54e8","type":"link in","z":"3f9f3fac.7b7b4","name":"start","links":["fd92cb61.c89208"],"x":155,"y":560,"wires":[["b8d4c317.bd2"]]},{"id":"b8d4c317.bd2","type":"function","z":"3f9f3fac.7b7b4","name":"","func":"if(msg.payload == 1001) node.send(msg);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":560,"wires":[["87301ae7.786bc8"]]},{"id":"97f1c1e3.04d9e","type":"function","z":"3f9f3fac.7b7b4","name":"","func":"if(msg.payload == 1002) node.send(msg);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":600,"wires":[["b476b6af.0657c8"]]},{"id":"b476b6af.0657c8","type":"template","z":"3f9f3fac.7b7b4","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"command\": \"add_element\",\n    \"elementType\": \"rect\",\n    \"elementId\": \"clear\",\n    \"elementAttributes\": {\n        \"x\": \"\",\n        \"y\": \"\",\n        \"width\": \"\",\n        \"height\": \"\"\n    },\n    \"elementStyleAttributes\": {\n        \"fill\": \"white\",\n        \"stroke\": \"none\"\n    }\n}\n    \n","output":"json","x":460,"y":600,"wires":[["850b833c.1ffd1"]]},{"id":"1b86115a.44462f","type":"link in","z":"3f9f3fac.7b7b4","name":"stop","links":["fd92cb61.c89208"],"x":155,"y":600,"wires":[["97f1c1e3.04d9e"]]},{"id":"850b833c.1ffd1","type":"function","z":"3f9f3fac.7b7b4","name":"","func":"let json = msg.payload;\nconst HEIGHT = 18;\nconst WIDTH = 20;\nconst grid = 25;\nconst ORIGIN_X = 0 + grid;\nconst ORIGIN_Y = 62 + grid;\njson.elementAttributes.x = \"20\";\njson.elementAttributes.y = \"85\";\njson.elementAttributes.height = \"455\";\njson.elementAttributes.width = \"508\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":600,"wires":[["faf10b94.890928"]]},{"id":"b0e0ce5d.2945e","type":"debug","z":"3f9f3fac.7b7b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":560,"wires":[]},{"id":"5a9ab6df.892808","type":"inject","z":"3f9f3fac.7b7b4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Line\":{\"command\":\"add_element\",\"elementType\":\"line\",\"elementId\":\"\",\"elementAttributes\":{\"x1\":\"\",\"y1\":\"\",\"x2\":\"\",\"y2\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"gold\",\"stroke-width\":\"5px\"}},\"Remove\":{\"command\":\"remove_element\",\"elementId\":\"\"},\"Round\":{\"command\":\"add_element\",\"elementType\":\"circle\",\"elementId\":\"\",\"elementAttributes\":{\"cx\":\"\",\"cy\":\"\",\"r\":\"\"},\"elementStyleAttributes\":{\"fill\":\"black\",\"stroke\":\"black\",\"stroke-width\":\"1px\"}},\"Square\":{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"black\",\"stroke-width\":\"0.1px\"}},\"Charging_hub\":[{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"gold\",\"stroke\":\"gold\",\"stroke-width\":\"5px\"}},{\"command\":\"add_element\",\"elementType\":\"line\",\"elementId\":\"\",\"elementAttributes\":{\"x1\":\"\",\"y1\":\"\",\"x2\":\"\",\"y2\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"green\",\"stroke-width\":\"8px\"}},{\"command\":\"add_element\",\"elementType\":\"line\",\"elementId\":\"\",\"elementAttributes\":{\"x1\":\"\",\"y1\":\"\",\"x2\":\"\",\"y2\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"green\",\"stroke-width\":\"8px\"}}],\"POD\":[{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"lightgreen\",\"stroke\":\"blue\",\"stroke-width\":\"1px\"}},{\"command\":\"add_element\",\"elementType\":\"line\",\"elementId\":\"\",\"elementAttributes\":{\"x1\":\"\",\"y1\":\"\",\"x2\":\"\",\"y2\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"blue\",\"stroke-width\":\"1px\"}},{\"command\":\"add_element\",\"elementType\":\"line\",\"elementId\":\"\",\"elementAttributes\":{\"x1\":\"\",\"y1\":\"\",\"x2\":\"\",\"y2\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"blue\",\"stroke-width\":\"1px\"}}],\"Column\":[{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"lightgray\",\"stroke\":\"black\",\"stroke-width\":\"1px\"}},{\"command\":\"add_element\",\"elementType\":\"line\",\"elementId\":\"\",\"elementAttributes\":{\"x1\":\"\",\"y1\":\"\",\"x2\":\"\",\"y2\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"black\",\"stroke-width\":\"1px\"}}],\"AGV\":[{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"cornflowerblue\",\"stroke\":\"blue\",\"stroke-width\":\"1px\"}},{\"command\":\"add_element\",\"elementType\":\"circle\",\"elementId\":\"\",\"elementAttributes\":{\"cx\":\"\",\"cy\":\"\",\"r\":\"\"},\"elementStyleAttributes\":{\"fill\":\"lightgreen\",\"stroke\":\"black\",\"stroke-width\":\"1px\"}},{\"command\":\"add_element\",\"elementType\":\"line\",\"elementId\":\"\",\"elementAttributes\":{\"x1\":\"\",\"y1\":\"\",\"x2\":\"\",\"y2\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"black\",\"stroke-width\":\"2px\"}}],\"Station\":[{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"white\",\"stroke\":\"red\",\"stroke-width\":\"2px\"}}],\"DAS_vertical\":[{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"green\",\"stroke\":\"green\",\"stroke-width\":\"5px\"}}],\"DAS_horizontal\":[{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"green\",\"stroke\":\"green\",\"stroke-width\":\"5px\"}}]}","payloadType":"json","x":210,"y":520,"wires":[["87301ae7.786bc8"]]},{"id":"383af311.b5f5bc","type":"mysql","z":"264b0cf6.a717d4","mydb":"1770bb0e.9660f5","name":"","x":490,"y":180,"wires":[["2f2b7411.7e3cbc"]]},{"id":"c87071e.814889","type":"inject","z":"264b0cf6.a717d4","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":180,"y":180,"wires":[["dc4cc58f.ba25c8"]]},{"id":"dc4cc58f.ba25c8","type":"function","z":"264b0cf6.a717d4","name":"","func":"msg.topic = \"SELECT `x`, `y` FROM `agv`.`map_size`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":180,"wires":[["383af311.b5f5bc"]]},{"id":"2f2b7411.7e3cbc","type":"function","z":"264b0cf6.a717d4","name":"","func":"global.set('height', msg.payload[0].y);\nglobal.set('width', msg.payload[0].x);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":180,"wires":[[]]},{"id":"b46037c2.858198","type":"inject","z":"264b0cf6.a717d4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"height","payloadType":"global","x":210,"y":580,"wires":[["ff9d65e9.0e3c28"]]},{"id":"ff9d65e9.0e3c28","type":"debug","z":"264b0cf6.a717d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":580,"wires":[]},{"id":"2e3ab59b.a10f5a","type":"inject","z":"264b0cf6.a717d4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"width","payloadType":"global","x":210,"y":620,"wires":[["91b5ac0b.686ac"]]},{"id":"91b5ac0b.686ac","type":"debug","z":"264b0cf6.a717d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":620,"wires":[]},{"id":"c99a10a0.680e3","type":"mysql","z":"264b0cf6.a717d4","mydb":"1770bb0e.9660f5","name":"","x":490,"y":240,"wires":[["d496f768.f3e658","c66607f4.c5bb58"]]},{"id":"b71094de.0b9aa8","type":"inject","z":"264b0cf6.a717d4","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":180,"y":240,"wires":[["d7e26d52.f9ca1"]]},{"id":"d7e26d52.f9ca1","type":"function","z":"264b0cf6.a717d4","name":"","func":"msg.topic = \"SELECT `x`, `y`,`id` FROM `agv`.`POD`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":240,"wires":[["c99a10a0.680e3"]]},{"id":"d496f768.f3e658","type":"function","z":"264b0cf6.a717d4","name":"","func":"let json = msg.payload;\nlet POD_position = [];\nfor(let i = 0; i< json.length; i++){\n    let subArray = [json[i].x, json[i].y, json[i].id];\n    POD_position.push(subArray);\n}\nglobal.set('POD_position', POD_position);\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":240,"wires":[[]]},{"id":"379f49d.7f3ceb6","type":"inject","z":"264b0cf6.a717d4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"POD_position","payloadType":"global","x":230,"y":660,"wires":[["ff8bfdbe.3b49"]]},{"id":"ff8bfdbe.3b49","type":"debug","z":"264b0cf6.a717d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":660,"wires":[]},{"id":"c66607f4.c5bb58","type":"debug","z":"264b0cf6.a717d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":300,"wires":[]},{"id":"fc7c5ebe.eff67","type":"link in","z":"264b0cf6.a717d4","name":"","links":["fd92cb61.c89208"],"x":135,"y":140,"wires":[["dc4cc58f.ba25c8","d7e26d52.f9ca1"]]},{"id":"5e20d4bd.45836c","type":"switch","z":"3f9f3fac.7b7b4","name":"searchPODByID","property":"payload.searchPODByID","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":340,"wires":[["5dcfcc00.fbe264"]]},{"id":"fff4423d.78784","type":"switch","z":"3f9f3fac.7b7b4","name":"searchPODByGoods","property":"payload.searchPODByGoods","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":380,"wires":[["7ab4a318.6cc3fc"]]},{"id":"8c56b92f.c0df48","type":"link in","z":"3f9f3fac.7b7b4","name":"","links":["fd92cb61.c89208"],"x":175,"y":360,"wires":[["5e20d4bd.45836c","fff4423d.78784"]]},{"id":"5dcfcc00.fbe264","type":"function","z":"3f9f3fac.7b7b4","name":"","func":"var PODid = msg.payload.searchPODByID; \nquery = `SELECT x,y,id,goods FROM POD WHERE id='`+PODid+`';`; \nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":340,"wires":[["c9ff1550.a64968"]]},{"id":"851259de.9362b8","type":"inject","z":"d92a9e16.11028","name":"Trigger","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":120,"wires":[["633f78aa.d0a4c8"]]},{"id":"633f78aa.d0a4c8","type":"exec","z":"d92a9e16.11028","command":"vcgencmd","addpay":true,"append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"Command","x":330,"y":180,"wires":[["4f14eb53.245d64"],[],[]]},{"id":"4f14eb53.245d64","type":"function","z":"d92a9e16.11028","name":"Query","func":"/*\nIn this function I enter my Raspberry Pi's CPU\ntemperature using the command \"vcgencmd measure_temp\".\nI then store this temperature in the variable temp,\ndo the necessary formatting and then send a database\nquery to enter the temperature in a database named\nNode-RED-test and the field named Field in the table\nnamed test, every two seconds.\n*/\nvar temp = msg.payload.replace(\"temp=\", \"\").replace(\"'C\\n\", \"\"); //Only give the number\nquery = `INSERT INTO test(Field) VALUES(`+temp+`);`; //Creates query with the recorded temp value\nmsg.topic = query; //Put query into the msg.topic\nreturn msg; //Return the query","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":220,"wires":[["29046c0b.36cf74","a34f3f8b.1bc86"]]},{"id":"29046c0b.36cf74","type":"debug","z":"d92a9e16.11028","name":"Query String","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":870,"y":420,"wires":[]},{"id":"a34f3f8b.1bc86","type":"mysql","z":"d92a9e16.11028","mydb":"b334c861.e30d18","name":"Database","x":740,"y":80,"wires":[["917d7036.db5"]]},{"id":"917d7036.db5","type":"debug","z":"d92a9e16.11028","name":"Payload (Status)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":180,"wires":[]},{"id":"c9ff1550.a64968","type":"mysql","z":"3f9f3fac.7b7b4","mydb":"1770bb0e.9660f5","name":"","x":650,"y":340,"wires":[["f22628f6.dab968"]]},{"id":"7ab4a318.6cc3fc","type":"function","z":"3f9f3fac.7b7b4","name":"","func":"var PODGoods = msg.payload.searchPODByGoods; \nquery = `SELECT x,y,id,goods FROM POD WHERE goods='`+PODGoods+`';`; \nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":380,"wires":[["c9ff1550.a64968"]]},{"id":"bc03a194.35e3c","type":"template","z":"3f9f3fac.7b7b4","name":"global map template","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"Line\": {\n        \"command\": \"add_element\",\n        \"elementType\": \"line\",\n        \"elementId\": \"\",\n        \"elementAttributes\": {\n            \"x1\": \"\",\n            \"y1\": \"\",\n            \"x2\": \"\",\n            \"y2\": \"\"\n        },\n        \"elementStyleAttributes\": {\n            \"fill\": \"none\",\n            \"stroke\": \"gold\",\n            \"stroke-width\": \"5px\"\n        }\n    },\n    \"Remove\": {\n        \"command\": \"remove_element\",\n        \"elementId\": \"\"\n    },\n    \"Round\": {\n        \"command\": \"add_element\",\n        \"elementType\": \"circle\",\n        \"elementId\": \"\",\n        \"elementAttributes\": {\n            \"cx\": \"\",\n            \"cy\": \"\",\n            \"r\": \"\"\n        },\n        \"elementStyleAttributes\": {\n            \"fill\": \"black\",\n            \"stroke\": \"black\",\n            \"stroke-width\": \"1px\"\n        }\n    },\n    \"Square\": {\n        \"command\": \"add_element\",\n        \"elementType\": \"rect\",\n        \"elementId\": \"\",\n        \"elementAttributes\": {\n            \"x\": \"\",\n            \"y\": \"\",\n            \"width\": \"\",\n            \"height\": \"\"\n        },\n        \"elementStyleAttributes\": {\n            \"fill\": \"none\",\n            \"stroke\": \"black\",\n            \"stroke-width\": \"0.1px\"\n        }\n    },\n    \"Charging_hub\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"gold\",\n                \"stroke\": \"gold\",\n                \"stroke-width\": \"5px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"green\",\n                \"stroke-width\": \"8px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"green\",\n                \"stroke-width\": \"8px\"\n            }\n        }\n    ],\n    \"POD\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"#ffcc66\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"3px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"1px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"1px\"\n            }\n        }\n    ],\n    \"Column\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"lightgray\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"1px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"1px\"\n            }\n        }\n    ],\n    \"AGV\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"cornflowerblue\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"1px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"circle\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"cx\": \"\",\n                \"cy\": \"\",\n                \"r\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"lightgreen\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"1px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"2px\"\n            }\n        }\n    ],\n    \"Station\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"red\",\n                \"stroke-width\": \"5px\"\n            }\n        }\n    ],\n    \"DAS\": {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"green\",\n                \"stroke\": \"green\",\n                \"stroke-width\": \"5px\"\n            }\n        }\n}","output":"str","x":520,"y":40,"wires":[["fe29f64b.0ed348"]]},{"id":"9080a369.d44fe","type":"inject","z":"3f9f3fac.7b7b4","name":"global map template","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":280,"y":40,"wires":[["bc03a194.35e3c"]]},{"id":"fe29f64b.0ed348","type":"function","z":"3f9f3fac.7b7b4","name":"global map template","func":"let json = msg.payload;\nglobal.set('map_template', json);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":40,"wires":[[]]},{"id":"f22628f6.dab968","type":"function","z":"3f9f3fac.7b7b4","name":"change POD color","func":"let json = JSON.parse(global.get('map_template'));\nconst HEIGHT = global.get('height');\nconst WIDTH = global.get('width');\nconst grid = 50;\nconst ORIGIN_X = -25 + grid;\nconst ORIGIN_Y = 37 + grid;\nlet x = msg.payload[0].x;\nlet y = msg.payload[0].y;\n\nmsg.payload = json.POD;\n\nmsg.payload[0].elementId =  \"tempPOD\";\nmsg.payload[1].elementId =  \"tempPOD\";\nmsg.payload[2].elementId =  \"tempPOD\";\nmsg.payload[0].elementAttributes.x = ORIGIN_X + grid * x;\nmsg.payload[0].elementAttributes.y = ORIGIN_Y + grid * y;\n\nmsg.payload[0].elementAttributes.width = grid;\nmsg.payload[0].elementAttributes.height = grid;\n\nmsg.payload[0].elementStyleAttributes.fill = \"#ff3333\";\nmsg.payload[0].elementStyleAttributes.stroke  = \"blue\";\n\nnode.send(msg);\n\nreturn ;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":340,"wires":[["faf10b94.890928","56f2bd78.172684"]]},{"id":"56f2bd78.172684","type":"delay","z":"3f9f3fac.7b7b4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":380,"wires":[["a433cacb.9f4948"]]},{"id":"a433cacb.9f4948","type":"function","z":"3f9f3fac.7b7b4","name":"revert POD color","func":"let json = JSON.parse(global.get('map_template'));\nmsg.payload = json.Remove;\nmsg.payload.elementId = \"tempPOD\";\nnode.send(msg);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":420,"wires":[["faf10b94.890928"]]}]