flows_27.8/flows.json
[{"id":"113cd6ac.982059","type":"tab","label":"main","disabled":false,"info":""},{"id":"3bdc10c7.3a533","type":"tab","label":"database","disabled":false,"info":""},{"id":"2a987a95.a27a26","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"58b86165.9d8d3","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"agv","tz":""},{"id":"5aa96ce1.38d674","type":"ui_group","z":"","name":"AGV Management  System","tab":"12379bac.a64724","order":1,"disp":false,"width":"27","collapse":false},{"id":"9d42abf8.d28c38","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"agv","tz":""},{"id":"12379bac.a64724","type":"ui_tab","z":"","name":"AGV","icon":"dashboard","disabled":false,"hidden":false},{"id":"76aa67f4.4775c8","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"agv","tz":""},{"id":"c8b76f58.8c8b3","type":"ui_group","z":"","name":"Home Floor Plan","tab":"cb206eea.af528","order":1,"disp":true,"width":"15","collapse":false},{"id":"cb206eea.af528","type":"ui_tab","z":"","name":"Home Floor Plan","icon":"dashboard","disabled":false,"hidden":false},{"id":"b3660762.2ea848","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6ac30a25.9ffc34","type":"ui_group","z":"","name":"Floorplan test","tab":"65657b7a.1ad064","order":1,"disp":true,"width":"14","collapse":false},{"id":"65657b7a.1ad064","type":"ui_tab","z":"","name":"SVG","icon":"dashboard","disabled":false,"hidden":false},{"id":"845d7918.71c188","type":"function","z":"113cd6ac.982059","name":"draw map","func":"let json = JSON.parse(global.get('map_template'));\nconst HEIGHT = global.get('height');\nconst WIDTH = global.get('width');\nconst grid = 50;\nconst ORIGIN_X = -25 + grid;\nconst ORIGIN_Y = 37 + grid;\nlet charging_hub_position = [[8,0], [9,1]];\nlet agv_status = global.get('agv_status');\n\nlet POD_position = global.get('POD_position');\n\nlet Column_position = [[0,0], [9,0],\n                        [0,8], [9,8]];  \nlet Station_position = [[8,7], [8,4]];  \n\n/* draw floor's grid-----------------------------------------*/\nmsg.payload = json.Square;\nfor(let i = 0; i < WIDTH; i++ ){\n    msg.payload.elementAttributes.width = grid;\n    msg.payload.elementAttributes.height = grid;\n    msg.payload.elementAttributes.x =ORIGIN_X + grid*i;\n    for(let j = 0; j < HEIGHT; j++){\n        msg.payload.elementAttributes.y = ORIGIN_Y + grid*j;\n        msg.payload.elementId = \"ID_square_\" + String(i) + String(j);\n        node.send(msg);\n    }\n}\nmsg.payload = json.Line;\nmsg.payload.elementId = \"ID_bound\";\nmsg.payload.elementAttributes.x1 = ORIGIN_X + 0;\nmsg.payload.elementAttributes.y1 = ORIGIN_Y + 0;\nmsg.payload.elementAttributes.x2 = ORIGIN_X + grid * WIDTH;\nmsg.payload.elementAttributes.y2 = ORIGIN_Y + 0;\nmsg.payload.elementStyleAttributes.stroke = \"#ff751a\";\nnode.send(msg);\n\nmsg.payload = json.Line;\nmsg.payload.elementId = \"ID_bound\";\nmsg.payload.elementAttributes.x1 = ORIGIN_X + 0;\nmsg.payload.elementAttributes.y1 = ORIGIN_Y + 0;\nmsg.payload.elementAttributes.x2 = ORIGIN_X + 0;\nmsg.payload.elementAttributes.y2 = ORIGIN_Y + grid * HEIGHT;\nmsg.payload.elementStyleAttributes.stroke = \"#ff751a\";\nnode.send(msg);\n\nmsg.payload = json.Line;\nmsg.payload.elementId = \"ID_bound\";\nmsg.payload.elementAttributes.x1 = ORIGIN_X + grid * WIDTH;\nmsg.payload.elementAttributes.y1 = ORIGIN_Y + 0;\nmsg.payload.elementAttributes.x2 = ORIGIN_X + grid * WIDTH;\nmsg.payload.elementAttributes.y2 = ORIGIN_Y + grid * HEIGHT;\nmsg.payload.elementStyleAttributes.stroke = \"#ff751a\";\nnode.send(msg);\n\nmsg.payload = json.Line;\nmsg.payload.elementId = \"ID_bound\";\nmsg.payload.elementAttributes.x1 = ORIGIN_X + 0;\nmsg.payload.elementAttributes.y1 = ORIGIN_Y + grid * HEIGHT;\nmsg.payload.elementAttributes.x2 = ORIGIN_X + grid * WIDTH;\nmsg.payload.elementAttributes.y2 = ORIGIN_Y + grid * HEIGHT;\nmsg.payload.elementStyleAttributes.stroke = \"#ff751a\";\nnode.send(msg);\n\n/* Add Charging hub -------------------------------------------*/\nmsg.payload = json.Charging_hub;\nfor(let index = 0; index < charging_hub_position.length; index++){\n    msg.payload[0].elementId = \"ID_charging_hub_\" + String(index);\n    msg.payload[1].elementId = \"ID_charging_hub_\" + String(index);\n    msg.payload[2].elementId = \"ID_charging_hub_\" + String(index);\n    \n    msg.payload[0].elementAttributes.x = ORIGIN_X + grid * charging_hub_position[index][0];\n    msg.payload[0].elementAttributes.y = ORIGIN_Y + grid * charging_hub_position[index][1];\n    msg.payload[0].elementAttributes.width = grid;\n    msg.payload[0].elementAttributes.height = grid;\n    \n    msg.payload[1].elementAttributes.x1 = ORIGIN_X + grid * charging_hub_position[index][0] + Math.floor(grid / 2);\n    msg.payload[1].elementAttributes.y1 = ORIGIN_Y + grid * charging_hub_position[index][1] + Math.floor(grid / 10);\n    msg.payload[1].elementAttributes.x2 = ORIGIN_X + grid * charging_hub_position[index][0] + Math.floor(grid / 2);\n    msg.payload[1].elementAttributes.y2 = ORIGIN_Y + grid * charging_hub_position[index][1] + 9 * Math.floor(grid / 10);\n    \n    msg.payload[2].elementAttributes.x1 = ORIGIN_X + grid * charging_hub_position[index][0] + Math.floor(grid / 10);\n    msg.payload[2].elementAttributes.y1 = ORIGIN_Y + grid * charging_hub_position[index][1] + Math.floor(grid / 2);\n    msg.payload[2].elementAttributes.x2 = ORIGIN_X + grid * charging_hub_position[index][0] + 9 * Math.floor(grid / 10);\n    msg.payload[2].elementAttributes.y2 = ORIGIN_Y + grid * charging_hub_position[index][1] + Math.floor(grid / 2);\n    \n    node.send(msg);\n}\n\n/* Add POD-----------------------------------------------------*/\nmsg.payload = json.POD;\nfor(index = 0; index < POD_position.length; index++){\n    msg.payload[0].elementId = 'ID_' + POD_position[index][2];\n    msg.payload[1].elementId = 'ID_' + POD_position[index][2];\n    msg.payload[2].elementId = 'ID_' + POD_position[index][2];\n    msg.payload[0].elementAttributes.x = ORIGIN_X + grid * POD_position[index][0];\n    msg.payload[0].elementAttributes.y = ORIGIN_Y + grid * POD_position[index][1];\n    \n    msg.payload[0].elementAttributes.width = grid;\n    msg.payload[0].elementAttributes.height = grid;\n    \n    msg.payload[1].elementAttributes.x1 = ORIGIN_X + grid * POD_position[index][0];\n    msg.payload[1].elementAttributes.y1 = ORIGIN_Y + grid * POD_position[index][1];\n    msg.payload[1].elementAttributes.x2 = ORIGIN_X + grid * POD_position[index][0] + grid;\n    msg.payload[1].elementAttributes.y2 = ORIGIN_Y + grid * POD_position[index][1] + grid;\n    \n    msg.payload[2].elementAttributes.x1 = ORIGIN_X + grid * POD_position[index][0] + grid;\n    msg.payload[2].elementAttributes.y1 = ORIGIN_Y + grid * POD_position[index][1] ;\n    msg.payload[2].elementAttributes.x2 = ORIGIN_X + grid * POD_position[index][0] ;\n    msg.payload[2].elementAttributes.y2 = ORIGIN_Y + grid * POD_position[index][1] +grid;\n    \n    node.send(msg);\n}\n\n/* Add Station------------------------------------------------*/\nfor(index = 0; index < Station_position.length; index++){\n    msg.payload = json.DAS;\n    msg.payload.elementId = \"ID_Station_\" + String(index);\n    msg.payload.elementAttributes.x = ORIGIN_X + grid * Station_position[index][0] + grid;\n    msg.payload.elementAttributes.y = ORIGIN_Y + grid * Station_position[index][1];\n    msg.payload.elementAttributes.width = grid;\n    msg.payload.elementAttributes.height = grid;\n    node.send(msg);\n    \n    msg.payload = json.DAS;\n    msg.payload.elementId = \"ID_Station_\" + String(index);\n    msg.payload.elementAttributes.x = ORIGIN_X + grid * Station_position[index][0];\n    msg.payload.elementAttributes.y = ORIGIN_Y + grid * Station_position[index][1] + grid;\n    msg.payload.elementAttributes.width = grid;\n    msg.payload.elementAttributes.height = grid;\n    node.send(msg);\n    \n    msg.payload = json.Round;\n    msg.payload.elementId = \"ID_Station_\" + String(index);\n    msg.payload.elementAttributes.cx = ORIGIN_X + grid * Station_position[index][0] + Math.floor(grid / 2);\n    msg.payload.elementAttributes.cy = ORIGIN_Y + grid * Station_position[index][1] + Math.floor(grid / 2);\n    msg.payload.elementAttributes.r = Math.floor(grid / 3);\n    node.send(msg);\n    \n    msg.payload = json.Station;\n    msg.payload[0].elementId = \"ID_Station_\" + String(index);\n    \n    msg.payload[0].elementAttributes.x = ORIGIN_X + grid * Station_position[index][0];\n    msg.payload[0].elementAttributes.y = ORIGIN_Y + grid * Station_position[index][1];\n    msg.payload[0].elementAttributes.width = grid * 2;\n    msg.payload[0].elementAttributes.height = grid * 2;\n    node.send(msg);\n}\n\n/* Add Column-------------------------------------------------*/\nmsg.payload = json.Column;\nfor(index = 0; index < Column_position.length; index++){\n    msg.payload[0].elementId = \"ID_Column_\" + String(index);\n    msg.payload[1].elementId = \"ID_Column_\" + String(index);\n    msg.payload[0].elementAttributes.x = ORIGIN_X + grid * Column_position[index][0];\n    msg.payload[0].elementAttributes.y = ORIGIN_Y + grid * Column_position[index][1];\n    \n    msg.payload[0].elementAttributes.width = grid;\n    msg.payload[0].elementAttributes.height = grid;\n    \n    msg.payload[1].elementAttributes.x1 = ORIGIN_X + grid * Column_position[index][0] + grid;\n    msg.payload[1].elementAttributes.y1 = ORIGIN_Y + grid * Column_position[index][1] ;\n    msg.payload[1].elementAttributes.x2 = ORIGIN_X + grid * Column_position[index][0] ;\n    msg.payload[1].elementAttributes.y2 = ORIGIN_Y + grid * Column_position[index][1] +grid;\n    \n    node.send(msg);\n}\n\nlet x,y, rotation;\nfunction addAGV(x, y, rotation, index){\n    msg.payload = json.AGV;\n    msg.payload[0].elementId = \"ID_\" + String(index);\n    msg.payload[1].elementId = \"ID_\" + String(index);\n    msg.payload[2].elementId = \"ID_\" + String(index);\n    \n    msg.payload[0].elementAttributes.x = ORIGIN_X + x * grid;\n    msg.payload[0].elementAttributes.y = ORIGIN_Y + y * grid;\n    msg.payload[0].elementAttributes.width = grid;\n    msg.payload[0].elementAttributes.height = grid;\n    \n    msg.payload[1].elementAttributes.cx = ORIGIN_X + x * grid + Math.floor(grid / 2);\n    msg.payload[1].elementAttributes.cy = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n    msg.payload[1].elementAttributes.r = Math.floor(grid / 2);\n    \n    msg.payload[2].elementAttributes.x1 = ORIGIN_X + x * grid + Math.floor(grid / 2);\n    msg.payload[2].elementAttributes.y1 = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n    \n    if( rotation === 0){\n        msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2) ;\n        msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid ;\n    }\n    else if( rotation === 90){\n        msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2) + Math.floor(grid / 2);\n        msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n    }\n    else if( rotation === 180){\n        msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2);\n        msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid + Math.floor(grid / 2) + Math.floor(grid / 2);\n    }\n    else if( rotation === 270){\n        msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2) - Math.floor(grid / 2);\n        msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n    }\n    node.send(msg);\n}\n\n// function moveAGV(x, y, rotation, index){\n//     msg.payload = json.Remove;\n//     msg.payload.elementId = \"AGV_\" + String(index);\n//     node.send(msg);\n//     addAGV(x, y, rotation, index);\n// }\nfor(let i = 0; i < agv_status.length; i++){\n    addAGV(agv_status[i][1], agv_status[i][2], agv_status[i][5], agv_status[i][0])\n}\n\n// addAGV(6, 5, 0, 1);\n// addAGV(7, 2, 90, 2);\n// addAGV(5, 4, 270, 4);\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":360,"wires":[["bd57d9e3.f51dc8"]]},{"id":"c8d3bc54.0ec94","type":"debug","z":"113cd6ac.982059","name":"floorplan","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1140,"y":320,"wires":[]},{"id":"bd57d9e3.f51dc8","type":"ui_svg_graphics","z":"113cd6ac.982059","group":"5aa96ce1.38d674","order":5,"width":"26","height":"16","svgString":"<html>\n\n<head>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js\"></script>\n  <style>\n    .featuredBtn.active {\n       background-color: white;\n       color: black;\n    }\n    .featuredBtn {\n       float: left;\n       color: white;\n       text-align: center;\n       font-weight: bold;\n       padding: 10px 90px;\n       text-decoration: none;\n       font-size: 18px;\n       margin: 0px 0px;\n       border: none;\n    }\n    .button1 {\n        background-color: #80bfff;\n    }\n      .button1:hover {\n        background-color: white;\n        color: black;\n    }\n    \n    .p-text-header\n    {\n    \tmargin:0;\n        padding:0;\n        font-size:15px;\n        fill:none;\n        color:white;\n        text-align: left;\n    } \n    .p-text-header-1\n    {\n    \tmargin:0;\n        padding:0;\n        font-size:15px;\n        fill:none;\n        color:black;\n        text-align: left;\n    } \n    .p-text-header-2\n    {\n    \tmargin:0;\n        padding:0;\n        font-size:15px;\n        fill:none;\n        color:white;\n        text-align: center;\n    } \n    .p-text-header-3\n    {\n    \tmargin:0;\n        padding:0;\n        font-size:20px;\n        fill:none;\n        color:white;\n        text-align: center;\n    } \n    .p-text-header-4\n    {\n    \tmargin:0;\n        padding:0;\n        font-size:15px;\n        fill:none;\n        color:black;\n        text-align: center;\n        font-weight: bold;\n    }\n    .button {\n        background-color: #4CAF50;\n        border: none;\n        color: #99ccff;\n        padding: 5px 160px;\n        text-align: left;\n        text-decoration: none;\n        display: inline-block;\n        font-size: 15px;\n        margin: 4px 2px;\n        cursor: pointer;\n        -webkit-transition-duration: 0.4s; \n        transition-duration: 0.4s;\n    }\n    div.scroll {\n      background-color: white;\n      width: 375px;\n      height: 480px;\n      overflow-y: auto;\n      overflow-x: hidden;\n    }\n    div.scroll_log {\n      background-color: white;\n      width: 300px;\n      height: 500px;\n      overflow-y: auto;\n      overflow-x: auto;\n      display: block;\n    }\n    div.scroll_process {\n      background-color: white;\n      width: 580px;\n      height: 130px;\n      overflow-y: auto;\n      overflow-x: auto;\n      display: block;\n    }\n    .button1 {\n        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);\n    }\n    .button2:hover {\n        background-color: #2eb82e;\n        color: black;\n        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);\n    }\n    .input{\n        width:520px;\n    }\n  </style>\n</head>\n\n<body>\n  <!--<svg version=\"1.3\" x=\"100\" y=\"100\" height=\"1000\" viewBox=\"170 -100 1200 1200\" width=\"1300\" overflow-y=\"hidden\" overflow-x=\"hidden\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:svg=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">-->\n  <svg version=\"1.3\" x=\"0\" y=\"0\" height=\"820\" width=\"1280\" style=\"overflow-y=hidden; overflow-x:hidden;\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:svg=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n    <rect x=\"5\" y=\"5\" width=\"1250\" height=\"800\" style=\"fill:#007a99; stroke: black; stroke-width:3px;\" />\n    <foreignObject x=\"190\" y=\"10\" width=\"300\" height=\"30\">\n      <text id=\"header\" class=\"p-text-header\" style=\"font-weight: bold; color: white; text-align: center; font-size: 25px;\"> AGV SYSTEM </text>\n    </foreignObject>\n    <foreignObject x=\"80\" y=\"50\" width=\"200\" height=\"30\">\n      <button ng-click=\"send({payload: 1001})\" type=\"button\" class=\"btn btn-success btn-sm\">Start AGV System</button>\n    </foreignObject>\n    <foreignObject x=\"350\" y=\"50\" width=\"200\" height=\"30\">\n      <button ng-click=\"send({payload: 1002})\" type=\"button\" class=\"btn btn-danger btn-sm\">Stop AGV System</button>\n    </foreignObject>\n    <rect x=\"550\" y=\"15\" width=\"375\" height=\"20\" style=\"fill:#3385ff; stroke: none;\" />\n    <foreignObject x=\"670\" y=\"15\" width=\"200\" height=\"20\">\n      <text class=\"p-text-header-2\"> AGV Controlling Pannel </text>\n    </foreignObject>\n    <svg width=\"375\" height=\"500\" overflow=\"auto\">\n      <rect x=\"550\" y=\"40\" width=\"375\" height=\"500\" style=\"fill:white; stroke: none;\" />\n    </svg>\n    <rect x=\"25\" y=\"558\" width=\"1218\" height=\"230\" style=\"fill:white; stroke: none;\" />\n    <rect x=\"25\" y=\"565\" width=\"1218\" height=\"40\" style=\"fill:#007a99; stroke: none;\" />\n    <foreignObject x=\"500\" y=\"570\" width=\"300\" height=\"100\">\n      <text class=\"p-text-header-3\"> Warehouse management system </text>\n    </foreignObject>\n    <rect x=\"550\" y=\"40\" width=\"375\" height=\"500\" style=\"fill:white; stroke: none;\" />\n    <foreignObject x=\"550\" y=\"40\" width=\"450\" height=\"500\">\n      <div class=\"scroll\">\n        <button type=\"button\" class=\"button button2\" data-toggle=\"collapse\" data-target=\"#AGV1\">AGV1</button>\n        <div id=\"AGV1\" class=\"collapse\">\n          <svg width=\"350\" id=\"svg-temp1\" height=\"320\" overflow=\"auto\">\n            <foreignObject x=\"10\" y=\"0\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Connection </text>\n            </foreignObject>\n            <foreignObject x=\"100\" y=\"30\" width=\"230\" height=\"30\">\n                <div>\n                    <input type=\"text\" class=\"form-control\" ng-model=\"AGV1_ip\" placeholder=\"AGV 1 IP Adress\" name=\"AGV1_ip\" style=\"height:30px; width:230px; \">\n                </div>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"30\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> IP Address </text>\n            </foreignObject>\n            <foreignObject x=\"100\" y=\"60\" width=\"230\" height=\"30\">\n                <div>\n                    <input type=\"text\" class=\"form-control\" ng-model=\"AGV1_port\" placeholder=\"AGV 1 IP PORT\" name=\"AGV1_port\" style=\"height:30px; width:230px; \">\n                </div>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"62\" width=\"50\" height=\"25\">\n              <text class=\"p-text-header-1\"> Port </text>\n            </foreignObject>\n            <foreignObject x=\"50\" y=\"100\" width=\"100\" height=\"30\">\n              <button type=\"button\" class=\"btn btn-success btn-sm\" ng-click=\"send({payload: {AGV1_start: {ip: AGV1_ip, port: AGV1_port}}})\">Start AGV1</button>\n            </foreignObject>\n            <foreignObject x=\"230\" y=\"100\" width=\"100\" height=\"30\">\n              <button type=\"button\" class=\"btn btn-danger btn-sm\" ng-click=\"send({payload: {AGV1_stop : 1}})\">Stop AGV1</button>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"130\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Information </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"160\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> Velocity: </text> \n              <text id=\"AGV1_v\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"180\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Battery: </text>\n              <text id=\"AGV1_batt\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"200\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Current POD: </text>\n              <text id=\"AGV1_pod\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"240\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Physics </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"260\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> X: </text>\n              <text id=\"AGV1_x\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"280\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Y: </text>\n              <text id=\"AGV1_y\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"300\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Orientation: </text>\n              <text id=\"AGV1_ori\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n          </svg>\n        </div>\n        \n        <br>\n        <button type=\"button\" class=\"button button2\" data-toggle=\"collapse\" data-target=\"#AGV2\">AGV2</button>\n        <div id=\"AGV2\" class=\"collapse\">\n          <svg width=\"350\" id=\"svg-temp1\" height=\"320\" overflow=\"auto\">\n            <foreignObject x=\"10\" y=\"0\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Connection </text>\n            </foreignObject>\n            <foreignObject x=\"100\" y=\"30\" width=\"230\" height=\"30\">\n                <div>\n                    <input type=\"text\" class=\"form-control\" ng-model=\"AGV2_ip\" placeholder=\"AGV 2 IP Adress\" name=\"AGV2_ip\" style=\"height:30px; width:230px; \">\n                </div>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"30\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> IP Address </text>\n            </foreignObject>\n            <foreignObject x=\"100\" y=\"60\" width=\"230\" height=\"30\">\n                <div>\n                    <input type=\"text\" class=\"form-control\" ng-model=\"AGV2_port\" placeholder=\"AGV 2 IP PORT\" name=\"AGV2_port\" style=\"height:30px; width:230px; \">\n                </div>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"62\" width=\"50\" height=\"25\">\n              <text class=\"p-text-header-1\"> Port </text>\n            </foreignObject>\n            <foreignObject x=\"50\" y=\"100\" width=\"100\" height=\"30\">\n              <button type=\"button\" class=\"btn btn-success btn-sm\" ng-click=\"send({payload: {AGV2_start: {ip: AGV2_ip, port: AGV2_port}}})\">Start AGV2</button>\n            </foreignObject>\n            <foreignObject x=\"230\" y=\"100\" width=\"100\" height=\"30\">\n              <button type=\"button\" class=\"btn btn-danger btn-sm\" ng-click=\"send({payload: {AGV2_stop : 1}})\">Stop AGV2</button>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"130\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Information </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"160\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> Velocity: </text> \n              <text id=\"AGV2_v\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"180\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Battery: </text>\n              <text id=\"AGV2_batt\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"200\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Current POD: </text>\n              <text id=\"AGV2_pod\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"240\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Physics </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"260\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> X: </text>\n              <text id=\"AGV2_x\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"280\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Y: </text>\n              <text id=\"AGV2_y\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"300\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Orientation: </text>\n              <text id=\"AGV2_ori\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n          </svg>\n        </div>\n        <br>\n        <button type=\"button\" class=\"button button2\" data-toggle=\"collapse\" data-target=\"#AGV3\">AGV3</button>\n        <div id=\"AGV3\" class=\"collapse\">\n          <svg width=\"350\" id=\"svg-temp1\" height=\"320\" overflow=\"auto\">\n            <foreignObject x=\"10\" y=\"0\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Connection </text>\n            </foreignObject>\n            <foreignObject x=\"100\" y=\"30\" width=\"230\" height=\"30\">\n                <div>\n                    <input type=\"text\" class=\"form-control\" ng-model=\"AGV3_ip\" placeholder=\"AGV 3 IP Adress\" name=\"AGV3_ip\" style=\"height:30px; width:230px; \">\n                </div>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"30\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> IP Address </text>\n            </foreignObject>\n            <foreignObject x=\"100\" y=\"60\" width=\"230\" height=\"30\">\n                <div>\n                    <input type=\"text\" class=\"form-control\" ng-model=\"AGV3_port\" placeholder=\"AGV 3 IP PORT\" name=\"AGV3_port\" style=\"height:30px; width:230px; \">\n                </div>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"62\" width=\"50\" height=\"25\">\n              <text class=\"p-text-header-1\"> Port </text>\n            </foreignObject>\n            <foreignObject x=\"50\" y=\"100\" width=\"100\" height=\"30\">\n              <button type=\"button\" class=\"btn btn-success btn-sm\" ng-click=\"send({payload: {AGV3_start: {ip: AGV3_ip, port: AGV3_port}}})\">Start AGV3</button>\n            </foreignObject>\n            <foreignObject x=\"230\" y=\"100\" width=\"100\" height=\"30\">\n              <button type=\"button\" class=\"btn btn-danger btn-sm\" ng-click=\"send({payload: {AGV3_stop : 1}})\">Stop AGV3</button>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"130\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Information </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"160\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> Velocity: </text> \n              <text id=\"AGV3_v\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"180\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Battery: </text>\n              <text id=\"AGV3_batt\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"200\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Current POD: </text>\n              <text id=\"AGV3_pod\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"240\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Physics </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"260\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> X: </text>\n              <text id=\"AGV3_x\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"280\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Y: </text>\n              <text id=\"AGV3_x\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"300\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Orientation: </text>\n              <text id=\"AGV3_ori\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n          </svg>\n        </div>\n      </div>\n    </foreignObject>\n    <rect x=\"940\" y=\"15\" width=\"300\" height=\"20\" style=\"fill:#3385ff; stroke: none;\" />\n    <rect x=\"940\" y=\"40\" width=\"300\" height=\"500\" style=\"fill:white; stroke: none;\" />\n    <svg width=\"300\" height=\"500\" overflow=\"auto\">\n      <rect x=\"940\" y=\"40\" width=\"300\" height=\"500\" style=\"fill:white; stroke: none;\" />\n    </svg>\n    <rect x=\"27\" y=\"90\" width=\"500\" height=\"450\" style=\"fill: white; stroke: none;\" />\n    <rect x=\"25\" y=\"605\" width=\"1218\" height=\"42\" style=\"fill: lightblue; stroke: none;\" />\n    <!--tool bar-->\n    <foreignObject x=\"11\" y=\"605\" width=\"600\" height=\"220\">\n      <div class=\"container\">\n        <!-- Nav tabs -->\n        <ul class=\"nav nav-tabs\" role=\"tablist\">\n          <li class=\"nav-item\">\n            <a class=\"nav-link active\" data-toggle=\"tab\" href=\"#tab1\">Search for POD</a>\n          </li>\n          <li class=\"nav-item\">\n            <a class=\"nav-link nav-link\" data-toggle=\"tab\" href=\"#tab2\">Search for AGV</a>\n          </li>\n          <li class=\"nav-item\">\n            <a class=\"nav-link\" data-toggle=\"tab\" href=\"#tab3\">Move POD</a>\n          </li>\n          <li class=\"nav-item\">\n            <a class=\"nav-link\" data-toggle=\"tab\" href=\"#tab4\">Rearrange PODs</a>\n          </li>\n        </ul>\n        <!-- Tab panes -->\n        <div class=\"tab-content\">\n          <div id=\"tab1\" class=\"container tab-pane active\"><br>\n            <form>\n              <div class=\"input-group input\">\n                <input type=\"text\" class=\"form-control\" ng-model=\"searchPODByID\" placeholder=\"Search POD. Please type out ID of that POD\" name=\"search\">\n                <div class=\"input-group-btn\">\n                  <button type=\"submit\" class=\"btn btn-primary\" ng-click=\"send({payload: {searchPODByID: searchPODByID}})\">Find</button>\n                </div>\n              </div>\n              <div class=\"input-group input\">\n                <input type=\"text\" class=\"form-control\" ng-model=\"searchPODByGoods\" placeholder=\"Search POD by name of goods on it\" name=\"search\">\n                <div class=\"input-group-btn\">\n                  <button type=\"submit\" class=\"btn btn-primary\" ng-click=\"send({payload: {searchPODByGoods: searchPODByGoods}})\">Find</button>\n                </div>\n              </div>\n            </form>\n          </div>\n          <div id=\"tab2\" class=\"container tab-pane fade\"><br>\n            <br>\n            <form>\n              <div class=\"input-group input\">\n                <input type=\"text\" class=\"form-control\" ng-model=\"searchAGV\" placeholder=\"Search AGV. Please type out ID of that AGV\" name=\"search\">\n                <div class=\"input-group-btn\">\n                  <button type=\"submit\" class=\"btn btn-primary\" ng-click=\"send({payload: {searchAGV: searchAGV}})\">Find</button>\n                </div>\n              </div>\n            </form>\n          </div>\n          <div id=\"tab3\" class=\"container tab-pane fade\"><br>\n            <!--<p>this place will have some functions for moving POD.</p>-->\n            <div class=\"input-group input\">\n              <input type=\"text\" class=\"form-control\" ng-model=\"movePOD_id\" placeholder=\"Please type out ID of that POD\" name=\"movePOD_id\">\n            </div>\n            <div class=\"input-group input\">\n              <input type=\"text\" class=\"form-control\" ng-model=\"movePOD_to\" placeholder=\"Move POD to: \" name=\"movePOD_to\">\n              <div class=\"input-group-btn\">\n                <button type=\"submit\" class=\"btn btn-primary submit\" ng-click=\"send({payload: {movePOD_id: movePOD_id, movePOD_to: movePOD_to}})\">Move</button>\n              </div>\n            </div>\n          </div>\n          <div id=\"tab4\" class=\"container tab-pane fade\">\n            <h5><span class=\"badge badge-secondary badge-danger\">Important: Please read the guideance to make sure what you are doing!</span></h5>\n            <!--<input ng-model=\"me.item.value\" ng-change=\"payload\" ng-click=\"send({payload})\" ng-trim=\"false\" aria-label=\"\" type=\"text\" style=\"z-index: 1;\" step=\"any\" class=\"ng-valid md-input ng-not-empty ng-dirty ng-valid-parse ng-touched\" id=\"input_0\" aria-invalid=\"false\">-->\n            <div class=\"btn-group\">\n              <!-- Nav tabs -->\n              <ul class=\"nav nav-tabs\" role=\"tablist\" style=\"height:42px; width:520px; background-color:#ffbb99; text-align: center; font-weight: bold;\">\n                <li class=\"nav-item\">\n                  <a class=\"nav-link\" style=\"width:260px;\" data-toggle=\"tab\" href=\"#immediatly\">Immediately</a>\n                </li>\n                <li class=\"nav-item\">\n                  <a class=\"nav-link\" style=\"width:260px;\" data-toggle=\"tab\" href=\"#schedule\">Make a plan</a>\n                </li>\n              </ul>\n            </div>\n            <div class=\"tab-content\">\n              <div id=\"immediatly\" class=\"tab-pane fade\">\n                <div class=\"input-group-btn\">\n                  <button type=\"submit\" style=\"width:260px;\" class=\"btn btn-primary submit\" ng-click=\"send({payload: {rearrange_now: 1}})\">Confirm</button>\n                </div>\n              </div>\n              <div id=\"schedule\" class=\"tab-pane fade\">\n                <div class=\"input-group input\" style=\"margin-left:0px;\">\n                  <input type=\"date\" name=\"bday\" max=\"3000-12-31\" ng-model=\"rearrange_day\" min=\"1000-01-01\" class=\"form-control\">\n                  <input type=\"time\" class=\"form-control\" ng-model=\"rearrange_time\">\n                  <button type=\"submit\" class=\"btn btn-primary\" ng-click=\"send({payload: {rearrange_schedule: start, rearrange_day: rearrange_day, rearrange_time: rearrange_time}})\">Confirm</button>\n                </div>\n              </div>\n            </div>\n          </div>\n        </div>\n      </div>\n    </foreignObject>\n    \n    <rect x=\"650\" y=\"604\" width=\"8\" height=\"185\" style=\"fill:gray; stroke: none;\"></rect>\n    <!--processing pannel-->\n    <foreignObject x=\"880\" y=\"610\" width=\"200\" height=\"30\">\n      <text class=\"p-text-header-2\" style=\"color:black; font-size:20px;\"> Processing pannel </text>\n    </foreignObject>\n    <foreignObject x=\"660\" y=\"650\" width=\"580\" height=\"150\">\n        <div class=\"scroll_process\">\n            <pre class=\"p-text-header-2\" id=\"process\" style=\"font-size: 16px; color: black; text-align:left; font-family:Arial;\"></pre>\n        </div>\n    </foreignObject>\n    \n    <!--log pannel-->\n    <foreignObject x=\"1080\" y=\"15\" width=\"200\" height=\"20\">\n      <text class=\"p-text-header-2\"> LOG </text>\n    </foreignObject>\n    <foreignObject x=\"940\" y=\"40\" width=\"350\" height=\"500\">\n        <div class=\"scroll_log\">\n            <pre class=\"p-text-header-2\" id=\"log\" style=\"font-size: 15px; color: black; text-align:left;\"></pre>\n        </div>\n    </foreignObject>\n    \n  </svg>\n</body>\n\n</html>","clickableShapes":[],"smilAnimations":[],"bindings":[{"selector":"#log","bindSource":"payload.log","bindType":"text","attribute":""},{"selector":"#process","bindSource":"payload.process","bindType":"text","attribute":""},{"selector":"#AGV1_v","bindSource":"payload.AGV1_v","bindType":"text","attribute":""},{"selector":"#AGV1_batt","bindSource":"payload.AGV1_batt","bindType":"text","attribute":""},{"selector":"#AGV1_pod","bindSource":"payload.AGV1_pod","bindType":"text","attribute":""},{"selector":"#AGV1_x","bindSource":"payload.AGV1_x","bindType":"text","attribute":""},{"selector":"#AGV1_y","bindSource":"payload.AGV1_y","bindType":"text","attribute":""},{"selector":"#AGV1_ori","bindSource":"payload.AGV1_ori","bindType":"text","attribute":""},{"selector":"#AGV2_v","bindSource":"payload.AGV2_v","bindType":"text","attribute":""},{"selector":"#AGV2_batt","bindSource":"payload.AGV2_batt","bindType":"text","attribute":""},{"selector":"#AGV2_pod","bindSource":"payload.AGV2_pod","bindType":"text","attribute":""},{"selector":"#AGV2_x","bindSource":"payload.AGV2_x","bindType":"text","attribute":""},{"selector":"#AGV2_y","bindSource":"payload.AGV2_y","bindType":"text","attribute":""},{"selector":"#AGV2_ori","bindSource":"payload.AGV2_ori","bindType":"text","attribute":""}],"showCoordinates":false,"autoFormatAfterEdit":false,"showBrowserErrors":false,"outputField":"payload","editorUrl":"//drawsvg.org/drawsvg.html","directory":"D:\\flow\\vma\\","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"name":"","x":940,"y":360,"wires":[["c8d3bc54.0ec94","cfea0775.0cc648","f67937b1.0846a8"]]},{"id":"cfea0775.0cc648","type":"link out","z":"113cd6ac.982059","name":"output controlling","links":["89dae63f.c524f8","26363622.a1418a","c9be3b76.3dfad8","f6c42c41.7c8dd"],"x":1095,"y":360,"wires":[]},{"id":"c9be3b76.3dfad8","type":"link in","z":"113cd6ac.982059","name":"start","links":["cfea0775.0cc648"],"x":75,"y":400,"wires":[["3bd13a7b.ce3986"]]},{"id":"3bd13a7b.ce3986","type":"function","z":"113cd6ac.982059","name":"start","func":"if(msg.payload == 1001 && flow.get('sys_sta') === 0) {\n    flow.set('sys_sta', 1);\n    msg.log = 'System start';\n    node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":400,"wires":[["845d7918.71c188","7e08e87b.e7e888"]]},{"id":"31a14b88.6ac614","type":"function","z":"113cd6ac.982059","name":"stop","func":"if(msg.payload == 1002 && flow.get('sys_sta') == 1){\n    flow.set('sys_sta', 0);\n    node.send(msg);\n} \nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":440,"wires":[["a7dc995b.b1fe88","2a092969.5d7bd6"]]},{"id":"a7dc995b.b1fe88","type":"template","z":"113cd6ac.982059","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"\n    {\n        \"command\": \"remove_element\",\n        \"selector\": \"[id^=ID]\"\n    }","output":"json","x":660,"y":400,"wires":[["bd57d9e3.f51dc8","aa17d863.e97ac8"]]},{"id":"89dae63f.c524f8","type":"link in","z":"113cd6ac.982059","name":"stop","links":["cfea0775.0cc648"],"x":75,"y":440,"wires":[["31a14b88.6ac614"]]},{"id":"f67937b1.0846a8","type":"debug","z":"113cd6ac.982059","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":400,"wires":[]},{"id":"83b82676.d3c3c8","type":"switch","z":"113cd6ac.982059","name":"searchPODByID","property":"payload.searchPODByID","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":740,"wires":[["37796f49.0dc7"]]},{"id":"b56db0f0.c8932","type":"switch","z":"113cd6ac.982059","name":"searchPODByGoods","property":"payload.searchPODByGoods","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":820,"wires":[["f2d7158.fd83de8"]]},{"id":"26363622.a1418a","type":"link in","z":"113cd6ac.982059","name":"","links":["cfea0775.0cc648"],"x":95,"y":740,"wires":[["3cb9d2f2.1c51be"]]},{"id":"37796f49.0dc7","type":"function","z":"113cd6ac.982059","name":"","func":"var PODid = msg.payload.searchPODByID; \nquery = `SELECT * FROM POD WHERE id='`+PODid+`';`; \nmsg.topic = query;\nmsg.log = 'Searching POD by ID';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":740,"wires":[["9452170a.a63b78","43bdd90e.64ed48"]]},{"id":"9452170a.a63b78","type":"mysql","z":"113cd6ac.982059","mydb":"9d42abf8.d28c38","name":"","x":770,"y":820,"wires":[["69509e65.67b5f","6f0f689f.452e78"]]},{"id":"f2d7158.fd83de8","type":"function","z":"113cd6ac.982059","name":"","func":"var PODGoods = msg.payload.searchPODByGoods; \nquery = `SELECT * FROM POD WHERE goods='`+PODGoods+`';`; \nmsg.topic = query;\nmsg.log = 'Searching POD by product name';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":820,"wires":[["9452170a.a63b78","43bdd90e.64ed48"]]},{"id":"8547e03c.ec4fc","type":"template","z":"113cd6ac.982059","name":"global map template","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"Line\": {\n        \"command\": \"add_element\",\n        \"elementType\": \"line\",\n        \"elementId\": \"\",\n        \"elementAttributes\": {\n            \"x1\": \"\",\n            \"y1\": \"\",\n            \"x2\": \"\",\n            \"y2\": \"\"\n        },\n        \"elementStyleAttributes\": {\n            \"fill\": \"none\",\n            \"stroke\": \"gold\",\n            \"stroke-width\": \"5px\"\n        }\n    },\n    \"Remove\": {\n        \"command\": \"remove_element\",\n        \"elementId\": \"\"\n    },\n    \"Round\": {\n        \"command\": \"add_element\",\n        \"elementType\": \"circle\",\n        \"elementId\": \"\",\n        \"elementAttributes\": {\n            \"cx\": \"\",\n            \"cy\": \"\",\n            \"r\": \"\"\n        },\n        \"elementStyleAttributes\": {\n            \"fill\": \"black\",\n            \"stroke\": \"black\",\n            \"stroke-width\": \"1px\"\n        }\n    },\n    \"Square\": {\n        \"command\": \"add_element\",\n        \"elementType\": \"rect\",\n        \"elementId\": \"\",\n        \"elementAttributes\": {\n            \"x\": \"\",\n            \"y\": \"\",\n            \"width\": \"\",\n            \"height\": \"\"\n        },\n        \"elementStyleAttributes\": {\n            \"fill\": \"none\",\n            \"stroke\": \"black\",\n            \"stroke-width\": \"0.1px\"\n        }\n    },\n    \"Charging_hub\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"gold\",\n                \"stroke\": \"gold\",\n                \"stroke-width\": \"5px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"green\",\n                \"stroke-width\": \"8px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"green\",\n                \"stroke-width\": \"8px\"\n            }\n        }\n    ],\n    \"POD\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"#ffcc66\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"3px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"1px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"1px\"\n            }\n        }\n    ],\n    \"Column\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"lightgray\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"1px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"1px\"\n            }\n        }\n    ],\n    \"AGV\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"cornflowerblue\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"1px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"circle\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"cx\": \"\",\n                \"cy\": \"\",\n                \"r\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"lightgreen\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"1px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"2px\"\n            }\n        }\n    ],\n    \"Station\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"red\",\n                \"stroke-width\": \"5px\"\n            }\n        }\n    ],\n    \"DAS\": {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"green\",\n                \"stroke\": \"green\",\n                \"stroke-width\": \"5px\"\n            }\n        }\n}","output":"str","x":520,"y":180,"wires":[["5e1f57bd.a101f8"]]},{"id":"527671f.963f69","type":"inject","z":"113cd6ac.982059","name":"global map template","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":180,"y":180,"wires":[["8547e03c.ec4fc"]]},{"id":"5e1f57bd.a101f8","type":"function","z":"113cd6ac.982059","name":"global map template","func":"let json = msg.payload;\nglobal.set('map_template', json);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":180,"wires":[[]]},{"id":"69509e65.67b5f","type":"function","z":"113cd6ac.982059","name":"change POD color","func":"let json = JSON.parse(global.get('map_template'));\nconst HEIGHT = global.get('height');\nconst WIDTH = global.get('width');\nconst grid = 50;\nconst ORIGIN_X = -25 + grid;\nconst ORIGIN_Y = 37 + grid;\n// let x = msg.payload[0].x;\n// let y = msg.payload[0].y;\nlet result = msg.payload;\nmsg = new Object();\nmsg.payload = json.POD;\n\nfor(let i = 0; i< result.length; i++){\n    let x = result[i].x;\n    let y = result[i].y;\n    msg.payload[0].elementId =  \"ID_temp_POD\";\n    msg.payload[1].elementId =  \"ID_temp_POD\";\n    msg.payload[2].elementId =  \"ID_temp_POD\";\n    msg.payload[0].elementAttributes.x = ORIGIN_X + grid * x;\n    msg.payload[0].elementAttributes.y = ORIGIN_Y + grid * y;\n    msg.payload[0].elementAttributes.width = grid;\n    msg.payload[0].elementAttributes.height = grid;\n    msg.payload[0].elementStyleAttributes.fill = \"#ff3333\";\n    msg.payload[0].elementStyleAttributes.stroke  = \"blue\";\n    node.send(msg);\n}\n\n\nreturn ;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":820,"wires":[["a0accb30.2585c8","f642e5de.279e98"]]},{"id":"a0accb30.2585c8","type":"delay","z":"113cd6ac.982059","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":780,"wires":[["60e761a9.d5f7f"]]},{"id":"12bf95b7.7488ba","type":"mysql","z":"3bdc10c7.3a533","mydb":"76aa67f4.4775c8","name":"","x":670,"y":180,"wires":[["e79dc02e.1cffc"]]},{"id":"1e1c2d59.003963","type":"inject","z":"3bdc10c7.3a533","name":"get data form database","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":150,"y":240,"wires":[["ee83dbc4.524718","c099399e.3d0e88","abbe9fa6.6603c"]]},{"id":"ee83dbc4.524718","type":"function","z":"3bdc10c7.3a533","name":"load map size","func":"msg.topic = \"SELECT `x`, `y` FROM `agv`.`map_size`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":180,"wires":[["12bf95b7.7488ba"]]},{"id":"e79dc02e.1cffc","type":"function","z":"3bdc10c7.3a533","name":"","func":"global.set('height', msg.payload[0].y);\nglobal.set('width', msg.payload[0].x);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":180,"wires":[[]]},{"id":"ed671bc9.04a208","type":"inject","z":"3bdc10c7.3a533","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"height","payloadType":"global","x":110,"y":400,"wires":[["d7241fbb.e65e1"]]},{"id":"d7241fbb.e65e1","type":"debug","z":"3bdc10c7.3a533","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":400,"wires":[]},{"id":"54ab86de.7c93e8","type":"inject","z":"3bdc10c7.3a533","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"width","payloadType":"global","x":110,"y":440,"wires":[["71945be4.c57244"]]},{"id":"71945be4.c57244","type":"debug","z":"3bdc10c7.3a533","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":440,"wires":[]},{"id":"7ff3b6b6.18fe58","type":"mysql","z":"3bdc10c7.3a533","mydb":"76aa67f4.4775c8","name":"","x":670,"y":240,"wires":[["a29af63c.3db228"]]},{"id":"c099399e.3d0e88","type":"function","z":"3bdc10c7.3a533","name":"load pods","func":"msg.topic = \"SELECT `x`, `y`,`id` FROM `agv`.`POD`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":240,"wires":[["7ff3b6b6.18fe58"]]},{"id":"a29af63c.3db228","type":"function","z":"3bdc10c7.3a533","name":"","func":"let json = msg.payload;\nlet POD_position = [];\nfor(let i = 0; i< json.length; i++){\n    let subArray = [json[i].x, json[i].y, json[i].id];\n    POD_position.push(subArray);\n}\nglobal.set('POD_position', POD_position);\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":240,"wires":[[]]},{"id":"15d5b6f0.96bb09","type":"inject","z":"3bdc10c7.3a533","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"POD_position","payloadType":"global","x":130,"y":480,"wires":[["cf7f5ef0.910ba"]]},{"id":"cf7f5ef0.910ba","type":"debug","z":"3bdc10c7.3a533","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":480,"wires":[]},{"id":"50343d15.ed3c94","type":"link in","z":"3bdc10c7.3a533","name":"","links":["aa17d863.e97ac8"],"x":235,"y":180,"wires":[["ee83dbc4.524718","c099399e.3d0e88","abbe9fa6.6603c"]]},{"id":"9fc032e.6462ed","type":"inject","z":"113cd6ac.982059","name":"set log history","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":260,"wires":[["3119dc0b.7d1ef4"]]},{"id":"7e08e87b.e7e888","type":"function","z":"113cd6ac.982059","name":"dispay log","func":"let message = msg.log;\nif(flow.get('sys_sta') == 1){\n    let time = (new Date()).toISOString().substr(5,14);\n    let log = flow.get('log');\n    msg.payload = new Object();\n    msg.payload.log = String(time) + ' ' + String(message) + `\\n` + log;\n    flow.set('log', msg.payload.log);\n    msg.topic = 'databind';\n    return msg;\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":320,"wires":[["bd57d9e3.f51dc8"]]},{"id":"3119dc0b.7d1ef4","type":"function","z":"113cd6ac.982059","name":"save log history","func":"flow.set('log', '');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":260,"wires":[[]]},{"id":"bdecb1e6.3d577","type":"inject","z":"113cd6ac.982059","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":320,"wires":[["7e08e87b.e7e888"]]},{"id":"27e3ad57.052a22","type":"comment","z":"113cd6ac.982059","name":"hard code log","info":"","x":170,"y":320,"wires":[]},{"id":"5f55ef8b.56267","type":"mysql","z":"3bdc10c7.3a533","mydb":"76aa67f4.4775c8","name":"","x":670,"y":300,"wires":[["ce015a76.069ea8"]]},{"id":"abbe9fa6.6603c","type":"function","z":"3bdc10c7.3a533","name":"load agv","func":"msg.topic = \"SELECT * FROM `agv`.`agv`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":300,"wires":[["5f55ef8b.56267"]]},{"id":"ce015a76.069ea8","type":"function","z":"3bdc10c7.3a533","name":"","func":"let json = msg.payload;\nlet agv_status = [];\nfor(let i = 0; i< json.length; i++){\n    let subArray = [json[i].id, json[i].x, json[i].y, json[i].ip, json[i].port, json[i].orientation, json[i].pod, json[i].batt, json[i].status];\n    agv_status.push(subArray);\n}\nglobal.set('agv_status', agv_status);\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":300,"wires":[[]]},{"id":"32d422af.a4d6fe","type":"inject","z":"3bdc10c7.3a533","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"agv_status","payloadType":"global","x":120,"y":520,"wires":[["e5b0a832.e5ac68"]]},{"id":"e5b0a832.e5ac68","type":"debug","z":"3bdc10c7.3a533","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":520,"wires":[]},{"id":"b0890ad0.2b4ea8","type":"switch","z":"113cd6ac.982059","name":"searchAGV","property":"payload.searchAGV","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":660,"wires":[["ca707f3e.c97e6"]]},{"id":"ca707f3e.c97e6","type":"function","z":"113cd6ac.982059","name":"","func":"var AGVid = msg.payload.searchAGV; \nquery = `SELECT * FROM agv WHERE id='`+AGVid+`';`; \nmsg.topic = query;\nmsg.log = 'Searching AGV';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":660,"wires":[["6d78342f.9580ec","43bdd90e.64ed48"]]},{"id":"6d78342f.9580ec","type":"mysql","z":"113cd6ac.982059","mydb":"9d42abf8.d28c38","name":"","x":770,"y":660,"wires":[["8b79f659.5863a8","fb08f7d4.0095d8"]]},{"id":"8b79f659.5863a8","type":"function","z":"113cd6ac.982059","name":"change AGV color","func":"let json = JSON.parse(global.get('map_template'));\nconst HEIGHT = global.get('height');\nconst WIDTH = global.get('width');\nconst grid = 50;\nconst ORIGIN_X = -25 + grid;\nconst ORIGIN_Y = 37 + grid;\nlet x = msg.payload[0].x;\nlet y = msg.payload[0].y;\nlet orientation = msg.payload[0].orientation;\nlet id = msg.payload[0].id;\nmsg = new Object();\nmsg.payload = json.POD;\n\nfunction addAGV(x, y, rotation){\n    msg.payload = json.AGV;\n    msg.payload[0].elementId = \"ID_temp_AGV\";\n    msg.payload[1].elementId = \"ID_temp_AGV\";\n    msg.payload[2].elementId = \"ID_temp_AGV\";\n    \n    msg.payload[0].elementAttributes.x = ORIGIN_X + x * grid;\n    msg.payload[0].elementAttributes.y = ORIGIN_Y + y * grid;\n    msg.payload[0].elementAttributes.width = grid;\n    msg.payload[0].elementAttributes.height = grid;\n    \n    msg.payload[1].elementAttributes.cx = ORIGIN_X + x * grid + Math.floor(grid / 2);\n    msg.payload[1].elementAttributes.cy = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n    msg.payload[1].elementAttributes.r = Math.floor(grid / 2);\n    msg.payload[1].elementStyleAttributes.fill = \"#ff3333\";\n    \n    msg.payload[2].elementAttributes.x1 = ORIGIN_X + x * grid + Math.floor(grid / 2);\n    msg.payload[2].elementAttributes.y1 = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n    \n    if( rotation === 0){\n        msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2) ;\n        msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid ;\n    }\n    else if( rotation === 90){\n        msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2) + Math.floor(grid / 2);\n        msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n    }\n    else if( rotation === 180){\n        msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2);\n        msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid + Math.floor(grid / 2) + Math.floor(grid / 2);\n    }\n    else if( rotation === 270){\n        msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2) - Math.floor(grid / 2);\n        msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n    }\n    node.send(msg);\n}\n\naddAGV(x, y, orientation);\nnode.send(msg);\n\nreturn ;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":660,"wires":[["b6ab08a1.9ec8d8","f642e5de.279e98"]]},{"id":"b6ab08a1.9ec8d8","type":"delay","z":"113cd6ac.982059","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":700,"wires":[["60e761a9.d5f7f"]]},{"id":"60e761a9.d5f7f","type":"function","z":"113cd6ac.982059","name":"reset color","func":"msg = new Object();\nlet command = {\n    command: \"remove_element\",\n    selector: \"[id^=ID_temp]\"\n}\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":740,"wires":[["f642e5de.279e98"]]},{"id":"79ab7808.e4c0d8","type":"link in","z":"113cd6ac.982059","name":"","links":["f642e5de.279e98","a62d665b.64c158"],"x":715,"y":280,"wires":[["bd57d9e3.f51dc8"]]},{"id":"f642e5de.279e98","type":"link out","z":"113cd6ac.982059","name":"","links":["79ab7808.e4c0d8"],"x":1215,"y":720,"wires":[]},{"id":"aa17d863.e97ac8","type":"link out","z":"113cd6ac.982059","name":"start","links":["50343d15.ed3c94"],"x":875,"y":400,"wires":[]},{"id":"6f0f689f.452e78","type":"function","z":"113cd6ac.982059","name":"display searching result to processing pannel","func":"let result = msg.payload;\nlet process_msg = '\\t\\t\\t\\t\\tPOD Searching result\\n';\nprocess_msg += `\\tThis POD ID: `;\n\nfor(let i = 0; i< result.length; i++){\n   process_msg += String(result[i].id) + ' '; \n}\nprocess_msg += `\\n`;\n\nprocess_msg += `\\tThis POD's position is:`;\nfor(let i = 0; i< result.length; i++){\n   process_msg += ' (' + String(result[i].x) + ' : ' + String(result[i].y) + ')'; \n}\nprocess_msg += `\\n`;\n\nprocess_msg += `\\tThis POD contains: ` + String(result[0].goods) + `\\n`;\n\n\nprocess_msg += `\\tProduct infomations`;\nfor(let i = 0; i< result.length; i++){\n   process_msg += ': ' + String(result[i].goods_info); \n}\nprocess_msg += `\\n`;\nmsg.payload = new Object();\nmsg.payload.process = process_msg;\nmsg.topic =\"databind\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":860,"wires":[["f642e5de.279e98"]]},{"id":"fb08f7d4.0095d8","type":"function","z":"113cd6ac.982059","name":"display searching result to processing pannel","func":"let result = msg.payload;\nlet process_msg = '\\t\\t\\t\\t\\t\\ AGV Searching result\\n';\nprocess_msg += `\\tThis AGV ID: `;\n\nfor(let i = 0; i< result.length; i++){\n   process_msg += String(result[i].id) + ' '; \n}\nprocess_msg += `\\n`;\n\nprocess_msg += `\\tThis AGV's position is:`;\nfor(let i = 0; i< result.length; i++){\n   process_msg += ' (' + String(result[i].x) + ' : ' + String(result[i].y) + ')'; \n}\nprocess_msg += `\\n`;\nprocess_msg += `\\tThis AGV's orientation is: ` + String(result[0].orientation) + `\\n`;\nprocess_msg += `\\tThis AGV IP address: ` + String(result[0].ip) + `\\n`;\nprocess_msg += `\\tThis AGV IP port: ` + String(result[0].port) + `\\n`;\nprocess_msg += `\\tThis AGV is carrying: ` + String(result[0].pod) + `\\n`;\nprocess_msg += `\\tThis AGV battery level is: ` + String(result[0].batt) + `%\\n`;\nprocess_msg += `\\tThis AGV status: ` + String(result[0].status) + `\\n`;\nmsg.payload = new Object();\nmsg.payload.process = process_msg;\nmsg.topic =\"databind\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":620,"wires":[["f642e5de.279e98"]]},{"id":"86e473ef.4f142","type":"inject","z":"113cd6ac.982059","name":"set system status","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"sys_sta","payloadType":"flow","x":170,"y":220,"wires":[["43b2f2ea.ad3a5c"]]},{"id":"43b2f2ea.ad3a5c","type":"change","z":"113cd6ac.982059","name":"","rules":[{"t":"set","p":"sys_sta","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":220,"wires":[[]]},{"id":"3cb9d2f2.1c51be","type":"function","z":"113cd6ac.982059","name":"","func":"if(flow.get('sys_sta') == 1){\n    return msg;\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":740,"wires":[["b0890ad0.2b4ea8","83b82676.d3c3c8","b56db0f0.c8932"]]},{"id":"2a092969.5d7bd6","type":"function","z":"113cd6ac.982059","name":"clear log and process","func":"msg.payload = new Object();\nmsg.payload.log = '\\t';\nmsg.payload.process = '\\t';\nmsg.topic = 'databind';\nflow.set('log', '');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":440,"wires":[["bd57d9e3.f51dc8"]]},{"id":"9c71fe3f.a867d","type":"link in","z":"113cd6ac.982059","name":"display log","links":["43bdd90e.64ed48"],"x":495,"y":320,"wires":[["7e08e87b.e7e888"]]},{"id":"43bdd90e.64ed48","type":"link out","z":"113cd6ac.982059","name":"","links":["9c71fe3f.a867d"],"x":775,"y":740,"wires":[]},{"id":"c797a844.6f9c08","type":"inject","z":"113cd6ac.982059","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"databind","payload":"{\"AGV1_v\":\"2\",\"AGV1_x\":\"34\"}","payloadType":"json","x":750,"y":520,"wires":[["bd57d9e3.f51dc8"]]},{"id":"eb9c6004.db48d","type":"ui_ui_control","z":"113cd6ac.982059","name":"check refresh","events":"all","x":140,"y":360,"wires":[["ae59af37.53b2b"]]},{"id":"c5153fee.37845","type":"delay","z":"113cd6ac.982059","name":"delay","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":360,"wires":[["845d7918.71c188","7e08e87b.e7e888"]]},{"id":"ae59af37.53b2b","type":"function","z":"113cd6ac.982059","name":"check refesh","func":"if(msg.payload == \"change\" && flow.get('sys_sta') == 1)\n{\n    msg.log = 'Reflesh application';\n    node.send(msg);\n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":360,"wires":[["c5153fee.37845"]]},{"id":"f56303ca.2f99b","type":"mysql","z":"2a987a95.a27a26","mydb":"58b86165.9d8d3","name":"","x":510,"y":400,"wires":[["849ff898.900e78","69677c39.4fcc44"]]},{"id":"cea2abaa.43e528","type":"function","z":"2a987a95.a27a26","name":"","func":"msg.topic = \"SELECT `x`, `y` FROM `agv`.`POD`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":400,"wires":[["f56303ca.2f99b"]]},{"id":"2bf28818.05b928","type":"inject","z":"2a987a95.a27a26","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":400,"wires":[["cea2abaa.43e528"]]},{"id":"849ff898.900e78","type":"debug","z":"2a987a95.a27a26","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":340,"wires":[]},{"id":"69677c39.4fcc44","type":"function","z":"2a987a95.a27a26","name":"","func":"let result = msg.payload;\nfor(let i = 0; i < result.length; i++)\n{\n    msg.topic = \"UPDATE `agv`.`map` SET `is_blocked`='1' WHERE x=\" + String(result[i].x) + \" AND y=\" +String(result[i].y) + \";\"; \n    node.send(msg);\n}\nreturn;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":400,"wires":[["75c2228d.ea670c","dfd8a37d.d97a2"]]},{"id":"307ec576.06df1a","type":"inject","z":"2a987a95.a27a26","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":560,"wires":[["7dd8d2ef.32a82c"]]},{"id":"7dd8d2ef.32a82c","type":"function","z":"2a987a95.a27a26","name":"","func":"let id = 0;\nfor(let i = 0; i < 10; i++)\n{\n    for(let j = 0; j < 9; j++)\n    {\n        msg.topic =  \"INSERT INTO agv.map (id, rfid_value, x, y, is_blocked) VALUES \" + \"(\" + String(id) + \",\" + String(id) + \",\" + String(i) +\",\" + String(j) + \",0)\";\n        id ++;\n        node.send(msg);\n    }\n}\nreturn;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":560,"wires":[["a910c72.891ee38","d2303255.1acdb"]]},{"id":"d2303255.1acdb","type":"mysql","z":"2a987a95.a27a26","mydb":"58b86165.9d8d3","name":"","x":550,"y":560,"wires":[[]]},{"id":"a910c72.891ee38","type":"debug","z":"2a987a95.a27a26","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":620,"wires":[]},{"id":"952c6356.1f146","type":"comment","z":"2a987a95.a27a26","name":"create map database","info":"","x":260,"y":520,"wires":[]},{"id":"75c2228d.ea670c","type":"debug","z":"2a987a95.a27a26","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":380,"wires":[]},{"id":"dfd8a37d.d97a2","type":"mysql","z":"2a987a95.a27a26","mydb":"58b86165.9d8d3","name":"","x":820,"y":420,"wires":[[]]},{"id":"cc272697.2934f8","type":"comment","z":"2a987a95.a27a26","name":"set is_blocked","info":"","x":230,"y":360,"wires":[]}]