flows_20.8/flows.json
[{"id":"d03e0c0e.6069f","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"f894bdd9.761b5","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"278d6a7c.6b9b86","type":"ui_group","z":"","name":"AGV Management  System","tab":"8df4735d.312db","order":1,"disp":true,"width":"20","collapse":false},{"id":"42699e8.26e1e6","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"agv","tz":""},{"id":"8df4735d.312db","type":"ui_tab","z":"","name":"AGV","icon":"dashboard","disabled":false,"hidden":false},{"id":"68332cbc.0aa2d4","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"agv","tz":""},{"id":"180ae924.9883b7","type":"function","z":"d03e0c0e.6069f","name":"","func":"let json = JSON.parse(global.get('map_template'));\nconst HEIGHT = global.get('height');\nconst WIDTH = global.get('width');\nconst grid = 50;\nconst ORIGIN_X = -25 + grid;\nconst ORIGIN_Y = 37 + grid;\nlet charging_hub_position = [[8,0], [9,1]];\n\nlet POD_position = global.get('POD_position');\n\nlet Column_position = [[0,0], [9,0],\n                        [0,8], [9,8]];  \nlet Station_position = [[8,7], [8,4]];  \n\n/* draw floor's grid-----------------------------------------*/\nmsg.payload = json.Square;\nfor(var i = 0; i < WIDTH; i++ ){\n    msg.payload.elementAttributes.width = grid;\n    msg.payload.elementAttributes.height = grid;\n    msg.payload.elementAttributes.x =ORIGIN_X + grid*i;\n    for(var j = 0; j < HEIGHT; j++){\n        msg.payload.elementAttributes.y = ORIGIN_Y + grid*j;\n        msg.payload.elementId = \"ID_square_\" + String(i) + String(j);\n        node.send(msg);\n    }\n}\nmsg.payload = json.Line;\nmsg.payload.elementId = \"ID_bound\";\nmsg.payload.elementAttributes.x1 = ORIGIN_X + 0;\nmsg.payload.elementAttributes.y1 = ORIGIN_Y + 0;\nmsg.payload.elementAttributes.x2 = ORIGIN_X + grid * WIDTH;\nmsg.payload.elementAttributes.y2 = ORIGIN_Y + 0;\nmsg.payload.elementStyleAttributes.stroke = \"#ff751a\";\nnode.send(msg);\n\nmsg.payload = json.Line;\nmsg.payload.elementId = \"ID_bound\";\nmsg.payload.elementAttributes.x1 = ORIGIN_X + 0;\nmsg.payload.elementAttributes.y1 = ORIGIN_Y + 0;\nmsg.payload.elementAttributes.x2 = ORIGIN_X + 0;\nmsg.payload.elementAttributes.y2 = ORIGIN_Y + grid * HEIGHT;\nmsg.payload.elementStyleAttributes.stroke = \"#ff751a\";\nnode.send(msg);\n\nmsg.payload = json.Line;\nmsg.payload.elementId = \"ID_bound\";\nmsg.payload.elementAttributes.x1 = ORIGIN_X + grid * WIDTH;\nmsg.payload.elementAttributes.y1 = ORIGIN_Y + 0;\nmsg.payload.elementAttributes.x2 = ORIGIN_X + grid * WIDTH;\nmsg.payload.elementAttributes.y2 = ORIGIN_Y + grid * HEIGHT;\nmsg.payload.elementStyleAttributes.stroke = \"#ff751a\";\nnode.send(msg);\n\nmsg.payload = json.Line;\nmsg.payload.elementId = \"ID_bound\";\nmsg.payload.elementAttributes.x1 = ORIGIN_X + 0;\nmsg.payload.elementAttributes.y1 = ORIGIN_Y + grid * HEIGHT;\nmsg.payload.elementAttributes.x2 = ORIGIN_X + grid * WIDTH;\nmsg.payload.elementAttributes.y2 = ORIGIN_Y + grid * HEIGHT;\nmsg.payload.elementStyleAttributes.stroke = \"#ff751a\";\nnode.send(msg);\n\n/* Add Charging hub -------------------------------------------*/\nmsg.payload = json.Charging_hub;\nfor(var index = 0; index < charging_hub_position.length; index++){\n    msg.payload[0].elementId = \"ID_charging_hub_\" + String(index);\n    msg.payload[1].elementId = \"ID_charging_hub_\" + String(index);\n    msg.payload[2].elementId = \"ID_charging_hub_\" + String(index);\n    \n    msg.payload[0].elementAttributes.x = ORIGIN_X + grid * charging_hub_position[index][0];\n    msg.payload[0].elementAttributes.y = ORIGIN_Y + grid * charging_hub_position[index][1];\n    msg.payload[0].elementAttributes.width = grid;\n    msg.payload[0].elementAttributes.height = grid;\n    \n    msg.payload[1].elementAttributes.x1 = ORIGIN_X + grid * charging_hub_position[index][0] + Math.floor(grid / 2);\n    msg.payload[1].elementAttributes.y1 = ORIGIN_Y + grid * charging_hub_position[index][1] + Math.floor(grid / 10);\n    msg.payload[1].elementAttributes.x2 = ORIGIN_X + grid * charging_hub_position[index][0] + Math.floor(grid / 2);\n    msg.payload[1].elementAttributes.y2 = ORIGIN_Y + grid * charging_hub_position[index][1] + 9 * Math.floor(grid / 10);\n    \n    msg.payload[2].elementAttributes.x1 = ORIGIN_X + grid * charging_hub_position[index][0] + Math.floor(grid / 10);\n    msg.payload[2].elementAttributes.y1 = ORIGIN_Y + grid * charging_hub_position[index][1] + Math.floor(grid / 2);\n    msg.payload[2].elementAttributes.x2 = ORIGIN_X + grid * charging_hub_position[index][0] + 9 * Math.floor(grid / 10);\n    msg.payload[2].elementAttributes.y2 = ORIGIN_Y + grid * charging_hub_position[index][1] + Math.floor(grid / 2);\n    \n    node.send(msg);\n}\n\n/* Add POD-----------------------------------------------------*/\nmsg.payload = json.POD;\nfor(index = 0; index < POD_position.length; index++){\n    msg.payload[0].elementId = 'ID_' + POD_position[index][2];\n    msg.payload[1].elementId = 'ID_' + POD_position[index][2];\n    msg.payload[2].elementId = 'ID_' + POD_position[index][2];\n    msg.payload[0].elementAttributes.x = ORIGIN_X + grid * POD_position[index][0];\n    msg.payload[0].elementAttributes.y = ORIGIN_Y + grid * POD_position[index][1];\n    \n    msg.payload[0].elementAttributes.width = grid;\n    msg.payload[0].elementAttributes.height = grid;\n    \n    msg.payload[1].elementAttributes.x1 = ORIGIN_X + grid * POD_position[index][0];\n    msg.payload[1].elementAttributes.y1 = ORIGIN_Y + grid * POD_position[index][1];\n    msg.payload[1].elementAttributes.x2 = ORIGIN_X + grid * POD_position[index][0] + grid;\n    msg.payload[1].elementAttributes.y2 = ORIGIN_Y + grid * POD_position[index][1] + grid;\n    \n    msg.payload[2].elementAttributes.x1 = ORIGIN_X + grid * POD_position[index][0] + grid;\n    msg.payload[2].elementAttributes.y1 = ORIGIN_Y + grid * POD_position[index][1] ;\n    msg.payload[2].elementAttributes.x2 = ORIGIN_X + grid * POD_position[index][0] ;\n    msg.payload[2].elementAttributes.y2 = ORIGIN_Y + grid * POD_position[index][1] +grid;\n    \n    node.send(msg);\n}\n\n/* Add Station------------------------------------------------*/\nfor(index = 0; index < Station_position.length; index++){\n    msg.payload = json.DAS;\n    msg.payload.elementId = \"ID_Station_\" + String(index);\n    msg.payload.elementAttributes.x = ORIGIN_X + grid * Station_position[index][0] + grid;\n    msg.payload.elementAttributes.y = ORIGIN_Y + grid * Station_position[index][1];\n    msg.payload.elementAttributes.width = grid;\n    msg.payload.elementAttributes.height = grid;\n    node.send(msg);\n    \n    msg.payload = json.DAS;\n    msg.payload.elementId = \"ID_Station_\" + String(index);\n    msg.payload.elementAttributes.x = ORIGIN_X + grid * Station_position[index][0];\n    msg.payload.elementAttributes.y = ORIGIN_Y + grid * Station_position[index][1] + grid;\n    msg.payload.elementAttributes.width = grid;\n    msg.payload.elementAttributes.height = grid;\n    node.send(msg);\n    \n    msg.payload = json.Round;\n    msg.payload.elementId = \"ID_Station_\" + String(index);\n    msg.payload.elementAttributes.cx = ORIGIN_X + grid * Station_position[index][0] + Math.floor(grid / 2);\n    msg.payload.elementAttributes.cy = ORIGIN_Y + grid * Station_position[index][1] + Math.floor(grid / 2);\n    msg.payload.elementAttributes.r = Math.floor(grid / 3);\n    node.send(msg);\n    \n    msg.payload = json.Station;\n    msg.payload[0].elementId = \"ID_Station_\" + String(index);\n    \n    msg.payload[0].elementAttributes.x = ORIGIN_X + grid * Station_position[index][0];\n    msg.payload[0].elementAttributes.y = ORIGIN_Y + grid * Station_position[index][1];\n    msg.payload[0].elementAttributes.width = grid * 2;\n    msg.payload[0].elementAttributes.height = grid * 2;\n    node.send(msg);\n}\n\n/* Add Column-------------------------------------------------*/\nmsg.payload = json.Column;\nfor(index = 0; index < Column_position.length; index++){\n    msg.payload[0].elementId = \"ID_Column_\" + String(index);\n    msg.payload[1].elementId = \"ID_Column_\" + String(index);\n    msg.payload[0].elementAttributes.x = ORIGIN_X + grid * Column_position[index][0];\n    msg.payload[0].elementAttributes.y = ORIGIN_Y + grid * Column_position[index][1];\n    \n    msg.payload[0].elementAttributes.width = grid;\n    msg.payload[0].elementAttributes.height = grid;\n    \n    msg.payload[1].elementAttributes.x1 = ORIGIN_X + grid * Column_position[index][0] + grid;\n    msg.payload[1].elementAttributes.y1 = ORIGIN_Y + grid * Column_position[index][1] ;\n    msg.payload[1].elementAttributes.x2 = ORIGIN_X + grid * Column_position[index][0] ;\n    msg.payload[1].elementAttributes.y2 = ORIGIN_Y + grid * Column_position[index][1] +grid;\n    \n    node.send(msg);\n}\n\nvar x,y, rotation;\nfunction addAGV(x, y, rotation, index){\n    msg.payload = json.AGV;\n    msg.payload[0].elementId = \"ID_AGV_\" + String(index);\n    msg.payload[1].elementId = \"ID_AGV_\" + String(index);\n    msg.payload[2].elementId = \"ID_AGV_\" + String(index);\n    \n    msg.payload[0].elementAttributes.x = ORIGIN_X + x * grid;\n    msg.payload[0].elementAttributes.y = ORIGIN_Y + y * grid;\n    msg.payload[0].elementAttributes.width = grid;\n    msg.payload[0].elementAttributes.height = grid;\n    \n    msg.payload[1].elementAttributes.cx = ORIGIN_X + x * grid + Math.floor(grid / 2);\n    msg.payload[1].elementAttributes.cy = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n    msg.payload[1].elementAttributes.r = Math.floor(grid / 2);\n    \n    msg.payload[2].elementAttributes.x1 = ORIGIN_X + x * grid + Math.floor(grid / 2);\n    msg.payload[2].elementAttributes.y1 = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n    \n    if( rotation === 0){\n        msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2) ;\n        msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid ;\n    }\n    else if( rotation === 90){\n        msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2) + Math.floor(grid / 2);\n        msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n    }\n    else if( rotation === 180){\n        msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2);\n        msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid + Math.floor(grid / 2) + Math.floor(grid / 2);\n    }\n    else if( rotation === 270){\n        msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2) - Math.floor(grid / 2);\n        msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n    }\n    node.send(msg);\n}\n\nfunction moveAGV(x, y, rotation, index){\n    msg.payload = json.Remove;\n    msg.payload.elementId = \"AGV_\" + String(index);\n    node.send(msg);\n    addAGV(x, y, rotation, index);\n}\naddAGV(6, 5, 0, 1);\naddAGV(7, 2, 90, 2);\naddAGV(5, 4, 270, 4);\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":520,"wires":[["d4f1b0cf.e802a"]]},{"id":"ab257a7e.0c3078","type":"debug","z":"d03e0c0e.6069f","name":"floorplan","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1040,"y":480,"wires":[]},{"id":"d4f1b0cf.e802a","type":"ui_svg_graphics","z":"d03e0c0e.6069f","group":"278d6a7c.6b9b86","order":5,"width":"20","height":"20","svgString":"<html>\n\n<head>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js\"></script>\n  <style>\n    .featuredBtn.active {\n       background-color: white;\n       color: black;\n    }\n    .featuredBtn {\n       float: left;\n       color: white;\n       text-align: center;\n       font-weight: bold;\n       padding: 10px 90px;\n       text-decoration: none;\n       font-size: 18px;\n       margin: 0px 0px;\n       border: none;\n    }\n    .button1 {\n        background-color: #80bfff;\n    }\n      .button1:hover {\n        background-color: white;\n        color: black;\n    }\n    \n           .p-text-header\n    {\n    \tmargin:0;\n        padding:0;\n        font-size:15px;\n        fill:none;\n        color:white;\n        text-align: left;\n    } \n    .p-text-header-1\n    {\n    \tmargin:0;\n        padding:0;\n        font-size:15px;\n        fill:none;\n        color:black;\n        text-align: left;\n    } \n    .p-text-header-2\n    {\n    \tmargin:0;\n        padding:0;\n        font-size:15px;\n        fill:none;\n        color:white;\n        text-align: center;\n    } \n    .p-text-header-3\n    {\n    \tmargin:0;\n        padding:0;\n        font-size:20px;\n        fill:none;\n        color:white;\n        text-align: center;\n    } \n    .p-text-header-4\n    {\n    \tmargin:0;\n        padding:0;\n        font-size:15px;\n        fill:none;\n        color:black;\n        text-align: center;\n        font-weight: bold;\n    }\n    .button {\n        background-color: #4CAF50;\n        border: none;\n        color: #99ccff;\n        padding: 5px 160px;\n        text-align: left;\n        text-decoration: none;\n        display: inline-block;\n        font-size: 15px;\n        margin: 4px 2px;\n        cursor: pointer;\n        -webkit-transition-duration: 0.4s; \n        transition-duration: 0.4s;\n    }\n    div.scroll {\n      background-color: white;\n      width: 375px;\n      height: 480px;\n      overflow-y: auto;\n      overflow-x: hidden;\n    }\n    .button1 {\n        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);\n    }\n    .button2:hover {\n        background-color: #2eb82e;\n        color: black;\n        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);\n    }\n    .input{\n        width:520px;\n    }\n  </style>\n</head>\n\n<body>\n  <svg x=\"100\" y=\"100\" height=\"1000\" viewBox=\"170 -100 1200 1200\" width=\"1300\" overflow-y=\"hidden\" overflow-x=\"hidden\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:svg=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n    <rect x=\"5\" y=\"5\" width=\"1250\" height=\"800\" style=\"fill:#002699; stroke: black; stroke-width:3px;\" />\n    <foreignObject x=\"20\" y=\"15\" width=\"100\" height=\"30\">\n      <text class=\"p-text-header\"> Map data file </text>\n    </foreignObject>\n    <foreignObject x=\"130\" y=\"15\" width=\"300\" height=\"30\">\n      <form action=\"/load-map\" method=\"POST\" enctype=\"multipart/form-data\" target=\"dummyframe\">\n        <input />\n        <input type=\"submit\" value=\"Choose\" name={{msg.payload}} />\n      </form>\n    </foreignObject>\n    <foreignObject x=\"80\" y=\"50\" width=\"200\" height=\"30\">\n      <button ng-click=\"send({payload: 1001})\" type=\"button\" class=\"btn btn-success btn-sm\">Start AGV System</button>\n    </foreignObject>\n    <foreignObject x=\"350\" y=\"50\" width=\"200\" height=\"30\">\n      <button ng-click=\"send({payload: 1002})\" type=\"button\" class=\"btn btn-danger btn-sm\">Stop AGV System</button>\n      <!--<button ng-click=\"send({payload: 1002})\">Stop AGV System</button>-->\n    </foreignObject>\n    <rect x=\"550\" y=\"15\" width=\"375\" height=\"20\" style=\"fill:#3385ff; stroke: none;\" />\n    <foreignObject x=\"670\" y=\"15\" width=\"200\" height=\"20\">\n      <text class=\"p-text-header-2\"> AGV Controlling Pannel </text>\n    </foreignObject>\n    <svg width=\"375\" height=\"500\" overflow=\"auto\">\n      <rect x=\"550\" y=\"40\" width=\"375\" height=\"500\" style=\"fill:white; stroke: none;\" />\n    </svg>\n    <rect x=\"25\" y=\"558\" width=\"1218\" height=\"230\" style=\"fill:white; stroke: none;\" />\n    <rect x=\"25\" y=\"565\" width=\"1218\" height=\"40\" style=\"fill:#002699; stroke: none;\" />\n    <foreignObject x=\"500\" y=\"570\" width=\"300\" height=\"100\">\n      <text class=\"p-text-header-3\"> Warehouse management system </text>\n    </foreignObject>\n    <rect x=\"550\" y=\"40\" width=\"375\" height=\"500\" style=\"fill:white; stroke: none;\" />\n    <foreignObject x=\"550\" y=\"40\" width=\"450\" height=\"500\">\n      <div class=\"scroll\">\n        <button type=\"button\" class=\"button button2\" data-toggle=\"collapse\" data-target=\"#AGV1\">AGV1</button>\n        <div id=\"AGV1\" class=\"collapse\">\n          <svg width=\"350\" id=\"svg-temp1\" height=\"350\" overflow=\"auto\">\n            <foreignObject x=\"10\" y=\"0\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Connection </text>\n            </foreignObject>\n            <rect x=\"130\" y=\"30\" width=\"200\" height=\"20\" style=\"fill: white; stroke: black; stroke-width:1px;\" />\n            <rect x=\"130\" y=\"60\" width=\"200\" height=\"20\" style=\"fill: white; stroke: black; stroke-width:1px;\" />\n            <foreignObject x=\"10\" y=\"30\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> IP Address </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"60\" width=\"50\" height=\"25\">\n              <text class=\"p-text-header-1\"> Port </text>\n            </foreignObject>\n            <foreignObject x=\"20\" y=\"100\" width=\"150\" height=\"100\">\n              <button ng-click=\"send({payload: 2010})\">Start AGV1</button>\n            </foreignObject>\n            <foreignObject x=\"210\" y=\"100\" width=\"150\" height=\"100\">\n              <button ng-click=\"send({payload: 2011})\">Stop AGV1</button>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"130\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Information </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"160\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> Velocity: </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"180\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Acceleration: </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"200\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Battery: </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"220\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Current POD: </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"260\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Physics </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"280\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> X: </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"300\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Y: </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"320\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Orientation: </text>\n            </foreignObject>\n          </svg>\n        </div>\n        <br>\n        <button type=\"button\" class=\"button button2\" data-toggle=\"collapse\" data-target=\"#AGV2\">AGV2</button>\n        <div id=\"AGV2\" class=\"collapse\">\n          <svg width=\"350\" id=\"svg-temp1\" height=\"350\" overflow=\"auto\">\n            <foreignObject x=\"10\" y=\"0\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Connection </text>\n            </foreignObject>\n            <rect x=\"130\" y=\"30\" width=\"200\" height=\"20\" style=\"fill: white; stroke: black; stroke-width:1px;\" />\n            <rect x=\"130\" y=\"60\" width=\"200\" height=\"20\" style=\"fill: white; stroke: black; stroke-width:1px;\" />\n            <foreignObject x=\"10\" y=\"30\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> IP Address </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"60\" width=\"50\" height=\"25\">\n              <text class=\"p-text-header-1\"> Port </text>\n            </foreignObject>\n            <foreignObject x=\"20\" y=\"100\" width=\"150\" height=\"100\">\n              <button ng-click=\"send({payload: 2010})\">Start AGV1</button>\n            </foreignObject>\n            <foreignObject x=\"210\" y=\"100\" width=\"150\" height=\"100\">\n              <button ng-click=\"send({payload: 2011})\">Stop AGV1</button>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"130\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Information </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"160\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> Velocity: </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"180\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Acceleration: </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"200\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Battery: </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"220\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Current POD: </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"260\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Physics </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"280\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> X: </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"300\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Y: </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"320\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Orientation: </text>\n            </foreignObject>\n          </svg>\n        </div>\n        <br>\n        <button type=\"button\" class=\"button button2\" data-toggle=\"collapse\" data-target=\"#AGV3\">AGV3</button>\n        <div id=\"AGV3\" class=\"collapse\">\n          <svg width=\"350\" id=\"svg-temp1\" height=\"350\" overflow=\"auto\">\n            <foreignObject x=\"10\" y=\"0\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Connection </text>\n            </foreignObject>\n            <rect x=\"130\" y=\"30\" width=\"200\" height=\"20\" style=\"fill: white; stroke: black; stroke-width:1px;\" />\n            <rect x=\"130\" y=\"60\" width=\"200\" height=\"20\" style=\"fill: white; stroke: black; stroke-width:1px;\" />\n            <foreignObject x=\"10\" y=\"30\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> IP Address </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"60\" width=\"50\" height=\"25\">\n              <text class=\"p-text-header-1\"> Port </text>\n            </foreignObject>\n            <foreignObject x=\"20\" y=\"100\" width=\"150\" height=\"100\">\n              <button ng-click=\"send({payload: 2010})\">Start AGV1</button>\n            </foreignObject>\n            <foreignObject x=\"210\" y=\"100\" width=\"150\" height=\"100\">\n              <button ng-click=\"send({payload: 2011})\">Stop AGV1</button>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"130\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Information </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"160\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> Velocity: </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"180\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Acceleration: </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"200\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Battery: </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"220\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Current POD: </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"260\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Physics </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"280\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> X: </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"300\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Y: </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"320\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Orientation: </text>\n            </foreignObject>\n          </svg>\n        </div>\n      </div>\n    </foreignObject>\n    <rect x=\"940\" y=\"15\" width=\"300\" height=\"20\" style=\"fill:#3385ff; stroke: none;\" />\n    <foreignObject x=\"1080\" y=\"15\" width=\"200\" height=\"20\">\n      <text class=\"p-text-header-2\"> LOG </text>\n    </foreignObject>\n    <rect x=\"940\" y=\"40\" width=\"300\" height=\"500\" style=\"fill:white; stroke: none;\" />\n    <svg width=\"300\" height=\"500\" overflow=\"auto\">\n      <rect x=\"940\" y=\"40\" width=\"300\" height=\"500\" style=\"fill:white; stroke: none;\" />\n    </svg>\n    <rect x=\"27\" y=\"90\" width=\"500\" height=\"450\" style=\"fill: white; stroke: none;\" />\n    <rect x=\"25\" y=\"605\" width=\"1218\" height=\"42\" style=\"fill: lightblue; stroke: none;\" />\n    <!--tool bar-->\n    <foreignObject x=\"-20\" y=\"605\" width=\"1200\" height=\"300\">\n      <div class=\"container\">\n        <!-- Nav tabs -->\n        <ul class=\"nav nav-tabs\" role=\"tablist\">\n          <li class=\"nav-item\">\n            <a class=\"nav-link active\" data-toggle=\"tab\" href=\"#tab1\">Search for POD</a>\n          </li>\n          <li class=\"nav-item\">\n            <a class=\"nav-link nav-link\" data-toggle=\"tab\" href=\"#tab2\">Search for AGV</a>\n          </li>\n          <li class=\"nav-item\">\n            <a class=\"nav-link\" data-toggle=\"tab\" href=\"#tab3\">Move POD</a>\n          </li>\n          <li class=\"nav-item\">\n            <a class=\"nav-link\" data-toggle=\"tab\" href=\"#tab4\">Rearrange PODs</a>\n          </li>\n        </ul>\n        <!-- Tab panes -->\n        <div class=\"tab-content\">\n          <div id=\"tab1\" class=\"container tab-pane active\"><br>\n            <form>\n              <div class=\"input-group input\">\n                <input type=\"text\" class=\"form-control\" ng-model=\"searchPODByID\" placeholder=\"Search POD. Please type out ID of that POD\" name=\"search\">\n                <div class=\"input-group-btn\">\n                  <button type=\"submit\" class=\"btn btn-primary\" ng-click=\"send({payload: {searchPODByID: searchPODByID}})\">Find</button>\n                </div>\n              </div>\n              <div class=\"input-group input\">\n                <input type=\"text\" class=\"form-control\" ng-model=\"searchPODByGoods\" placeholder=\"Search POD by name of goods on it\" name=\"search\">\n                <div class=\"input-group-btn\">\n                  <button type=\"submit\" class=\"btn btn-primary\" ng-click=\"send({payload: {searchPODByGoods: searchPODByGoods}})\">Find</button>\n                </div>\n              </div>\n            </form>\n          </div>\n          <div id=\"tab2\" class=\"container tab-pane fade\"><br>\n            <br>\n            <form>\n              <div class=\"input-group input\">\n                <input type=\"text\" class=\"form-control\" ng-model=\"searchAGV\" placeholder=\"Search AGV. Please type out ID of that AGV\" name=\"search\">\n                <div class=\"input-group-btn\">\n                  <button type=\"submit\" class=\"btn btn-primary\" ng-click=\"send({payload: {searchAGV: searchAGV}})\">Find</button>\n                </div>\n              </div>\n            </form>\n          </div>\n          <div id=\"tab3\" class=\"container tab-pane fade\"><br>\n            <!--<p>this place will have some functions for moving POD.</p>-->\n            <div class=\"input-group input\">\n              <input type=\"text\" class=\"form-control\" ng-model=\"movePOD_id\" placeholder=\"Please type out ID of that POD\" name=\"movePOD_id\">\n            </div>\n            <div class=\"input-group input\">\n              <input type=\"text\" class=\"form-control\" ng-model=\"movePOD_to\" placeholder=\"Move POD to: \" name=\"movePOD_to\">\n              <div class=\"input-group-btn\">\n                <button type=\"submit\" class=\"btn btn-primary submit\" ng-click=\"send({payload: {movePOD_id: movePOD_id, movePOD_to: movePOD_to}})\">Move</button>\n              </div>\n            </div>\n          </div>\n          <div id=\"tab4\" class=\"container tab-pane fade\">\n            <h5><span class=\"badge badge-secondary badge-danger\">Important: Please read the guideance to make sure what you are doing!</span></h5>\n            <!--<input ng-model=\"me.item.value\" ng-change=\"payload\" ng-click=\"send({payload})\" ng-trim=\"false\" aria-label=\"\" type=\"text\" style=\"z-index: 1;\" step=\"any\" class=\"ng-valid md-input ng-not-empty ng-dirty ng-valid-parse ng-touched\" id=\"input_0\" aria-invalid=\"false\">-->\n            <div class=\"btn-group\">\n              <!-- Nav tabs -->\n                <ul class=\"nav nav-tabs\" role=\"tablist\" style=\"height:42px; width:520px; background-color:#ffbb99; text-align: center; font-weight: bold;\">\n                  <li class=\"nav-item\">\n                    <a class=\"nav-link\" style=\"width:260px;\" data-toggle=\"tab\" href=\"#immediatly\">Immediately</a>\n                  </li>\n                  <li class=\"nav-item\">\n                    <a class=\"nav-link\" style=\"width:260px;\" data-toggle=\"tab\" href=\"#schedule\">Make a plan</a>\n                  </li>\n                </ul>\n            </div>\n            \n            <div class=\"tab-content\">\n                <div id=\"immediatly\" class=\"tab-pane fade\">\n                  <div class=\"input-group-btn\">\n                    <button type=\"submit\" style=\"width:260px;\" class=\"btn btn-primary submit\" ng-click=\"send({payload: {rearrange_now: 1}})\">Confirm</button>\n                  </div>\n                </div>\n                <div id=\"schedule\" class=\"tab-pane fade\">\n                  <div class=\"input-group input\" style=\"margin-left:0px;\">\n                        <input type=\"date\" name=\"bday\" max=\"3000-12-31\" ng-model=\"rearrange_day\" min=\"1000-01-01\" class=\"form-control\">\n                        <input type=\"time\" class=\"form-control\" ng-model=\"rearrange_time\">\n                        <button type=\"submit\" class=\"btn btn-primary\" ng-click=\"send({payload: {rearrange_schedule: start, rearrange_day: rearrange_day, rearrange_time: rearrange_time}})\">Find</button>\n                  </div>\n                </div>\n            </div>\n            \n          </div>\n        </div>\n      </div>\n    </foreignObject>\n  </svg>\n</body>\n\n</html>","clickableShapes":[],"smilAnimations":[],"bindings":[],"showCoordinates":false,"autoFormatAfterEdit":false,"showBrowserErrors":false,"outputField":"payload","editorUrl":"//drawsvg.org/drawsvg.html","directory":"D:\\flow\\vma\\","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"name":"","x":840,"y":520,"wires":[["ab257a7e.0c3078","78448f1.99f6e7","78bc2204.e6a35c"]]},{"id":"78448f1.99f6e7","type":"link out","z":"d03e0c0e.6069f","name":"output controlling","links":["5062e21d.6d76cc","c053fe26.8c8b4","7d7596e2.c028e8","b7f14b9f.6bf838"],"x":995,"y":520,"wires":[]},{"id":"c053fe26.8c8b4","type":"link in","z":"d03e0c0e.6069f","name":"start","links":["78448f1.99f6e7"],"x":155,"y":560,"wires":[["1e8b3bb3.9b5234"]]},{"id":"1e8b3bb3.9b5234","type":"function","z":"d03e0c0e.6069f","name":"","func":"if(msg.payload == 1001) node.send(msg);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":560,"wires":[["180ae924.9883b7"]]},{"id":"74cd7354.b6e5dc","type":"function","z":"d03e0c0e.6069f","name":"","func":"if(msg.payload == 1002) node.send(msg);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":600,"wires":[["2af15282.436d5e"]]},{"id":"2af15282.436d5e","type":"template","z":"d03e0c0e.6069f","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"command\": \"remove_element\",\n    \"selector\": \"[id^=ID]\"\n}","output":"json","x":640,"y":600,"wires":[["d4f1b0cf.e802a"]]},{"id":"5062e21d.6d76cc","type":"link in","z":"d03e0c0e.6069f","name":"stop","links":["78448f1.99f6e7"],"x":155,"y":600,"wires":[["74cd7354.b6e5dc"]]},{"id":"78bc2204.e6a35c","type":"debug","z":"d03e0c0e.6069f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":560,"wires":[]},{"id":"8437495a.4f0318","type":"inject","z":"d03e0c0e.6069f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Line\":{\"command\":\"add_element\",\"elementType\":\"line\",\"elementId\":\"\",\"elementAttributes\":{\"x1\":\"\",\"y1\":\"\",\"x2\":\"\",\"y2\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"gold\",\"stroke-width\":\"5px\"}},\"Remove\":{\"command\":\"remove_element\",\"elementId\":\"\"},\"Round\":{\"command\":\"add_element\",\"elementType\":\"circle\",\"elementId\":\"\",\"elementAttributes\":{\"cx\":\"\",\"cy\":\"\",\"r\":\"\"},\"elementStyleAttributes\":{\"fill\":\"black\",\"stroke\":\"black\",\"stroke-width\":\"1px\"}},\"Square\":{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"black\",\"stroke-width\":\"0.1px\"}},\"Charging_hub\":[{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"gold\",\"stroke\":\"gold\",\"stroke-width\":\"5px\"}},{\"command\":\"add_element\",\"elementType\":\"line\",\"elementId\":\"\",\"elementAttributes\":{\"x1\":\"\",\"y1\":\"\",\"x2\":\"\",\"y2\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"green\",\"stroke-width\":\"8px\"}},{\"command\":\"add_element\",\"elementType\":\"line\",\"elementId\":\"\",\"elementAttributes\":{\"x1\":\"\",\"y1\":\"\",\"x2\":\"\",\"y2\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"green\",\"stroke-width\":\"8px\"}}],\"POD\":[{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"lightgreen\",\"stroke\":\"blue\",\"stroke-width\":\"1px\"}},{\"command\":\"add_element\",\"elementType\":\"line\",\"elementId\":\"\",\"elementAttributes\":{\"x1\":\"\",\"y1\":\"\",\"x2\":\"\",\"y2\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"blue\",\"stroke-width\":\"1px\"}},{\"command\":\"add_element\",\"elementType\":\"line\",\"elementId\":\"\",\"elementAttributes\":{\"x1\":\"\",\"y1\":\"\",\"x2\":\"\",\"y2\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"blue\",\"stroke-width\":\"1px\"}}],\"Column\":[{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"lightgray\",\"stroke\":\"black\",\"stroke-width\":\"1px\"}},{\"command\":\"add_element\",\"elementType\":\"line\",\"elementId\":\"\",\"elementAttributes\":{\"x1\":\"\",\"y1\":\"\",\"x2\":\"\",\"y2\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"black\",\"stroke-width\":\"1px\"}}],\"AGV\":[{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"cornflowerblue\",\"stroke\":\"blue\",\"stroke-width\":\"1px\"}},{\"command\":\"add_element\",\"elementType\":\"circle\",\"elementId\":\"\",\"elementAttributes\":{\"cx\":\"\",\"cy\":\"\",\"r\":\"\"},\"elementStyleAttributes\":{\"fill\":\"lightgreen\",\"stroke\":\"black\",\"stroke-width\":\"1px\"}},{\"command\":\"add_element\",\"elementType\":\"line\",\"elementId\":\"\",\"elementAttributes\":{\"x1\":\"\",\"y1\":\"\",\"x2\":\"\",\"y2\":\"\"},\"elementStyleAttributes\":{\"fill\":\"none\",\"stroke\":\"black\",\"stroke-width\":\"2px\"}}],\"Station\":[{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"white\",\"stroke\":\"red\",\"stroke-width\":\"2px\"}}],\"DAS_vertical\":[{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"green\",\"stroke\":\"green\",\"stroke-width\":\"5px\"}}],\"DAS_horizontal\":[{\"command\":\"add_element\",\"elementType\":\"rect\",\"elementId\":\"\",\"elementAttributes\":{\"x\":\"\",\"y\":\"\",\"width\":\"\",\"height\":\"\"},\"elementStyleAttributes\":{\"fill\":\"green\",\"stroke\":\"green\",\"stroke-width\":\"5px\"}}]}","payloadType":"json","x":210,"y":520,"wires":[["180ae924.9883b7"]]},{"id":"aee5c0a5.2ec57","type":"switch","z":"d03e0c0e.6069f","name":"searchPODByID","property":"payload.searchPODByID","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":340,"wires":[["6dc3061a.00bac8"]]},{"id":"d68543f8.d9394","type":"switch","z":"d03e0c0e.6069f","name":"searchPODByGoods","property":"payload.searchPODByGoods","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":380,"wires":[["5a3246b9.149f68"]]},{"id":"b7f14b9f.6bf838","type":"link in","z":"d03e0c0e.6069f","name":"","links":["78448f1.99f6e7"],"x":175,"y":360,"wires":[["aee5c0a5.2ec57","d68543f8.d9394"]]},{"id":"6dc3061a.00bac8","type":"function","z":"d03e0c0e.6069f","name":"","func":"var PODid = msg.payload.searchPODByID; \nquery = `SELECT x,y,id,goods FROM POD WHERE id='`+PODid+`';`; \nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":340,"wires":[["6bc62b64.7c5194"]]},{"id":"6bc62b64.7c5194","type":"mysql","z":"d03e0c0e.6069f","mydb":"42699e8.26e1e6","name":"","x":630,"y":360,"wires":[["1c48c0c0.3749bf"]]},{"id":"5a3246b9.149f68","type":"function","z":"d03e0c0e.6069f","name":"","func":"var PODGoods = msg.payload.searchPODByGoods; \nquery = `SELECT x,y,id,goods FROM POD WHERE goods='`+PODGoods+`';`; \nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":380,"wires":[["6bc62b64.7c5194"]]},{"id":"b956d311.8bf57","type":"template","z":"d03e0c0e.6069f","name":"global map template","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"Line\": {\n        \"command\": \"add_element\",\n        \"elementType\": \"line\",\n        \"elementId\": \"\",\n        \"elementAttributes\": {\n            \"x1\": \"\",\n            \"y1\": \"\",\n            \"x2\": \"\",\n            \"y2\": \"\"\n        },\n        \"elementStyleAttributes\": {\n            \"fill\": \"none\",\n            \"stroke\": \"gold\",\n            \"stroke-width\": \"5px\"\n        }\n    },\n    \"Remove\": {\n        \"command\": \"remove_element\",\n        \"elementId\": \"\"\n    },\n    \"Round\": {\n        \"command\": \"add_element\",\n        \"elementType\": \"circle\",\n        \"elementId\": \"\",\n        \"elementAttributes\": {\n            \"cx\": \"\",\n            \"cy\": \"\",\n            \"r\": \"\"\n        },\n        \"elementStyleAttributes\": {\n            \"fill\": \"black\",\n            \"stroke\": \"black\",\n            \"stroke-width\": \"1px\"\n        }\n    },\n    \"Square\": {\n        \"command\": \"add_element\",\n        \"elementType\": \"rect\",\n        \"elementId\": \"\",\n        \"elementAttributes\": {\n            \"x\": \"\",\n            \"y\": \"\",\n            \"width\": \"\",\n            \"height\": \"\"\n        },\n        \"elementStyleAttributes\": {\n            \"fill\": \"none\",\n            \"stroke\": \"black\",\n            \"stroke-width\": \"0.1px\"\n        }\n    },\n    \"Charging_hub\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"gold\",\n                \"stroke\": \"gold\",\n                \"stroke-width\": \"5px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"green\",\n                \"stroke-width\": \"8px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"green\",\n                \"stroke-width\": \"8px\"\n            }\n        }\n    ],\n    \"POD\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"#ffcc66\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"3px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"1px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"1px\"\n            }\n        }\n    ],\n    \"Column\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"lightgray\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"1px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"1px\"\n            }\n        }\n    ],\n    \"AGV\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"cornflowerblue\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"1px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"circle\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"cx\": \"\",\n                \"cy\": \"\",\n                \"r\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"lightgreen\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"1px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"2px\"\n            }\n        }\n    ],\n    \"Station\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"red\",\n                \"stroke-width\": \"5px\"\n            }\n        }\n    ],\n    \"DAS\": {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"green\",\n                \"stroke\": \"green\",\n                \"stroke-width\": \"5px\"\n            }\n        }\n}","output":"str","x":520,"y":280,"wires":[["54ec15f6.1a6c2c"]]},{"id":"170d3de9.bca672","type":"inject","z":"d03e0c0e.6069f","name":"global map template","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":280,"y":280,"wires":[["b956d311.8bf57"]]},{"id":"54ec15f6.1a6c2c","type":"function","z":"d03e0c0e.6069f","name":"global map template","func":"let json = msg.payload;\nglobal.set('map_template', json);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":260,"wires":[[]]},{"id":"1c48c0c0.3749bf","type":"function","z":"d03e0c0e.6069f","name":"change POD color","func":"let json = JSON.parse(global.get('map_template'));\nconst HEIGHT = global.get('height');\nconst WIDTH = global.get('width');\nconst grid = 50;\nconst ORIGIN_X = -25 + grid;\nconst ORIGIN_Y = 37 + grid;\nlet x = msg.payload[0].x;\nlet y = msg.payload[0].y;\nmsg = new Object();\nmsg.payload = json.POD;\n\nmsg.payload[0].elementId =  \"tempPOD\";\nmsg.payload[1].elementId =  \"tempPOD\";\nmsg.payload[2].elementId =  \"tempPOD\";\nmsg.payload[0].elementAttributes.x = ORIGIN_X + grid * x;\nmsg.payload[0].elementAttributes.y = ORIGIN_Y + grid * y;\n\nmsg.payload[0].elementAttributes.width = grid;\nmsg.payload[0].elementAttributes.height = grid;\n\nmsg.payload[0].elementStyleAttributes.fill = \"#ff3333\";\nmsg.payload[0].elementStyleAttributes.stroke  = \"blue\";\n\nnode.send(msg);\n\nreturn ;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":340,"wires":[["d4f1b0cf.e802a","97ef0bbf.000638"]]},{"id":"97ef0bbf.000638","type":"delay","z":"d03e0c0e.6069f","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":380,"wires":[["47e1e199.44fcf"]]},{"id":"47e1e199.44fcf","type":"function","z":"d03e0c0e.6069f","name":"revert POD color","func":"let json = JSON.parse(global.get('map_template'));\nmsg.payload = json.Remove;\nmsg.payload.elementId = \"tempPOD\";\nnode.send(msg);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":420,"wires":[["d4f1b0cf.e802a"]]},{"id":"3658854e.c8603a","type":"mysql","z":"f894bdd9.761b5","mydb":"68332cbc.0aa2d4","name":"","x":490,"y":180,"wires":[["56994329.6d692c"]]},{"id":"64252b1.4d669d4","type":"inject","z":"f894bdd9.761b5","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":180,"y":180,"wires":[["c4b971e9.82c2c"]]},{"id":"c4b971e9.82c2c","type":"function","z":"f894bdd9.761b5","name":"","func":"msg.topic = \"SELECT `x`, `y` FROM `agv`.`map_size`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":180,"wires":[["3658854e.c8603a"]]},{"id":"56994329.6d692c","type":"function","z":"f894bdd9.761b5","name":"","func":"global.set('height', msg.payload[0].y);\nglobal.set('width', msg.payload[0].x);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":180,"wires":[[]]},{"id":"53189d83.1eb3e4","type":"inject","z":"f894bdd9.761b5","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"height","payloadType":"global","x":210,"y":580,"wires":[["8cc9b713.040d18"]]},{"id":"8cc9b713.040d18","type":"debug","z":"f894bdd9.761b5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":580,"wires":[]},{"id":"f849e84f.391038","type":"inject","z":"f894bdd9.761b5","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"width","payloadType":"global","x":210,"y":620,"wires":[["2db9d6b3.45ad4a"]]},{"id":"2db9d6b3.45ad4a","type":"debug","z":"f894bdd9.761b5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":620,"wires":[]},{"id":"3bc4f3dd.2d8aac","type":"mysql","z":"f894bdd9.761b5","mydb":"68332cbc.0aa2d4","name":"","x":490,"y":240,"wires":[["85782720.3bdfb8","f6364454.1daa98"]]},{"id":"eacc73f9.77eed","type":"inject","z":"f894bdd9.761b5","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":180,"y":240,"wires":[["e054fa62.d7d0f8"]]},{"id":"e054fa62.d7d0f8","type":"function","z":"f894bdd9.761b5","name":"","func":"msg.topic = \"SELECT `x`, `y`,`id` FROM `agv`.`POD`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":240,"wires":[["3bc4f3dd.2d8aac"]]},{"id":"85782720.3bdfb8","type":"function","z":"f894bdd9.761b5","name":"","func":"let json = msg.payload;\nlet POD_position = [];\nfor(let i = 0; i< json.length; i++){\n    let subArray = [json[i].x, json[i].y, json[i].id];\n    POD_position.push(subArray);\n}\nglobal.set('POD_position', POD_position);\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":240,"wires":[[]]},{"id":"3f7560b5.73a99","type":"inject","z":"f894bdd9.761b5","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"POD_position","payloadType":"global","x":230,"y":660,"wires":[["e34abab2.abf568"]]},{"id":"e34abab2.abf568","type":"debug","z":"f894bdd9.761b5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":660,"wires":[]},{"id":"f6364454.1daa98","type":"debug","z":"f894bdd9.761b5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":300,"wires":[]},{"id":"fd2d35d0.a65628","type":"link in","z":"f894bdd9.761b5","name":"","links":["9c09f62c.3efab8"],"x":135,"y":140,"wires":[["c4b971e9.82c2c","e054fa62.d7d0f8"]]}]