flows_3.10/flows.json
[{"id":"f47d7d9f.1c7f7","type":"tab","label":"main","disabled":false,"info":""},{"id":"159c61d3.569f9e","type":"tab","label":"database","disabled":false,"info":""},{"id":"bfb58b68.8bf7e8","type":"tab","label":"AGV real time tracking","disabled":false,"info":""},{"id":"8ac26ed6.bb426","type":"tab","label":"update DB","disabled":true,"info":""},{"id":"36c6f353.faa0bc","type":"tab","label":"fake agv","disabled":false,"info":""},{"id":"ba56f7bf.31bbd8","type":"ui_group","z":"","name":"AGV Management  System","tab":"1a0f95b.ac99c6a","order":1,"disp":false,"width":"27","collapse":false},{"id":"1a0f95b.ac99c6a","type":"ui_tab","z":"","name":"AGV","icon":"dashboard","disabled":false,"hidden":false},{"id":"47991ff9.9700a","type":"ui_group","z":"","name":"Home Floor Plan","tab":"41dc1c10.89d724","order":1,"disp":true,"width":"15","collapse":false},{"id":"41dc1c10.89d724","type":"ui_tab","z":"","name":"Home Floor Plan","icon":"dashboard","disabled":false,"hidden":false},{"id":"bbb0277c.2e9f48","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"446ececc.6b90b","type":"ui_group","z":"","name":"Floorplan test","tab":"f41e5d7d.1e346","order":1,"disp":true,"width":"14","collapse":false},{"id":"f41e5d7d.1e346","type":"ui_tab","z":"","name":"SVG","icon":"dashboard","disabled":false,"hidden":false},{"id":"ff5dcf7.3c68a3","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"agv","tz":""},{"id":"d8a31297.22f47","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.68","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cc9f93dc.ee5db","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"agv","tz":""},{"id":"ce3ad5b4.3e82c8","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"agv","tz":""},{"id":"d6eebfa8.c1028","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"agv","tz":""},{"id":"98bd0701.3a0578","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"agv","tz":""},{"id":"150b21a0.16286e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"1784ca20.98f606","type":"ui_group","z":"","name":"Default","tab":"150b21a0.16286e","order":1,"disp":false,"width":"27","collapse":false},{"id":"c2b70efd.a4e3d","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.68","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3a76f84.5d91308","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"agv","tz":""},{"id":"9c0b0ae0.59fc58","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"agv","tz":""},{"id":"24f07f77.93bb3","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"agv","tz":""},{"id":"29bec723.621f28","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"agv","tz":""},{"id":"85fd4a3c.6d4748","type":"ui_tab","z":"36c6f353.faa0bc","name":"AGV","icon":"dashboard","disabled":false,"hidden":true},{"id":"cf3775f7.1155e8","type":"ui_tab","z":"36c6f353.faa0bc","name":"Home Floor Plan","icon":"dashboard","disabled":false,"hidden":false},{"id":"5e6d3629.efec28","type":"ui_tab","z":"36c6f353.faa0bc","name":"SVG","icon":"dashboard","disabled":false,"hidden":false},{"id":"e5135ee8.ad97b","type":"ui_group","z":"36c6f353.faa0bc","name":"AGV Management  System","tab":"12379bac.a64724","order":1,"disp":false,"width":"27","collapse":false},{"id":"99f97645.748c88","type":"ui_group","z":"36c6f353.faa0bc","name":"Home Floor Plan","tab":"cb206eea.af528","order":1,"disp":true,"width":"15","collapse":false},{"id":"fd78d103.28172","type":"ui_group","z":"36c6f353.faa0bc","name":"Floorplan test","tab":"65657b7a.1ad064","order":1,"disp":true,"width":"14","collapse":false},{"id":"a0384589.d36918","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e2f2a57f.814c48","type":"ui_group","z":"","name":"Default","tab":"a0384589.d36918","order":1,"disp":false,"width":"27","collapse":false},{"id":"5f73b03c.136f7","type":"mqtt in","z":"36c6f353.faa0bc","name":"","topic":"/AGV01","qos":"1","datatype":"auto","broker":"c2b70efd.a4e3d","x":190,"y":280,"wires":[["ff955998.e8fa78"]]},{"id":"ff955998.e8fa78","type":"debug","z":"36c6f353.faa0bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":280,"wires":[]},{"id":"52da2aad.00f514","type":"mqtt out","z":"36c6f353.faa0bc","name":"","topic":"AGV01","qos":"1","retain":"false","broker":"c2b70efd.a4e3d","x":420,"y":220,"wires":[]},{"id":"e8811682.937b48","type":"inject","z":"36c6f353.faa0bc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"a","payloadType":"str","x":220,"y":220,"wires":[["52da2aad.00f514"]]},{"id":"623a3193.2db74","type":"function","z":"f47d7d9f.1c7f7","name":"draw map","func":"const HEIGHT = global.get('height');\nconst WIDTH = global.get('width');\nconst grid = flow.get('grid');\nconst ORIGIN_X = -23 + grid;\nconst ORIGIN_Y = 40 + grid;\nlet charging_hub_position = global.get('chargingHub');\nlet agv_status = global.get('agv');\nlet commonFunction = global.get('commonFunction');\nlet POD_position = global.get('pod');\nlet Column_position = global.get('barrier'); \nlet Station_position = global.get('station');  \n\n/* draw floor's grid-----------------------------------------*/\nfor(let i = 0; i < WIDTH; i++ ){\n    for(let j = 0; j < HEIGHT; j++){\n        node.send(commonFunction.drawSquare(\"ID_square_\" + (Number(String(j) + String(i))).toString(), ORIGIN_X + grid*i, ORIGIN_Y + grid*j, grid, grid, \"none\", \"black\", 0.3));\n    }\n}\nnode.send(commonFunction.drawLine(\"ID_bound\", ORIGIN_X, ORIGIN_Y, ORIGIN_X + grid * WIDTH, ORIGIN_Y, \"#ff751a\", 5));\nnode.send(commonFunction.drawLine(\"ID_bound\", ORIGIN_X, ORIGIN_Y, ORIGIN_X, ORIGIN_Y + grid * HEIGHT, \"#ff751a\", 5));\nnode.send(commonFunction.drawLine(\"ID_bound\", ORIGIN_X + grid * WIDTH, ORIGIN_Y, ORIGIN_X + grid * WIDTH, ORIGIN_Y + grid * HEIGHT, \"#ff751a\", 5));\nnode.send(commonFunction.drawLine(\"ID_bound\", ORIGIN_X, ORIGIN_Y + grid * HEIGHT, ORIGIN_X + grid * WIDTH, ORIGIN_Y + grid * HEIGHT, \"#ff751a\", 5));\n\n/* Add Charging hub -------------------------------------------*/\nfor(let index = 0; index < charging_hub_position.length; index++){\n    node.send(commonFunction.drawChargingHub(\"ID_charging_hub_\" + charging_hub_position[index][0], ORIGIN_X + grid * charging_hub_position[index][1], ORIGIN_Y + grid * charging_hub_position[index][2], charging_hub_position[index][3]));\n}\n/* Add POD-----------------------------------------------------*/\nfor(index = 0; index < POD_position.length; index++){\n    node.send(commonFunction.drawPOD('ID_' + POD_position[index][0], ORIGIN_X + grid * POD_position[index][1], ORIGIN_Y + grid * POD_position[index][2]));\n}\n\n\n/* Add Station------------------------------------------------*/\nfor(let i = 0; i < Station_position.length; i++ ){\n    node.send(commonFunction.drawSquare(\"ID_Station_\" + Station_position[i][0], ORIGIN_X + grid*Station_position[i][1], ORIGIN_Y + grid*Station_position[i][2], grid, grid, \"#d9ce57\", \"red\", 1));\n}\n\n/* Add Column-------------------------------------------------*/\nfor(i = 0; i < Column_position.length; i++){\n    node.send(commonFunction.drawSquare(\"ID_Column_\" + Column_position[i][0], ORIGIN_X + grid*Column_position[i][1], ORIGIN_Y + grid*Column_position[i][2], grid, grid, \"#a8a6a5\", \"none\", 1));\n    node.send(commonFunction.drawLine(\"ID_Column_\" + Column_position[i][0], ORIGIN_X + grid*Column_position[i][1], ORIGIN_Y + grid*Column_position[i][2], ORIGIN_X + grid*Column_position[i][1] + grid, ORIGIN_Y + grid*Column_position[i][2] + grid, \"black\", 2));\n}\n\n\n// function addAGV(x, y, rotation, index){\n//     msg.payload = json.AGV;\n//     msg.payload[0].elementId = \"ID_\" + String(index);\n//     msg.payload[1].elementId = \"ID_\" + String(index);\n//     msg.payload[2].elementId = \"ID_\" + String(index);\n    \n//     msg.payload[0].elementAttributes.x = ORIGIN_X + x * grid;\n//     msg.payload[0].elementAttributes.y = ORIGIN_Y + y * grid;\n//     msg.payload[0].elementAttributes.width = grid;\n//     msg.payload[0].elementAttributes.height = grid;\n    \n//     msg.payload[1].elementAttributes.cx = ORIGIN_X + x * grid + Math.floor(grid / 2);\n//     msg.payload[1].elementAttributes.cy = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n//     msg.payload[1].elementAttributes.r = Math.floor(grid / 2);\n    \n//     msg.payload[2].elementAttributes.x1 = ORIGIN_X + x * grid + Math.floor(grid / 2);\n//     msg.payload[2].elementAttributes.y1 = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n    \n//     if( rotation === 0){\n//         msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2) ;\n//         msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid ;\n//     }\n//     else if( rotation === 90){\n//         msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2) + Math.floor(grid / 2);\n//         msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n//     }\n//     else if( rotation === 180){\n//         msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2);\n//         msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid + Math.floor(grid / 2) + Math.floor(grid / 2);\n//     }\n//     else if( rotation === 270){\n//         msg.payload[2].elementAttributes.x2 = ORIGIN_X + x * grid + Math.floor(grid / 2) - Math.floor(grid / 2);\n//         msg.payload[2].elementAttributes.y2 = ORIGIN_Y + y * grid + Math.floor(grid / 2);\n//     }\n//     node.send(msg);\n// }\n\n\nfor(let i = 0; i < agv_status.length; i++){\n    msg = {};\n    msg.payload = commonFunction.addAGV(\"ID_\" + agv_status[i][0], ORIGIN_X + grid*agv_status[i][1], ORIGIN_Y + grid*agv_status[i][2], agv_status[i][3]);\n    node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":360,"wires":[["9d5c2c8f.5f331","fc06fcd8.f16b9"]]},{"id":"b8183786.f24e18","type":"debug","z":"f47d7d9f.1c7f7","name":"floorplan","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1140,"y":320,"wires":[]},{"id":"9d5c2c8f.5f331","type":"ui_svg_graphics","z":"f47d7d9f.1c7f7","group":"e2f2a57f.814c48","order":5,"width":"26","height":"16","svgString":"<html>\n\n<head>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js\"></script>\n  <style>\n    .featuredBtn.active {\n       background-color: white;\n       color: black;\n    }\n    .featuredBtn {\n       float: left;\n       color: white;\n       text-align: center;\n       font-weight: bold;\n       padding: 10px 90px;\n       text-decoration: none;\n       font-size: 18px;\n       margin: 0px 0px;\n       border: none;\n    }\n    .button1 {\n        background-color: #80bfff;\n    }\n      .button1:hover {\n        background-color: white;\n        color: black;\n    }\n    \n    .p-text-header\n    {\n    \tmargin:0;\n        padding:0;\n        font-size:15px;\n        fill:none;\n        color:white;\n        text-align: left;\n    } \n    .p-text-header-1\n    {\n    \tmargin:0;\n        padding:0;\n        font-size:15px;\n        fill:none;\n        color:black;\n        text-align: left;\n    } \n    .p-text-header-2\n    {\n    \tmargin:0;\n        padding:0;\n        font-size:15px;\n        fill:none;\n        color:white;\n        text-align: center;\n    } \n    .p-text-header-3\n    {\n    \tmargin:0;\n        padding:0;\n        font-size:20px;\n        fill:none;\n        color:white;\n        text-align: center;\n    } \n    .p-text-header-4\n    {\n    \tmargin:0;\n        padding:0;\n        font-size:15px;\n        fill:none;\n        color:black;\n        text-align: center;\n        font-weight: bold;\n    }\n    .button {\n        background-color: #4CAF50;\n        border: none;\n        color: #99ccff;\n        padding: 5px 160px;\n        text-align: left;\n        text-decoration: none;\n        display: inline-block;\n        font-size: 15px;\n        margin: 4px 2px;\n        cursor: pointer;\n        -webkit-transition-duration: 0.4s; \n        transition-duration: 0.4s;\n        border-radius: 12px;\n    }\n    div.scroll {\n      background-color: white;\n      width: 375px;\n      height: 480px;\n      overflow-y: auto;\n      overflow-x: hidden;\n    }\n    div.scroll_log {\n      background-color: white;\n      width: 300px;\n      height: 500px;\n      overflow-y: auto;\n      overflow-x: auto;\n      display: block;\n    }\n    div.scroll_process {\n      background-color: white;\n      width: 580px;\n      height: 130px;\n      overflow-y: auto;\n      overflow-x: auto;\n      display: block;\n    }\n    .button1 {\n        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);\n    }\n    .button2:hover {\n        background-color: #2eb82e;\n        color: black;\n        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);\n    }\n    .input{\n        width:520px;\n    }\n  </style>\n</head>\n\n<body>\n  <!--<svg version=\"1.3\" x=\"100\" y=\"100\" height=\"1000\" viewBox=\"170 -100 1200 1200\" width=\"1300\" overflow-y=\"hidden\" overflow-x=\"hidden\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:svg=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">-->\n  <svg version=\"1.3\" x=\"0\" y=\"0\" height=\"820\" width=\"1280\" style=\"overflow-y=hidden; overflow-x:hidden;\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:svg=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n    <rect x=\"5\" y=\"5\" width=\"1250\" height=\"800\" style=\"fill:#007a99; stroke: black; stroke-width:3px;\" />\n    <foreignObject x=\"190\" y=\"10\" width=\"300\" height=\"30\">\n      <text id=\"header\" class=\"p-text-header\" style=\"font-weight: bold; color: white; text-align: center; font-size: 25px;\"> AGV SYSTEM </text>\n    </foreignObject>\n    <foreignObject x=\"80\" y=\"50\" width=\"200\" height=\"30\">\n      <button ng-click=\"send({payload: 1001})\" type=\"button\" class=\"btn btn-success btn-sm\">Start AGV System</button>\n    </foreignObject>\n    <foreignObject x=\"350\" y=\"50\" width=\"200\" height=\"30\">\n      <button ng-click=\"send({payload: 1002})\" type=\"button\" class=\"btn btn-danger btn-sm\">Stop AGV System</button>\n    </foreignObject>\n    <rect x=\"550\" y=\"15\" width=\"375\" height=\"20\" style=\"fill:#3385ff; stroke: none;\" />\n    <foreignObject x=\"670\" y=\"15\" width=\"200\" height=\"20\">\n      <text class=\"p-text-header-2\"> AGV Controlling Pannel </text>\n    </foreignObject>\n    <svg width=\"375\" height=\"500\" overflow=\"auto\">\n      <rect x=\"550\" y=\"40\" width=\"375\" height=\"500\" style=\"fill:white; stroke: none;\" />\n    </svg>\n    <rect x=\"25\" y=\"558\" width=\"1218\" height=\"230\" style=\"fill:white; stroke: none;\" />\n    <rect x=\"25\" y=\"565\" width=\"1218\" height=\"40\" style=\"fill:#007a99; stroke: none;\" />\n    <foreignObject x=\"500\" y=\"570\" width=\"300\" height=\"100\">\n      <text class=\"p-text-header-3\"> Warehouse management system </text>\n    </foreignObject>\n    <rect x=\"550\" y=\"40\" width=\"375\" height=\"500\" style=\"fill:white; stroke: none;\" />\n    <foreignObject x=\"550\" y=\"40\" width=\"450\" height=\"500\">\n      <div class=\"scroll\">\n        <button type=\"button\" class=\"button button2\" data-toggle=\"collapse\" data-target=\"#AGV1\">AGV1</button>\n        <div id=\"AGV1\" class=\"collapse\">\n          <svg width=\"350\" id=\"svg-temp1\" height=\"320\" overflow=\"auto\">\n            <foreignObject x=\"10\" y=\"0\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Connection </text>\n            </foreignObject>\n            <foreignObject x=\"100\" y=\"30\" width=\"230\" height=\"30\">\n                <div>\n                    <input type=\"text\" class=\"form-control\" ng-model=\"AGV1_ip\" placeholder=\"AGV 1 IP Adress\" name=\"AGV1_ip\" style=\"height:30px; width:230px; \">\n                </div>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"30\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> IP Address </text>\n            </foreignObject>\n            <foreignObject x=\"100\" y=\"60\" width=\"230\" height=\"30\">\n                <div>\n                    <input type=\"text\" class=\"form-control\" ng-model=\"AGV1_port\" placeholder=\"AGV 1 IP PORT\" name=\"AGV1_port\" style=\"height:30px; width:230px; \">\n                </div>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"62\" width=\"50\" height=\"25\">\n              <text class=\"p-text-header-1\"> Port </text>\n            </foreignObject>\n            <foreignObject x=\"50\" y=\"100\" width=\"100\" height=\"30\">\n              <button type=\"button\" class=\"btn btn-success btn-sm\" ng-click=\"send({payload: {AGV1_start: {ip: AGV1_ip, port: AGV1_port}}})\">Start AGV1</button>\n            </foreignObject>\n            <foreignObject x=\"230\" y=\"100\" width=\"100\" height=\"30\">\n              <button type=\"button\" class=\"btn btn-danger btn-sm\" ng-click=\"send({payload: {AGV1_stop : 1}})\">Stop AGV1</button>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"130\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Information </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"160\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> Velocity: </text> \n              <text id=\"AGV1_v\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"180\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Battery: </text>\n              <text id=\"AGV1_batt\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"200\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Current POD: </text>\n              <text id=\"AGV1_pod\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"240\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Physics </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"260\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> X: </text>\n              <text id=\"AGV1_x\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"280\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Y: </text>\n              <text id=\"AGV1_y\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"300\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Orientation: </text>\n              <text id=\"AGV1_ori\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n          </svg>\n        </div>\n        \n        <br>\n        <button type=\"button\" class=\"button button2\" data-toggle=\"collapse\" data-target=\"#AGV2\">AGV2</button>\n        <div id=\"AGV2\" class=\"collapse\">\n          <svg width=\"350\" id=\"svg-temp1\" height=\"320\" overflow=\"auto\">\n            <foreignObject x=\"10\" y=\"0\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Connection </text>\n            </foreignObject>\n            <foreignObject x=\"100\" y=\"30\" width=\"230\" height=\"30\">\n                <div>\n                    <input type=\"text\" class=\"form-control\" ng-model=\"AGV2_ip\" placeholder=\"AGV 2 IP Adress\" name=\"AGV2_ip\" style=\"height:30px; width:230px; \">\n                </div>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"30\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> IP Address </text>\n            </foreignObject>\n            <foreignObject x=\"100\" y=\"60\" width=\"230\" height=\"30\">\n                <div>\n                    <input type=\"text\" class=\"form-control\" ng-model=\"AGV2_port\" placeholder=\"AGV 2 IP PORT\" name=\"AGV2_port\" style=\"height:30px; width:230px; \">\n                </div>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"62\" width=\"50\" height=\"25\">\n              <text class=\"p-text-header-1\"> Port </text>\n            </foreignObject>\n            <foreignObject x=\"50\" y=\"100\" width=\"100\" height=\"30\">\n              <button type=\"button\" class=\"btn btn-success btn-sm\" ng-click=\"send({payload: {AGV2_start: {ip: AGV2_ip, port: AGV2_port}}})\">Start AGV2</button>\n            </foreignObject>\n            <foreignObject x=\"230\" y=\"100\" width=\"100\" height=\"30\">\n              <button type=\"button\" class=\"btn btn-danger btn-sm\" ng-click=\"send({payload: {AGV2_stop : 1}})\">Stop AGV2</button>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"130\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Information </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"160\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> Velocity: </text> \n              <text id=\"AGV2_v\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"180\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Battery: </text>\n              <text id=\"AGV2_batt\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"200\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Current POD: </text>\n              <text id=\"AGV2_pod\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"240\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Physics </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"260\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> X: </text>\n              <text id=\"AGV2_x\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"280\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Y: </text>\n              <text id=\"AGV2_y\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"300\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Orientation: </text>\n              <text id=\"AGV2_ori\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n          </svg>\n        </div>\n        <br>\n        <button type=\"button\" class=\"button button2\" data-toggle=\"collapse\" data-target=\"#AGV3\">AGV3</button>\n        <div id=\"AGV3\" class=\"collapse\">\n          <svg width=\"350\" id=\"svg-temp1\" height=\"320\" overflow=\"auto\">\n            <foreignObject x=\"10\" y=\"0\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Connection </text>\n            </foreignObject>\n            <foreignObject x=\"100\" y=\"30\" width=\"230\" height=\"30\">\n                <div>\n                    <input type=\"text\" class=\"form-control\" ng-model=\"AGV3_ip\" placeholder=\"AGV 3 IP Adress\" name=\"AGV3_ip\" style=\"height:30px; width:230px; \">\n                </div>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"30\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> IP Address </text>\n            </foreignObject>\n            <foreignObject x=\"100\" y=\"60\" width=\"230\" height=\"30\">\n                <div>\n                    <input type=\"text\" class=\"form-control\" ng-model=\"AGV3_port\" placeholder=\"AGV 3 IP PORT\" name=\"AGV3_port\" style=\"height:30px; width:230px; \">\n                </div>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"62\" width=\"50\" height=\"25\">\n              <text class=\"p-text-header-1\"> Port </text>\n            </foreignObject>\n            <foreignObject x=\"50\" y=\"100\" width=\"100\" height=\"30\">\n              <button type=\"button\" class=\"btn btn-success btn-sm\" ng-click=\"send({payload: {AGV3_start: {ip: AGV3_ip, port: AGV3_port}}})\">Start AGV3</button>\n            </foreignObject>\n            <foreignObject x=\"230\" y=\"100\" width=\"100\" height=\"30\">\n              <button type=\"button\" class=\"btn btn-danger btn-sm\" ng-click=\"send({payload: {AGV3_stop : 1}})\">Stop AGV3</button>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"130\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Information </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"160\" width=\"80\" height=\"25\">\n              <text class=\"p-text-header-1\"> Velocity: </text> \n              <text id=\"AGV3_v\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"180\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Battery: </text>\n              <text id=\"AGV3_batt\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"200\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Current POD: </text>\n              <text id=\"AGV3_pod\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"240\" width=\"120\" height=\"25\">\n              <text class=\"p-text-header-4\"> Physics </text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"260\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> X: </text>\n              <text id=\"AGV3_x\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"280\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Y: </text>\n              <text id=\"AGV3_x\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n            <foreignObject x=\"10\" y=\"300\" width=\"150\" height=\"25\">\n              <text class=\"p-text-header-1\"> Orientation: </text>\n              <text id=\"AGV3_ori\" class=\"p-text-header-4\"></text>\n            </foreignObject>\n          </svg>\n        </div>\n      </div>\n    </foreignObject>\n    <rect x=\"940\" y=\"15\" width=\"300\" height=\"20\" style=\"fill:#3385ff; stroke: none;\" />\n    <rect x=\"940\" y=\"40\" width=\"300\" height=\"500\" style=\"fill:white; stroke: none;\" />\n    <svg width=\"300\" height=\"500\" overflow=\"auto\">\n      <rect x=\"940\" y=\"40\" width=\"300\" height=\"500\" style=\"fill:white; stroke: none;\" />\n    </svg>\n    <rect x=\"27\" y=\"90\" width=\"500\" height=\"450\" style=\"fill: white; stroke: none;\" />\n    <rect x=\"25\" y=\"605\" width=\"1218\" height=\"42\" style=\"fill: lightblue; stroke: none;\" />\n    <!--tool bar-->\n    <foreignObject x=\"11\" y=\"605\" width=\"600\" height=\"220\">\n      <div class=\"container\">\n        <!-- Nav tabs -->\n        <ul class=\"nav nav-tabs\" role=\"tablist\">\n          <li class=\"nav-item\">\n            <a class=\"nav-link active\" data-toggle=\"tab\" href=\"#tab1\">Search for POD</a>\n          </li>\n          <li class=\"nav-item\">\n            <a class=\"nav-link nav-link\" data-toggle=\"tab\" href=\"#tab2\">Search for AGV</a>\n          </li>\n          <li class=\"nav-item\">\n            <a class=\"nav-link\" data-toggle=\"tab\" href=\"#tab3\">Move POD</a>\n          </li>\n          <li class=\"nav-item\">\n            <a class=\"nav-link\" data-toggle=\"tab\" href=\"#tab4\">Rearrange PODs</a>\n          </li>\n        </ul>\n        <!-- Tab panes -->\n        <div class=\"tab-content\">\n          <div id=\"tab1\" class=\"container tab-pane active\"><br>\n            <form>\n              <div class=\"input-group input\">\n                <input type=\"text\" class=\"form-control\" ng-model=\"searchPODByID\" placeholder=\"Search POD. Please type out ID of that POD\" name=\"search\">\n                <div class=\"input-group-btn\">\n                  <button type=\"submit\" class=\"btn btn-primary\" ng-click=\"send({payload: {searchPODByID: searchPODByID}})\">Find</button>\n                </div>\n              </div>\n              <div class=\"input-group input\">\n                <input type=\"text\" class=\"form-control\" ng-model=\"searchPODByGoods\" placeholder=\"Search POD by name of goods on it\" name=\"search\">\n                <div class=\"input-group-btn\">\n                  <button type=\"submit\" class=\"btn btn-primary\" ng-click=\"send({payload: {searchPODByGoods: searchPODByGoods}})\">Find</button>\n                </div>\n              </div>\n            </form>\n          </div>\n          <div id=\"tab2\" class=\"container tab-pane fade\"><br>\n            <br>\n            <form>\n              <div class=\"input-group input\">\n                <input type=\"text\" class=\"form-control\" ng-model=\"searchAGV\" placeholder=\"Search AGV. Please type out ID of that AGV\" name=\"search\">\n                <div class=\"input-group-btn\">\n                  <button type=\"submit\" class=\"btn btn-primary\" ng-click=\"send({payload: {searchAGV: searchAGV}})\">Find</button>\n                </div>\n              </div>\n            </form>\n          </div>\n          <div id=\"tab3\" class=\"container tab-pane fade\"><br>\n            <!--<p>this place will have some functions for moving POD.</p>-->\n            <div class=\"input-group input\">\n              <input type=\"text\" class=\"form-control\" ng-model=\"movePOD_id\" placeholder=\"Please type out ID of that POD\" name=\"movePOD_id\">\n            </div>\n            <div class=\"input-group input\">\n              <input type=\"text\" class=\"form-control\" ng-model=\"movePOD_to\" placeholder=\"Move POD to: \" name=\"movePOD_to\">\n              <div class=\"input-group-btn\">\n                <button type=\"submit\" class=\"btn btn-primary submit\" ng-click=\"send({payload: {movePOD_id: movePOD_id, movePOD_to: movePOD_to}})\">Move</button>\n              </div>\n            </div>\n          </div>\n          <div id=\"tab4\" class=\"container tab-pane fade\">\n            <h5><span class=\"badge badge-secondary badge-danger\">Important: Please read the guideance to make sure what you are doing!</span></h5>\n            <!--<input ng-model=\"me.item.value\" ng-change=\"payload\" ng-click=\"send({payload})\" ng-trim=\"false\" aria-label=\"\" type=\"text\" style=\"z-index: 1;\" step=\"any\" class=\"ng-valid md-input ng-not-empty ng-dirty ng-valid-parse ng-touched\" id=\"input_0\" aria-invalid=\"false\">-->\n            <div class=\"btn-group\">\n              <!-- Nav tabs -->\n              <ul class=\"nav nav-tabs\" role=\"tablist\" style=\"height:42px; width:520px; background-color:#ffbb99; text-align: center; font-weight: bold;\">\n                <li class=\"nav-item\">\n                  <a class=\"nav-link\" style=\"width:260px;\" data-toggle=\"tab\" href=\"#immediatly\">Immediately</a>\n                </li>\n                <li class=\"nav-item\">\n                  <a class=\"nav-link\" style=\"width:260px;\" data-toggle=\"tab\" href=\"#schedule\">Make a plan</a>\n                </li>\n              </ul>\n            </div>\n            <div class=\"tab-content\">\n              <div id=\"immediatly\" class=\"tab-pane fade\">\n                <div class=\"input-group-btn\">\n                  <button type=\"submit\" style=\"width:260px;\" class=\"btn btn-primary submit\" ng-click=\"send({payload: {rearrange_now: 1}})\">Confirm</button>\n                </div>\n              </div>\n              <div id=\"schedule\" class=\"tab-pane fade\">\n                <div class=\"input-group input\" style=\"margin-left:0px;\">\n                  <input type=\"date\" name=\"bday\" max=\"3000-12-31\" ng-model=\"rearrange_day\" min=\"1000-01-01\" class=\"form-control\">\n                  <input type=\"time\" class=\"form-control\" ng-model=\"rearrange_time\">\n                  <button type=\"submit\" class=\"btn btn-primary\" ng-click=\"send({payload: {rearrange_schedule: start, rearrange_day: rearrange_day, rearrange_time: rearrange_time}})\">Confirm</button>\n                </div>\n              </div>\n            </div>\n          </div>\n        </div>\n      </div>\n    </foreignObject>\n    \n    <rect x=\"650\" y=\"604\" width=\"8\" height=\"185\" style=\"fill:gray; stroke: none;\"></rect>\n    <!--processing pannel-->\n    <foreignObject x=\"880\" y=\"610\" width=\"200\" height=\"30\">\n      <text class=\"p-text-header-2\" style=\"color:black; font-size:20px;\"> Processing pannel </text>\n    </foreignObject>\n    <foreignObject x=\"660\" y=\"650\" width=\"580\" height=\"150\">\n        <div class=\"scroll_process\">\n            <pre class=\"p-text-header-2\" id=\"process\" style=\"font-size: 16px; color: black; text-align:left; font-family:Arial;\"></pre>\n        </div>\n    </foreignObject>\n    \n    <!--log pannel-->\n    <foreignObject x=\"1080\" y=\"15\" width=\"200\" height=\"20\">\n      <text class=\"p-text-header-2\"> LOG </text>\n    </foreignObject>\n    <foreignObject x=\"940\" y=\"40\" width=\"350\" height=\"500\">\n        <div class=\"scroll_log\">\n            <pre class=\"p-text-header-2\" id=\"log\" style=\"font-size: 15px; color: black; text-align:left; min-height: 500px; height: auto;\"></pre>\n        </div>\n    </foreignObject>\n    \n  </svg>\n</body>\n\n</html>","clickableShapes":[],"smilAnimations":[],"bindings":[{"selector":"#log","bindSource":"payload.log","bindType":"text","attribute":""},{"selector":"#process","bindSource":"payload.process","bindType":"text","attribute":""},{"selector":"#AGV1_v","bindSource":"payload.AGV1_v","bindType":"text","attribute":""},{"selector":"#AGV1_batt","bindSource":"payload.AGV1_batt","bindType":"text","attribute":""},{"selector":"#AGV1_pod","bindSource":"payload.AGV1_pod","bindType":"text","attribute":""},{"selector":"#AGV1_x","bindSource":"payload.AGV1_x","bindType":"text","attribute":""},{"selector":"#AGV1_y","bindSource":"payload.AGV1_y","bindType":"text","attribute":""},{"selector":"#AGV1_ori","bindSource":"payload.AGV1_ori","bindType":"text","attribute":""},{"selector":"#AGV2_v","bindSource":"payload.AGV2_v","bindType":"text","attribute":""},{"selector":"#AGV2_batt","bindSource":"payload.AGV2_batt","bindType":"text","attribute":""},{"selector":"#AGV2_pod","bindSource":"payload.AGV2_pod","bindType":"text","attribute":""},{"selector":"#AGV2_x","bindSource":"payload.AGV2_x","bindType":"text","attribute":""},{"selector":"#AGV2_y","bindSource":"payload.AGV2_y","bindType":"text","attribute":""},{"selector":"#AGV2_ori","bindSource":"payload.AGV2_ori","bindType":"text","attribute":""}],"showCoordinates":false,"autoFormatAfterEdit":false,"showBrowserErrors":false,"outputField":"payload","editorUrl":"//drawsvg.org/drawsvg.html","directory":"D:\\flow\\vma\\","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"name":"","x":940,"y":360,"wires":[["b8183786.f24e18","cf909bd5.d99418"]]},{"id":"cf909bd5.d99418","type":"link out","z":"f47d7d9f.1c7f7","name":"output controlling","links":["8c16e4d3.dfaab8","87f9d514.711ca8","c99b5b36.e5ef18","f6c42c41.7c8dd"],"x":1095,"y":360,"wires":[]},{"id":"c99b5b36.e5ef18","type":"link in","z":"f47d7d9f.1c7f7","name":"start","links":["cf909bd5.d99418"],"x":75,"y":400,"wires":[["7f6d0af3.4e2534"]]},{"id":"7f6d0af3.4e2534","type":"function","z":"f47d7d9f.1c7f7","name":"start","func":"if(msg.payload == 1001 && flow.get('sys_sta') === 0) {\n    flow.set('sys_sta', 1);\n    msg.log = 'System start';\n    node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":400,"wires":[["623a3193.2db74","bd6820a5.37c44"]]},{"id":"510b0fd0.a8ffc","type":"function","z":"f47d7d9f.1c7f7","name":"stop","func":"if(msg.payload == 1002 && flow.get('sys_sta') == 1){\n    flow.set('sys_sta', 0);\n    node.send(msg);\n} \nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":440,"wires":[["b4a87935.e82dd8","f091f0ff.6a3a5"]]},{"id":"b4a87935.e82dd8","type":"template","z":"f47d7d9f.1c7f7","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"\n    {\n        \"command\": \"remove_element\",\n        \"selector\": \"[id^=ID]\"\n    }","output":"json","x":660,"y":400,"wires":[["9d5c2c8f.5f331","54a33695.052dc8"]]},{"id":"8c16e4d3.dfaab8","type":"link in","z":"f47d7d9f.1c7f7","name":"stop","links":["cf909bd5.d99418"],"x":75,"y":440,"wires":[["510b0fd0.a8ffc"]]},{"id":"13bfb056.eea3e","type":"switch","z":"f47d7d9f.1c7f7","name":"searchPODByID","property":"payload.searchPODByID","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":740,"wires":[["3929f747.9be2a8"]]},{"id":"1dbae905.0a29b7","type":"switch","z":"f47d7d9f.1c7f7","name":"searchPODByGoods","property":"payload.searchPODByGoods","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":820,"wires":[["ecd874ce.c1b078"]]},{"id":"87f9d514.711ca8","type":"link in","z":"f47d7d9f.1c7f7","name":"","links":["cf909bd5.d99418"],"x":75,"y":740,"wires":[["7aa6d8fe.a349d8"]]},{"id":"3929f747.9be2a8","type":"function","z":"f47d7d9f.1c7f7","name":"","func":"var PODid = msg.payload.searchPODByID; \nquery = `SELECT * FROM POD WHERE id='`+PODid+`';`; \nmsg.topic = query;\nmsg.log = 'Searching POD by ID';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":740,"wires":[["b2a68219.3b57d","f733f3e9.c0586"]]},{"id":"b2a68219.3b57d","type":"mysql","z":"f47d7d9f.1c7f7","mydb":"24f07f77.93bb3","name":"","x":770,"y":820,"wires":[["a1851b6f.239fe8","5efc0f04.d0319"]]},{"id":"ecd874ce.c1b078","type":"function","z":"f47d7d9f.1c7f7","name":"","func":"var PODGoods = msg.payload.searchPODByGoods; \nquery = `SELECT * FROM POD WHERE goods='`+PODGoods+`';`; \nmsg.topic = query;\nmsg.log = 'Searching POD by product name';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":820,"wires":[["b2a68219.3b57d","f733f3e9.c0586"]]},{"id":"10a1d89e.ad60b7","type":"template","z":"f47d7d9f.1c7f7","name":"global map template","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"Line\": {\n        \"command\": \"add_element\",\n        \"elementType\": \"line\",\n        \"elementId\": \"\",\n        \"elementAttributes\": {\n            \"x1\": \"\",\n            \"y1\": \"\",\n            \"x2\": \"\",\n            \"y2\": \"\"\n        },\n        \"elementStyleAttributes\": {\n            \"fill\": \"\",\n            \"stroke\": \"\",\n            \"stroke-width\": \"\"\n        }\n    },\n    \"Remove\": {\n        \"command\": \"remove_element\",\n        \"elementId\": \"\"\n    },\n    \"Round\": {\n        \"command\": \"add_element\",\n        \"elementType\": \"circle\",\n        \"elementId\": \"\",\n        \"elementAttributes\": {\n            \"cx\": \"\",\n            \"cy\": \"\",\n            \"r\": \"\"\n        },\n        \"elementStyleAttributes\": {\n            \"fill\": \"black\",\n            \"stroke\": \"black\",\n            \"stroke-width\": \"1px\"\n        }\n    },\n    \"Square\": {\n        \"command\": \"add_element\",\n        \"elementType\": \"rect\",\n        \"elementId\": \"\",\n        \"elementAttributes\": {\n            \"x\": \"\",\n            \"y\": \"\",\n            \"width\": \"\",\n            \"height\": \"\"\n        },\n        \"elementStyleAttributes\": {\n            \"fill\": \"\",\n            \"stroke\": \"\",\n            \"stroke-width\": \"\"\n        }\n    },\n    \"Charging_hub\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"gold\",\n                \"stroke\": \"gold\",\n                \"stroke-width\": \"5px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"green\",\n                \"stroke-width\": \"8px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"green\",\n                \"stroke-width\": \"8px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"5px\"\n            }\n        }\n    ],\n    \"POD\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"#ffcc66\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"3px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"1px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"blue\",\n                \"stroke-width\": \"1px\"\n            }\n        }\n    ],\n    \"Column\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"lightgray\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"1px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"1px\"\n            }\n        }\n    ],\n    \"AGV\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"circle\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"cx\": \"\",\n                \"cy\": \"\",\n                \"r\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"lightgreen\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"1px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"red\",\n                \"stroke-width\": \"3px\"\n            }\n        },\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"line\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x1\": \"\",\n                \"y1\": \"\",\n                \"x2\": \"\",\n                \"y2\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"black\",\n                \"stroke-width\": \"3px\"\n            }\n        }\n    ],\n    \"Station\": [\n        {\n            \"command\": \"add_element\",\n            \"elementType\": \"rect\",\n            \"elementId\": \"\",\n            \"elementAttributes\": {\n                \"x\": \"\",\n                \"y\": \"\",\n                \"width\": \"\",\n                \"height\": \"\"\n            },\n            \"elementStyleAttributes\": {\n                \"fill\": \"none\",\n                \"stroke\": \"red\",\n                \"stroke-width\": \"5px\"\n            }\n        }\n    ],\n    \"DAS\": {\n        \"command\": \"add_element\",\n        \"elementType\": \"rect\",\n        \"elementId\": \"\",\n        \"elementAttributes\": {\n            \"x\": \"\",\n            \"y\": \"\",\n            \"width\": \"\",\n            \"height\": \"\"\n        },\n        \"elementStyleAttributes\": {\n            \"fill\": \"green\",\n            \"stroke\": \"green\",\n            \"stroke-width\": \"5px\"\n        }\n    },\n    \"SetAttribute\": {\n        \"command\": \"update_style\",\n        \"selector\": \"\",\n        \"attributeName\": \"fill\",\n        \"attributeValue\": \"\"\n    }\n}","output":"str","x":520,"y":180,"wires":[["b694740c.d57058"]]},{"id":"a073f6b8.73d5a8","type":"inject","z":"f47d7d9f.1c7f7","name":"global map template","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":180,"y":180,"wires":[["10a1d89e.ad60b7"]]},{"id":"b694740c.d57058","type":"function","z":"f47d7d9f.1c7f7","name":"global map template","func":"let json = msg.payload;\nglobal.set('map_template', json);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":180,"wires":[[]]},{"id":"a1851b6f.239fe8","type":"function","z":"f47d7d9f.1c7f7","name":"change POD color","func":"let commonFunction = global.get('commonFunction');\nfor(let i = 0; i < msg.payload.length; i++){\n    node.send(commonFunction.changeColor(msg.payload[i].id, \"red\"));   \n}\nreturn ;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":820,"wires":[["e5ee67e6.1817d8","8848c122.4412f"]]},{"id":"e5ee67e6.1817d8","type":"delay","z":"f47d7d9f.1c7f7","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":780,"wires":[["8e69f0dd.4f665"]]},{"id":"55902224.a1691c","type":"mysql","z":"159c61d3.569f9e","mydb":"29bec723.621f28","name":"","x":670,"y":180,"wires":[["1477390f.18a517"]]},{"id":"298edd34.b7f2d2","type":"inject","z":"159c61d3.569f9e","name":"get data form database","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":190,"y":340,"wires":[["baef238e.28d61","9c1018ea.d7fca8","2bf9c72c.2b26b8","a8b9cad9.1b2698","56525c19.ca4494","ea98933d.d1208"]]},{"id":"baef238e.28d61","type":"function","z":"159c61d3.569f9e","name":"load map size","func":"msg.topic = \"SELECT MAX(x), MAX(y) FROM `agv`.`map`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":180,"wires":[["55902224.a1691c"]]},{"id":"1477390f.18a517","type":"function","z":"159c61d3.569f9e","name":"","func":"global.set('width', (msg.payload[0][\"MAX(x)\"] + 1));\nglobal.set('height', (msg.payload[0][\"MAX(y)\"] + 1));\nreturn;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":180,"wires":[[]]},{"id":"dee274e1.158fd8","type":"link in","z":"159c61d3.569f9e","name":"","links":["54a33695.052dc8"],"x":295,"y":340,"wires":[["baef238e.28d61","9c1018ea.d7fca8","2bf9c72c.2b26b8","a8b9cad9.1b2698","56525c19.ca4494","ea98933d.d1208"]]},{"id":"31f0b5f7.994a0a","type":"inject","z":"f47d7d9f.1c7f7","name":"set log history","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":260,"wires":[["96885034.8a7db"]]},{"id":"bd6820a5.37c44","type":"function","z":"f47d7d9f.1c7f7","name":"dispay log","func":"let message = msg.log;\nif(flow.get('sys_sta') == 1){\n    let time = (new Date()).toISOString().substr(5,14);\n    let log = flow.get('log');\n    msg.payload = new Object();\n    msg.payload.log = String(time) + ' ' + String(message) + `\\n` + log;\n    flow.set('log', msg.payload.log);\n    msg.topic = 'databind';\n    return msg;\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":320,"wires":[["9d5c2c8f.5f331"]]},{"id":"96885034.8a7db","type":"function","z":"f47d7d9f.1c7f7","name":"save log history","func":"flow.set('log', '');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":260,"wires":[[]]},{"id":"bbf36b20.6a2958","type":"inject","z":"f47d7d9f.1c7f7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":320,"wires":[["bd6820a5.37c44"]]},{"id":"148ac59.65bb03a","type":"comment","z":"f47d7d9f.1c7f7","name":"hard code log","info":"","x":170,"y":320,"wires":[]},{"id":"b224964.2884368","type":"switch","z":"f47d7d9f.1c7f7","name":"searchAGV","property":"payload.searchAGV","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":660,"wires":[["4b5a3883.1656d8"]]},{"id":"4b5a3883.1656d8","type":"function","z":"f47d7d9f.1c7f7","name":"","func":"var AGVid = msg.payload.searchAGV; \nquery = `SELECT * FROM agv WHERE id='`+AGVid+`';`; \nmsg.topic = query;\nmsg.log = 'Searching AGV';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":660,"wires":[["3e37aefd.61c6b2","f733f3e9.c0586"]]},{"id":"3e37aefd.61c6b2","type":"mysql","z":"f47d7d9f.1c7f7","mydb":"24f07f77.93bb3","name":"","x":770,"y":660,"wires":[["d3114f4d.26b5c","8fe0e90b.efca58"]]},{"id":"d3114f4d.26b5c","type":"function","z":"f47d7d9f.1c7f7","name":"change AGV color","func":"let commonFunction = global.get('commonFunction');\nfor(let i = 0; i < msg.payload.length; i++){\n    node.send(commonFunction.changeColor(msg.payload[i].id, \"red\"));   \n}\nreturn ;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":660,"wires":[["331627bd.2e4b28","8848c122.4412f"]]},{"id":"331627bd.2e4b28","type":"delay","z":"f47d7d9f.1c7f7","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":700,"wires":[["3f50f241.8c31ee"]]},{"id":"8e69f0dd.4f665","type":"function","z":"f47d7d9f.1c7f7","name":"reset color","func":"msg.payload.attributeValue = \"#ffcc66\";\ndelete msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":780,"wires":[["8848c122.4412f"]]},{"id":"96c71057.da6c4","type":"link in","z":"f47d7d9f.1c7f7","name":"SVG In","links":["5649be22.87fe8","8848c122.4412f","3ef6aaab.0771e6"],"x":715,"y":280,"wires":[["9d5c2c8f.5f331"]]},{"id":"8848c122.4412f","type":"link out","z":"f47d7d9f.1c7f7","name":"","links":["96c71057.da6c4"],"x":1215,"y":740,"wires":[]},{"id":"54a33695.052dc8","type":"link out","z":"f47d7d9f.1c7f7","name":"start","links":["dee274e1.158fd8"],"x":875,"y":400,"wires":[]},{"id":"5efc0f04.d0319","type":"function","z":"f47d7d9f.1c7f7","name":"display searching result to processing pannel","func":"let result = msg.payload;\nlet process_msg = '\\t\\t\\t\\t\\tPOD Searching result\\n';\nprocess_msg += `\\tThis POD ID: `;\n\nfor(let i = 0; i< result.length; i++){\n   process_msg += String(result[i].id) + ' '; \n}\nprocess_msg += `\\n`;\n\nprocess_msg += `\\tThis POD's position is at node:`;\nfor(let i = 0; i< result.length; i++){\n   process_msg += String(result[i].node_id) + ' '; \n}\nprocess_msg += `\\n`;\n\nprocess_msg += `\\tThis POD contains: ` + String(result[0].goods) + `\\n`;\n\n\nprocess_msg += `\\tProduct infomations`;\nfor(let i = 0; i< result.length; i++){\n   process_msg += ': ' + String(result[i].goods_info); \n}\nprocess_msg += `\\n`;\nmsg.payload = new Object();\nmsg.payload.process = process_msg;\nmsg.topic =\"databind\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":860,"wires":[["8848c122.4412f"]]},{"id":"8fe0e90b.efca58","type":"function","z":"f47d7d9f.1c7f7","name":"display searching result to processing pannel","func":"let result = msg.payload;\nlet process_msg = '\\t\\t\\t\\t\\t\\ AGV Searching result\\n';\nprocess_msg += `\\tThis AGV ID: `;\n\nfor(let i = 0; i< result.length; i++){\n   process_msg += String(result[i].id) + ' '; \n}\nprocess_msg += `\\n`;\n\nprocess_msg += `\\tThis AGV's position is at node: `;\nprocess_msg +=  String(result[0].node_id) + ' '; \nprocess_msg += `\\n`;\nprocess_msg += `\\tThis AGV's orientation is: ` + String(result[0].orientation) + `\\n`;\nprocess_msg += `\\tThis AGV IP address: ` + String(result[0].ip) + `\\n`;\nprocess_msg += `\\tThis AGV IP port: ` + String(result[0].port) + `\\n`;\nprocess_msg += `\\tThis AGV is carrying: ` + String(result[0].pod) + `\\n`;\nprocess_msg += `\\tThis AGV battery level is: ` + String(result[0].batt) + `%\\n`;\nprocess_msg += `\\tThis AGV status: ` + String(result[0].status) + `\\n`;\nmsg.payload = new Object();\nmsg.payload.process = process_msg;\nmsg.topic =\"databind\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":620,"wires":[["8848c122.4412f"]]},{"id":"f41a784a.19d358","type":"inject","z":"f47d7d9f.1c7f7","name":"set system status","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"sys_sta","payloadType":"flow","x":170,"y":220,"wires":[["3e7d208b.d09af"]]},{"id":"3e7d208b.d09af","type":"change","z":"f47d7d9f.1c7f7","name":"","rules":[{"t":"set","p":"sys_sta","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"grid","pt":"flow","to":"50","tot":"num"},{"t":"set","p":"grid","pt":"global","to":"50","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":220,"wires":[[]]},{"id":"7aa6d8fe.a349d8","type":"function","z":"f47d7d9f.1c7f7","name":"","func":"if(flow.get('sys_sta') == 1){\n    return msg;\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":740,"wires":[["b224964.2884368","13bfb056.eea3e","1dbae905.0a29b7","1a14b2a4.30791d"]]},{"id":"f091f0ff.6a3a5","type":"function","z":"f47d7d9f.1c7f7","name":"clear log and process","func":"msg.payload = new Object();\nmsg.payload.log = '\\t';\nmsg.payload.process = '\\t';\nmsg.topic = 'databind';\nflow.set('log', '');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":440,"wires":[["9d5c2c8f.5f331"]]},{"id":"f379c4f2.a9d9d8","type":"link in","z":"f47d7d9f.1c7f7","name":"display log","links":["f733f3e9.c0586"],"x":495,"y":320,"wires":[["bd6820a5.37c44"]]},{"id":"f733f3e9.c0586","type":"link out","z":"f47d7d9f.1c7f7","name":"","links":["f379c4f2.a9d9d8"],"x":795,"y":780,"wires":[]},{"id":"38c56479.e5dd8c","type":"delay","z":"f47d7d9f.1c7f7","name":"delay","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":360,"wires":[["623a3193.2db74","bd6820a5.37c44"]]},{"id":"adb4d2c4.d6907","type":"function","z":"f47d7d9f.1c7f7","name":"check refesh","func":"if(msg.payload == \"change\" && flow.get('sys_sta') == 1)\n{\n    msg.log = 'Reflesh application';\n    node.send(msg);\n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":360,"wires":[["38c56479.e5dd8c"]]},{"id":"82c6de2f.eb7d2","type":"mysql","z":"8ac26ed6.bb426","d":true,"mydb":"9c0b0ae0.59fc58","name":"","x":510,"y":400,"wires":[["affbf044.a0742","5376b03f.0ef22"]]},{"id":"6e6fdc82.cd2004","type":"function","z":"8ac26ed6.bb426","name":"","func":"msg.topic = \"SELECT `x`, `y` FROM `agv`.`POD`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":400,"wires":[["82c6de2f.eb7d2"]]},{"id":"e3bc521e.4691a","type":"inject","z":"8ac26ed6.bb426","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":400,"wires":[["6e6fdc82.cd2004"]]},{"id":"affbf044.a0742","type":"debug","z":"8ac26ed6.bb426","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":340,"wires":[]},{"id":"5376b03f.0ef22","type":"function","z":"8ac26ed6.bb426","name":"","func":"let result = msg.payload;\nfor(let i = 0; i < result.length; i++)\n{\n    msg.topic = \"UPDATE `agv`.`map` SET `is_blocked`='1' WHERE x=\" + String(result[i].x) + \" AND y=\" +String(result[i].y) + \";\"; \n    node.send(msg);\n}\nreturn;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":400,"wires":[["76da4cbb.52bc54","1e19798e.d10986"]]},{"id":"d7f06e57.22b08","type":"inject","z":"8ac26ed6.bb426","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":560,"wires":[["a2f0b24d.496bf"]]},{"id":"a2f0b24d.496bf","type":"function","z":"8ac26ed6.bb426","name":"","func":"let id = 0;\nfor(let i = 0; i < 9; i++)\n{\n    for(let j = 0; j < 10; j++)\n    {\n        msg.topic =  \"INSERT INTO agv.map (id, rfid_value, x, y, is_blocked) VALUES \" + \"(\" + String(id) + \",\" + String(id) + \",\" + String(j) +\",\" + String(i) + \",0)\";\n        id ++;\n        node.send(msg);\n    }\n}\nreturn;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":560,"wires":[["858a5ac6.18e858","45b5a262.24d3fc"]]},{"id":"45b5a262.24d3fc","type":"mysql","z":"8ac26ed6.bb426","mydb":"9c0b0ae0.59fc58","name":"","x":550,"y":560,"wires":[[]]},{"id":"858a5ac6.18e858","type":"debug","z":"8ac26ed6.bb426","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":620,"wires":[]},{"id":"ae34c8dc.686bb8","type":"comment","z":"8ac26ed6.bb426","name":"create map database","info":"","x":260,"y":520,"wires":[]},{"id":"76da4cbb.52bc54","type":"debug","z":"8ac26ed6.bb426","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":380,"wires":[]},{"id":"1e19798e.d10986","type":"mysql","z":"8ac26ed6.bb426","mydb":"9c0b0ae0.59fc58","name":"","x":820,"y":420,"wires":[[]]},{"id":"17bb20ff.d8882f","type":"comment","z":"8ac26ed6.bb426","name":"set is_blocked","info":"","x":230,"y":360,"wires":[]},{"id":"395ce062.c41ea","type":"mysql","z":"8ac26ed6.bb426","mydb":"9c0b0ae0.59fc58","name":"","x":490,"y":1020,"wires":[["27c0cecf.9411f2","888c59a3.560138"]]},{"id":"bb67ef2b.4509a","type":"function","z":"8ac26ed6.bb426","name":"","func":"msg.topic = \"SELECT `x`, `y` FROM `agv`.`POD`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":1020,"wires":[["395ce062.c41ea"]]},{"id":"fbfae8f3.875228","type":"inject","z":"8ac26ed6.bb426","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1020,"wires":[["bb67ef2b.4509a"]]},{"id":"27c0cecf.9411f2","type":"debug","z":"8ac26ed6.bb426","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":960,"wires":[]},{"id":"ef9a1467.511e78","type":"comment","z":"8ac26ed6.bb426","name":"set node-id for pod","info":"","x":210,"y":980,"wires":[]},{"id":"ada526cc.518bb8","type":"mysql","z":"8ac26ed6.bb426","mydb":"9c0b0ae0.59fc58","name":"","x":1130,"y":1020,"wires":[[]]},{"id":"f446156c.fdc7c8","type":"function","z":"8ac26ed6.bb426","name":"","func":"let pod = global.get('pod');\n// pod.push([msg.x, msg.y, msg.payload[0].id]);\n// global.set('pod', pod);\n\nmsg.topic = \"UPDATE `agv`.`POD` SET `node_id`=\" + msg.payload[0].id + \" WHERE x=\" + String(msg.x) + \" AND y=\" +String(msg.y) + \";\"; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":1020,"wires":[["7c4cb6dd.b02f38","ada526cc.518bb8"]]},{"id":"888c59a3.560138","type":"function","z":"8ac26ed6.bb426","name":"","func":"let result = msg.payload;\nmsg = new Object();\nfor(let i = 0; i < result.length; i++)\n{\n    msg.topic = \"SELECT id FROM map WHERE x=\" + String(result[i].x) + \" AND y=\" +String(result[i].y) + \";\"; \n    msg.x = result[i].x;\n    msg.y = result[i].y;\n    node.send(msg);\n}\nglobal.set('pod', []);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1020,"wires":[["9a56dbcd.9efba8"]]},{"id":"9a56dbcd.9efba8","type":"mysql","z":"8ac26ed6.bb426","mydb":"9c0b0ae0.59fc58","name":"","x":790,"y":1020,"wires":[["f446156c.fdc7c8"]]},{"id":"7c4cb6dd.b02f38","type":"debug","z":"8ac26ed6.bb426","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":900,"wires":[]},{"id":"9566dce7.641ee","type":"mysql","z":"159c61d3.569f9e","mydb":"29bec723.621f28","name":"","x":670,"y":240,"wires":[["901e6333.4128e"]]},{"id":"9c1018ea.d7fca8","type":"function","z":"159c61d3.569f9e","name":"load pods","func":"msg.topic = \"SELECT id,node_id FROM `agv`.`POD`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":240,"wires":[["9566dce7.641ee"]]},{"id":"901e6333.4128e","type":"function","z":"159c61d3.569f9e","name":"","func":"let result = msg.payload;\nglobal.set('pod', []);\nfor(let i = 0; i< result.length; i++){\n    msg.id = result[i].id;\n    msg.topic = \"SELECT x,y from map WHERE id=\" + String(result[i].node_id) + \";\"; \n    node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":240,"wires":[["508f6ab9.b19f14"]]},{"id":"508f6ab9.b19f14","type":"mysql","z":"159c61d3.569f9e","mydb":"29bec723.621f28","name":"","x":990,"y":240,"wires":[["187b05b2.bc5dba"]]},{"id":"187b05b2.bc5dba","type":"function","z":"159c61d3.569f9e","name":"","func":"let pod = global.get('pod');\npod.push([msg.id, msg.payload[0].x, msg.payload[0].y]);\nglobal.set('pod', pod);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":240,"wires":[[]]},{"id":"a6290dde.14644","type":"mysql","z":"159c61d3.569f9e","mydb":"29bec723.621f28","name":"","x":670,"y":300,"wires":[["892270b.7cc409"]]},{"id":"2bf9c72c.2b26b8","type":"function","z":"159c61d3.569f9e","name":"load AGVs","func":"msg.topic = \"SELECT id,node_id,orientation FROM `agv`.`agv`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":300,"wires":[["a6290dde.14644"]]},{"id":"892270b.7cc409","type":"function","z":"159c61d3.569f9e","name":"","func":"let result = msg.payload;\nglobal.set('agv', []);\nfor(let i = 0; i< result.length; i++){\n    msg.id = result[i].id;\n    msg.orientation = result[i].orientation;\n    msg.topic = \"SELECT x,y from map WHERE id=\" + String(result[i].node_id) + \";\"; \n    node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":300,"wires":[["f5a62bad.a60e48"]]},{"id":"f5a62bad.a60e48","type":"mysql","z":"159c61d3.569f9e","mydb":"29bec723.621f28","name":"","x":990,"y":300,"wires":[["dca54643.45c338"]]},{"id":"dca54643.45c338","type":"function","z":"159c61d3.569f9e","name":"","func":"let agv = global.get('agv');\nagv.push([msg.id, msg.payload[0].x, msg.payload[0].y, msg.orientation]);\nglobal.set('agv', agv);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":300,"wires":[[]]},{"id":"d8dfa9e3.e0c1c8","type":"function","z":"f47d7d9f.1c7f7","name":"common function","func":"let json = JSON.parse(global.get('map_template'));\nlet grid = global.get('grid');\nlet commonFunction = new Object();\n\ncommonFunction.drawSquare = function drawSquare(id, x, y, height, width, fill, stroke, stroke_width){\n    let square = json.Square;\n    square.elementId = id;\n    square.elementAttributes.x = x;\n    square.elementAttributes.y = y;\n    square.elementAttributes.width = width;\n    square.elementAttributes.height = height;\n    square.elementStyleAttributes.fill = fill;\n    square.elementStyleAttributes.stroke = stroke;\n    square.elementStyleAttributes[\"stroke-width\"] = String(stroke_width) + \"px\";\n    msg.payload = square;\n    return msg;\n}\n\ncommonFunction.drawLine = function drawLine(id, x1, y1, x2 ,y2, stroke, stroke_width){\n    let line = json.Line;\n    line.elementId = String(id);\n    line.elementAttributes.x1 = x1;\n    line.elementAttributes.y1 = y1;\n    line.elementAttributes.x2 = x2;\n    line.elementAttributes.y2 = y2;\n    line.elementStyleAttributes.stroke = stroke;\n    line.elementStyleAttributes[\"stroke-width\"] = String(stroke_width) + \"px\";\n    msg.payload = line;\n    return msg;\n}\n\ncommonFunction.drawChargingHub = function drawChargingHub(id, x, y, orientation){\n    let chargingHub = json.Charging_hub;\n    chargingHub[0]. elementId = id;\n    chargingHub[1]. elementId = id;\n    chargingHub[2]. elementId = id;\n    chargingHub[3]. elementId = id;\n    \n    chargingHub[0].elementAttributes.x = x;\n    chargingHub[0].elementAttributes.y = y;\n    chargingHub[0].elementAttributes.width = grid;\n    chargingHub[0].elementAttributes.height = grid;\n    \n    chargingHub[1].elementAttributes.x1 = x + Math.floor(grid / 2);\n    chargingHub[1].elementAttributes.y1 = y + Math.floor(grid / 10);\n    chargingHub[1].elementAttributes.x2 = x + Math.floor(grid / 2);\n    chargingHub[1].elementAttributes.y2 = y + 9 * Math.floor(grid / 10);\n    \n    chargingHub[2].elementAttributes.x1 = x + Math.floor(grid / 10);\n    chargingHub[2].elementAttributes.y1 = y + Math.floor(grid / 2);\n    chargingHub[2].elementAttributes.x2 = x + 9 * Math.floor(grid / 10);\n    chargingHub[2].elementAttributes.y2 = y + Math.floor(grid / 2);\n    \n    if(orientation === 0){\n        chargingHub[3].elementAttributes.x1 = x;\n        chargingHub[3].elementAttributes.y1 = y;\n        chargingHub[3].elementAttributes.x2 = x + grid;\n        chargingHub[3].elementAttributes.y2 = y;\n    }\n    else if(orientation === 90){\n        chargingHub[3].elementAttributes.x1 = x + grid;\n        chargingHub[3].elementAttributes.y1 = y;\n        chargingHub[3].elementAttributes.x2 = x + grid;\n        chargingHub[3].elementAttributes.y2 = y + grid;\n    }\n    else if(orientation === 180){\n        chargingHub[3].elementAttributes.x1 = x;\n        chargingHub[3].elementAttributes.y1 = y + grid;\n        chargingHub[3].elementAttributes.x2 = x + grid;\n        chargingHub[3].elementAttributes.y2 = y + grid;\n    }\n    else if(orientation === 270){\n        chargingHub[3].elementAttributes.x1 = x;\n        chargingHub[3].elementAttributes.y1 = y;\n        chargingHub[3].elementAttributes.x2 = x;\n        chargingHub[3].elementAttributes.y2 = y + grid;\n    }\n    msg.payload = chargingHub;\n    return msg;\n    \n}\n\ncommonFunction.drawPOD = function drawPOD(id, x, y){\n    let POD = json.POD;\n    POD[0].elementId = id;\n    POD[1].elementId = id;\n    POD[2].elementId = id;\n    \n    POD[0].elementAttributes.x = x;\n    POD[0].elementAttributes.y = y;\n    \n    POD[0].elementAttributes.width = grid;\n    POD[0].elementAttributes.height = grid;\n    \n    POD[1].elementAttributes.x1 = x;\n    POD[1].elementAttributes.y1 = y;\n    POD[1].elementAttributes.x2 = x + grid;\n    POD[1].elementAttributes.y2 = y + grid;\n    \n    POD[2].elementAttributes.x1 = x + grid;\n    POD[2].elementAttributes.y1 = y;\n    POD[2].elementAttributes.x2 = x;\n    POD[2].elementAttributes.y2 = y + grid;\n    msg.payload = POD;\n    return msg;\n}\n\ncommonFunction.changeColor = function changeColor(id, color){\n    let change = json.SetAttribute;\n    change.selector = \"#ID_\" + String(id);\n    change.attributeValue = color;\n    msg.payload = change;\n    return msg;\n}\n\ncommonFunction.addAGV = function addAGV(id, x, y, orientation){\n    let AGV = json.AGV;\n    AGV[0].elementId = id;\n    AGV[1].elementId = id;\n    AGV[2].elementId = id;\n    \n    AGV[1].elementAttributes.x = x;\n    AGV[1].elementAttributes.y = y;\n    AGV[1].elementAttributes.width = grid;\n    AGV[1].elementAttributes.height = grid;\n    \n    AGV[0].elementAttributes.cx = x + Math.floor(grid / 2);\n    AGV[0].elementAttributes.cy = y + Math.floor(grid / 2);\n    AGV[0].elementAttributes.r = Math.floor(grid / 2);\n    \n    AGV[2].elementAttributes.x1 =x + Math.floor(grid / 2);\n    AGV[2].elementAttributes.y1 = y + Math.floor(grid / 2);\n    \n    if( orientation === 0){\n        AGV[2].elementAttributes.x2 = x + Math.floor(grid / 2) ;\n        AGV[2].elementAttributes.y2 = y ;\n    }\n    else if( orientation === 90){\n        AGV[2].elementAttributes.x2 = x + Math.floor(grid / 2) + Math.floor(grid / 2);\n        AGV[2].elementAttributes.y2 = y + Math.floor(grid / 2);\n    }\n    else if( orientation === 180){\n        AGV[2].elementAttributes.x2 = x + Math.floor(grid / 2);\n        AGV[2].elementAttributes.y2 = y + Math.floor(grid / 2) + Math.floor(grid / 2);\n    }\n    else if( orientation === 270){\n        AGV[2].elementAttributes.x2 = x + Math.floor(grid / 2) - Math.floor(grid / 2);\n        AGV[2].elementAttributes.y2 = y + Math.floor(grid / 2);\n    }\n    \n    // msg.payload = AGV;\n    // return msg;\n    return AGV;\n}\ncommonFunction.fillMsg = function fillMsg(length, Msg){\n    let result = '';\n    for(let i = 0; i < length - Msg.length; i++){\n        result += '0';\n    }\n    result += Msg;\n    return result;\n}\n\n\nglobal.set('commonFunction', commonFunction)\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":140,"wires":[[]]},{"id":"488e169a.a16848","type":"inject","z":"f47d7d9f.1c7f7","name":"Common Functions","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":170,"y":140,"wires":[["d8dfa9e3.e0c1c8"]]},{"id":"8c564e38.831ca","type":"mysql","z":"159c61d3.569f9e","mydb":"29bec723.621f28","name":"","x":670,"y":360,"wires":[["d595c9e3.1f28e8"]]},{"id":"a8b9cad9.1b2698","type":"function","z":"159c61d3.569f9e","name":"load charging hub","func":"msg.topic = \"SELECT id,node_id,orientation FROM `agv`.`charger`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":360,"wires":[["8c564e38.831ca"]]},{"id":"d595c9e3.1f28e8","type":"function","z":"159c61d3.569f9e","name":"","func":"let result = msg.payload;\nglobal.set('chargingHub', []);\nfor(let i = 0; i< result.length; i++){\n    msg.id = result[i].id;\n    msg.orientation = result[i].orientation;\n    msg.topic = \"SELECT x,y from map WHERE id=\" + String(result[i].node_id) + \";\"; \n    node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":360,"wires":[["b2c14da0.281eb"]]},{"id":"b2c14da0.281eb","type":"mysql","z":"159c61d3.569f9e","mydb":"29bec723.621f28","name":"","x":990,"y":360,"wires":[["97504fe0.729fe"]]},{"id":"97504fe0.729fe","type":"function","z":"159c61d3.569f9e","name":"","func":"let chargingHub = global.get('chargingHub');\nchargingHub.push([msg.id, msg.payload[0].x, msg.payload[0].y, msg.orientation]);\nglobal.set('chargingHub', chargingHub);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":360,"wires":[[]]},{"id":"cd9275d0.393808","type":"mysql","z":"159c61d3.569f9e","mydb":"29bec723.621f28","name":"","x":670,"y":420,"wires":[["c8ec0ea6.8fe92"]]},{"id":"56525c19.ca4494","type":"function","z":"159c61d3.569f9e","name":"load stations","func":"msg.topic = \"SELECT id,node_id FROM `agv`.`station`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":420,"wires":[["cd9275d0.393808"]]},{"id":"c8ec0ea6.8fe92","type":"function","z":"159c61d3.569f9e","name":"","func":"let result = msg.payload;\nglobal.set('station', []);\nfor(let i = 0; i< result.length; i++){\n    msg.id = result[i].id;\n    msg.topic = \"SELECT x,y from map WHERE id=\" + String(result[i].node_id) + \";\"; \n    node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":420,"wires":[["24840975.4fa536"]]},{"id":"24840975.4fa536","type":"mysql","z":"159c61d3.569f9e","mydb":"29bec723.621f28","name":"","x":990,"y":420,"wires":[["74647530.a3a53c"]]},{"id":"74647530.a3a53c","type":"function","z":"159c61d3.569f9e","name":"","func":"let station = global.get('station');\nstation.push([msg.id, msg.payload[0].x, msg.payload[0].y]);\nglobal.set('station', station);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":420,"wires":[[]]},{"id":"2100a2.82880f5e","type":"mysql","z":"159c61d3.569f9e","mydb":"29bec723.621f28","name":"","x":670,"y":480,"wires":[["eaf4c200.af553"]]},{"id":"ea98933d.d1208","type":"function","z":"159c61d3.569f9e","name":"load column","func":"msg.topic = \"SELECT id,node_id FROM `agv`.`barrier`;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":480,"wires":[["2100a2.82880f5e"]]},{"id":"eaf4c200.af553","type":"function","z":"159c61d3.569f9e","name":"","func":"let result = msg.payload;\nglobal.set('barrier', []);\nfor(let i = 0; i< result.length; i++){\n    msg.id = result[i].id;\n    msg.topic = \"SELECT x,y from map WHERE id=\" + String(result[i].node_id) + \";\"; \n    node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":480,"wires":[["b408bd69.15cff"]]},{"id":"b408bd69.15cff","type":"mysql","z":"159c61d3.569f9e","mydb":"29bec723.621f28","name":"","x":990,"y":480,"wires":[["ab3d81eb.d8662"]]},{"id":"ab3d81eb.d8662","type":"function","z":"159c61d3.569f9e","name":"","func":"let barrier = global.get('barrier');\nbarrier.push([msg.id, msg.payload[0].x, msg.payload[0].y]);\nglobal.set('barrier', barrier);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":480,"wires":[[]]},{"id":"3f50f241.8c31ee","type":"function","z":"f47d7d9f.1c7f7","name":"reset color","func":"msg.payload.attributeValue = \"lightgreen\";\ndelete msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":700,"wires":[["8848c122.4412f"]]},{"id":"747f8448.109cec","type":"ui_ui_control","z":"f47d7d9f.1c7f7","name":"check refresh","events":"all","x":140,"y":360,"wires":[["adb4d2c4.d6907"]]},{"id":"d3b2779e.6caa68","type":"mysql","z":"8ac26ed6.bb426","mydb":"9c0b0ae0.59fc58","name":"","x":530,"y":140,"wires":[["f0571f17.7f7b3"]]},{"id":"83ed0c48.bd6b7","type":"function","z":"8ac26ed6.bb426","name":"","func":"msg.topic = \"SELECT node_id FROM agv; \";\nmsg.topic += \"SELECT node_id FROM barrier; \";\nmsg.topic += \"SELECT node_id FROM charger; \";\nmsg.topic += \"SELECT node_id FROM POD; \";\nmsg.topic += \"SELECT node_id FROM station; \"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":140,"wires":[["d3b2779e.6caa68"]]},{"id":"49a04634.b48b88","type":"inject","z":"8ac26ed6.bb426","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":140,"wires":[["83ed0c48.bd6b7"]]},{"id":"32408df0.e904e2","type":"comment","z":"8ac26ed6.bb426","name":"set is_blocked final","info":"","x":270,"y":100,"wires":[]},{"id":"f0571f17.7f7b3","type":"function","z":"8ac26ed6.bb426","name":"","func":"let result = msg.payload;\n// let blocked_list = [];\nfor(let i = 0; i < result.length; i++){\n    for(let j = 0; j < result[i].length; j++){\n        // blocked_list.push(Number(result[i][j].node_id));\n        msg.topic = \"UPDATE `agv`.`map` SET `is_blocked`='1' WHERE id=\" + result[i][j].node_id + \";\"; \n        node.send(msg);\n    }\n}\nreturn;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":140,"wires":[["18dfb717.295879"]]},{"id":"18dfb717.295879","type":"mysql","z":"8ac26ed6.bb426","mydb":"9c0b0ae0.59fc58","name":"","x":830,"y":140,"wires":[[]]},{"id":"1a14b2a4.30791d","type":"switch","z":"f47d7d9f.1c7f7","name":"movePOD","property":"payload.movePOD_id","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":940,"wires":[["f9adfdf6.d4444"]]},{"id":"f9adfdf6.d4444","type":"function","z":"f47d7d9f.1c7f7","name":"","func":"var PODId = msg.payload.movePOD_id; \nquery = `SELECT node_id FROM POD WHERE id='`+ PODId +`';`; \nmsg.topic = query;\nmsg.log = 'Moving POD ' + PODId + ' to node ' + msg.payload.movePOD_to + ' ';\nmsg.PODId = PODId;\nmsg.dest = msg.payload.movePOD_to;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":980,"wires":[["6c09131f.f4523c","f733f3e9.c0586","99e2d00.abb6e3"]]},{"id":"6c09131f.f4523c","type":"mysql","z":"f47d7d9f.1c7f7","mydb":"24f07f77.93bb3","name":"","x":770,"y":980,"wires":[["effb5af4.d00248","a7ac47c9.032348"]]},{"id":"effb5af4.d00248","type":"function","z":"f47d7d9f.1c7f7","name":"","func":"let POD_location = msg.payload[0].node_id;\nfunction fillString(length, string){\n    let result = \"\";\n    for(let i = 0; i < length - string.length; i++){\n        result += '0';\n    }\n    result += string;\n    return result;\n}\n\nmsg.payload = fillString(5, POD_location) + fillString(5, msg.dest);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":980,"wires":[["a2af7a43.183558"]]},{"id":"a2af7a43.183558","type":"mqtt out","z":"f47d7d9f.1c7f7","name":"send request to server Find route","topic":"/movePOD","qos":"0","retain":"false","broker":"c2b70efd.a4e3d","x":1180,"y":980,"wires":[]},{"id":"397c28e9.16e188","type":"mqtt in","z":"f47d7d9f.1c7f7","name":"","topic":"/plan","qos":"0","datatype":"auto","broker":"c2b70efd.a4e3d","x":170,"y":1100,"wires":[["4f3895aa.87dd2c"]]},{"id":"4f3895aa.87dd2c","type":"function","z":"f47d7d9f.1c7f7","name":"","func":"let planMsg = msg.payload;\nlet route = [];\nfor(let i = 0; i < planMsg.length / 5; i++){\n    let planElement = Number(planMsg.substr(i * 5, 5));\n    route.push(planElement);\n}\nflow.set('route', route);\nmsg.payload = route;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1100,"wires":[["99e2d00.abb6e3"]]},{"id":"99e2d00.abb6e3","type":"function","z":"f47d7d9f.1c7f7","name":"change POD color","func":"let commonFunction = global.get('commonFunction');\nlet PODId = msg.PODId;\nlet route = msg.payload;\ndelete msg.topic;\nfor(let i = 0; i < route.length; i++){\n    node.send(commonFunction.changeColor(\"square_\" + route[i], \"lightblue\"));   \n}\nnode.send(commonFunction.changeColor(PODId, \"red\"));  \nnode.send(commonFunction.changeColor(\"square_\" + route[route.length - 1], \"green\"));  \nmsg.PODId = PODId;\ndelete msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":1100,"wires":[["5649be22.87fe8","d7bf69f2.4ad268"]]},{"id":"5649be22.87fe8","type":"link out","z":"f47d7d9f.1c7f7","name":"","links":["96c71057.da6c4"],"x":795,"y":1100,"wires":[]},{"id":"d7bf69f2.4ad268","type":"delay","z":"f47d7d9f.1c7f7","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":1160,"wires":[["fda5547e.b3b658"]]},{"id":"fda5547e.b3b658","type":"function","z":"f47d7d9f.1c7f7","name":"reset color","func":"msg.payload.attributeValue = \"none\";\nlet commonFunction = global.get('commonFunction');\nnode.send(commonFunction.changeColor(msg.PODId, \"#ffcc66\"));\ndelete msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1160,"wires":[["5649be22.87fe8"]]},{"id":"605aae37.3c472","type":"mqtt out","z":"f47d7d9f.1c7f7","d":true,"name":"send request to server Find AGV","topic":"/findNearestAGV","qos":"1","retain":"false","broker":"c2b70efd.a4e3d","x":1170,"y":920,"wires":[]},{"id":"a7ac47c9.032348","type":"function","z":"f47d7d9f.1c7f7","d":true,"name":"","func":"let POD_location = msg.payload[0].node_id;\nmsg.POD_location = POD_location;\nquery = `SELECT node_id FROM agv;`; \nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":920,"wires":[["844a73d7.24882"]]},{"id":"844a73d7.24882","type":"mysql","z":"f47d7d9f.1c7f7","mydb":"24f07f77.93bb3","name":"","x":770,"y":920,"wires":[["7d31e9f6.2ea4c8"]]},{"id":"7d31e9f6.2ea4c8","type":"function","z":"f47d7d9f.1c7f7","name":"","func":"let commonFunction = global.get('commonFunction');\nlet agvList = msg.payload;\nlet Msg = '';\nMsg += commonFunction.fillMsg(5, msg.POD_location);\nfor(let i = 0; i < agvList.length; i++){\n    Msg += commonFunction.fillMsg(5, agvList[i].node_id);\n}\nmsg.payload = Msg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":920,"wires":[["605aae37.3c472"]]},{"id":"483ce797.f6da48","type":"mqtt in","z":"f47d7d9f.1c7f7","name":"","topic":"/choosenAGV","qos":"0","datatype":"auto","broker":"c2b70efd.a4e3d","x":190,"y":1260,"wires":[["433de4a6.18688c","100de898.1f29f7"]]},{"id":"85259028.ecbd9","type":"function","z":"f47d7d9f.1c7f7","name":"","func":"let result = msg.payload;\nlet listAGVDistance = [];\nfor(let i = 0; i < result.length / 10; i++){\n    let temp = [];\n    temp.push(Number(result.substr(i * 10, 5)));\n    temp.push(Number(result.substr(i * 10 + 5, 5)));\n    listAGVDistance.push(temp);\n}\nlet min = 99999;\nlet index = 0;\nfor(let i = 0; i < listAGVDistance.length; i++){\n    if(listAGVDistance[0][1] < min){\n        index = i;\n    }\n}\nmsg.index = index;\nmsg.payload = listAGVDistance;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1340,"wires":[[]]},{"id":"433de4a6.18688c","type":"function","z":"f47d7d9f.1c7f7","name":"","func":"let choosenAGV = msg.payload;\nlet AGV = [];\nAGV.push(choosenAGV.substr(0, 5));\nfor(let i = 1; i < choosenAGV.length / 5; i++){\n    let AGVInfo = Number(choosenAGV.substr(i * 5, 5));\n    AGV.push(AGVInfo);\n}\nflow.set('ChoosenAGV', AGV);\nmsg.payload = AGV;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1260,"wires":[["43a62093.8ec52"]]},{"id":"100de898.1f29f7","type":"debug","z":"f47d7d9f.1c7f7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":1300,"wires":[]},{"id":"8781bfbc.b4403","type":"mqtt in","z":"36c6f353.faa0bc","name":"","topic":"AGV01","qos":"0","datatype":"utf8","broker":"d8a31297.22f47","x":190,"y":380,"wires":[["d969a5e7.4de2f8"]]},{"id":"d969a5e7.4de2f8","type":"debug","z":"36c6f353.faa0bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":380,"wires":[]},{"id":"43a62093.8ec52","type":"debug","z":"f47d7d9f.1c7f7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":1260,"wires":[]},{"id":"b8bc6596.e2b208","type":"catch","z":"f47d7d9f.1c7f7","d":true,"name":"Throw all SVG exceptions","scope":["9d5c2c8f.5f331"],"uncaught":false,"x":190,"y":1520,"wires":[["3977cc29.c7c814"]]},{"id":"3977cc29.c7c814","type":"function","z":"f47d7d9f.1c7f7","name":"","func":"return ;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1520,"wires":[["81f20c5c.1b7bd"]]},{"id":"81f20c5c.1b7bd","type":"debug","z":"f47d7d9f.1c7f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":1520,"wires":[]},{"id":"aee7f73c.89f908","type":"mqtt in","z":"36c6f353.faa0bc","d":true,"name":"","topic":"demo_pub","qos":"2","datatype":"utf8","broker":"d8a31297.22f47","x":200,"y":460,"wires":[["ff5b4023.9ca93"]]},{"id":"ff5b4023.9ca93","type":"debug","z":"36c6f353.faa0bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":460,"wires":[]},{"id":"77be9071.f4812","type":"mqtt in","z":"bfb58b68.8bf7e8","name":"","topic":"agvRealTime","qos":"2","datatype":"auto","broker":"d8a31297.22f47","x":150,"y":420,"wires":[["821c6a7a.4527d8","ddafbf4d.f5427"]]},{"id":"821c6a7a.4527d8","type":"debug","z":"bfb58b68.8bf7e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":360,"wires":[]},{"id":"4212129d.f80bcc","type":"inject","z":"bfb58b68.8bf7e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":150,"y":200,"wires":[["e51a801c.74003"]]},{"id":"e51a801c.74003","type":"mqtt out","z":"bfb58b68.8bf7e8","name":"","topic":"AGV01","qos":"0","retain":"false","broker":"d8a31297.22f47","x":350,"y":200,"wires":[]},{"id":"f930a87c.b44bc8","type":"inject","z":"bfb58b68.8bf7e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":540,"wires":[["ddafbf4d.f5427"]]},{"id":"6542b523.edf72c","type":"function","z":"bfb58b68.8bf7e8","name":"Update AGV","func":"let updateCommand = [];\nlet commonFunction = global.get('commonFunction');\nlet listAGV = global.get('agv');\nconst HEIGHT = global.get('height');\nconst WIDTH = global.get('width');\nconst grid = global.get('grid');\nconst ORIGIN_X = -23 + grid;\nconst ORIGIN_Y = 40 + grid;\nlet removeAGV = {\n                    \"command\": \"remove_element\",\n                    \"selector\": \"[id^=ID_AGV]\"\n                };\nupdateCommand.push(removeAGV);\nfor(let i = 0; i < listAGV.length; i++){\n    node.warn(\"ID_\" + listAGV[i][0]);\n    let newListCommand = commonFunction.addAGV(\"ID_\" + listAGV[i][0], ORIGIN_X + grid*listAGV[i][1], ORIGIN_Y + grid*listAGV[i][2], listAGV[i][3]);\n    node.send(newListCommand);\n    for(let j = 0; j < newListCommand.length; j++) {\n        updateCommand.push(newListCommand[j]);\n    }\n}\ndelete msg.topic;\n// msg.payload = updateCommand;\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":420,"wires":[["b7cdf6bf.9284b8","3ef6aaab.0771e6"]]},{"id":"9435c71d.efc338","type":"debug","z":"bfb58b68.8bf7e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1210,"y":340,"wires":[]},{"id":"ddafbf4d.f5427","type":"function","z":"bfb58b68.8bf7e8","name":"SELECT agv.id, agv.orientation, \\n map.x, map.y","func":" msg.topic =    \"SELECT agv.id, agv.orientation, map.x, map.y \" +\n                \"FROM agv \" +\n                \"INNER JOIN map \" +\n                \"ON agv.node_id=map.id;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":420,"wires":[["f188f0f0.63527"]]},{"id":"f188f0f0.63527","type":"mysql","z":"bfb58b68.8bf7e8","mydb":"29bec723.621f28","name":"","x":630,"y":420,"wires":[["455edc9e.2b6824"]]},{"id":"455edc9e.2b6824","type":"function","z":"bfb58b68.8bf7e8","name":"End of database process","func":"let result = msg.payload;\n// if(global.get('agv') === undefined) global.set('agv', []);\nglobal.set('agv', []);\n//else {\n    let agv = global.get('agv');\n    for(let i = 0; i < result.length; i++) {\n        agv.push([result[i].id, result[i].x, result[i].y, result[i].orientation]);\n    }\n    global.set('agv', agv);\n    return msg;\n//}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":420,"wires":[["6542b523.edf72c","9435c71d.efc338"]]},{"id":"b7cdf6bf.9284b8","type":"debug","z":"bfb58b68.8bf7e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1450,"y":300,"wires":[]},{"id":"3ef6aaab.0771e6","type":"link out","z":"bfb58b68.8bf7e8","name":"","links":["96c71057.da6c4"],"x":1535,"y":420,"wires":[]},{"id":"77b92a80.e19914","type":"inject","z":"f47d7d9f.1c7f7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"remove_element\",\"selector\":\"[id^=ID_AGV]\"}","payloadType":"json","x":660,"y":560,"wires":[["9d5c2c8f.5f331"]]},{"id":"fc06fcd8.f16b9","type":"debug","z":"f47d7d9f.1c7f7","name":"floorplan","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":980,"y":280,"wires":[]}]